<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/underscore.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/moment.ru.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.power.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.core.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.config.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.apis.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.ui.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.simargl.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/integration.pharmexpert.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='angular.js/angular-sanitize.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular.js/angular-locale_ru-ru.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='theme/js/app.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular.js/ui-bootstrap-tpls.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='angular-formstamp/formstamp.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular-ui-select/select.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular.js/angular-tree-repeat.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular-ui-utils/mask_edited.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/angular-strap.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/angular-strap.tpl.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular-scroll/angular-scroll.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='rc-wizard/rcWizard.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='twitter-bootstrap-wizard/jquery.bootstrap.wizard.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/d3.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='nvd3/nv.d3.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular.js/angularjs-nvd3-directives.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='jcrop/jquery.Jcrop.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='angular-ui-calendar/calendar.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/fullcalendar.min.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='fullcalendar/lang/ru.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='js/webmis20.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/hitsl/hitsl.widgets.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='js/services.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services/client/client-models.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services/event/event-models.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services/schedule-models.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services/appointment_dialog.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='js/controllers.js', v=nemesis_version) }}"></script>

<script src="{{ url_for('static', filename='js/directives.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/goodies.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/person_tree.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/action-type-tree.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/bootstrap-wysiwyg.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/client-search.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/event-search.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/client-info.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/services/appointment_dialog.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js', v=nemesis_version) }}"></script>
<script src="{{ url_for('config_js', v=app_version) }}"></script>
<script src="{{ url_for('current_user_js', v=app_version) }}"></script>
<script src="{{ url_for('specific_js_config', v=app_version) }}"></script>
