{% extends 'risar/_macros.html'%}
{% set cur_page = request.endpoint[5:] %}


{# ^ Ниже описываем то, что отличается от карты беременной, если будет отличаться всё - удалить! #}

{% macro navigation_unpreg(event_id_repl, endpoints, ext_header=None) %}
    <div class="novmargin">
        <div class="btn-group">
            <!-- todo: replace urls_for -->
            <a ng-href="{{ url_for('.html_gynecological_chart') }}?event_id={{ event_id_repl }}" {{ navigation_btn_class_attribute(['.html_gynecological_chart']) }}>Карта пациентки</a>
            <a ng-href="{{ url_for('.html_gynecological_anamnesis') }}?event_id={{ event_id_repl }}" {{ navigation_btn_class_attribute(['.html_gynecological_anamnesis']) }}>Анамнез</a>
             <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Осмотры <span class="fa fa-caret-down"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li><a ng-href="{{ url_for('.html_gyn_inspection') }}?event_id={{ event_id_repl }}">Все осмотры</a></li>
                    <li><a ng-href="{{ url_for('.html_gyn_inspection_edit') }}?event_id={{ event_id_repl }}">Добавить осмотр</a></li>
                </ul>
            </div>
            {#  <a ng-href="{{ url_for('.html_concilium_list') }}?event_id={{ event_id_repl }}" {{ navigation_btn_class_attribute(['.html_concilium_list', '.html_concilium']) }}>Консилиумы</a> #}
            <a ng-class="{disabled: !ps.is_available()}" ng-click="open_print_window()" class="btn btn-default">Печать</a>
            <a ng-click="create_errand()" class="btn btn-default">Создать поручение</a>
            <a ng-if="!header.latest_pregnancy_event_id" class="btn btn-default" ng-href="{{ url_for('.html_pregnancy_chart') }}?client_id=[[ header.client.id ]]&gyn_event_id={{ event_id_repl }}">
                Взять на учет по беременности
            </a>
            <a ng-if="header.latest_pregnancy_event_id" class="btn btn-default" ng-href="{{ url_for('.html_pregnancy_chart') }}?event_id=[[ header.latest_pregnancy_event_id ]]">
                Открыть текущую карту беременной
            </a>
            {# <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Взять на диспансерный учёт <span class="fa fa-caret-down"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li><a ng-href="{{ url_for('.html_event_diagnoses') }}?event_id={{ event_id_repl }}">-По беременности</a></li>
                    <li><a ng-href="{{ url_for('.html_event_measure') }}?event_id={{ event_id_repl }}">-По заболеванию</a></li>
                </ul>
            </div>
            #}
            {#
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Дополнительно <span class="fa fa-caret-down"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li><a ng-href="{{ url_for('.html_event_diagnoses') }}?event_id={{ event_id_repl }}">-Диагнозы пациентки</a></li>
                    <li><a ng-href="{{ url_for('.html_gynecological_event_measure') }}?event_id={{ event_id_repl }}">Мероприятия пациентки</a></li>
                    <li><a ng-href="{{ url_for('.html_card_fill_history') }}?event_id={{ event_id_repl }}">-Случаи беременности</a></li>
                </ul>
            </div>
            #}
        </div>
    </div>
{% endmacro %}

{% macro unpregnant_page_title_n(title) %}
<h1>
    {{ title }}
    ([[ header.event.external_id ]])
    <a ng-href="{{ url_for('patients.patient_info_full') }}?client_id=[[ header.client.id ]]">[[ header.client.full_name ]]</a>
    {% if user_profiles_mng.has_ui_overseers() or user_profiles_mng.has_ui_obstetrician() %}
    <wm-btn-control-event event-id="header.event.id" is-controlled="header.event.is_controlled"></wm-btn-control-event>
    {% endif %}
</h1>
<div class="row vmargin10">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="alert-warning">Под наблюдением в <b>[[ header.event.person.organisation.short_name ]]</b>
            у <b>[[ header.event.person.name ]]</b>
            с <b>[[ header.event.set_date | asDate ]]</b>
        </div>
    </div>
</div>
{% endmacro %}


{% macro unpregnant_page_title_ext_n(title, ext_header=None) %}
    {%- if ext_header == 'chart' %}
        {% set w1 = 8 %} {% set w2 = 4 %}
    {%  elif ext_header == 'inspection' %}
        {% set w1 = 10 %} {% set w2 = 2 %}
    {% endif -%}
    <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-12">
    <h1>
        {{ title }}
        ([[ header.event.external_id ]])
        <a ng-href="{{ url_for('patients.patient_info_full') }}?client_id=[[ header.client.id ]]">[[ header.client.full_name ]]</a>
        {% if user_profiles_mng.has_ui_overseers() or user_profiles_mng.has_ui_obstetrician() %}
        <wm-btn-control-event event-id="header.event.id" is-controlled="header.event.is_controlled"></wm-btn-control-event>
        {% endif %}
    </h1>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
    {#    <div class="col-md-{{ w2 }} col-sm-12 achievements">#}

    </div>
    </div>
    <div class="row vmargin10">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="alert-warning">Под наблюдением в <b>[[ header.event.person.organisation.short_name ]]</b>
                у <b>[[ header.event.person.name ]]</b>
                {# {{ url_for('.html_anamnesis') } #}
{#                <b><a href="#" ng-click="open_edit_modal()">изменить</a></b>#}
            </div>
        </div>
    </div>
{% endmacro %}