{% extends 'risar/base/base.html' %}
{% import 'risar/unpregnant/_macros.html' as rimacros with context %}
{% import 'risar/_inspection_macros.html' as imacros with context %}

{% block title %}> Осмотры акушером-гинекологом беременной{% endblock %}

{% block main %}
<div ng-controller="InspectionGynViewCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.unpregnant_page_title_ext_n('Осмотры пациентки гинекологом', 'inspection') }}
        {{ rimacros.navigation_unpreg('[[ header.event.id ]]') }}
    </section>

    <section class="content">
        <div class="box box-primary">
        <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <td width="10%" nowrap><b>Данные осмотра </b></td>
                    <th width="10%" nowrap ng-repeat="checkup in checkups">
                        <a ng-href="{{ url_for('.html_inspection_read') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]">[[ checkup.beg_date | asDate ]]</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-class="{disabled: !ps_fi.is_available()}">
                                    <a href="#" ng-click="print_checkup(checkup)" >Печать</a></li>
                                <li>{{ imacros.checkup_ticket_25_print_link() }}</li>
                                <li ng-class="{disabled: !canEditCheckup($index)}">
                                    <a href="{{ url_for('.html_gyn_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]"
                                        ng-if="canEditCheckup($index)">Изменить</a>
                                    <a href="javascript:void(0)" ng-if="!canEditCheckup($index)">Изменить</a>
                                </li>
                                <li ng-class="{disabled: !canEditCheckup($index)}" >
                                    <a href="{{ url_for('.html_gyn_inspection_edit') }}?event_id=[[ header.event.id ]]&fill_from=[[checkup.id]]">Копировать</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Врач</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.person.short_name ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Диагнозы</th>
                    <td colspan="[[ checkups.length + 1 ]]"></td>
                </tr>
                <tr>
                    <td>основной</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'main'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>сопутствующие</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'associated'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>осложнения</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'complication'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Назначенные мероприятия</th>
                    <td ng-repeat="checkup in checkups">
                        <div ng-repeat="m in checkup.measures | deep_filter:{'data.status.code': 'assigned'}"
                             ng-bind="m.data.measure.name" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Медицинские услуги</th>
                    <td ng-repeat="checkup in checkups">
                        <div ng-repeat="m in checkup.ticket_25.services" ng-bind="m.service.name"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Манипуляции и исследования</th>
                    <td ng-repeat="checkup in checkups">
                        <div ng-repeat="m in checkup.ticket_25.manipulations" ng-bind="m.service.name"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Операции</th>
                    <td ng-repeat="checkup in checkups">
                        <div ng-repeat="m in checkup.ticket_25.operations" ng-bind="m.service.name"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Рекомендации</th>
                    <td ng-repeat="checkup in checkups" ng-bind-html="checkup.treatment_recommendations"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        <div class="box-footer">
             {#
            <pagination ng-model="pager.current_page" total-items="pager.pages" items-per-page="1"
                        max-size="pager.max_pages" ng-change="onPageChanged()" ng-show="pager.pages > 1" boundary-links="true">
            </pagination>
            #}
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=app_version) }}"></script>
{% endblock %}