{% macro html_make() %}
<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Записать на приём?</h4>
</div>
<div class="modal-body">
    Записать на приём к [[ person.name ]] ([[ person.speciality ]])
    <span ng-if="ticket.attendance_type.code == 'planned'">на [[ ticket.begDateTime | asMomentFormat:'HH:mm DD MMM' ]]</span>
    <span ng-if="ticket.attendance_type.code == 'CITO'">экстренно</span>
    <span ng-if="ticket.attendance_type.code == 'extra'">сверх плана</span>?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="accept()">Ok</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">Отмена</button>
</div>
{% endmacro %}

{% macro html_cancel() %}
<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Отменить запись на приём?</h4>
</div>
<div class="modal-body" ng-if="!error">
    Отменить <span ng-if="ticket.attendance_type.code == 'CITO'">экстренную</span>
    <span ng-if="ticket.attendance_type.code == 'extra'">сверхплановую</span>
    запись на приём к [[ person.name ]] ([[ person.speciality ]])
    <span ng-if="ticket.attendance_type.code == 'planned'">на [[ ticket.begDateTime | asMomentFormat:'HH:mm DD MMM' ]]</span>?
</div>
<div class="modal-body" ng-if="error">
    [[ error.text ]]
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="accept()" ng-disabled="error">Ok</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">Отмена</button>
</div>
{% endmacro %}

<script type="application/javascript">
{% macro js() %}
    var CancelAppointmentModalInstanceCtrl = function ($scope, $http, $modalInstance, person, ticket, client_id) {
        $scope.person = person;
        $scope.ticket = ticket;
        $scope.error = null;
        $scope.accept = function () {
            $http.get(
                '{{ url_for('.api_appointment_cancel') }}', {
                    params: {
                        client_id: client_id,
                        ticket_id: ticket.id
                    }
                }
            ).success(function (data) {
                $modalInstance.close(data);
            }).error(function () {
                $scope.error = {
                    text: 'Ошибка при отмене записи на приём'
                }
            });
        };
        $scope.cancel = function () {
            $modalInstance.dismiss('cancel');
        };
    };
    var MakeAppointmentModalInstanceCtrl = function ($scope, $http, $modalInstance, person, ticket, client_id) {
        $scope.person = person;
        $scope.ticket = ticket;
        $scope.accept = function () {
            $http.get(
                '{{ url_for('.api_appointment_make') }}', {
                    params: {
                        client_id: client_id,
                        ticket_id: ticket.id
                    }
                }
            ).success(function (data) {
                $modalInstance.close(data);
            }).error(function () {
                $scope.error = {
                    text: 'Ошибка при записи на приём'
                }
            });
        };
        $scope.cancel = function () {
            $modalInstance.dismiss('cancel');
        };
    };
{% endmacro %}
</script>
