<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Заполнение расписания</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <input type="checkbox" id="absent" ng-model="absent" ng-change="absent_checked()"><label for="absent">Причина
            отсутствия</label>
        </div>
        <div class="col-md-8">
            <select class="form-control" ng-options="item.code as item.name for item in roas" ng-model="model.roa"
                    ng-show="absent"></select>
        </div>
    </div>
    <div ng-show="!absent">
        <ng-form name="daysetupForm">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <label>Начало</label>
                </div>
                <div class="col-md-4 text-center">
                    <label>Конец</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><label>Время приёма</label></div>
                <div class="col-md-4">
                    <div ng-model="model.begTime1" style="display: inline-block">
                        <timepicker minute-step="15" show-meridian="false"></timepicker>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-model="model.endTime1" style="display: inline-block">
                        <timepicker minute-step="15" show-meridian="false"></timepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input id="pause" type="checkbox" ng-model="model.pause"/>
                    <label for="pause">Перерыв</label>
                </div>
                <div class="col-md-4">
                    <div ng-model="model.begTime2" style="display: inline-block" ng-show="model.pause">
                        <timepicker minute-step="15" show-meridian="false"></timepicker>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-model="model.endTime2" style="display: inline-block" ng-show="model.pause">
                        <timepicker minute-step="15" show-meridian="false"></timepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="office">Кабинет</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" id="office" type="text" ng-model="model.office">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="planned">План приёма</label>
                </div>
                <div class="col-md-8" ng-class="{'has-error': daysetupForm.planned.$invalid}">
                    <input class="form-control" id="planned" name="planned" type="number" ng-model="model.planned"
                           min="1" max="100" ng-required="true">
                    <span class='text-danger' ng-show="daysetupForm.planned.$invalid">Обязательно для заполнения (от 0 до 100)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="extra">Сверх плана</label>
                </div>
                <div class="col-md-8" ng-class="{'has-error': daysetupForm.extra.$invalid}">
                    <input class="form-control" id="extra" name="extra" type="number" ng-model="model.extra"
                           min="0" max="10" ng-required="true">
                    <span class='text-danger' ng-show="daysetupForm.extra.$invalid">Обязательно для заполнения (от 0 до 10)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="CITO">Вне очереди</label>
                </div>
                <div class="col-md-8" ng-class="{'has-error': daysetupForm.CITO.$invalid}">
                    <input class="form-control" id="CITO" name="CITO" type="number" ng-model="model.CITO">
                    <span class='text-danger' ng-show="daysetupForm.CITO.$invalid">Обязательно для заполнения (от 0 до 10)</span>
                </div>
            </div>
        </ng-form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="accept()"
            ng-disabled="(!absent && daysetupForm.$invalid) || (absent && model.roa === null)">Ok</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">Отмена</button>
</div>
