{% macro ticket_btn(ticket='day.tickets[row]', ngClick=None, showName=False, roa='day.roa') %}
    <button type="button" class="btn btn-block"
            ng-class="{
                'btn-success': ({{ ticket }}.attendance_type.code == 'planned' && {{ ticket }}.status == 'free'),
                'btn-warning': ({{ ticket }}.attendance_type.code == 'CITO' && {{ ticket }}.status == 'free'),
                'btn-gray': ({{ ticket }}.attendance_type.code == 'extra' && {{ ticket }}.status == 'free'),
                'btn-danger': ({{ ticket }}.status == 'busy')
            }"
            ng-disabled="{{ roa }} && {{ ticket }}.status != 'busy'|| !{{ ticket }}.status"{% if ngClick %} ng-click="{{ ngClick }}"{% endif %}>
        <span ng-if="{{ ticket }}.attendance_type.code == 'planned'">[[ {{ ticket }}.begDateTime | asTime ]]</span>
        <span ng-if="{{ ticket }}.attendance_type.code == 'CITO'">CITO</span>
        <span ng-if="{{ ticket }}.attendance_type.code == 'extra'">Сверх плана</span>
        <span ng-if="!{{ ticket }}.status">&nbsp;</span>
        {% if showName %}<span ng-if="{{ ticket }}.status == 'busy'"> - [[ {{ ticket }}.client ]]</span>{% endif %}
    </button>
{% endmacro %}