{% extends "schedule/base.html" %}
{% import "_macros.html" as macros %}
{% block main %}
<div ng-controller="ActionCtrl">
<legend xmlns="http://www.w3.org/1999/html">[[ action.action_type.name ]] -
    <a href="{{ url_for('patients.patient') }}?client_id=[[action.client.id]]">
                [[ action.client.fullName ]]</a></legend>
<div>
    <table id="general_action_info" class="table table-condensed">
        <tbody>
        <tr>
            <td>
                <label for="begDate" class="control-label">Начато</label>
            </td>
            <td>
                <input id="begDate" type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="action.begDate"/>
            </td>
            <td>
                <div ng-model="action.begDate" style="display:inline-block;">
                      <timepicker show-meridian="false"></timepicker>
                </div>
            </td>
            <td>
                <label for="endDate" class="control-label">Выполнено</label>
            </td>
            <td>
                <input id="endDate" type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="action.endDate"/>
            </td>
            <td>
                <div ng-model="action.endDate" style="display:inline-block;">
                      <timepicker show-meridian="false"></timepicker>
                </div>{#ng-change="changed()"#}
            </td>
        </tr>
        <tr>
            <td>
                <label for="status" class="control-label">Статус</label>
            </td>
            <td colspan="2">
                {{ macros.ui_select('action.status', 'ActionStatus', 'true') }}
            </td>
            <td>
                <label for="person" class="control-label">Примечания</label>
            </td>
            <td colspan="2">
                <input class="form-control" type="text" ng-model="action.note">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th></th>
            <th ng-if="action.action_columns.assignable">Назначено</th>
            <th>Значение</th>
            <th ng-if="action.action_columns.unit">ед.изм</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="property in action.properties | orderBy:'idx'">
            <td class="action-property-name-field"><strong ng-bind="property.type.name"><span class="label label-danger" ng-if="property.type.mandatory">&ast;</span></strong></td>
            <td ng-if="action.action_columns.assignable"><input type="checkbox" ng-model="property.is_assigned" ng-if="property.type.is_assignable"></td>
            <td ui-action-property="property"></td>
            <td ng-if="action.action_columns.unit" ng-bind="property.type.unit.code"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-2">
    <div class="dropdown" ng-if="action.id">
        <button class="btn btn-block dropdown-toggle" type="button" id="print_dropdownMenu" data-toggle="dropdown"
                ng-disabled="!ps.templates">
            <span class="glyphicon glyphicon-print"></span>
            Печать
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="print_dropdownMenu">
            <li role="presentation" ng-repeat="template in ps.templates">
                <a role="menuitem" tabindex="-1" href="" class="print_template"
                   ng-click="ps.print_template(template.id)" ng-bind="template.name">
                </a>
            </li>
        </ul>
    </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-block btn-success" ng-click="action.save()">Сохранить</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-block btn-danger" ng-click="action.cancel()">Отмена</button>
    </div>
</div>
</div>
{% endblock %}

{% block modules_js %}
    <script>
    WebMis20.controller(
            'ActionCtrl',
            ['$scope', '$http', '$window', 'WMAction', 'PrintingService',
                function ($scope, $http, $window, WMAction, PrintingService) {
        var params = aux.getQueryParams(location.search);
        $scope.ps = new PrintingService("action", function () {
            return {
                action_id: $scope.action.id,
                additional_context: {
                    'currentOrgStructure':"",
                    'currentOrganisation':3479,
                    'currentPerson':"1"
                }
           }
        });
        $scope.ckEditorOptions = {
            language: 'ru',
            removeButtons: 'Cut,Copy,Paste,Undo,Redo,Anchor,Strike',
            toolbarCanCollapse: true,
            toolbarStartupExpanded: false,
            autoGrow_minHeight: 50,
            autoGrow_bottomSpace: 50,
            height: 200
        };
        $scope.action_id = params.action_id;
        $scope.action = new WMAction();
        if (params.action_id) {
            $scope.action.get(params.action_id).success(update_print_templates);
        } else if (params.event_id && params.action_type_id) {
            $scope.action.get_new(params.event_id, params.action_type_id).success(update_print_templates);
        }
        function update_print_templates (data) {
            $scope.ps.set_context(data.result.action_type.context_name)
        }
        $scope.ActionStatus = {{ Enum.get_class_by_name('ActionStatus').rb() | tojson}};
    }])
    </script>
{% endblock %}