{% extends "schedule/base.html" %}

{% import "schedule/client_event/action_list.html" as action_list %}

{% block modules_css %}
    {{ super() }}
    <style>
        .list-no-border .list-group-item {
            border: 0;
        }
        .list-no-border li div {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block main %}
    <div ng-controller="EventInfoCtrl" class="ng-cloak">
    <legend xmlns="http://www.w3.org/1999/html">Обращение № [[event_info.external_id]], пациент
        <a href="{{ url_for('patients.patient') }}?client_id=[[event_info.client_id]]">
                [[ event_info.client.fullName ]]</a></legend>
    <div class="marginal">
        <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice(index, 1)">[[ alert.text ]] [ [[alert.code]] ]</alert>
    </div>
    <tabset>
        <tab><tab-heading>Основная Информация</tab-heading>{% include "schedule/client_event/main.html" %}</tab>
        <tab><tab-heading>Медицинские документы</tab-heading>
            {{ action_list.action_list('event_info.med_doc_actions', 0) }}
        </tab>
        <tab><tab-heading>Диагностика и лаб.исследования</tab-heading>
            {{ action_list.action_list('event_info.diag_actions', 1) }}
        </tab>
        <tab><tab-heading>Лечение</tab-heading>
            {{ action_list.action_list('event_info.cure_actions', 2) }}
        </tab>
        <tab><tab-heading>Оплата</tab-heading></tab>
    </tabset>
    </div>
{% endblock %}

{% block modules_js %}
    <script>
    WebMis20.controller('EventInfoCtrl', ['$scope', '$http', 'RefBookService', '$window', 'PrintingService',
    function ($scope, $http, RefBookService, $window, PrintingService) {
        $scope.aux = aux;
        $scope.event_info = null;
        $scope.event_id = aux.getQueryParams(location.search).event_id;
        $scope.rbResult = RefBookService.get('rbResult');
        $scope.rbAcheResult = RefBookService.get('rbAcheResult');
        $scope.rbDiagnosisType = RefBookService.get('rbDiagnosisType');
        $scope.rbDiseaseCharacter = RefBookService.get('rbDiseaseCharacter');
        $scope.rbDiseasePhases = RefBookService.get('rbDiseasePhases');
        $scope.rbDiseaseStage = RefBookService.get('rbDiseaseStage');
        $scope.rbHealthGroup = RefBookService.get('rbHealthGroup');
        $scope.rbDispanser = RefBookService.get('rbDispanser');
        $scope.rbTraumaType = RefBookService.get('rbTraumaType');
        $scope.Person = RefBookService.get('Person');
{#        $scope.rbMKB = RefBookService.get('MKB');#}
        $scope.vrbPerson = RefBookService.get('vrbPersonWithSpeciality');
        $scope.rbFinance = RefBookService.get('rbFinance');
        $scope.rbOrder = {{ Enum.get_class_by_name('EventOrder').rb() | tojson}};
        $scope.rbPrimary = {{ Enum.get_class_by_name('EventOrder').rb() | tojson}};

        $scope.action_type_tree = [];
        $scope.action_type_popped = null;
        $scope.at_pop_toggle = function (at_class) {
            if ($scope.action_type_popped === at_class) {
                $scope.action_type_popped = null;
            } else {
                $scope.action_type_popped = at_class;
            }
        };

        $scope.ps = new PrintingService("event", function (template_id) {
            return {
                event_id: $scope.event_id
            }
        });

        $scope.event_edit_list = [];
        $scope.start_edit = function(element) {
            $scope.event_edit_list.push(element);
        };

        $scope.stop_edit = function(element) {
            $scope.event_edit_list.splice($scope.event_edit_list.indexOf(element), 1);
        };

        $scope.save_event = function() {
            $http.post('{{ url_for('schedule.api_event_save') }}', $scope.event_info).success(function (data) {
                var event_id = data['result'];
                $scope.load_data();
            });
        };

        $scope.diag_edit = [];
        $scope.diag_edit_start = function (index) {
            if (!$scope.diag_edit[index]) {
                $scope.diag_edit[index] = angular.extend({}, $scope.diagnoses[index])
            }
        };
        $scope.diag_edit_save = function (index) {
            if ($scope.diag_edit[index]) {
                $scope.diagnoses[index] = $scope.diag_edit[index];
                $scope.diagnoses[index]._dirty = true;
                $scope.diagnoses[index].client_id = $scope.event_info.client_id;
                $scope.diagnoses[index].event_id = $scope.event_info.id;
                $http.post('{{ url_for('.api_diagnosis_save') }}', $scope.diagnoses[index]).then(function () {
                    $scope.diag_edit[index] = undefined;
                    delete $scope.diagnoses[index]._first;
                });
            }
        };
        $scope.diag_edit_stop = function (index) {
            if ($scope.diag_edit[index]) {
                if ($scope.diag_edit[index]._first) {
                    $scope.diagnoses.splice(index, 1);
                }
                $scope.diag_edit[index] = undefined;
            }
        };
        $scope.diag_edit_new = function () {
            $scope.diagnoses.splice(0, 0, {
                person: $scope.Person.get({{ current_user.get_id() }}),
                _new: true,
                _first: true
            });
            $scope.diag_edit_start(0);
        };
        $scope.diag_edit_save_disabled = function (index) {
            var q = $scope.diag_edit[index];
            return !q.diagnosis_type;
        };
        $scope.edit = true;

        $scope.load_data = function () {
            $http.get('{{ url_for('.api_event_info') }}', {
                params: {
                    event_id: $scope.event_id
                }
            }).success(function (data) {
                $scope.event_info = data.result.event;
                $scope.diagnoses = data.result.diagnoses;
                $scope.ps.set_context(data.result.event.event_type.print_context)
            });
            aux.range(3).map(function (at_class) {
                $http.get('{{ url_for('.api_atl_get') }}', {
                    params: {
                        at_class: at_class
                    }
                }).success(function (data) {
                    $scope.action_type_tree[at_class] = data.result;
                })
            })
        };

        $scope.hidden_nodes = [];
        $scope.toggle_vis = function (node_id) {
            if (aux.inArray($scope.hidden_nodes, node_id)) {
                $scope.hidden_nodes.splice($scope.hidden_nodes.indexOf(node_id), 1);
            } else {
                $scope.hidden_nodes.push(node_id);
            }
        };
        $scope.subtree_shown = function (node_id) {
            return !aux.inArray($scope.hidden_nodes, node_id);
        };

        $scope.open_action = function (action_id) {
            window.open('{{ url_for('.html_action') }}?action_id=' + action_id);
        };

        $scope.load_data();

        $scope.print_template = function (template_id) {
            $http.post(
                '{{ print_subsystem_url }}', {
                    id: template_id,
                    context_type: "event",
                    event_id: $scope.event_id,
                    additional_context: {
                        currentOrgStructure: "",
                        currentOrganisation: 3479,
                        currentPerson:"1"
                    }
                }).success(function (data) {
                    $scope.w = $window.open();
                    $scope.w.document.open();
                    $scope.w.document.write(data);
                    $scope.w.document.close();
                    $scope.w.print();
               })
        };

        $scope.$on('printing_error', function (event, error) {
            $scope.alerts.push(error);
        });
    }])
    </script>
{% endblock %}