{% extends 'schedule/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <legend xmlns="http://www.w3.org/1999/html"><h2>График работы</h2></legend>
    <div ng-controller="ScheduleCtrl">
        <div class="row marginal">
            <div class="col-md-2">
                <select class="form-control" name="year" ng-model="year"
                        ng-options="y for y in years" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="month" ng-model="month"
                        ng-options="item.value as item.name for item in aux.months" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-8">
                <person-tree popupable="true" person-id="person_id"></person-tree>
            </div>
        </div>
        <ul class="nav nav-tabs nav-justified" ng-model="reception_type" ng-if="person">
            <li ng-class="{active: (rt.code == reception_type)}" ng-repeat="rt in reception_types.objects"
                ng-click="changeReceptionType(rt.code)"><a href="#">[[ rt.name ]]</a>
            </li>
        </ul>
        <div class="tab-content" ng-if="person">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: ($index == page)}" ng-repeat="p in pages">
                            <a ng-click="setDatePage($index)" href="#">
                                [[ p | asShortDate ]] - [[ aux.moment(p).add(6, 'd') | asShortDate ]]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed person-schedule">
                        <caption><span ng-if="grouped[reception_type].max_tickets == 0" class="no-schedule-label">Нет расписания</span>
                            [[ person.name ]]
                            <small>, [[ person.speciality.name ]]</small>
                        </caption>
                        <thead ng-if="grouped[reception_type].max_tickets > 0">
                        <tr>
                            <th ng-repeat="day in grouped[reception_type].schedule"
                                ng-bind="day.date | asMomentFormat:'DD.MM.YYYY, dd'"></th>
                        </tr>
                        </thead>
                        <tbody ng-if="grouped[reception_type].max_tickets > 0">
                        <tr ng-repeat="row in aux.range(grouped[reception_type].max_tickets)">
                            <td ng-repeat="day in grouped[reception_type].schedule">
                                <button ui-schedule-ticket="day.tickets[row]" day="day" show-name="true"
                                        ng-click="pasteSourceTicket(ticket)"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=version) }}"></script>
{% endblock %}
