{% extends 'schedule/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <legend xmlns="http://www.w3.org/1999/html">Пациенты</legend>
    <div ng-controller="ClientSearch">
        <form class="form-horizontal" role="form">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input id="search" class="form-control" type="text" ng-model="query" ng-change="perform_search()"
                       placeholder="Введите код или фамилию или имя пациента">
            </div>
        </form>
        <table class="table table-condensed table-hover table-clickable">
            <thead>
            <tr>
                <th ng-repeat="key in clientInfoCodeOrder" ng-bind="clientInfoCode2Name[key]"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results" ng-click="open_client(result.id)" style="cursor: pointer">
                <td ng-repeat="key in clientInfoCodeOrder" ng-bind="aux.format(result, key)"></td>
            </tr>
            </tbody>
        </table>
{#        <pre>[[schedule|json]]</pre>#}
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        WebMis20.controller('ClientSearch', ['$scope', '$http', function ($scope, $http) {
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.clientInfoCode2Name = {
                'id': 'Код пациента',
                'birthDate': 'Дата рождения',
                'SNILS': 'СНИЛС',
                'nameText': 'ФИО',
                'sex': 'Пол',
                'document': 'Документ',
                'voluntaryPolicy': 'Полис ДМС',
                'compulsoryPolicy': 'Полис ОМС'
            };
            $scope.clientInfoCodeOrder = ['nameText', 'birthDate', 'sex', 'document', 'SNILS', 'compulsoryPolicy', 'voluntaryPolicy'];
            $scope.query = "";
            $scope.results = [];
            $scope.perform_search = function () {
                $http.get(
                    '{{ url_for('.api_search_clients') }}', {
                        params: {
                            q: $scope.query
                        }
                    }
                ).success(function (data) {
                    $scope.results = data;
                })
            };
            $scope.open_client = function (client_id) {
                window.open('{{ url_for('.html_patient') }}?client_id=' + client_id);
            };
            $scope.perform_search();
        }]);
    </script>
{% endblock %}
