{% extends 'schedule/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ClientInfo">
    <script type="text/ng-template" id="modal-deleteDocument.html">{% include "schedule/_delete_document.html" %}</script>
    <legend xmlns="http://www.w3.org/1999/html">Пациент [[ clientDataItems.nameText ]]</legend>
    <div class="marginal">
        <button class="btn btn-default" onclick="history.back()">Назад к результатам поиска</button>
        <a class="btn btn-success" href="{{ url_for('.appointment') }}?client_id={{ request.args['client_id'] }}">Записать на приём</a>
    </div>
    <tabset>
        <tab>
            <tab-heading>
                Информация о пациенте
                <a ng-click="editing = true"
                   class="glyphicon glyphicon-pencil" href=""
                   title="Редактировать"></a>
            </tab-heading>
            <tabset justified="false">
                <tab heading="Основная информация">{% include "schedule/client_info/main_info.html" %}</tab>
                <tab heading="Соц. статус">{% include "schedule/client_info/soc_status.html" %}</tab>
                <tab heading="Особенности">{% include "schedule/client_info/characteristics.html" %}</tab>
                <tab heading="Идентификаторы">{% include "schedule/client_info/identifiers.html" %}</tab>
                <tab heading="Связи и контакты">{% include "schedule/client_info/contacts.html" %}</tab>
                <tab heading="История документов">{% include "schedule/client_info/documents.html" %}</tab>
            </tabset>
        </tab>
        <tab heading="Предварительные записи">{% include "schedule/client_info/appointments.html" %}</tab>
        <tab heading="Обращения">{% include "schedule/client_info/event_list.html" %}</tab>
    </tabset>
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        DeleteDocumentModalCtrl = function ($scope, $modalInstance) {
            $scope.accept = function () {
                $modalInstance.close();
            };
            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        };

        WebMis20.controller('ClientInfo', ['$scope', '$http', '$modal', function ($scope, $http, $modal) {
            $scope.max_tickets = 0;
            $scope.records = [];
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.client_id = $scope.params.client_id;
            $scope.view = true;
            var curDate = new Date();
            var curYear = curDate.getUTCFullYear();
            $scope.years = [curYear - 1, curYear, curYear + 1];
            $scope.year = curYear;
            $scope.clientInfoCode2Name = {
                'id': 'Код пациента',
                'birthDate': 'Дата рождения',
                'regAddress': 'Адрес регистрации',
                'liveAddress': 'Адрес проживания',
                'SNILS': 'СНИЛС',
                'nameText': 'ФИО',
                'sex': 'Пол',
                'documentText': 'Документ',
                'contact': 'Контакты',
                'voluntaryPolicyText': 'Полис ДМС',
                'compulsoryPolicyText': 'Полис ОМС',
                'notes': 'Примечания'
            };
            $scope.clientMainInfoCodeOrder = ['id', 'nameText', 'birthDate', 'sex', 'regAddress', 'liveAddress',
                'documentText', 'compulsoryPolicyText', 'voluntaryPolicyText', 'SNILS', 'contact', 'notes'];
            $scope.save_client_info = function() {
                $scope.editing = false;
                $http.get(
                    '{{ url_for('.api_save_patient_info') }}', {
                        params: {
                            client_info: $scope.clientDataItems
                        }
                    });
            };
            $scope.delete_document = function(document) {
                var modalInstance = $modal.open({
                                    templateUrl: 'modal-deleteDocument.html',
                                    controller: DeleteDocumentModalCtrl
                    });
                modalInstance.result.then(function () {
                    $http.get(
                        '{{ url_for('.api_delete_document') }}', {
                            params: {
                                document: document
                            }
                        });
                })
            };
            $scope.add_allergy = function() {
                $scope.clientDataItems['allergies'].push({'nameSubstance': '',
                                                          'power': 0,
                                                          'createDate': '',
                                                          'deleted':0,
                                                          'notes': ''
                                                          })
            };
            $scope.add_medicament = function() {
                $scope.clientDataItems['intolerances'].push({'nameMedicament': '',
                                                          'power': 0,
                                                          'createDate': '',
                                                          'deleted':0,
                                                          'notes': ''
                                                          })
            };
            $scope.add_identification = function() {
                $scope.clientDataItems['identifications'].push({'deleted': 0,
                                                                'identifier': '',
                                                                'accountingSystem_code': '',
                                                                'checkDate': ''})
            };
            $scope.add_contact = function() {
                $scope.clientDataItems['contacts'].push({'deleted': 0,
                                                         'contactType_code': '',
                                                         'contact': '',
                                                         'notes': ''})
            };
            $scope.add_blood = function() {
                $scope.clientDataItems['bloodHistory'].push({'bloodGroup_code': '',
                                                             'bloodDate': '',
                                                             'person_id': 0
                                                             })
            };
            $scope.add_relation = function(relation_array) {
                relation_array.push({'relativeType_name': '',
                                     'relativeType_code': '',
                                     'other_id': 0
                                     })
            };
            $scope.add_soc_status = function() {
                $scope.clientDataItems['socStatuses'].push({'deleted': 0,
                                                            'classCode': '',
                                                            'typeCode': '',
                                                            'begDate': '',
                                                            'endDate': ''
                                                            })
            };
            $scope.delete_item = function(clientData_array, item) {
                if ('id' in item) {
                    item['deleted'] = 1;
                } else {
                    var index = clientData_array.indexOf(item);
                    clientData_array.splice(index, 1);
                }

            };
            $scope.open = function($event) {
                $event.preventDefault();
                $event.stopPropagation();
                return true;
            };

            $scope.open_event = function(event) {
                window.open('{{ url_for('.html_event_info') }}?event_id=' + event.id, '_self')
            };

            $http.get(
                '{{ url_for('.api_patient') }}', {
                    params: {
                        'client_id': $scope.client_id
                    }
                }
            ).success(function (data) {
                $scope.clientDataItems = data.result.clientData;
                $scope.referenceBooksItems = data.result.referenceBooks;
                $scope.records = data.result.records;
                $scope.client_events = data.result.events;
            });

        }]);
    </script>
{% endblock %}
