{%- extends 'schedule/base.html' -%}
{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    {% include "_breadcrumbs.html" %}
    <div ng-controller="PersonAppointmentCtrl">
        <legend xmlns="http://www.w3.org/1999/html" wm-page-header><h2>Запись пациента на прием - <a href="{{ url_for('patients.patient', client_id=client.id) }}">{{ client.nameText }}</a></h2></legend>
        <div class="row">
            <div class="col-md-9">
                <div class="row marginal">
                    <div class="col-md-2">
                        <select class="form-control" name="year" ng-model="year" ng-options="y for y in years"
                                ng-change="monthChanged()"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="month" ng-model="month"
                                ng-options="item.value as item.name for item in aux.months"
                                ng-change="monthChanged()"></select>
                    </div>
                    <div class="col-md-8">
                        <ul class="nav nav-pills small">
                            <li ng-class="{active: ($index == page)}" ng-repeat="p in pages">
                                <a ng-click="setDatePage($index)" href="#">
                                    [[ p | asShortDate ]] - [[ aux.moment(p).add(6, 'd') | asShortDate ]]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-justified" ng-model="reception_type">
                            <li ng-class="{active: (rt.code == reception_type)}" ng-repeat="rt in reception_types.objects"
                                ng-click="changeReceptionType(rt.code)"><a href="#">[[ rt.name ]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="row" ng-repeat="person_schedule in total_schedules">
                        <div class="col-md-12">
                            <table class="table table-condensed person-schedule">
                                <caption>
                                    <a class="btn btn-default glyphicon glyphicon-chevron-up" ng-click="person_fold(person_schedule.person.id)" ng-if="!is_folded(person_schedule.person.id)"></a>
                                    <a class="btn btn-default glyphicon glyphicon-chevron-down" ng-click="person_unfold(person_schedule.person.id)" ng-if="is_folded(person_schedule.person.id)"></a>
                                    <span ng-if="person_schedule.grouped[reception_type].max_tickets == 0 && !is_folded(person_schedule.person.id)" class="no-schedule-label">Нет расписания</span>
                                    [[ person_schedule.person.name ]]<small>, [[ person_schedule.person.speciality.name ]]</small>
                                </caption>
                                <thead ng-if="person_schedule.grouped[reception_type].max_tickets > 0">
                                <tr>
                                    <th ng-repeat="day in person_schedule.grouped[reception_type].schedule"
                                        ng-bind="day.date | asMomentFormat:'DD.MM.YYYY, dd'">
                                    </th>
                                </tr>
                                </thead>
                                <tbody ng-if="person_schedule.grouped[reception_type].max_tickets > 0">
                                <tr ng-repeat="row in aux.range(person_schedule.grouped[reception_type].max_tickets)">
                                    <td ng-repeat="day in person_schedule.grouped[reception_type].schedule">
                                        <button ui-schedule-ticket="day.tickets[row]" day="day" show-name="false"
                                                ng-click="appointment_toggle(day.tickets[row], person_schedule.person)">
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <person-tree checkboxed="true" locked-persons="data_selected" user-selected="user_selected"></person-tree>
{#                {{ person_tree.html(checkbox=True) }}#}
            </div>
        </div>
{#        <pre>[[schedule|json]]</pre>#}
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/services/appointment_dialog.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename="js/appointment.js", v=version) }}"></script>
{% endblock %}
