{% extends 'schedule/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="Appointment">
        <legend xmlns="http://www.w3.org/1999/html">Запись пациента на прием - {{ client.nameText }}</legend>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-control" name="year" ng-model="year" ng-options="y for y in years"
                                ng-change="monthChanged()"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="month" ng-model="month"
                                ng-options="item.value as item.name for item in aux.months"
                                ng-change="monthChanged()"></select>
                    </div>
                    <div class="col-md-8">
                        <ul class="nav nav-pills small">
                            <li ng-class="{active: ($index == page)}" ng-repeat="p in pages">
                                <a ng-click="setDatePage($index)" href="#">
                                    [[ p.format('MM.DD') ]] - [[ aux.moment(p).add(6, 'd').format('MM.DD') ]]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-repeat="person_schedule in person_schedules">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <caption>[[ person_schedule.person.name ]]</caption>
                            <thead>
                            <tr>
                                <th ng-repeat="day in person_schedule.schedule[attendance_type]">
                                    [[ aux.moment(day.date).format('DD.MM.YYYY, dd') ]]
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in aux.range(person_schedule.max_tickets[attendance_type])">
                                <td ng-repeat="day in person_schedule.schedule[attendance_type]" ng-switch="day.tickets[row].status">
                                    <button type="button" class="btn btn-block btn-danger" ng-switch-when="busy">
                                        [[ aux.moment(day.tickets[row].begDateTime).format('hh:mm') ]]
                                    </button>
                                    <button type="button" class="btn btn-block btn-success" ng-switch-when="free">
                                        [[ aux.moment(day.tickets[row].begDateTime).format('hh:mm') ]]
                                    </button>
                                    <button type="button" class="btn btn-block disabled" ng-switch-default>&nbsp;</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-controller="PersonTree">
                <input id="person_query" class="form-control" type="text" ng-model="query" placeholder="Поиск врача"/>
                <div class="css-treeview well well-sm">
                    <ul>
                        <li ng-repeat="spec_group in tree">
                            <input class="plus" type="checkbox" id="spec-[[spec_group.speciality.id]]" checked>
                            <label class="group" for="spec-[[spec_group.speciality.id]]">
                                [[ spec_group.speciality.name ]]
                            </label>
                            <ul>
                                <li ng-repeat="person in spec_group.persons">
                                    <input type="checkbox" id="doc-[[person.id]]" ng-model="person.checked" ng-disabled="person.disabled" ng-change="selection_change(person)">
                                    <label class="leaf" for="doc-[[person.id]]">
                                        [[ person.name ]]
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{#        <pre>[[schedule|json]]</pre>#}
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        WebMis20.controller('PersonTree', ['$scope', '$http', function($scope, $http) {
            $scope.data = [];
            $scope.query = '';
            $scope.tree = [];
            $scope.data_selected = [];
            $scope.user_selected = [];
{#            // Может, всё это грузить прямо здесь?#}
            $scope.reloadTree = function() {
                $http.get(
                    '{{ url_for('.api_all_persons_tree') }}'
                ).success(function (data) {
                    $scope.data = data;
                    $scope.compose();
                })
            };
            $scope.reset = function () {
                $scope.query = '';
                $scope.user_selected = [];
                $scope.reloadTree();
            };
            $scope.compose = function () {
                $scope.tree = $scope.data.map(function (spec_group) {
                    return {
                        speciality: spec_group.speciality,
                        persons: (spec_group.persons).filter(function (person) {
                            return aux.startswith(person.name, $scope.query) || $scope.query == '';
                        }).map(function (person) {
                            return {
                                id: person.id,
                                name: person.name,
                                disabled: $.inArray(person.id, $scope.data_selected) !== -1,
                                checked: $.inArray(person.id, [].concat($scope.data_selected, $scope.user_selected)) !== -1
                            }
                        })
                    }
                })
            };
            $scope.selection_change = function (person) {
                $scope.user_selected = [].concat($scope.tree.map(function (spec_group) {
                    spec_group.persons.filter(function (person) {
                        return person.checked;
                    }).map(function (person) {
                        return person.id;
                    })
                }));
                $scope.$parent.$emit('UserSelectionChanged', person);
            };
            $scope.$on('DataSelectedChanged', function (event, data_selected) {
                $scope.data_selected = data_selected;
                $scope.compose();
            });
            $scope.$on('UserSelectionChanged', function (event) {
                $scope.compose();
            });
            $scope.$on('Reset', function () {
                $scope.reset();
            });

            $scope.reset();

        }]);
        WebMis20.controller('Appointment', ['$scope', '$http', function ($scope, $http) {
            $scope.max_tickets = [];
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.client_id = $scope.params.client_id;
            $scope.person_query = '';
            var curDate = new Date();
            var curYear = curDate.getUTCFullYear();
            $scope.years = [curYear - 1, curYear, curYear + 1];
            $scope.year = curYear;

            $scope.month = curDate.getMonth();

            $scope.attendance_types = [
                {name: 'Амбулаторно', code: 'amb'},
                {name: 'На дому', code: 'home'}
            ];
            $scope.attendance_type = 'amb';

            $scope.setDatePage = function(index) {
                if (index != $scope.page) {
                    $scope.page = index;
                    $scope.loadData();
                }
            };

            $scope.monthChanged = function () {
                var mid_date = moment({
                    year: $scope.year,
                    month: $scope.month,
                    day: new Date().getDate()
                });
                var start_date = moment({
                    year: $scope.year,
                    month: $scope.month,
                    day: 1
                });
                var end_date = moment(start_date).add(1, 'M').subtract(1, 'd');
                var chosen_page = -1;
                var pages = [];
                while (start_date <= end_date) {
                    if (mid_date >= start_date) {
                        chosen_page += 1;
                    }
                    pages.push(moment(start_date));
                    start_date.add(1, 'w');
                }
                $scope.page = chosen_page;
                $scope.pages = pages;
                $scope.loadData();
            };

            $scope.changeAttendanceType = function (code) {
                $scope.attendance_type = code;
            };

            $scope.loadData = function () {
                $http.get(
                    '{{ url_for('.api_client_appointments') }}', {
                        params: {
                            client_id: $scope.client_id,
                            start_date: $scope.pages[$scope.page].format('YYYY-MM-DD')
                        }
                    }
                ).success(function (data) {
                    $scope.person_schedules = data.map(function (item) {
                        var d = processSchedule(item.schedule, $scope.attendance_types);
                        return {
                            person: item.person,
                            schedule: d.schedules,
                            max_tickets: d.max_tickets
                        }
                    });
                    $scope.$broadcast('DataSelectedChanged', data.map(function (item) {
                        return item.person.id;
                    }))
                })
            };
            $scope.$on('UserSelectionChanged', function (event, person) {
                console.info('USC ' + person.id + ' ' + person.checked);
            });

            $scope.monthChanged();
        }]);
    </script>
{% endblock %}
