{% extends 'schedule/base.html' %}
{% import "schedule/_person_tree.html" as person_tree %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <legend xmlns="http://www.w3.org/1999/html">График врача</legend>
    <div ng-controller="Schedule">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control" name="year" ng-model="year"
                        ng-options="y for y in years" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="month" ng-model="month"
                        ng-options="item.value as item.name for item in aux.months" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-8">
                {{ person_tree.html_dropdown_select() }}
            </div>
        </div>
        <br/>{# Dirtiest hack you've ever seen! #}
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified" ng-model="reception_type" ng-if="person">
                    <li ng-class="{active: (rt.code == reception_type)}" ng-repeat="rt in reception_types"
                        ng-click="changeReceptionType(rt.code)"><a href="#">[[ rt.name ]]</a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn btn-primary" ng-href="#" ng-if="person">Заполнить план приёма</a>{# dummy #}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed person-schedule" ng-if="person">
                    <caption>[[ person.name ]]<small>, [[ person.speciality ]]</small></caption>
                    <thead>
                    <tr>
                        <th ng-repeat="weekday in weekdays" ng-bind="weekday"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="week in week_data">
                        <td ng-repeat="day in week">
                            <div class="panel small person-schedule-day"
                                 ng-class="person_schedule_day_class(day, $index)" ng-if="!day.not_exists">
                                <div class="panel-heading">
                                    [[ aux.moment(day.date).format('DD.MM.YYYY') ]]
                                </div>
                                <ul class="panel-body list-group" ng-switch="person_schedule_day_switch(day)">
                                    <li class="list-group-item" ng-repeat="sched in day.scheds">
                                        <p>[[ aux.moment(day.date + 'T' + sched.begTime).format('HH:mm') ]] - [[ aux.moment(day.date + 'T' + sched.endTime).format('HH:mm') ]]</p>
                                        <p>Кабинет: [[ sched.office ]]</p>
                                    </li>
                                    <li class="list-group-item" ng-switch-when="normal">
                                        <p>План: [[ day.summary.planned_tickets ]]</p>
                                        <p>Сверх плана: [[ day.summary.extra_tickets ]]</p>
                                        <p>Вне очереди: [[ day.summary.CITO_tickets ]]</p>
                                    </li>
                                    <li class="list-group-item" ng-switch-when="empty">Не заполнено</li>
                                    <li class="list-group-item" ng-switch-when="absent">Причина отсутствия: day.roa.name</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        {{ person_tree.js() }}
        WebMis20.controller('Schedule', ['$scope', '$http', function ($scope, $http) {
            $scope.data = {};
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.person_id = $scope.params.person_id;
            $scope.person_query = '';
            var curDate = new Date();
            var curYear = curDate.getUTCFullYear();
            $scope.years = [curYear - 1, curYear, curYear + 1];
            $scope.year = curYear;

            $scope.month = curDate.getMonth();

            $scope.weekdays = ['Пн', "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"];
            $scope.week_data = [];

            $scope.reception_types = {{ rbReceptionTypes | safe }};
            $scope.reception_type = 'amb';

            $scope.reloadSchedule = function () {
                if ($scope.person_id) {
                    $http.get(
                        '{{ url_for('.api_schedule') }}',
                        {
                            params: {
                                person_ids: $scope.person_id,
                                start_date: $scope.monthDate.format('YYYY-MM'),
                                expand: 1
                            }
                        }
                    ).success(function (data) {
                        var d = data['schedules'][0];
                        $scope.person = d.person;
                        $scope.grouped = d.grouped;
                        $scope.make_week();
                    })
                }
            };

            $scope.make_week = function () {
                var first_weekday = $scope.monthDate.weekday();
                var day_iter = 0;
                var schedule = $scope.grouped[$scope.reception_type]['schedule'];
                var result = [];
                for (var week_n = 0; ; week_n++) {
                    var week = [];
                    for (var weekday_n = 0; weekday_n < 7; weekday_n++) {
                        if (week_n == 0 && weekday_n < first_weekday || day_iter >= schedule.length) {
                            week.push({
                                not_exists: true
                            })
                        } else {
                            week.push(schedule[day_iter]);
                            day_iter++;
                        }
                    }
                    result.push(week);
                    if (day_iter >= schedule.length) {
                        break;
                    }
                }
                $scope.week_data = result;
{#                $scope.#}
            };

            $scope.monthChanged = function () {
                $scope.monthDate = moment({
                    year: $scope.year,
                    month: $scope.month,
                    day: 1
                });
                $scope.reloadSchedule();
            };

            $scope.changeReceptionType = function (code) {
                $scope.reception_type = code;
                $scope.make_week();
            };

            $scope.monthChanged();

            $scope.$on('PersonSelected', function (event, person) {
                $scope.person_id = person.id;
                $scope.reloadSchedule();
            });

            $scope.person_schedule_day_class = function (day, index) {
                // {'panel-primary': day.scheds.length > 0, 'panel-danger': $index >= 5, 'panel-default': $index < 5 && day.scheds.length == 0}
                if (day.summary.busy_tickets) {
                    return 'panel-success'
                } else if (day.scheds.length > 0) {
                    return'panel-primary'
                } else if (index >= 5 || day.roa) {
                    return 'panel-danger'
                } else {
                    return 'panel-default'
                }
            };

            $scope.person_schedule_day_switch = function (day) {
                if (day.roa) {
                    return 'absent'
                } else if (day.scheds.length > 0) {
                    return 'normal'
                } else {
                    return 'empty'
                }
            };
        }]);
    </script>
{% endblock %}
