{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="AnamnesisCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li><a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Анамнез пациентки</a></li>
            <li>{{ title }}</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-md-12">
                {{ rimacros.page_title(title) }}
            </div>
        </div>
        <div ng-controller="{{ ctrl }}">
            <div class="row" ng-repeat="code in criterions">
                <div ng-if="_isArray(code)" class="col-md-12">
                    <div class="row" ng-repeat="code in code">{# yep! this is insane! :) #}
                        <div class="col-md-offset-1 col-md-5" ng-bind="meta[code].title"></div>
                        <div ng-if="!_isArray(code)" class="col-md-6" ng-switch="meta[code].type">
                            <input ng-switch-when="str" ng-model="chart.anamnesis.{{ who }}[code]" class="form-control">
                            <input ng-switch-when="num" ng-model="chart.anamnesis.{{ who }}[code]" class="form-control" type="number" valid-number>
                            <input ng-switch-when="chk" ng-model="chart.anamnesis.{{ who }}[code]" class="checkbox" type="checkbox">
                            <rb-select ng-switch-when="rb" ng-model="chart.anamnesis.{{ who }}[code]" ref-book="[[ meta[code].rb ]]"></rb-select>
                            <div ng-switch-when="mkb-multi" ng-model="chart.anamnesis.{{ who }}[code]" items="MKB.objects" fs-multiselect>
                                <strong>[[ item.code ]]</strong> - [[ item.name ]]
                            </div>
                            <wm-date ng-switch-when="date" ng-model="chart.anamnesis.{{ who }}[code]" style="width: 250px"></wm-date>
                        </div>
                    </div>
                </div>
                <div ng-if="!_isArray(code)" class="col-md-6" ng-bind="meta[code].title"></div>
                <div ng-if="!_isArray(code)" class="col-md-6" ng-switch="meta[code].type">
                    <input ng-switch-when="str" ng-model="chart.anamnesis.{{ who }}[code]" class="form-control">
                    <input ng-switch-when="num" ng-model="chart.anamnesis.{{ who }}[code]" class="form-control" type="number" valid-number>
                    <input ng-switch-when="chk" ng-model="chart.anamnesis.{{ who }}[code]" class="checkbox" type="checkbox">
                    <rb-select ng-switch-when="rb" ng-model="chart.anamnesis.{{ who }}[code]" ref-book="[[ meta[code].rb ]]"></rb-select>
                    <div ng-switch-when="mkb-multi" ng-model="chart.anamnesis.{{ who }}[code]" items="MKB.objects" fs-multiselect>
                        <strong>[[ item.code ]]</strong> - [[ item.name ]]
                    </div>
                    <wm-date ng-switch-when="date" ng-model="chart.anamnesis.{{ who }}[code]" style="width: 250px"></wm-date>
                </div>
            </div>
            <div class="text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Назад в анамнез пациентки</a>
                <button class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}