{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="AnamnesisCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li><a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Анамнез пациентки</a></li>
            <li>Изменение данных об отце</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-md-12">
                {{ rimacros.page_title('Изменение данных об отце') }}
            </div>
        </div>
        <div ng-controller="AnamnesisFatherEditCtrl">

            <div class="row marginal">
                <div class="col-md-4">ФИО</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.name" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Образование</div>
                <div class="col-md-8"><rb-select ng-model="chart.anamnesis.father.education" ref-book="rbRisarEducation"></rb-select></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Общественно-профессиональная группа</div>
                <div class="col-md-8"><rb-select ng-model="chart.anamnesis.father.work_group" ref-book="rbRisarWorkGroup"></rb-select></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Профессиональные вредности</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.professional_properties" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Группа крови</div>
                <div class="col-md-2"><rb-select ng-model="chart.anamnesis.father.blood_type" ref-book="rbBloodType"></rb-select></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Телефон</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.phone" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">ВИЧ</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.HIV" class="checkbox" type="checkbox"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Флюорография</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.fluorography" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Бесплодие</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.infertility" class="checkbox" type="checkbox"></div>
            </div>

            <div class="row marginal" ng-if="chart.anamnesis.father.infertility">
                <div class="col-md-offset-1 col-md-3">вид</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.infertility_type" class="form-control"></div>
            </div>

            <div class="row marginal" ng-if="chart.anamnesis.father.infertility">
                <div class="col-md-offset-1 col-md-3">длительность</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.infertility_period" class="form-control" type="number" valid-number></div>
            </div>

            <div class="row marginal" ng-if="chart.anamnesis.father.infertility">
                <div class="col-md-offset-1 col-md-3">лечние</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.infertility_treatment" class="form-control"></div>
            </div>

            <div class="row marginal" ng-if="chart.anamnesis.father.infertility">
                <div class="col-md-offset-1 col-md-3">причина</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.infertility_cause" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Перенесенные заболевания</div>
                <div class="col-md-8">
                    <div ng-model="chart.anamnesis.father.finished_diseases" items="$refBook.objects" fs-multiselect ref-book="MKB">
                        <strong>[[ item.code ]]</strong> - [[ item.name ]]
                    </div>
                </div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Наследственность</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.hereditary" class="form-control"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Текущие заболевания</div>
                <div class="col-md-8">
                    <div ng-model="chart.anamnesis.father.current_diseases" items="$refBook.objects" fs-multiselect ref-book="MKB">
                        <strong>[[ item.code ]]</strong> - [[ item.name ]]
                    </div>
                </div>
            </div>

            <div class="row marginal">
                <div class="col-md-4">Вредные привычки</div>
                <div class="col-md-8">&nbsp;</div>
            </div>

            <div class="row marginal">
                <div class="col-md-offset-1 col-md-3">Алкоголь</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.alcohol" class="checkbox" type="checkbox"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-offset-1 col-md-3">Курение</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.smoking" class="checkbox" type="checkbox"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-offset-1 col-md-3">Токсические вещества</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.toxic" class="checkbox" type="checkbox"></div>
            </div>

            <div class="row marginal">
                <div class="col-md-offset-1 col-md-3">Наркотики</div>
                <div class="col-md-8"><input ng-model="chart.anamnesis.father.drugs" class="checkbox" type="checkbox"></div>
            </div>
            
            <div class="text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Перейти на форму анамнеза пациентки</a>
                <button class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}