{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="AnamnesisCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li><a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Анамнез пациентки</a></li>
            <li>Ввод данных о матери</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-md-12">
                {{ rimacros.page_title('Ввод данных о матери') }}
            </div>
        </div>
        <div ng-controller="AnamnesisMotherEditCtrl">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-8"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Образование</th>
                    <td><rb-select ng-model="chart.anamnesis.mother.education" ref-book="rbRisarEducation"></rb-select></td>
                </tr>
                <tr>
                    <th>Общественно-профессиональная группа</th>
                    <td><rb-select ng-model="chart.anamnesis.mother.work_group" ref-book="rbRisarWork_Group"></rb-select></td>
                </tr>
                <tr>
                    <th>Профессиональные вредности</th>
                    <td><input ng-model="chart.anamnesis.mother.professional_properties" class="form-control"></td>
                </tr>
                <tr>
                    <th>Доход семьи</th>
                    <td><input ng-model="chart.anamnesis.mother.family_income" class="form-control"></td>
                </tr>
                <tr>
                    <th>Группа крови и резус-фактор</th>
                    <td><div class="row"><div class="col-md-4"><rb-select ng-model="chart.anamnesis.mother.blood_type" ref-book="rbBloodType"></rb-select></div></div></td>
                </tr>
                <tr>
                    <th>Дата последней менструации</th>
                    <td><wm-date ng-model="chart.anamnesis.mother.menstruation_last_date" style="width: 250px"></wm-date></td>
                </tr>
                <tr>
                    <th>Менструации</th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>с возраста</td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="chart.anamnesis.mother.menstruation_start_age" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td>длительность</td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="chart.anamnesis.mother.menstruation_duration" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td>продолжительность цикла</td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="chart.anamnesis.mother.menstruation_period" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td>нарушения</td>
                    <td><input ng-model="chart.anamnesis.mother.menstruation_disorders" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th>Половая жизнь с</th>
                    <td><div class="row"><div class="col-md-4"><input ng-model="chart.anamnesis.mother.sex_life_start_age" class="form-control" type="number" valid-number></div></div></td>
                </tr>
                <tr>
                    <th>Сведения по контрацепции</th>
                    <td><input ng-model="chart.anamnesis.mother.contraception_type" class="form-control"></td>
                </tr>
                <tr>
                    <th>Беременность наступила естественным путём</th>
                    <td><input ng-model="chart.anamnesis.mother.natural_pregnancy" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th>Многоплодие</th>
                    <td><input ng-model="chart.anamnesis.mother.multifetation" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th>Бесплодие</th>
                    <td><input ng-model="chart.anamnesis.mother.infertility" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>вид</td>
                    <td><input ng-model="chart.anamnesis.mother.infertility_type" class="form-control" ng-disabled="!chart.anamnesis.mother.infertility"></td>
                </tr>
                <tr>
                    <td>длительность</td>
                    <td><input ng-model="chart.anamnesis.mother.infertility_period" class="form-control" type="number" valid-number ng-disabled="!chart.anamnesis.mother.infertility"></td>
                </tr>
                <tr>
                    <td>лечение</td>
                    <td><input ng-model="chart.anamnesis.mother.infertility_treatment" class="form-control" ng-disabled="!chart.anamnesis.mother.infertility"></td>
                </tr>
                <tr>
                    <td>причина</td>
                    <td><input ng-model="chart.anamnesis.mother.infertility_cause" class="form-control" ng-disabled="!chart.anamnesis.mother.infertility"></td>
                </tr>
                <tr>
                    <th>Перенесенные заболевания</th>
                    <td>
                        <div ng-model="chart.anamnesis.mother.finished_diseases" items="$refBook.objects" fs-multiselect ref-book="MKB">
                            <strong>[[ item.code ]]</strong> - [[ item.name ]]
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Наследственность</th>
                    <td><input ng-model="chart.anamnesis.mother.hereditary" class="form-control"></td>
                </tr>
                <tr>
                    <th>Текущие заболевания</th>
                    <td>
                        <div ng-model="chart.anamnesis.mother.current_diseases" items="$refBook.objects" fs-multiselect ref-book="MKB">
                            <strong>[[ item.code ]]</strong> - [[ item.name ]]
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Вредные привычки</th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Алкоголь</td>
                    <td><input ng-model="chart.anamnesis.mother.alcohol" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Курение</td>
                    <td><input ng-model="chart.anamnesis.mother.smoking" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Токсические вещества</td>
                    <td><input ng-model="chart.anamnesis.mother.toxic" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Наркотики</td>
                    <td><input ng-model="chart.anamnesis.mother.drugs" class="checkbox" type="checkbox"></td>
                </tr>
                </tbody>
            </table>

            <div class="text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">Перейти на форму анамнеза пациентки</a>
                <button class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}