{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ChartCtrl" ng-cloak>
        <div alert-notify></div>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li>Карта пациентки</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-lg-8 col-md-8">
                <h2>
                    Карта пациентки
                    <a ng-href="{{ url_for('patients.patient') }}?client_id=[[ chart.client.id ]]">[[ chart.client.full_name ]]</a>
                    ([[ chart.external_id ]])
                </h2>
            </div>
            <div class="col-md-2 achievements">
                <b>[[ pregnancy_week ]]</b><i class="fa fa-question" ng-if="!pregnancy_week"></i>
                <i class="fa" ng-class="{'fa-question':chart.risk_rate.value==0,
                                         'fa-circle text-danger':chart.risk_rate.value==3,
                                         'fa-circle text-warning':chart.risk_rate.value==2,
                                         'fa-circle text-success':chart.risk_rate.value==1}"
                              tooltip="[[chart.risk_rate.note]]"></i>
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <i class="fa fa-exclamation-triangle text-success"></i>
                <i class="fa fa-exclamation-triangle text-warning"></i>
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default btn-block">146%</button>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ chart.person.organisation.short_name ]]</b>
                    у <b>[[ chart.person.name ]]</b>
                    с <b>[[ chart.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Личные данные</div>
                    <table class="table table-condensed table-personal-data">
                        <tbody>
                        <tr>
                            <td>Дата рождения:</td>
                            <td>[[ chart.client.birth_date | asDate ]] ([[ chart.client.age ]])</td>
                        </tr>
                        <tr ng-if="chart.client.snils">
                            <td>СНИЛС:</td>
                            <td>[[ chart.client.snils ]]</td>
                        </tr>
                        <tr ng-if="chart.client.cmi_policy">
                            <td>Полис ОМС:</td>
                            <td>Номер [[ chart.client.cmi_policy.serial ]] [[ chart.client.cmi_policy.number ]], выдан [[ chart.client.cmi_policy.insurer.short_name ]] [[ chart.client.cmi_policy.beg_date | asDate ]]</td>
                        </tr>
                        <tr ng-if="chart.anamnesis.father.phone || chart.client.phone">
                            <td>Контактные данные:</td>
                            <td>пациентки: [[chart.client.phone.contact_text]], отца ребёнка: <span tooltip="[[chart.anamnesis.father.name]]" class="bottom_dotted">[[ chart.anamnesis.father.phone ]]</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Анамнез (<a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">подробнее</a>).</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Способ оплодотворения: [[chart.anamnesis.mother.fertilization_type]]
                                </td>
                                <td>
                                    Многоплодные беременности: [[chart.anamnesis.mother.multifetation ? 'да' : 'нет']]
                                </td>
                                <td>
                                    Предыдущие беременности: <a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]#pregnancies">[[chart.anamnesis.pregnancies.length]]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Переливания крови: [[chart.anamnesis.transfusions.length ? 'были' : 'нет']]
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Мать</th>
                                <th>Отец</th>
                            </tr>
                            <tr>
                                <td>Группа крови</td>
                                <td>[[chart.anamnesis.mother.blood_type.name ? chart.anamnesis.mother.blood_type.name: 'Нет']]</td>
                                <td>[[chart.anamnesis.father.blood_type.name ? chart.anamnesis.father.blood_type.name: 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>ВИЧ</td>
                                <td>[[chart.anamnesis.mother.HIV ? 'Да' : 'Нет']]</td>
                                <td>[[chart.anamnesis.father.HIV ? 'Да' : 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>Бесплодие</td>
                                <td>[[chart.anamnesis.mother.infertility ? 'Да' : 'Нет']]</td>
                                <td>[[chart.anamnesis.father.infertility ? 'Да' : 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>Заболевания</td>
                                <td>Перенесенные: <span ng-repeat="diag in chart.anamnesis.mother.finished_diseases"> [[diag.code]]</span>[[chart.anamnesis.mother.finished_diseases ? '' : 'Нет']], Текущие: <span ng-repeat="diag in chart.anamnesis.mother.current_diseases"> [[diag.code]]</span>[[chart.anamnesis.mother.current_diseases ? '' : 'Нет']]</td>
                                <td>Перенесенные: <span ng-repeat="diag in chart.anamnesis.father.finished_diseases"> [[diag.code]]</span>[[chart.anamnesis.father.finished_diseases ? '' : 'Нет']], Текущие: <span ng-repeat="diag in chart.anamnesis.father.current_diseases"> [[diag.code]]</span>[[chart.anamnesis.father.current_diseases ? '' : 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>Вредные привычки</td>
                                <td>[[(!chart.anamnesis.mother.alcohol && !chart.anamnesis.mother.smoking && !chart.anamnesis.mother.toxic && !chart.anamnesis.mother.drugs) ? 'Нет': '' ]]
                                    [[chart.anamnesis.mother.alcohol ? 'алкоголь' : '']]
                                    [[chart.anamnesis.mother.smoking ? 'курение' : '']]
                                    [[chart.anamnesis.mother.toxic ? 'токсические вещества' : '']]
                                    [[chart.anamnesis.mother.drugs ? 'наркотики' : '']] </td>
                                <td>[[(!chart.anamnesis.father.alcohol && !chart.anamnesis.father.smoking && !chart.anamnesis.father.toxic && !chart.anamnesis.father.drugs) ? 'Нет': '' ]]
                                    [[chart.anamnesis.father.alcohol ? 'алкоголь' : '']]
                                    [[chart.anamnesis.father.smoking ? 'курение' : '']]
                                    [[chart.anamnesis.father.toxic ? 'токсические вещества' : '']]
                                    [[chart.anamnesis.father.drugs ? 'наркотики' : '']]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Осмотры акушером-гинекологом (<a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">подробнее</a>).
                    <a ng-href="{{ url_for('.html_inspection_edit') }}?event_id=[[ chart.id ]]" title=""> Добавить осмотр</a>.</div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Диагноз</th>
                            <th>Врач</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="checkup in chart.checkups">
                            <td>[[ $index + 1 ]]</td>
                            <td><a ng-href="{{ url_for('.html_inspection_edit') }}?event_id=[[ chart.id ]]&checkup_id=[[ checkup.id ]]">[[ checkup.beg_date | asDate ]]</a></td>
                            <td><span class="bottom_dotted" tooltip="[[ checkup.diag.name ]]">[[ checkup.diag.code ]]</span></td>
                            <td>[[ checkup.person.name ]]</td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Эпикриз (<a ng-href="#">подробнее</a>).</div>
                    <div class="panel-body">
                        <span ng-if="!chart.epicrisis">Отсутствует</span>
                        <span ng-if="chart.epicrisis">[[ chart.epicrisis ]]</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Особенности</div>
                    <table class="table table.condensed">
                        <tbody>
                        <tr ng-repeat="char in chart.anamnesis.intolerances" ng-class="{
                        'success text-success': char.power.code == 'low',
                        'warning text-warning': ['medium', 'unknown'].has(char.power.code),
                        'danger text-danger': ['high', 'strict'].has(char.power.code),
                        }">
                            <td class="text-center "><span class="fa" ng-class="{
                        'fa-question': char.power.code == 'unknown',
                        'fa-exclamation': char.power.code == 'low',
                        'fa-exclamation-triangle': char.power.code == 'medium',
                        'fa-exclamation-circle': char.power.code == 'high',
                        'fa-times-circle': char.power.code == 'strict',
                        }"></span></td>
                            <td>[[ char.type.name ]]</td>
                            <td><b ng-class="{'bottom_dotted': char.note}" tooltip="[[ char.note ]]">[[ char.name ]]</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ЛПУ родоразрешения (<a href="#" ng-click="attach_lpu_edit()">[[(chart.client.attach_lpu.extra_lpu || chart.client.attach_lpu.plan_lpu) ? 'изменить' : 'указать']]</a>).</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Экстренное</td>
                            <td><span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]"
                                    >[[chart.client.attach_lpu.extra_lpu.org.short_name]]</span></td>
                        </tr>
                        <tr>
                            <td>Плановое</td>
                            <td><span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]"
                                    >[[chart.client.attach_lpu.plan_lpu.org.short_name]]</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Прогресс</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="col-md-6">Лабораторные исследования:</td>
                            <td class="col-md-6">
                                <progressbar class="progress" value="chart.progress.lab.percent">
                                    [[ chart.progress.lab.complete ]]/[[ chart.progress.lab.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td>Функциональные исследования:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.func.percent">
                                    [[ chart.progress.func.complete ]]/[[ chart.progress.func.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td>Осмотры специалистами:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.checkups.percent">
                                    [[ chart.progress.checkups.complete ]]/[[ chart.progress.checkups.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/attach_lpu.html">{% include 'risar/modals/_modal_attach_lpu.html' %}</script>
{% endblock %}