{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ChartCtrl" ng-cloak>
        <div alert-notify></div>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li>Карта пациентки</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2>
                    Карта пациентки
                    <a ng-href="{{ url_for('patients.patient') }}?client_id=[[ chart.client.id ]]">[[ chart.client.full_name ]]</a>
                    ([[ chart.external_id ]])
                </h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 achievements">
                <span class="pull-right">
                    <span ng-if="pregnancy_week" class="label label-default" tooltip="Срок беременности">[[ pregnancy_week ]]</span><i class="fa fa-question" ng-if="!pregnancy_week" tooltip="Срок беременности"></i>
                    <i class="fa" ng-class="{'fa-question':chart.risk_rate.value==0,
                                             'fa-circle text-danger':chart.risk_rate.value==3,
                                             'fa-circle text-warning':chart.risk_rate.value==2,
                                             'fa-circle text-success':chart.risk_rate.value==1}"
                                  tooltip="[[chart.risk_rate.note]]"></i>
                    <i class="fa fa-exclamation-triangle text-danger"></i>
                    <i class="fa fa-exclamation-triangle text-success"></i>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="label label-default" tooltip="Процент заполненности карты">60</span>
                </span>
                <span class="pull-left">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="Layer_1" x="0px" y="0px" width="100px" height="70px" viewBox="-34.621 15 100 70" enable-background="new -34.621 15 100 70" xml:space="preserve">
                    <path fill="skyblue" d="M50.531,46.758c0.229-1.679-0.312-3.451-1.606-4.745c-1.318-1.306-3.076-1.833-4.755-1.63  c-0.23,1.692,0.312,3.464,1.604,4.756C47.093,46.435,48.851,46.973,50.531,46.758"/>
                    <path fill="skyblue" d="M49.982,46.758c-0.202-1.679,0.336-3.451,1.631-4.745c1.292-1.306,3.052-1.833,4.757-1.63  c0.204,1.692-0.337,3.464-1.63,4.756C53.447,46.435,51.688,46.973,49.982,46.758"/>
                    <path fill="skyblue" d="M50.256,63.216c-8.98-0.3,0-15.627,0-15.627S59.237,63.503,50.256,63.216 M61.787,67.352  c0-12.929-11.53-21.628-11.53-21.628s-11.635,9.394-11.635,21.628c0,6.137,5.496,11.117,11.635,11.117S61.787,73.488,61.787,67.352"/>
                    <path fill="silver" stroke="gray" d="M51.446,47.218l-0.282-0.462c0,0-8.154-0.461-11.171-0.69c-1.384-0.106-2.811-0.37-3.946-0.621  c-0.703-1.283-2.248-2.179-4.053-2.179c-1.057,0-2.014,0.318-2.779,0.828c-1.973,1.055-5.692,1.052-8.338,1.062  c-3.758,0.028-7.458-0.412-10.785-0.742c-5.744-0.585-8.17-3.033-4.818-6.607c19.652-20.932-32.086-22.769-37.173-16.965  c-3.113,3.688,36.113,4.81,23.64,19.229c-4.841,0.981-9.434,2.758-11.424,4.801c-1.67-0.784-3.696-1.381-5.566-0.965  c-1.874,2.118-1.542,4.995,0,6.145c1.765,0.377,3.69-0.116,5.319-0.799c2.117,3.083,8.237,5.649,14.896,5.649  c6.447,0,10.416-2.43,13.851-4.255c3.448-1.827,16.699-3.394,19.803-1.234c0.024,0.018,0.048,0.028,0.071,0.042  c0.817,0.752,1.988,1.234,3.302,1.234c1.657,0,3.086-0.761,3.856-1.876c1.385-0.259,3.186-0.579,4.052-0.655  C41.439,48.022,51.446,47.218,51.446,47.218z"/>
                    </svg>
                    <span style="padding-left:70px;" ng-if="chart.epicrisis.ch_b_date" tooltip="Фактическая дата родов">[[chart.epicrisis.ch_b_date | asDate]]</span>
                    <span style="padding-left:70px;" ng-if="!chart.epicrisis.ch_b_date" tooltip="Предполагаемая дата родов">[[birth_date]]</span>
                    <i class="fa fa-question" class="" tooltip="Предполагаемая дата родов" ng-if="!chart.epicrisis.ch_b_date && !birth_date"></i>
                </span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ chart.person.organisation.short_name ]]</b>
                    у <b>[[ chart.person.name ]]</b>
                    с <b>[[ chart.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Личные данные</div>
                    <table class="table table-condensed table-personal-data">
                        <tbody>
                        <tr>
                            <td>Дата рождения:</td>
                            <td>[[ chart.client.birth_date | asDate ]] ([[ chart.client.age ]])</td>
                        </tr>
                        <tr ng-if="chart.client.snils">
                            <td>СНИЛС:</td>
                            <td>[[ chart.client.snils ]]</td>
                        </tr>
                        <tr ng-if="chart.client.cmi_policy">
                            <td>Полис ОМС:</td>
                            <td>Номер [[ chart.client.cmi_policy.serial ]] [[ chart.client.cmi_policy.number ]], выдан [[ chart.client.cmi_policy.insurer.short_name ]] [[ chart.client.cmi_policy.beg_date | asDate ]]</td>
                        </tr>
                        <tr ng-if="chart.anamnesis.father.phone || chart.client.phone">
                            <td>Контактные данные:</td>
                            <td>пациентки: [[chart.client.phone.contact_text]], отца ребёнка: <span tooltip="[[chart.anamnesis.father.name]]" class="bottom_dotted">[[ chart.anamnesis.father.phone ]]</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Анамнез (<a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">подробнее</a>)</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Способ оплодотворения: [[chart.anamnesis.mother.fertilization_type]]
                                </td>
                                <td>
                                    Многоплодные беременности: [[chart.anamnesis.mother.multifetation ? 'да' : 'нет']]
                                </td>
                                <td>
                                    Предыдущие беременности: <a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]#pregnancies">[[chart.anamnesis.pregnancies.length]]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Переливания крови: [[chart.anamnesis.transfusions.length ? 'были' : 'нет']]
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Мать</th>
                                <th>Отец</th>
                            </tr>
                            <tr>
                                <td>Группа крови</td>
                                <td>[[chart.anamnesis.mother.blood_type.name ? chart.anamnesis.mother.blood_type.name: 'Нет']]</td>
                                <td>[[chart.anamnesis.father.blood_type.name ? chart.anamnesis.father.blood_type.name: 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>ВИЧ</td>
                                <td>[[chart.anamnesis.mother.HIV ? 'Да' : 'Нет']]</td>
                                <td>[[chart.anamnesis.father.HIV ? 'Да' : 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>Бесплодие</td>
                                <td>[[chart.anamnesis.mother.infertility ? 'Да' : 'Нет']]</td>
                                <td>[[chart.anamnesis.father.infertility ? 'Да' : 'Нет']]</td>
                            </tr>
                            <tr>
                                <td>Заболевания</td>
                                <td>Перенесенные: <span ng-repeat="diag in chart.anamnesis.mother.finished_diseases" tooltip="[[ diag.name ]]"> [[diag.code]][[$last ? '' : ', ']]</span>[[chart.anamnesis.mother.finished_diseases ? '' : 'нет']], Текущие: <span ng-repeat="diag in chart.anamnesis.mother.current_diseases" tooltip="[[ diag.name ]]"> [[diag.code]][[$last ? '' : ', ']]</span>[[chart.anamnesis.mother.current_diseases ? '' : 'нет']]</td>
                                <td>Перенесенные: <span ng-repeat="diag in chart.anamnesis.father.finished_diseases" tooltip="[[ diag.name ]]"> [[diag.code]][[$last ? '' : ', ']]</span>[[chart.anamnesis.father.finished_diseases ? '' : 'нет']], Текущие: <span ng-repeat="diag in chart.anamnesis.father.current_diseases" tooltip="[[ diag.name ]]"> [[diag.code]][[$last ? '' : ', ']]</span>[[chart.anamnesis.father.current_diseases ? '' : 'нет']]</td>
                            </tr>
                            <tr>
                                <td>Вредные привычки</td>
                                <td>[[(!chart.anamnesis.mother.alcohol && !chart.anamnesis.mother.smoking && !chart.anamnesis.mother.toxic && !chart.anamnesis.mother.drugs) ? 'Нет': '' ]]
                                    <span ng-repeat="h in chart.bad_habits_mother | filter:{value: true} ">[[h.text]][[$last ? '' : ', ']]</span>
                                </td>
                                <td>[[(!chart.anamnesis.father.alcohol && !chart.anamnesis.father.smoking && !chart.anamnesis.father.toxic && !chart.anamnesis.father.drugs) ? 'Нет': '' ]]
                                    <span ng-repeat="h in chart.bad_habits_father | filter:{value: true} ">[[h.text]][[$last ? '' : ', ']]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Осмотры акушером-гинекологом (<a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">подробнее</a>)
                    <a class="pull-right" ng-href="{{ url_for('.html_inspection_edit') }}?event_id=[[ chart.id ]]" title=""><span class="glyphicon glyphicon-plus"></span> Добавить осмотр</a></div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Диагноз</th>
                            <th>Врач</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="checkup in chart.checkups">
                            <td>[[ $index + 1 ]]</td>
                            <td><a ng-href="{{ url_for('.html_inspection_edit') }}?event_id=[[ chart.id ]]&checkup_id=[[ checkup.id ]]">[[ checkup.beg_date | asDate ]]</a></td>
                            <td><span class="bottom_dotted" tooltip="[[ checkup.diag.name ]]">[[ checkup.diag.code ]]</span></td>
                            <td>[[ checkup.person.name ]]</td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Эпикриз (<a ng-href="{{ url_for('.html_epicrisis') }}?event_id=[[ chart.id ]]">подробнее</a>)
                    <a class="pull-right" ng-href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]"
                       title="">[[chart.epicrisis ? 'Изменить': 'Заполнить эпикриз']]</a></div>
                    <div class="panel-body">
                        <span ng-if="!chart.epicrisis">Отсутствует</span>
                        <span ng-if="chart.epicrisis" ng-bind-html="chart.epicrisis.info">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Особенности</div>
                    <table class="table table.condensed">
                        <tbody>
                        <tr ng-repeat="char in chart.anamnesis.intolerances" ng-class="{
                        'success text-success': char.power.code == 'low',
                        'warning text-warning': ['medium', 'unknown'].has(char.power.code),
                        'danger text-danger': ['high', 'strict'].has(char.power.code),
                        }">
                            <td class="text-center "><span class="fa" ng-class="{
                        'fa-question': char.power.code == 'unknown',
                        'fa-exclamation': char.power.code == 'low',
                        'fa-exclamation-triangle': char.power.code == 'medium',
                        'fa-exclamation-circle': char.power.code == 'high',
                        'fa-times-circle': char.power.code == 'strict',
                        }"></span></td>
                            <td>[[ char.type.name ]]</td>
                            <td><b ng-class="{'bottom_dotted': char.note}" tooltip="[[ char.note ]]">[[ char.name ]]</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">ЛПУ родоразрешения <a class="print_link pull-right" href="#" ng-click="attach_lpu_edit()"><span class="glyphicon glyphicon-pencil"></span> [[(chart.client.attach_lpu.extra_lpu || chart.client.attach_lpu.plan_lpu) ? 'Изменить' : 'Указать']]</a></div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>Экстренное</td>
                            <td><span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]"
                                    >[[chart.client.attach_lpu.extra_lpu.org.short_name]]</span></td>
                        </tr>
                        <tr>
                            <td>Плановое</td>
                            <td><span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]"
                                    >[[chart.client.attach_lpu.plan_lpu.org.short_name]]</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Диагностические мероприятия (<a ng-href="#">подробнее</a>)</div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="col-md-6">Лабораторные исследования:</td>
                            <td class="col-md-6">
                                <progressbar class="progress" value="chart.progress.lab.percent">
                                    [[ chart.progress.lab.complete ]]/[[ chart.progress.lab.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td>Функциональные исследования:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.func.percent">
                                    [[ chart.progress.func.complete ]]/[[ chart.progress.func.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td>Осмотры специалистами:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.checkups.percent">
                                    [[ chart.progress.checkups.complete ]]/[[ chart.progress.checkups.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/attach_lpu.html">{% include 'risar/modals/_modal_attach_lpu.html' %}</script>
{% endblock %}