{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="EpicrisisCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li>Эпикриз</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-lg-10 col-md-10">
                <h2>
                    Эпикриз -
                    <a ng-href="{{ url_for('patients.patient') }}?client_id=[[ chart.client.id ]]">[[ chart.client.full_name ]]</a>
                    ([[ chart.external_id ]])
                </h2>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ chart.person.organisation.short_name ]]</b>
                    у <b>[[ chart.person.name ]]</b>
                    с <b>[[ chart.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <tabset>
            <tab heading="Информация о родоразрешении">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Роды при сроке 36 недель (12.05.2014 17:00), закончившиеся смертью матери.
                        Место родоразрешения: Пензенский городской родильный дома №1. Были осуществлены манипуляции и проведены
                        операции.
                        Дети (2): Мальчик живой, девочка мертвая.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Диагнозы
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">Основной диагноз:</div>
                                    <div class="col-md-8">[[chart.epicrisis.main_diagnosis.code]] - [[chart.epicrisis.main_diagnosis.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Сопутствующий диагноз:</div>
                                    <div class="col-md-8">[[chart.epicrisis.attend_diagnosis.code]] - [[chart.epicrisis.attend_diagnosis.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Диагноз осложнения:</div>
                                    <div class="col-md-8">[[chart.epicrisis.complicating_diagnosis.code]] - [[chart.epicrisis.complicating_diagnosis.name]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Данные случая
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5">Беременность (по счёту):</div>
                                    <div class="col-md-7">[[chart.epicrisis.pregnancy_times]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Роды (по счёту):</div>
                                    <div class="col-md-7">[[chart.epicrisis.childbirth_times]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Число посещений акушера-гинеколога:</div>
                                    <div class="col-md-7">[[chart.epicrisis.visits]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Прибавка массы:</div>
                                    <div class="col-md-7">[[chart.epicrisis.body_weight_gain]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Особенности течения беременности:</div>
                                    <div class="col-md-7">[[chart.epicrisis.pregnancy_speciality]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Смерть
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">Дата смерти:</div>
                                    <div class="col-md-8">[[chart.epicrisis.death_date]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Причины смерти:</div>
                                    <div class="col-md-8">[[chart.epicrisis.]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Осложнения
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5">Излитие околоплодных вод:</div>
                                    <div class="col-md-7">[[chart.epicrisis.delivery_waters]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Слабость родовых сил:</div>
                                    <div class="col-md-7">[[chart.epicrisis.weakness]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Разрыв промежностей (степень):</div>
                                    <div class="col-md-7">[[chart.epicrisis.perineal_tear]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Нефропатия/эклампсия в родах:</div>
                                    <div class="col-md-7">[[chart.epicrisis.eclampsia]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Патология пуповины:</div>
                                    <div class="col-md-7">[[chart.epicrisis.funiculus]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Патология плаценты:</div>
                                    <div class="col-md-7">[[chart.epicrisis.afterbirth]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Другие осложнения при родах:</div>
                                    <div class="col-md-7">[[chart.epicrisis.other_complications]]</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Пособия и манипуляции
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">Вскрытие околоплодного пузыря:</div>
                                    <div class="col-md-6">[[chart.epicrisis.caul]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Ручное обследование матки:</div>
                                    <div class="col-md-6">[[chart.epicrisis.calfbed]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Эпизио/перинеотомия:</div>
                                    <div class="col-md-6">[[chart.epicrisis.perineotomy]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Ручное выделение последа:</div>
                                    <div class="col-md-6">[[chart.epicrisis.secundines]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Другие пособия и манипуляции:</div>
                                    <div class="col-md-6">[[chart.epicrisis.other_manipulations]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> Операции
                                <a class="print_link pull-right" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5">Кесарево сечение:</div>
                                    <div class="col-md-7">[[chart.epicrisis.caesarean_section]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Акушерские щипцы:</div>
                                    <div class="col-md-7">[[chart.epicrisis.obstetrical_forceps]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Вакуум-экстракция:</div>
                                    <div class="col-md-7">[[chart.epicrisis.vacuum_extraction]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Показания:</div>
                                    <div class="col-md-7">[[chart.epicrisisindication.]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Особенности:</div>
                                    <div class="col-md-7">[[chart.epicrisis.specialities]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Обезболивание:</div>
                                    <div class="col-md-7">[[chart.epicrisis.anesthetization]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Гистерэктомия:</div>
                                    <div class="col-md-7">[[chart.epicrisis.hysterectomy]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Осложнения:</div>
                                    <div class="col-md-7">[[chart.epicrisis.operation_complication]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">Плодоразрушающие операции:</div>
                                    <div class="col-md-7">[[chart.epicrisis.embryotomy]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Информация о детях">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Живой</th>
                            <th>Дата и время рождения</th>
                            <th>Пол</th>
                            <th>Масса</th>
                            <th>Длина</th>
                            <th>Степень доношенности</th>
                            <th>Оценка по Апгар на минуту</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/epicrisis.js', v=version) }}"></script>
{% endblock %}