{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="IndexCtrl">
        <div>Пациентки на сегодня: [[ tickets.length ]]</div>
        <table class="table table-condensed">
        <thead>
        <tr>
            <th>Время</th>
            <th>Риск</th>
            <th>ФИО</th>
            <th>Неделя</th>
            <th>Примечание</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in tickets">
            <td ng-bind="row.beg_time | asTime"></td>
            <td><span class="fa fa-question text-warning"></span></td>
            <td ng-bind="row.client.full_name"></td>
            <td>31</td>
            <td ng-bind="row.note"></td>
        </tr>
        </tbody>
        </table>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}