{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="IndexCtrl">
        <ul class="breadcrumb">
            <li>Рабочий стол</li>
        </ul>
        <div class="row">
            <div class="col-lg-12">
                <legend>Пациенток на <span style="display: inline-block; margin-bottom: -5px; margin-right:10px"><wm-date ng-model="date" style="width: 250px"></wm-date></span>: [[ tickets.length ]]</legend>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>Риск</th>
                        <th>ФИО</th>
                        <th>Срок беременности</th>
                        <th>Примечание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in tickets">
                        <td ng-bind="row.beg_time | asTime"></td>
                        <td><span class="fa" ng-class="{'fa-question':row.risk_rate.value==0,
                                                        'fa-circle text-danger':row.risk_rate.value==3,
                                                        'fa-circle text-warning':row.risk_rate.value==2,
                                                        'fa-circle text-success':row.risk_rate.value==1}"
                                             tooltip="[[row.risk_rate.note]]"></span></td>
                        <td><a ng-href="{{ url_for('.html_chart') }}?ticket_id=[[ row.client_ticket_id ]]">[[ row.client.full_name ]]</a></td>
                        <td><b>[[ row.pregnancy_week ]]</b><i class="fa fa-question" ng-if="!row.pregnancy_week"></i></td>
                        <td ng-bind="(row.checkup_n)?('Повторный осмотр: ' + row.checkup_n):('Первичный осмотр')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}