{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="CheckupCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li><a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">Осмотры акушера-гинеколога беременной</a></li>
            <li>Ввод данных повторного осмотра</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-lg-10 col-md-10">
                <h2>
                    Ввод данных повторного осмотра
                    <a ng-href="{{ url_for('patients.patient') }}?client_id=[[ chart.client.id ]]">[[ chart.client.full_name ]]</a>
                    ([[ chart.external_id ]])
                </h2>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ chart.person.organisation.short_name ]]</b>
                    у <b>[[ chart.person.name ]]</b>
                    с <b>[[ chart.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <div ng-controller="CheckupSecondEditCtrl">
            <div rc-wizard="sampleWizard" id="sampleWizard">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav nav-pills" style="margin: 7.5px -15px">
                            <li class="active">
                                <a class="active" href="#first" data-toggle="tab">
                                    <span class="badge">1</span>
                                    <span>Общая информация</span>
                                </a>
                            </li>
                            <li>
                                <a href="#second" data-toggle="tab">
                                    <span class="badge">2</span>
                                    <span>Соматический статус</span>
                                </a>
                            </li>
                            <li>
                                <a href="#third" data-toggle="tab">
                                    <span class="badge">3</span>
                                    <span>Акушерский статус</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fourth" data-toggle="tab">
                                    <span class="badge">4</span>
                                    <span>Комментарии к анализам</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fifth" data-toggle="tab">
                                    <span class="badge">5</span>
                                    <span>Заключение</span>
                                </a>
                            </li>
                            <li>
                                <a href="#last" data-toggle="tab">
                                    <span class="badge">6</span>
                                    <span>Диагностические мероприятия</span>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </nav>
                <div id="bar" class="progress progress-striped active">
                  <div class="bar progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="tab-content  marginal">
                    <div class="tab-pane active" id="first">
                        <h3>Шаг 1. Общая информация</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-8"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><span class="text-danger">*</span> Дата осмотра</th>
                                    <td><wm-date ng-model="checkup.beg_date" style="width: 250px"></wm-date></td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> Время осмотра</th>
                                    <td>
                                        <wm-time ng-model="checkup.beg_date" style="width: 250px"></wm-time>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Срок беременности</th>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> Общее состояние</th>
                                    <td><div ng-class="{'has-error': CheckupFirstEditForm.state.$invalid}">
                                        <rb-select name="state" ng-model="checkup.state" ref-book="rbRisarState" ng-required="true"></rb-select>
                                    </div></td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> Масса при осмотре, кг</th>
                                    <td><div class="row"
                                             ng-class="{'has-error': CheckupFirstEditForm.weight.$invalid}">
                                        <div class="col-md-4">
                                            <input name="weight" ng-model="checkup.weight" class="form-control" ng-required="true">
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> АД правая рука</th>
                                    <td><div ng-class="{'has-error': CheckupFirstEditForm.ad_right.$invalid}">
                                        <input name="ad_right" ng-model="checkup.ad_right" class="form-control" ng-required="true">
                                    </div></td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> АД левая рука</th>
                                    <td><div ng-class="{'has-error': CheckupFirstEditForm.ad_left.$invalid}">
                                        <input name="ad_left" ng-model="checkup.ad_left" class="form-control" ng-required="true">
                                    </div></td>
                                </tr>
                                <tr>
                                    <th>Педикулёз</th>
                                    <td><input ng-model="checkup.pediculosis" class="checkbox" type="checkbox"></td>
                                </tr>
                                <tr>
                                    <th>Чесотка</th>
                                    <td><input ng-model="checkup.scabies" class="checkbox" type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="second">
                        <h3>Шаг 2. Соматический статус</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-8"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><span class="text-danger">*</span> Жалобы</th>
                                    <td><div ng-class="{'text-danger': CheckupFirstEditForm.complaints.$invalid}">
                                        <div name="complaints" refbook-checkbox ref-book="rbRisarComplaints" ng-model="checkup.complaints" ng-required="true">
                                            [[ item.name ]]
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Молочные железы</th>
                                    <td><div ng-class="{'text-danger': CheckupFirstEditForm.breast.$invalid}">
                                        <div name="breast" refbook-checkbox ng-model="checkup.breast" ref-book="rbRisarBreast" ng-required="true">
                                            [[ item.name ]]
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Состояние сосков</th>
                                    <td><div ng-class="{'text-danger': CheckupFirstEditForm.nipples.$invalid}">
                                        <div name="nipples" refbook-checkbox ng-model="checkup.nipples" ref-book="rbRisarNipples" ng-required="true">
                                            [[ item.name ]]
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="third">
                        <h3>Шаг 3. Акушерский статус</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-8"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Наружное исследование</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>Окружность живота</th>
                                    <td><div class="row"><div class="col-md-4"><input ng-model="checkup.abdominal" class="form-control"></div></div></td>
                                </tr>
                                <tr>
                                    <th>Высота стояния дна матки</th>
                                    <td><div class="row"><div class="col-md-4"><input ng-model="checkup.fundal_height" class="form-control"></div></div></td>
                                </tr>
                                <tr>
                                    <th>Состояние матки</th>
                                    <td><div ng-class="{'has-error': CheckupFirstEditForm.metra_state.$invalid}">
                                        <rb-select name="metra_state" ng-model="checkup.metra_state" ref-book="rbRisarMetra_State" ng-required="true"></rb-select>
                                    </div></td>
                                </tr>
                                <tr>
                                    <th>Плод</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Положение</td>
                                    <td><rb-select ng-model="checkup.fetus_position" ref-book="rbRisarFetus_Position"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Предлежащая часть</td>
                                    <td><rb-select ng-model="checkup.presenting_part" ref-book="rbRisarPresenting_Part"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Сердцебиение</td>
                                    <td><rb-select ng-model="checkup.presenting_part" ref-book="rbRisarFetus_Heartbeat"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>ЧСС, уд/мин</td>
                                    <td><rb-select ng-model="checkup.presenting_part" ref-book="rbRisarFetus_Heart_Rate"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Шевеление</td>
                                    <td><wysiwyg ng-model="fetus_movement" /></td>
                                </tr>
                                <tr>
                                    <th>Внутреннее исследование</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>Шейка матки</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Длина шейки</td>
                                    <td><rb-select ng-model="checkup.cervix_length" ref-book="rbRisarCervix_Length"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Позиция шейки</td>
                                    <td><rb-select ng-model="checkup.cervix_position" ref-book="rbRisarCervix_Position"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Зрелость шейки</td>
                                    <td><rb-select ng-model="checkup.cervix_maturity" ref-book="rbRisarCervix_Maturity"></rb-select></td>
                                </tr>
                                <tr>
                                    <td>Консистенция шейки</td>
                                    <td><rb-select ng-model="checkup.cervix_consistency" ref-book="rbRisarCervix_Consistency"></rb-select></td>
                                </tr>
                                <tr>
                                    <th>Цервикальный канал</th>
                                    <td><rb-select ng-model="checkup.cervical_canal" ref-book="rbRisarCervical_Canal"></rb-select></td>
                                </tr>
                                <tr>
                                    <th>Выделение</th>
                                    <td><rb-select ng-model="checkup.secretion" ref-book="rbRisarSecretion"></rb-select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="fourth">
                        <h3>Шаг 4. Комментарии к анализам</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-8"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Мочи</th>
                                    <td><wysiwyg ng-model="checkup.urine" /></td>
                                </tr>
                                <tr>
                                    <th>Крови</th>
                                    <td><wysiwyg ng-model="checkup.blood" /></td>
                                </tr>
                                <tr>
                                    <th>УЗИ</th>
                                    <td><wysiwyg ng-model="checkup.us" /></td>
                                </tr>
                                <tr>
                                    <th>Другое</th>
                                    <td><wysiwyg ng-model="checkup.other_analysis" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="fifth">
                        <h3>Шаг 5. Заключение</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4"></th>
                                <th class="col-md-8"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Диагнозы</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><span class="text-danger">*</span> Основной</td>
                                    <td><ui-mkb ng-model="checkup.diag" name="mkb" ng-required="true"></ui-mkb></td>
                                </tr>
                                <tr>
                                    <td>Расшифровка основного</td>
                                    <td><wysiwyg ng-model="checkup.diagwr" /></td>
                                </tr>
                                <tr>
                                    <td>Сопутствующие</td>
                                    <td>
                                        <div ng-model="checkup.diag2" refbook-multiselect ref-book="MKB">
                                            <strong>[[ item.code ]]</strong> - [[ item.name ]]
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Расшифровка сопутствующего</td>
                                    <td><wysiwyg ng-model="checkup.diagwr2" /></td>
                                </tr>
                                <tr>
                                    <td>Осложнения</td>
                                    <td>
                                        <div ng-model="checkup.diag3" refbook-multiselect ref-book="MKB">
                                            <strong>[[ item.code ]]</strong> - [[ item.name ]]
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Расшифровка осложнения</td>
                                    <td><wysiwyg ng-model="checkup.diagwr3" /></td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> Возможность сохранения беременности</th>
                                    <td><input ng-model="checkup.pregnancy_continuation" class="checkbox" type="checkbox"></td>
                                </tr>
                                <tr>
                                    <th>Витаминизация</th>
                                    <td><wysiwyg ng-model="checkup.fortification" /></td>
                                </tr>
                                <tr>
                                    <th>Коррекция питания</th>
                                    <td><wysiwyg ng-model="checkup.nutrition" /></td>
                                </tr>
                                <tr>
                                    <th>Лечение</th>
                                    <td><wysiwyg ng-model="checkup.treatment" /></td>
                                </tr>
                                <tr>
                                    <th><span class="text-danger">*</span> Плановая дата следующей явки</th>
                                    <td><div ng-class="{'has-error': CheckupFirstEditForm.next_date.$invalid}">
                                        <wm-date name="next_date" ng-model="checkup.next_date" style="width: 250px" ng-required="true"></wm-date>
                                    </div></td>
                                </tr>
                                <tr>
                                    <th>Примечания</th>
                                    <td><wysiwyg ng-model="checkup.notes" /></td>
                                </tr>
                                <tr>
                                    <th>Рекомендации</th>
                                    <td><wysiwyg ng-model="checkup.recommendations" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="last">
                        <h2>Шаг 6. Диагностические мероприятия</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Назваие меропрития</th>
                                    <th>Срок выполнения</th>
                                    <th>Дейтсивия с мероприятием</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><th colspan="3" style="text-align: center;">Лабораторные исследования</th></tr>
                                <tr>
                                    <td>Общий анализ крови</td>
                                    <td>12.09.2014 - 12.10.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr>
                                    <td><span class="text-danger" tooltip="Исследование просрочено">Общий анализ мочи</span></td>
                                    <td>12.09.2014 - 12.10.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr>
                                    <td>Определение антител M,G к гепатиту B</td>
                                    <td>12.09.2014 - 12.11.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr><th colspan="3" style="text-align: center;">Функциональные исследования</th></tr>
                                <tr>
                                    <td>УЗИ плода I триместр</td>
                                    <td>12.09.2014 - 12.12.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr><th colspan="3" style="text-align: center;">Консультации специалистов</th></tr>
                                <tr>
                                    <td>Консультация стоматолога</td>
                                    <td>12.09.2014 - 12.02.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr>
                                    <td>Консультация офтальмолога</td>
                                    <td>12.09.2014 - 12.02.2014</td>
                                    <td><a class="print_link" href="#"><span class="glyphicon glyphicon-print"></span> Печать</a>
                                        <a class="print_link" href="#"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></td>
                                </tr>
                                <tr><th colspan="3" style="text-align: center;">Дополнительные мероприятия</th></tr>
                                <tr>
                                    <td><a href="#">Назначить дополнительные мероприятия</a></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Печать<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Печать документ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-left">
                    <a class="pseudo-btn" ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">Перейти на форму осмотров пациентки</a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default"
                           ng-click="rc.sampleWizard.backward()"
                           ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Предыдущий</a>
                        <a class="btn btn-primary"
                           ng-click="rc.sampleWizard.forward()"
                           ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">
                            Следующий
                        </a>
                        <a class="btn btn-success"
                           ng-click="save()"
                           ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.lastIndex">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/checkup.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}