{% extends 'risar/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="CheckupCtrl" ng-cloak>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li><a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">Осмотры акушера-гинеколога беременной</a></li>
            <li>Ввод данных первичного осмотра</li>
        </ul>
        <div class="row small-marginal">
            <div class="col-lg-10 col-md-10">
                <h2>
                    Ввод данных первичного осмотра
                    <a ng-href="{{ url_for('patients.patient') }}?client_id=[[ chart.client.id ]]">[[ chart.client.full_name ]]</a>
                    ([[ chart.external_id ]])
                </h2>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ chart.person.organisation.short_name ]]</b>
                    у <b>[[ chart.person.name ]]</b>
                    с <b>[[ chart.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <div ng-controller="CheckupFirstEditCtrl">
            <ng-form id="CheckupFirstEditForm" name="CheckupFirstEditForm">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-8"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Дата осмотра</th>
                        <td><wm-date ng-model="checkup.beg_date" style="width: 250px"></wm-date></td>
                    </tr>
                    <tr>
                        <th>Время осмотра</th>
                        <td>
                            <wm-time ng-model="checkup.beg_date" style="width: 250px"></wm-time>
                        </td>
                    </tr>
                    <tr>
                        <th>Общая информация</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Рост</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.height.$invalid}">
                            <div class="col-md-4">
                                <input id="height" name="height" ng-model="checkup.height" class="form-control" ng-required="true">
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Масса до беременности, кг</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.weight_before.$invalid}">
                            <div class="col-md-4">
                                <input name="weight_before" ng-model="checkup.weight_before" class="form-control" ng-required="true">
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Масса при осмотре, кг</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.weight.$invalid}">
                            <div class="col-md-4">
                                <input name="weight" ng-model="checkup.weight" class="form-control" ng-required="true">
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Массо-ростовой коэффициент (МРК)</td>
                        <td><div class="row">
                            <div class="col-md-4">
                                <input disabled ng-model="checkup.hw_ratio" class="form-control">
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Индекс массы тела</td>
                        <td><div class="row"><div class="col-md-4"><input disabled ng-model="checkup.BMI"
                                                                          class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Общее состояние</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.state.$invalid}">
                            <rb-select name="state" ng-model="checkup.state" ref-book="rbRisarState" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Подкожно-жировая клетчатка</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.subcutaneous_fat.$invalid}">
                            <rb-select name="subcutaneous_fat" ng-model="checkup.subcutaneous_fat" ref-book="rbRisarSubcutaneous_Fat" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Состояние вен</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.vein.$invalid}">
                            <rb-select name="vein" ng-model="checkup.vein" ref-book="rbRisarVein" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Язык</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.tongue.$invalid}">
                            <rb-select name="tongue" ng-model="checkup.tongue" ref-book="rbRisarTongue" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> АД правая рука</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.ad_right.$invalid}">
                            <input name="ad_right" ng-model="checkup.ad_right" class="form-control" ng-required="true">
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> АД левая рука</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.ad_left.$invalid}">
                            <input name="ad_left" ng-model="checkup.ad_left" class="form-control" ng-required="true">
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> ССС: пульс</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.heart_rate.$invalid}"><div class="col-md-4">
                            <input name="heart_rate" ng-model="checkup.heart_rate" class="form-control" type="number" valid-number ng-required="true" /></div></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Соматический статус</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Жалобы</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.complaints.$invalid}">
                            <div name="complaints" refbook-checkbox ref-book="rbRisarComplaints" ng-model="checkup.complaints" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Кожа</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.skin.$invalid}">
                            <div name="skin" refbook-checkbox ref-book="rbRisarSkin" ng-model="checkup.skin" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Лимфоузлы</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.lymph.$invalid}">
                            <div name="lymph" refbook-checkbox ng-model="checkup.lymph" ref-book="rbRisarLymph" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Тоны сердца</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.heart_tones.$invalid}">
                            <div name="heart_tones" refbook-checkbox ng-model="checkup.heart_tones" ref-book="rbRisarHeart_Tones" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Пульс</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.pulse.$invalid}">
                            <div name="pulse" refbook-checkbox ng-model="checkup.pulse" ref-book="rbRisarPulse" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Молочные железы</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.breast.$invalid}">
                            <div name="breast" refbook-checkbox ng-model="checkup.breast" ref-book="rbRisarBreast" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Состояние сосков</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.nipples.$invalid}">
                            <div name="nipples" refbook-checkbox ng-model="checkup.nipples" ref-book="rbRisarNipples" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Полость рта</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.mouth.$invalid}">
                            <div name="mouth" refbook-checkbox ng-model="checkup.mouth" ref-book="rbRisarMouth" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Органы дыхания</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.breathe.$invalid}">
                            <div name="breathe" refbook-checkbox ng-model="checkup.breathe" ref-book="rbRisarBreathe" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Органы брюшной полости</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.stomach.$invalid}">
                            <div name="stomach" refbook-checkbox ng-model="checkup.stomach" ref-book="rbRisarStomach" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Печень</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.liver.$invalid}">
                            <div name="liver" refbook-checkbox ng-model="checkup.liver" ref-book="rbRisarLiver" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Мочевыводящая система</td>
                        <td><div ng-class="{'text-danger': CheckupFirstEditForm.urinoexcretory.$invalid}">
                            <div name="urinoexcretory" refbook-checkbox ng-model="checkup.urinoexcretory" ref-book="rbRisarUrinoexcretory" ng-required="true">
                                [[ item.name ]]
                            </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Акушерский статус</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Ромб Михаэлиса</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Горизонтальная диагональ</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.MikHHor" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <td>Вертикальная диагональ</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.MikhVert" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <th>Размеры таза</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Ds. Sp</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.DsSP.$invalid}"><div class="col-md-4">
                            <input name="DsSP" ng-model="checkup.DsSP" class="form-control" ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Ds. Cr</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.DsCr.$invalid}"><div class="col-md-4">
                            <input name="DsCr" ng-model="checkup.DsCr" class="form-control" ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Ds. Tr</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.DsTr.$invalid}"><div class="col-md-4">
                            <input name="DsTr" ng-model="checkup.DsTr" class="form-control" ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> C. Ext</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.CExt.$invalid}"><div class="col-md-4">
                            <input name="CExt" ng-model="checkup.CExt" class="form-control" ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <td>C. Diag</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.CDiag" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <td>C. Vera</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.CVera" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Индекс Соловьёва</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.soloviev_index.$invalid}"><div class="col-md-4">
                            <input name="soloviev_index" ng-model="checkup.soloviev_index" class="form-control" ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <th>Форма таза</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Степень сужения таза</td>
                        <td><rb-select ng-model="checkup.pelvis_narrowness" ref-book="rbRisarPelvis_Narrowness"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Форма таза</td>
                        <td><rb-select ng-model="checkup.pelvis_form" ref-book="rbRisarPelvis_Form"></rb-select></td>
                    </tr>
                    <tr>
                        <th>Окружность живота</th>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.abdominal" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <th>Плод</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Положение</td>
                        <td><rb-select ng-model="checkup.fetus_position" ref-book="rbRisarFetus_Position"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Позиция</td>
                        <td><rb-select ng-model="checkup.fetus_position_2" ref-book="rbRisarFetus_Position_2"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Вид плода</td>
                        <td><rb-select ng-model="checkup.fetus_type" ref-book="rbRisarFetus_Type"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Предлежащая часть</td>
                        <td><rb-select ng-model="checkup.presenting_part" ref-book="rbRisarPresenting_Part"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Сердцебиение</td>
                        <td>
                            <div refbook-checkbox ng-model="checkup.fetus_heartbeat" ref-book="rbRisarFetus_Heartbeat">
                                [[ item.name ]]
                            </div>
                    </tr>
                    <tr>
                        <td>ЧСС</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.fetus_heart_rate" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <th>Матка</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Тело матки</td>
                        <td>
                            <div refbook-checkbox ng-model="checkup.body_of_womb" ref-book="rbRisarBody_Of_Womb">
                                [[ item.name ]]
                            </div>
                    </tr>
                    <tr>
                        <td>Высота стояния дна матки</td>
                        <td><div class="row"><div class="col-md-4"><input ng-model="checkup.fundal_height" class="form-control"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Состояние матки</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.metra_state.$invalid}">
                            <rb-select name="metra_state" ng-model="checkup.metra_state" ref-book="rbRisarMetra_State" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td>Длина шейки</td>
                        <td><rb-select ng-model="checkup.cervix_length" ref-book="rbRisarCervix_Length"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Позиция шейки</td>
                        <td><rb-select ng-model="checkup.cervix_position" ref-book="rbRisarCervix_Position"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Зрелость шейки</td>
                        <td><rb-select ng-model="checkup.cervix_maturity" ref-book="rbRisarCervix_Maturity"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Консистенция шейки</td>
                        <td><rb-select ng-model="checkup.cervix_consistency" ref-book="rbRisarCervix_Consistency"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Цервикальный канал</td>
                        <td><rb-select ng-model="checkup.cervical_canal" ref-book="rbRisarCervical_Canal"></rb-select></td>
                    </tr>
                    <tr>
                        <th>Специальный статус</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Влагалище</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.vagina.$invalid}">
                            <rb-select name="vagina" ng-model="checkup.vagina" ref-book="rbRisarVagina" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Шейка матки</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.cervix.$invalid}">
                            <rb-select name="cervix" ng-model="checkup.cervix" ref-book="rbRisarCervix" ng-required="true"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td>Придатки</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.appendages.$invalid}">
                            <rb-select name="appendages" ng-model="checkup.appendages" ref-book="rbRisarAppendages"></rb-select>
                        </div></td>
                    </tr>
                    <tr>
                        <td>Околоматочное пространство</td>
                        <td><rb-select ng-model="checkup.parametrium" ref-book="rbRisarParametrium"></rb-select></td>
                    </tr>
                    <tr>
                        <td>Особенности</td>
                        <td><wysiwyg ng-model="checkup.features" /></td>
                    </tr>
                    <tr>
                        <td>Наружные половые органы</td>
                        <td><wysiwyg ng-model="checkup.externalia" /></td>
                    </tr>
                    <tr>
                        <th>Взято на анализ</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Отделяемое из влагалища</td>
                        <td><input ng-model="checkup.vagina_secretion" class="checkbox" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Отделяемое из цервикального канала</td>
                        <td><input ng-model="checkup.cervical_canal_secretion" class="checkbox" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Мазок на онкоцитологию</td>
                        <td><input ng-model="checkup.onco_smear" class="checkbox" type="checkbox"></td>
                    </tr>
                    <tr>
                        <th>Заключение</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Беременность (недель)</td>
                        <td><div class="row"
                                 ng-class="{'has-error': CheckupFirstEditForm.pregnancy_week.$invalid}"><div class="col-md-4">
                            <input name="pregnancy_week" ng-model="checkup.pregnancy_week" class="form-control" type="number" valid-number ng-required="true"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Возможность сохранения беременности</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.save.$invalid}">
                            <input name="save" ng-model="checkup.save" class="form-control" ng-required="true">
                        </div></td>
                    </tr>
                    <tr>
                        <td>Изменение условий труда</td>
                        <td><rb-select ng-model="checkup.craft" ref-book="rbRisarCraft"></rb-select></td>
                    </tr>
                    <tr>
                        <th>Диагнозы</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Основной</td>
                        <td><ui-mkb ng-model="checkup.diag" name="mkb" ng-required="true"></ui-mkb></td>
                    </tr>
                    <tr>
                        <td>Расшифровка основного</td>
                        <td><wysiwyg ng-model="checkup.diagwr" /></td>
                    </tr>
                    <tr>
                        <td>Сопутствующие</td>
                        <td>
                            <div ng-model="checkup.diag2" placeholder="Выберите диагноз" refbook-multiselect ref-book="MKB">
                                <strong>[[ item.code ]]</strong> - [[ item.name ]]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Расшифровка сопутствующего</td>
                        <td><wysiwyg ng-model="checkup.diagwr2" /></td>
                    </tr>
                    <tr>
                        <td>Осложнения</td>
                        <td>
                            <div ng-model="checkup.diag3" placeholder="Выберите диагноз" refbook-multiselect ref-book="MKB">
                                <strong>[[ item.code ]]</strong> - [[ item.name ]]
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Расшифровка осложнения</td>
                        <td><wysiwyg ng-model="checkup.diagwr3" /></td>
                    </tr>
                    <tr>
                        <td><span class="text-danger">*</span> Плановая дата следующей явки</td>
                        <td><div ng-class="{'has-error': CheckupFirstEditForm.next_date.$invalid}">
                            <wm-date name="next_date" ng-model="checkup.next_date" style="width: 250px" ng-required="true"></wm-date>
                        </div></td>
                    </tr>
                    <tr>
                        <td>Примечания</td>
                        <td><wysiwyg ng-model="checkup.notes" /></td>
                    </tr>
                    <tr>
                        <td>Рекомендации</td>
                        <td><wysiwyg ng-model="checkup.recommendations" /></td>
                    </tr>
                </tbody>
            </table>
            </ng-form>
            <div class="text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">Перейти на форму осмотров пациентки</a>
                <button tooltip="[[CheckupFirstEditForm.$invalid ? 'Заполните все обязательные поля': '']]" class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/checkup.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}