<div class="row marginal">
    <div class="col-md-4">
        <label for="set_date" class="control-label">Дата и время госпитализации</label>
        <wm-datetime-as id="set_date" name="set_date" ng-model="model.event.set_date"
            ng-change="on_set_date_changed()" ng-required="true"></wm-datetime-as>
    </div>
    <div class="col-md-4">
        <label for="request_type">Тип обращения</label>
        <ui-select id="request_type" name="request_type" theme="select2"
                   ng-model="request_type.selected" ng-change="on_request_type_changed()"
                   ng-disabled="widget_disabled('request_type')">
            <ui-select-match placeholder="Тип обращения">[[$select.selected.name]]</ui-select-match>
            <ui-select-choices repeat="rt in rbRequestType.objects | filter: filter_rb_request_type()
                    | filter: $select.search">
                <div ng-bind-html="rt.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-4"
         ng-class="{'has-error': event_received_form.org_structure.$invalid && editing.submit_attempt}">
        <label for="org_structure" class="control-label">Отделение поступления</label>
        <ui-select id="org_structure" name="org_structure" theme="select2"
                   ng-model="event.received.orgStructStay.value" ng-required="true" no-undefined-value>
            <ui-select-match placeholder="Подразделение">[[$select.selected.name]]</ui-select-match>
            <ui-select-choices repeat="os in OrgStructure.objects |
                filter: {show: 1, hasHospitalBeds: formstate.is_hospital() ? 1 : ''} | filter: $select.search">
                <div ng-bind-html="os.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="finance">Источник финансирования</label>
        <ui-select id="finance" name="finance" theme="select2"
                   ng-model="finance.selected" ng-change="on_finance_changed()"
                   ng-disabled="widget_disabled('finance')">
            <ui-select-match placeholder="Источник финансирования">[[$select.selected.name]]</ui-select-match>
            <ui-select-choices repeat="f in rbFinance.objects
                             | event_type_filter: rbEventType.get_finances_by_rt(request_type.selected.id)
                             | filter: $select.search">
                <div ng-bind-html="f.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-8"
         ng-class="{'has-error': event_maininfo_form.contract.$invalid && editing.submit_attempt}">
        <label for="contract">Договор</label>
        <div class="row">
        <div class="col-md-11">
            <ui-select ext-select-contract-event contract-list="available_contracts.list"
                id="contract" name="contract" theme="select2"
                ng-model="model.event.contract" ng-required="true"
                ng-disabled="widget_disabled('contract')">
            </ui-select>
            <span class="text-warning" ng-show="isContractListEmptyLabelVisible()">Не найдено подходящего договора</span>
            <span class="text-danger" ng-show="isContractDraftLabelVisible()">Договор не заключен</span>
        </div>
        <div class="col-md-1">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ng-disabled="!event.info.contract.draft && (widget_disabled('contract') || services_added())">
                    <span class="fa fa-reorder"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0)" ng-click="createContractFromDraft()"
                           ng-hide="!event.info.contract.draft || !event.info.contract.id">Заключить договор</a></li>
                    <li><a href="javascript:void(0)" ng-click="editContract()"
                           ng-hide="!event.info.contract || event.info.contract.draft">Редактировать</a></li>
                    <li><a href="javascript:void(0)" ng-click="createContract()">Создать новый договор</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0)" ng-click="openContractListUi()">Перейти к списку договоров</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"
         ng-class="{'has-error': event_maininfo_form.event_type.$invalid && editing.submit_attempt}">
        <label for="event_type">Тип события</label>
        <ui-select id="event_type" name="event_type" theme="select2"
                   ng-model="model.event.event_type" ng-required="true" ng-change="on_event_type_changed()"
                   ng-disabled="widget_disabled('event_type')">
            <ui-select-match placeholder="Тип события">[[$select.selected.name]]</ui-select-match>
            <ui-select-choices repeat='et in rbEventType.objects
                             | event_type_filter: rbEventType.get_filtered_by_rtf(request_type.selected.id, finance.selected.id)
                             | filter: $select.search '>
                <div ng-bind-html="et.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>


