<div ng-controller="EventDiagnosesCtrl">
    <ng-form name="eventDiagnosesForm" toc-element="Диагнозы" ng-show="can_view_diagnoses()">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Диагнозы</h3>
            </div>
            <div class="box-body">
                <wm-diagnosis model="event.diagnoses" event="event" clickable="can_open_diagnoses()" list-mode="true"></wm-diagnosis>
            </div>
        </div>
    </ng-form>
</div>