<div ng-controller="EventDiagnosesCtrl">
    <ng-form name="eventDiagnosesForm" toc-element="Диагнозы" ng-show="can_view_diagnoses()">
        <div class="box box-info">
            <div class="box-header with-border" trigger-collapse>
                <h3 class="box-title">Диагнозы</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-down"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" autocomplete="off"
                               tooltip="Клиническое описание диагноза" id="directed_by" name="appointed_by"
                               ng-model="event.received.diag_text.value" readonly="true"/>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <wm-diagnosis-new ng-model="event.diagnoses_all" can-edit="false"
                                  diag_types="event.info.diagnosis_types" can-add-new="false"></wm-diagnosis-new>
            </div>
        </div>
    </ng-form>
</div>