<div class="modal-header">
    <h3 class="modal-title">Сведения об аллергиях и непереносимостях</h3>
</div>
<div class="modal-body">
    <ng-form name="modalForm">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th class="col-md-6">Наименование</th>
            <th class="col-md-2">Проявление</th>
            <th class="col-md-2">Дата установления</th>
            <th class="col-md-2" colspan="2">Примечания</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in models">
            <td ng-if="!model.deleted">
                <input class="form-control" type="text" ng-model="model.name" ng-required="true"/>
            </td>
            <td ng-if="!model.deleted" ng-class="{'has-error': modalForm['power' + $index].$invalid}">
                <rb-select id="power[[$index]]" name="power[[$index]]" ref-book="AllergyPower"
                    ng-model="model.power" ng-required="true"></rb-select>
            </td>
            <td ng-if="!model.deleted">
                <wm-date id="date[[$index]]" name="date[[$index]]" ng-model="model.date" ></wm-date>
            </td>
            <td ng-if="!model.deleted">
                <input class="form-control" type="text" ng-model="model.note" />
            </td>
            <td ng-if="!model.deleted">
                <button class="btn btn-danger" ng-click="remove(model)"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
            <td ng-if="model.deleted" colspan="5" class="text-center"><a ng-click="restore(model)">Восстановить</a></td>
        </tr>
        <tr>
            <td colspan="5"><div class="pull-right"><button class="btn btn-success" ng-click="addModel()">Добавить</button></div></td>
        </tr>
        </tbody>
    </table>
    </ng-form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="modalForm.$invalid" ng-click="$close(models)">Сохранить</button>
    <button class="btn btn-default" ng-click="$dismiss()">Отменить</button>
</div>