<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Положить на койку</h4>
</div>
<div class="modal-body">
    <div class="row marginal">
        <div class="col-md-5">
            <label for="orgStructStay" class="control-label">Поступил в отделение</label>
            <ui-select id="orgStructStay" name="orgStructStay" theme="select2"
                       ng-change="org_struct_changed(model)"
                       ng-model="model.orgStructStay.value" ng-required="true">
                <ui-select-match placeholder="Подразделение">[[$select.selected.name]]</ui-select-match>
                <ui-select-choices repeat="os in OrgStructure.objects | filter: $select.search">
                    <div ng-bind-html="os.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <label for="arrival_date" class="control-label">Дата поступления</label>
            <wm-date id="arrival_date" name="arrival_date" ng-model="model.beg_date" ng-required="true">
            </wm-date>
        </div>
        <div class="col-md-2">
            <label for="arrival_time" class="control-label">Время поступления</label>
            <wm-time id="arrival_time" name="arrival_time" ng-model="model.beg_date" ng-required="true">
            </wm-time>
        </div>
        <div class="col-md-3">
            <label for="patronage" class="control-label">Патронаж</label>
            <div name="patronage">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="patronage_[[$index]]"
                               ng-model="model.patronage.value" data-ng-value="true" required>
                        Да
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="patronage_[[$index]]"
                               ng-model="model.patronage.value" data-ng-value="false" required>
                        Нет
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button  style="margin:3px 3px;" ng-repeat="hb in model.hosp_beds" class="btn" ng-click="choose_hb(model, hb)"
                     ng-class="{'btn-danger': hb.occupied, 'btn-success': hb.chosen}" ng-disabled="hb.occupied">[[hb.code]]</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="hospitalBedProfile" class="control-label">Профиль койки</label>
            <rb-select ng-model="model.hospitalBedProfile.value" ref-book="rbHospitalBedProfile" required></rb-select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$close(model)">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отмена</button>
</div>