<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Направить в отделение</h4>
</div>
<div class="modal-body">
    <div class="row marginal">
        <div class="col-md-6">
            <label for="" class="control-label">В какое отделение направить</label>
            <ui-select id="" name="orgStructDirectedFrom" theme="select2"
                       ng-model="model.orgStructStay.value" ng-required="true">
                <ui-select-match placeholder="Подразделение">[[$select.selected.name]]</ui-select-match>
                <ui-select-choices repeat="os in OrgStructure.objects | filter: {show: 1} | filter: $select.search">
                    <div ng-bind-html="os.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="arrival_date" class="control-label">Дата поступления</label>
            <wm-date id="arrival_date" name="arrival_date" ng-model="model.beg_date" ng-required="true">
            </wm-date>
        </div>
        <div class="col-md-4">
            <label for="arrival_time" class="control-label">Время поступления</label>
            <wm-time id="arrival_time" name="arrival_time" ng-model="model.beg_date" ng-required="true">
            </wm-time>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="out_date" class="control-label">Дата выбытия</label>
            <wm-date id="out_date" name="out_date" ng-model="model.end_date" ng-required="true">
            </wm-date>
        </div>
        <div class="col-md-4">
            <label for="out_time" class="control-label">Время выбытия</label>
            <wm-time id="out_time" name="out_time" ng-model="model.end_date" ng-required="true">
            </wm-time>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$close(model)">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отмена</button>
</div>