<div ng-controller="EventStationaryInfoCtrl">
<ng-form name="event_stationary_info_form" toc-element="Текущий статус пациента">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Текущий статус пациента</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-4"></th>
                            <th class="col-md-7"></th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Группа крови и резус</th>
                                <td>
                                    <span ng-if="event.blood_history.length">
                                        [[event.blood_history[0].blood_type.name]],
                                        [[event.blood_history[0].blood_phenotype ? 'фенотип' : '' ]] [[event.blood_history[0].blood_phenotype.name]]
                                        [[event.blood_history[0].blood_phenotype ? ',' : '' ]]
                                        [[event.blood_history[0].blood_kell.name]]
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                            ng-click="edit_blood()"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>Медикаментозная непереносимость</th>
                                <td ng-bind="event.intolerances | pluck:'name' | join:', '"></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                            ng-click="edit_intolerances('intolerances')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>Аллергия</th>
                                <td ng-bind="event.allergies | pluck:'name' | join:', '"></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                            ng-click="edit_intolerances('allergies')"><span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>Рост</th>
                                <td>[[event.received.height.value]]</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Вес</th>
                                <td>[[event.received.weight.value]]</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Площадь поверхности тела</th>
                                <td>
                                    <span ng-if="event.received.height.value&&event.received.weight.value">
                                        [[ event.info.body_area ]]
                                    </span>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-4"></th>
                            <th class="col-md-7"></th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Дата поступления</th>
                                <td ng-bind-html="format_admission_date(event.admission_date)"></td>
                            </tr>
                            <tr>
                                <th>Дата выписки и/или продолжительность лечения (дней)</th>
                                <td>
                                    <span ng-bind-html="format_discharge_date(event.discharge_date)"></span>
                                    <span ng-if="event.discharge_date">, </span>[[format_hosp_length(event.hosp_length)]]
                                </td>
                            </tr>
                            <tr>
                                <th>Отделение</th>
                                <td ng-bind-html="format_os(event.patient_current_os)"></td>
                            </tr>
                            <tr>
                                <th>Койка</th>
                                <td ng-bind-html="format_hosp_bed(event.hospital_bed)"></td>
                            </tr>
{#                            <tr>#}
{#                                <th>Лечащий врач</th>#}
{#                                <td ng-bind-html="format_doctor(event.attending_doctor)"></td>#}
{#                                <td>#}
{#                                    <button type="button" class="btn btn-sm btn-default" title="Удалить"#}
{#                                            ng-click="" disabled><span class="glyphicon glyphicon-pencil"></span>#}
{#                                    </button>#}
{#                                </td>#}
{#                            </tr>#}
                            <tr>
                                <th>Исход госпитализации</th>
                                <td>
                                    [[event.info.ache_result.name]]
                                </td>
                            </tr>
                            <tr>
                                <th>Результат госпитализации</th>
                                <td>
                                    [[event.info.result.name]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-form>
</div>