<div ng-controller="EventMainInfoCtrl">
<ng-form name="event_stationary_info_form" toc-element="Текущий статус пациента">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Текущий статус пациента</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Группа крови и резус
                        </div>
                        <div class="col-md-7">
                            <span ng-if="event.blood_history.length">
                                [[event.blood_history[0].blood_type.name]],
                                [[event.blood_history[0].blood_phenotype ? 'фенотип' : '' ]] [[event.blood_history[0].blood_phenotype.name]]
                                [[event.blood_history[0].blood_phenotype ? ',' : '' ]]
                                [[event.blood_history[0].blood_kell.name]]
                            </span>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                    ng-click="edit_blood()"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Медикаментозная непереносимость
                        </div>
                        <div class="col-md-7" ng-bind="event.intolerances | pluck:'name' | join:', '| noIfEmpty">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                    ng-click="edit_intolerances('intolerances')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Аллергия
                        </div>
                        <div class="col-md-7" ng-bind="event.allergies | pluck:'name' | join:', ' | noIfEmpty">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-default" title="Изменить"
                                    ng-click="edit_intolerances('allergies')"><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Рост
                        </div>
                        <div class="col-md-7">
                            [[event.received.height.value]]<span ng-if="event.received.height.value"> см</span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Вес
                        </div>
                        <div class="col-md-7">
                            [[event.received.weight.value]]<span ng-if="event.received.height.value"> кг</span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Площадь поверхности тела
                        </div>
                        <div class="col-md-7">
                            <span ng-if="event.received.height.value&&event.received.weight.value">
                                [[ event.info.body_area ]]<span ng-if="event.info.body_area"> м<sup>2</sup></span>
                            </span>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row vmargin10 rmargin10">
                        <div class="col-md-4 text-bold">
                            Диагнозы
                        </div>
                        <div class="col-md-7">
                            <div ng-repeat="diagnosis in event.diagnoses | collapse_diagnoses:'main'">
                                [[ diagnosis.diagnostic.mkb.code ]] - [[ diagnosis.diagnostic.mkb.name ]]
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Тип обращения, источник финансирования
                        </div>
                        <div class="col-md-8">
                            [[event.info.event_type.request_type.name]]<span ng-if="event.info.event_type.finance">, </span>
                            [[event.info.event_type.finance.name]]
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Первичность
                        </div>
                        <div class="col-md-8">
                            <rb-select ng-model="event.info.is_primary" ref-book="EventPrimary"></rb-select>
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Дата поступления
                        </div>
                        <div class="col-md-8" ng-bind-html="format_admission_date(event.admission_date)">
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Дата выписки
                        </div>
                        <div class="col-md-8">
                            <span ng-bind-html="format_discharge_date(event.discharge_date)"></span>
                            <span ng-if="event.discharge_date">, </span>[[format_hosp_length(event.hosp_length)]]
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Лечащий врач
                        </div>
                        <div class="col-md-8">
                            <div ng-class="{'has-error': event_maininfo_form.exec_person.$invalid && editing.submit_attempt}">
                                <wm-person-select id="exec_person" name="exec_person"
                                    ng-model="event.info.exec_person" ng-required="!formstate.is_diagnostic()"
                                    placeholder="Лечащий врач">
                                </wm-person-select>
                            </div>
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Исход госпитализации
                        </div>
                        <div class="col-md-8">
                            <ui-select id="ache_result" name="ache_result" theme="select2"
                                       ng-model="event.info.ache_result" ng-disabled="widget_disabled('ache_result')">
                                <ui-select-match placeholder="Исход заболевания">[[$select.selected.name]]</ui-select-match>
                                <ui-select-choices repeat="rbar in rbAcheResult.objects | filter: $select.search |
                                    filter: filter_rb_result(event.info.event_type.purpose.id)">
                                    <div ng-bind-html="rbar.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Результат госпитализации
                        </div>
                        <div class="col-md-8">
                            <ui-select id="result" name="result" theme="select2"
                                       ng-model="event.info.result" ng-disabled="widget_disabled('result')">
                                <ui-select-match placeholder="Результат госпитализации">[[$select.selected.name]]</ui-select-match>
                                <ui-select-choices repeat="rbr in rbResult.objects | filter: $select.search |
                                    filter: filter_rb_result(event.info.event_type.purpose.id)">
                                    <div ng-bind-html="rbr.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="row vmargin10">
                        <div class="col-md-4 text-bold">
                            Договор
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-10">
                                    <span>№[[ event.info.contract.number ]]</span> <span>от [[ event.info.contract.date | asDate ]]</span>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-reorder"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
{#                                            <li><a href="javascript:void(0)" ng-click="createContract()">Создать новый договор</a></li>#}
{#                                            <li role="separator" class="divider"></li>#}
                                            <li><a href="javascript:void(0)" ng-click="openContractListUi()">Перейти к списку договоров</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
</div>
