{% extends "event/base.html" %}

{% block main %}
<div>
    <div class="row vmargin10">
        <div class="col-md-12" style="text-align:center">
        <a type="button" href="{{ url_for('event.new_event', requestType_kind="policlinic", client_id=client_id) }}"
           class="btn btn-lg btn-default">Поликлиника</a>
        <a type="button" href="{{ url_for('event.new_event', requestType_kind="stationary", client_id=client_id) }}"
           class="btn btn-lg btn-default">Стационар</a>
        <a type="button" href="#" class="btn btn-lg btn-default">Диагностика</a>
        <a type="button" href="#" class="btn btn-lg btn-default">Диcпансерное наблюдение</a>
        </div>
    </div>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
{% endblock %}