/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0 0 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 50px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../i/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}

.tree {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 1px 0px 0px 0px;

    /**margin-right: .3em;*/
    line-height: 13px;
    vertical-align: text-top;
    background-image: url('../i/download.png');
    background-position: -45px -3px;
    background-repeat: no-repeat;
    display: inline-block;
}

blockquote {
    border-color: #B94A48;
}

.col-wrap {
    overflow: hidden;
}

.col {
    margin-bottom: -9999px !important;
    padding-bottom: 9999px !important;
}

.col-base {
    margin-top: -15px; /* cut off top portion of bottom wells */
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

html, body {
    height: 100%;
}

#bottom, #push {
    height: 60px;
}

#footer {
    height: 60px;
}

#wrap > #container {
    padding-top: 60px;
}

body {
    padding-top: 0px;
}

.container > hr {
    margin: 10px 0;
}