<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='angular.js/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular.js/angular-locale_ru-ru.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.ru.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular.js/ui-bootstrap-tpls.js') }}"></script>

<script src="{{ url_for('static', filename='angular-ui-select/select.js') }}"></script>
<script src="{{ url_for('static', filename='angular.js/angular-tree-repeat.js') }}"></script>
<script src="{{ url_for('static', filename='angular-ui-utils/mask_edited.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-strap.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-strap.tpl.js') }}"></script>
<script src="{{ url_for('static', filename='angular-scroll/angular-scroll.js') }}"></script>

<script src="{{ url_for('static', filename='js/webmis20.js', v=version) }}"></script>

<script src="{{ url_for('static', filename='js/services.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services/client/client-models.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services/event/event-models.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services/schedule-models.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services/appointment_dialog.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/loader.js', v=version) }}"></script>

<script src="{{ url_for('static', filename='js/directives.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/goodies.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/person_tree.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/action-type-tree.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/action-layout.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/bootstrap-wysiwyg.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/client-search.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/event-search.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/directives/client-info.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/services/appointment_dialog.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js', v=version) }}"></script>
<script src="{{ url_for('static', filename='js/loader.js', v=version) }}"></script>
<script>
    'use strict';
    current_user.has_role = function () {
        return [].clone.call(arguments).filter(aux.func_in(current_user.roles)).length > 0;
    };
    current_user.has_right = function () {
        return [].clone.call(arguments).filter(aux.func_in(current_user.rights)).length > 0;
    };
    current_user.current_role_maybe = function () {
        return [].clone.call(arguments).has(current_user.current_role);
    };
</script>