{% macro ui_select(model, rb, trigger=None, attr='name') %}
    {% if trigger %}<div class="form-control-static" ng-hide="{{ trigger }}">[[ {{ model }}.{{ attr }} ]]&nbsp;</div><div ng-show="{{ trigger }}">{% endif %}
    <ui-select ng-model="{{ model }}" id="{{ model }}" theme="select2" class="form-control">
        <match placeholder="не выбрано">[[ $select.selected.{{ attr }} ]]</match>
        <choices data="{{ rb }}.objects | filter: $select.search">
{#            [<small ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></small>]#}
            <span ng-bind-html="trustAsHtml((item.{{ attr }} | highlight: $select.search))"></span>
        </choices>
    </ui-select>
    {% if trigger %}</div>{% endif %}
{% endmacro %}

{% macro ui_select_tmp(source, model, rb, trigger, attr='name') %}
    <div class="form-control-static" ng-if="!{{ trigger }}">[[ {{ source }}.{{ model }}.{{ attr }} ]]</div>
    <div ng-hide="!{{ trigger }}">
        <ui-select ng-model="{{ trigger }}.{{ model }}" id="{{ source }}.{{ model }}" theme="select2" class="form-control">
            <match placeholder="не выбрано">[[ $select.selected.{{ attr }} ]]</match>
            <choices data="{{ rb }}.objects | filter: $select.search">
                <span ng-bind-html="trustAsHtml((item.{{ attr }} | highlight: $select.search))"></span>
            </choices>
        </ui-select>
    </div>
{% endmacro %}

{% macro ui_select_tmp_noa(source, model, rb, trigger) %}
    <div class="form-control-static" ng-if="!{{ trigger }}">[[ {{ source }}.{{ model }} ]]</div>
    <div ng-hide="!{{ trigger }}">
        <ui-select ng-model="{{ trigger }}.{{ model }}" id="{{ source }}.{{ model }}" theme="select2" class="form-control">
            <match placeholder="не выбрано">[[ $select.selected ]]</match>
            <choices data="{{ rb }}.objects | filter: $select.search">
                <span ng-bind-html="trustAsHtml((item | highlight: $select.search))"></span>
            </choices>
        </ui-select>
    </div>
{% endmacro %}