<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav" id="cur_modules">
            <li>
                <div>
                    <a class="btn navbar-btn {% if request.endpoint == 'index' %}active btn-info{% else %}btn-default{% endif %}" href="/" title="Главная страница"><span class="glyphicon glyphicon-home"></span></a>
                    {%- for item in main_menu -%}
                        {% if not item.roles or (current_user.roles and current_user.role_in(item.roles)) %}
                        <a class="btn navbar-btn {% if request.endpoint == item.link %}active btn-info{% else %}btn-default{% endif %}" href="{{ url_for(item.link) }}" title="{{ item.title }}">{{ item.title }}</a>
                        {% endif %}
                    {%- endfor -%}
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            {% if current_user.id %}
            <li>
                <p class="navbar-text nohmargin"><span class="glyphicon glyphicon-user"></span> {{ current_user.lastName }} {{ current_user.firstName }}</p>
                <form class="navbar-form navbar-left" id="_change_role_frm" action="{{ url_for('select_role') }}" method="POST">
                    <select name="roles" onchange="$('#_change_role_frm').submit();" class="form-control">
                    {% for code, name in current_user.roles -%}
                        <option value="{{ code }}"{%- if code == current_user.current_role %} selected="selected"{% endif -%}>{{ name }}</option>
                    {%- endfor -%}
                    </select>
                </form>
            </li>
            <li>
                <div class="btn-group">
                    <a id="logout" class="btn btn-small btn-default navbar-btn" href="{{ url_for('logout') }}" title="Выйти"><span class="glyphicon glyphicon-log-out"></span></a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>