<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-transclude></div>
            <div class="row">
                <div class="form-group col-md-9"
                     ng-class="{'has-error': addressForm.locality.$invalid}">
                    <label for="[[prefix]]_locality">Населенный пункт</label>
                    <wm-kladr-locality id="[[prefix]]_locality" name="locality"
                        model="localityModel"></wm-kladr-locality>
                </div>
                <div class="form-group col-md-3">
                    <label for="[[prefix]]_locality_type">Тип населенного пункта</label>
                    <wm-kladr-locality-type id="[[prefix]]_locality_type" name="locality_type"
                        model="localityTypeModel"></wm-kladr-locality-type>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-9">
                    <label for="[[prefix]]_street">Улица</label>
                    <wm-kladr-street id="[[prefix]]_street" name="street"
                        model="streetModel"></wm-kladr-street>
                </div>
                <div class="form-group col-md-1">
                    <label for="[[prefix]]_house_number">Дом</label>
                    <wm-kladr-house-number id="[[prefix]]_house_number" name="house_number"
                        model="houseModel"></wm-kladr-house-number>
                </div>
                <div class="form-group col-md-1">
                    <label for="[[prefix]]_corpus_number">Корпус</label>
                    <wm-kladr-corpus-number id="[[prefix]]_corpus_number" name="corpus_number"
                        model="corpusModel"></wm-kladr-corpus-number>
                </div>
                <div class="form-group col-md-1">
                    <label for="[[prefix]]_flat_number">Квартира</label>
                    <wm-kladr-flat-number id="[[prefix]]_flat_number" name="flat_number"
                        model="flatModel"></wm-kladr-flat-number>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error': addressForm.free_input.$invalid}">
                    <label for="[[prefix]]_free_input">В свободном виде</label>
                    <wm-kladr-free-input id="[[prefix]]_free_input" name="free_input"
                        model="freeInputModel"></wm-kladr-free-input>
                </div>
            </div>
        </div>
    </div>
</div>