{% macro osmotr_signature(doctor_in_charge, setPerson) %}
<HR>
<br><br>
{% if doctor_in_charge.id  == setPerson.id %}
    <B>Лечащий врач({{ setPerson.post }}):_______________/</B><u>{{ setPerson.shortName }}</u><b>/</b><br/><br/>
{% elif action.setPerson.post.name == 'Ординатор' %}
    <B>Ординатор:_______________/</B><u>{{ setPerson.shortName }}</u><b>/</b><br/><br/>
    <B>Лечащий врач({{ doctor_in_charge.post }}):_______________/</B><u>{{ doctor_in_charge.shortName }}</u><b>/</b><br/><br/>
{% else %}
    <B>Врач({{ setPerson.post }}):_______________/</B><u>{{ setPerson.shortName }}</u><b>/</b><br/><br/>
{% endif %}
<br>
{%- endmacro %}

{% macro print_diagnoses(diagnoses) %}
<table>
    <thead>
        <tr>
            <th>дата начала</th>
            <th>тип</th>
            <th>характер</th>
            <th>код МКБ</th>
            <th>врач</th>
            <th>примечание</th>
        </tr>
    </thead>
    <tbody>
        {% for diag in diagnoses %}
        <tr>
            <td>{{diag.setDate, "dd.MM.yyyy"}}</td>
            <td>{{diag.diagnosisType.name}}</td>
            <td>{{diag.character.name}}</td>
            <td>{{diag.diagnosis.MKB.DiagID}}</td>
            <td>{{diag.person.name}}</td>
            <td>{{diag.notes}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}