<header class="main-header"  ng-controller="WebMisHeader" ng-cloak>
    <a class="logo" href="{{ url_for('.index_html') }}">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-lg"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"></span>
    </a>
    {%- if current_user.id and current_user.current_role -%}
    <nav class="navbar navbar-static-top" role="navigation">
        <a role="button" data-toggle="offcanvas" class="sidebar-toggle" href="#">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <a class="logo" href="{{ url_for('.index_html') }}" style="width: auto"><b>РИСАР: Родовспоможение</b></a>
        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
{#              <!-- Messages: style can be found in dropdown.less-->#}
{#              <li class="dropdown messages-menu">#}
{#                <!-- Menu toggle button -->#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                  <i class="fa fa-envelope-o"></i>#}
{#                  <span class="label label-success">4</span>#}
{#                </a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li class="header">You have 4 messages</li>#}
{#                  <li>#}
{#                    <!-- inner menu: contains the messages -->#}
{#                    <ul class="menu">#}
{#                      <li><!-- start message -->#}
{#                        <a href="#">#}
{#                          <div class="pull-left">#}
{#                            <!-- User Image -->#}
{#                            <span class="img-circle glyphicon glyphicon-user"></span>#}
{#                          </div>#}
{#                          <!-- Message title and timestamp -->#}
{#                          <h4>#}
{#                            Support Team#}
{#                            <small><i class="fa fa-clock-o"></i> 5 mins</small>#}
{#                          </h4>#}
{#                        </a>#}
{#                      </li><!-- end message -->#}
{#                    </ul><!-- /.menu -->#}
{#                  </li>#}
{#                  <li class="footer"><a href="#">See All Messages</a></li>#}
{#                </ul>#}
{#              </li><!-- /.messages-menu -->#}

{#              <!-- Notifications Menu -->#}
{#              <li class="dropdown notifications-menu">#}
{#                <!-- Menu toggle button -->#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                  <i class="fa fa-bell-o"></i>#}
{#                  <span class="label label-warning">10</span>#}
{#                </a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li class="header">You have 10 notifications</li>#}
{#                  <li>#}
{#                    <!-- Inner Menu: contains the notifications -->#}
{#                    <ul class="menu">#}
{#                      <li><!-- start notification -->#}
{#                        <a href="#">#}
{#                          <i class="fa fa-users text-aqua"></i> 5 new members joined today#}
{#                        </a>#}
{#                      </li><!-- end notification -->#}
{#                    </ul>#}
{#                  </li>#}
{#                  <li class="footer"><a href="#">View all</a></li>#}
{#                </ul>#}
{#              </li>#}
              <!-- Tasks Menu -->
              <li class="dropdown tasks-menu">
                  <!-- Menu Toggle Button -->
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-flag-o"></i>
                      <span class="label label-danger">[[unread]]</span>
                  </a>
                  <ul class="dropdown-menu">
                      <li class="header">У Вас [[unread]] поручений</li>
                      <li>
                          <!-- Inner menu: contains the tasks -->
                          <ul class="menu">
                              <li ng-repeat="errand in errands"><!-- Task item -->
                                  <a href="#">
                                      Поручение по карте [[ errand.event_id ]]
                                  </a>
                              </li><!-- end task item -->
                          </ul>
                      </li>
                      <li class="footer">
                          <li class="footer"><a href="{{ url_for('risar.html_errands_list') }}">Все поручения</a>
                      </li>
                  </ul>
              </li>
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                    <span class="img-circle glyphicon glyphicon-user"></span>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ current_user.format_name() }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <h1 class="img-circle glyphicon glyphicon-user text-white"></h1>
                    <p>
                      {{ current_user.format_name() }}
                        {% if user_profiles_mng.has_ui_assistant() %}
                        <small>ассистирую:</small>
                        {% if current_user.master %}
                            <div id="assist" class="hidden">
                                <div class="row">
                                  <div class="col-xs-4">
                                    <span class="thumbnail"><span style="font-size:75px" class="fa fa-user-md assist-icon text-muted"></span></span>
                                  </div>
                                  <div class="col-xs-8">
                                    <h4>{{ current_user.master.lastName }} {{ current_user.master.firstName|truncate(1, True, end=".") }} {{ current_user.master.patrName|truncate(1, True, end=".") }}
                                      <small>{{ current_user.master.speciality or '' }}</small><br>
                                      <small>{{ current_user.master._current_role_name }}</small>
                                      <hr class="vmargin10">
                                      <small>Отделение: {{ current_user.master.org_structure.name }}</small>
                                      </h4>
                                      <a href="{{ url_for('doctor_to_assist', next=request.url) }}" class="btn btn-primary btn-sm btn-block">Сменить врача</a>
                                  </div>
                                </div>
                            </div>
                            <a class="show_assist" href="javascript:void(0);"><span class="fa fa-user-md assist-icon"></span></a>
                            <a class="show_assist" href="javascript:void(0);">
                            {{ current_user.master.format_name(is_master=True) }}</a>

                            <script type="application/javascript">
                                $(function () {
                                    $(".show_assist").popover({
                                        html : true,
                                        placement : 'bottom',
                                        title : '',
                                        trigger : 'focus',
                                        content: function() {
                                          return $('#assist').html();
                                        }
                                    });
                                });
                            </script>
                            {% else %}
                                <a href="{{ url_for('doctor_to_assist', next=request.url) }}" title="Выбрать врача"><span class="fa fa-user-md assist-icon"></span></a>
                                <a href="{{ url_for('doctor_to_assist', next=request.url) }}" title="Выбрать врача">не выбрано</a>
                            {% endif %}
                        {% endif %}
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-12 text-center">
                      {% if current_user.roles | length > 1 %}
                        <form id="_change_role_frm" action="{{ url_for('select_role') }}" method="POST">
                            <select name="roles" onchange="$('#_change_role_frm').submit();" class="form-control">
                            {% for code, name in current_user.roles -%}
                                <option value="{{ code }}"{%- if code == current_user.current_role %} selected="selected"{% endif -%}>{{ name }}</option>
                            {%- endfor -%}
                            </select>
                        </form>
                        {% endif %}
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Личный кабинет</a>
                    </div>
                    <div class="pull-right">
                      <a id="logout" href="{{ url_for('logout') }}" title="Выйти" class="btn btn-default btn-flat">Выход</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{{ url_for('logout') }}" title="Выйти"><i class="glyphicon glyphicon-log-out"></i></a>
              </li>
              <!-- Control Sidebar Toggle Button -->
{#              <li>#}
{#                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
{#              </li>#}
            </ul>
        </div>
    </nav>
        <script>
        $(function(){
            $('.dropdown-menu input, .dropdown-menu select').click(function(e) {
                e.stopPropagation();
            });
        });
        </script>
    {%- endif -%}
</header>
<script language="JavaScript">
    WebMisHeader = function ($scope, UserErrand) {
        $scope.unread = 0;
        $scope.errands = [];
        UserErrand.subscribe('unread', function (result) {
            $scope.unread = result.unread;
            $scope.errands = result.errands;
        });
    }
</script>