<div class="box box-success">
    <div class="box-header with-border"><h3 class="box-title">Пациентки по степени риска</h3></div>
    <div class="box-body">
        <nvd3-pie-chart
            id="noid"
            data="slices"
            width="485"
            height="350"
            x="slices_x"
            y="slices_y"
            color="slices_c"
            nodata="Нет данных"
            showlegend="true"
            showlabels="true"
            labeltype="value"
            donut="true"
            donut-ratio="0.33"
            ><svg></svg>
        </nvd3-pie-chart>
    </div>
</div>