<div class="panel panel-default">
    <div class="panel-heading">Пациентки по степени риска</div>
    <nvd3-pie-chart
            id="noid"
            data="slices"
            width="485"
            height="350"
            x="slices_x"
            y="slices_y"
            color="slices_c"
            nodata="Нет данных"
            showlegend="true"
            showlabels="true"
            labeltype="value"
            donut="true"
            donut-ratio="0.33"
            ><svg></svg>
    </nvd3-pie-chart>
</div>