<div class="panel panel-default">
    <div class="panel-heading">Перинатальная смертность в [[ curYear ]] г.: <b>[[infants_death_coeff]] &#8240;</b></div>
    <div class="panel-body">
        <h5 style="line-height: 1.5;">Соотношение умерших и живых детей за предыдущий и текущий месяцы</h5>
        <nvd3-multi-bar-chart
            data="infants_death"
            id="infants_death"
            width="550"
            height="350"
            tooltips="true"
            interactive="true"
            showXAxis="false"
            showYAxis="true"
{#            showlegend="true"#}
            showlabels="true"
            tooltipcontent="toolTipContentFunction_infants_death()"
                >
                <svg></svg>
        </nvd3-multi-bar-chart>
    </div>
</div>