{% extends 'risar/base/base.html' %}

{% block title %}> Рабочий стол{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол куратора третьего уровня</h1>
</section>
<section class="content">
    <div ng-controller="IndexOverseer3Ctrl" class="ng-cloak">
        <div class="row">
            <div class="col-md-9">
                {% include "risar/stats/diagram_maternal_death.html" %}
                {% include "risar/stats/diagram_infants_death.html" %}
                <div class ="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {% include "risar/stats/obcl_summary.html" %}
                    </div>
                </div>
                {% include "risar/stats/diagram_pregnancy_week.html" %}
                {% include "risar/stats/org_curation.html" %}
            </div>
            <div class="col-md-3">
                {% include "risar/stats/cfrs_lpu_overview.html" %}
                {% include "risar/stats/controlled_events.html" %}
                {% include "risar/stats/diagram_risk_rates.html" %}
                {% include "risar/stats/active_users.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/desktop/index_overseer3.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/org_birth_care.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/perinatal_risk_rate.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/card_fill_rates.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/preg_week_distribution.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/active_users.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/org_curation.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/controlled_events.js', v=app_version) }}"></script>
{% endblock %}