{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол {% if user_profiles_mng.has_ui_obstetrician() %}акушера-гинеколога{% endif %}</h1>
</section>
<section class="content">
    <div ng-controller="IndexObstetricianCtrl" class="ng-cloak">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" ng-model="query" placeholder="Быстрый поиск" autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('.html_search') }}">Расширенный поиск</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% include "risar/stats/patient_list.html" %}
                <div class ="row">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Срочная госпитализация</h3>
                                <span class="badge label-danger">[[ need_hospitalization.length ]]</span>
                                <div class="box-tools pull-right">
                        {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                        {#                <li><a href="#">«</a></li>#}
                        {#                <li><a href="#">1</a></li>#}
                        {#                <li><a href="#">2</a></li>#}
                        {#                <li><a href="#">3</a></li>#}
                        {#                <li><a href="#">»</a></li>#}
                        {#            </ul>#}
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Риск</th>
                                        <th>ФИО</th>
                                        <th>Срок</th>
                                    </tr>
                                    <tr ng-repeat="row in need_hospitalization | filter:query">
                                        <td><span class="label"
                                                  ng-class="{'label-default': row.risk_rate.id == 0,
                                                             'label-success': row.risk_rate.id == 1,
                                                             'label-warning': row.risk_rate.id == 2,
                                                             'label-danger': row.risk_rate.id == 3}">[[ row.risk_rate.name ]]</span></td>
                                        <td><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ row.id ]]">[[
                                            row.client.full_name ]]</a></td>
                                        <td>[[ row.pregnancy_week ]]<i class="fa fa-question" ng-if="!row.pregnancy_week"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Срочные поручения</h3>
                                <span class="badge label-info">5</span>
                                <div class="box-tools pull-right">
                        {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                        {#                <li><a href="#">«</a></li>#}
                        {#                <li><a href="#">1</a></li>#}
                        {#                <li><a href="#">2</a></li>#}
                        {#                <li><a href="#">3</a></li>#}
                        {#                <li><a href="#">»</a></li>#}
                        {#            </ul>#}
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Номер</th>
                                        <th>Риск</th>
                                        <th>ФИО</th>
                                        <th>Статус</th>
                                    </tr>
                                    <tr>
                                        <td>12/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Подшивалова Баира Петровна</td>
                                        <td><span class="label label-warning">ожидает выполнения</span></td>
                                    </tr>
                                    <tr>
                                        <td>56/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Ксантос Альбина Сергеевна</td>
                                        <td><span class="label label-danger">просрочено</span></td>
                                    </tr>
                                    <tr>
                                        <td>33/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Полякова Наталья Сергеевна</td>
                                        <td><span class="label label-warning">ожидает выполнения</span></td>
                                    </tr>
                                    <tr>
                                        <td>78/2015</td>
                                        <td><span class="label label-warning">средний</span></td>
                                        <td>Неверова Анна Эдуардовна</td>
                                        <td><span class="label label-danger">просрочено</span></td>
                                    </tr>
                                    <tr>
                                        <td>56/2015</td>
                                        <td><span class="label label-warning">средний</span></td>
                                        <td>Полякова Наталья Сергеевна</td>
                                        <td><span class="label label-danger">просрочено</span></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td colspan="4"><a href="#">Все поручения</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "risar/stats/diagram_pregnancy_week.html" %}
            </div>
            <div class="col-md-3">
                {% include "risar/stats/patients_stats.html" %}
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ведение карт</h3>
                        <div class="box-tools pull-right">
                          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed no-border">
                            <tr>
                                <td>Заполненные карты</td>
                                <td><span class="badge label-info pull-right">12</span></td>
                            </tr>
                            <tr>
                                <td>Незаполненные карты</td>
                                <td><span class="badge label-danger pull-right">6</span></td>
                            </tr>
                            <tr>
                                <td>Из них с разделами:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span class="small-left-margin">Анамнез</span></td>
                                <td><span class="badge label-info pull-right">0</span></td>
                            </tr>
                            <tr>
                                <td><span class="small-left-margin">Плановый осмотр</span></td>
                                <td><span class="badge label-danger pull-right">2</span></td>
                            </tr>
                            <tr>
                                <td><span class="small-left-margin">ЛПУ для родоразрешения</span></td>
                                <td><span class="badge label-danger pull-right">1</span></td>
                            </tr>
                            <tr>
                                <td><span class="small-left-margin">Результаты мероприятий</span></td>
                                <td><span class="badge label-danger pull-right">1</span></td>
                            </tr>
                            <tr>
                                <td><span class="small-left-margin">Эпикриз</span></td>
                                <td><span class="badge label-danger pull-right">2</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% include "risar/stats/diagram_risk_rates.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/desktop/index_obstetrician.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}





