{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="AmbulanceIndexCtrl" ng-cloak>
        <form class="form-horizontal marginal" role="form">
            <div class="input-group">
                <input id="search" class="form-control" type="text" ng-model="query" autocomplete="off"
                       ng-change="clear_results()"
                       placeholder="Поиск пациента по ФИО, дате рождения, полису или документу, удостоверяющему личность"
                       autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="perform_search(false)"><span class="glyphicon glyphicon-search"></span> Найти</button>
                </span>
            </div>
        </form>
        <label ng-if="pager.record_count > 0">Результаты поиска карт пациенток: <b>[[pager.record_count]]</b></label>
        <label ng-if="pager.record_count === 0 && query">По Вашему запросу ничего не найдено</label>
        <div class="media" ng-repeat="row in results" ng-click="open_patient_info(row.event_id)" style="cursor: pointer">
            <div class="media-left">
              <span class="thumbnail"><span style="font-size:75px" class="fa fa-user assist-icon text-muted"></span></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a>[[ row.name ]]</a></h4>
                <dl class="dl-horizontal">
                    <dt>Дата рождения</dt>
                    <dd>[[ row.birth_date ]]</dd>
                    <dt>Документы</dt>
                    <dd>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">[[ row.document_type ]]</div>
                            <div class="col-md-9 col-sm-9 col-xs-9">[[ row.document ]]</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">СНИЛС</div>
                            <div class="col-md-9 col-sm-9 col-xs-9">[[ row.snils ]]</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">ПОЛИСЫ</div>
                            <div class="col-md-9 col-sm-9 col-xs-9"><span ng-repeat="item in row.policy | split:';'">[[item]]<br></span></div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div>
            <pagination ng-model="pager.current_page" total-items="pager.pages" items-per-page="1"
                max-size="pager.max_pages" ng-change="onPageChanged()" ng-show="pager.pages > 1" boundary-links="true">
            </pagination>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/desktop/index_ambulance.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}