{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол куратора третьего уровня</h1>
</section>
<section class="content">
    <div ng-controller="IndexOverseer3Ctrl" class="ng-cloak">
        <div class="row">
            <div class="col-md-9">
                {% include "risar/stats/diagram_maternal_death.html" %}
                {% include "risar/stats/diagram_infants_death.html" %}
                <div class ="row">
                    <div class="col-md-6">
                        {% include "risar/stats/annual_reports.html" %}
                    </div>
                    <div class="col-md-6">
                        {% include "risar/stats/obcl_summary.html" %}
                    </div>
                </div>
                {% include "risar/stats/diagram_pregnancy_week.html" %}
            </div>
            <div class="col-md-3">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-trophy"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Совокупная оценка</span>
                        <span class="info-box-number">90%</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 20%"></div>
                        </div>
                        <span class="progress-description">
                        20% рост за последние 30 дней
                      </span>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Оценка ведения карт</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="progress-group">
                            <span class="progress-text">ГБУЗ «Сердобская ЦРБ»</span>
                            <span class="progress-number"><b>45</b>/53</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" style="width: 85%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">ГБУЗ «Нижнеломовская ЦРБ»</span>
                            <span class="progress-number"><b>34</b>/48</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" style="width: 71%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">ГБУЗ «Кузнецкая городская детская больница» </span>
                            <span class="progress-number"><b>20</b>/49</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" style="width: 41%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">ГБУЗ «Каменская ЦРБ»</span>
                            <span class="progress-number"><b>12</b>/40</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">ГБУЗ «ПОДКБ им. Н.Ф. Филатова»</span>
                            <span class="progress-number"><b>2</b>/38</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-danger" style="width: 5%"></div>
                            </div>
                        </div><!-- /.progress-group -->
                    </div>
                    <div class="box-footer text-center">
                        <a href="#" class="uppercase">Подробнее</a>
                    </div>
                </div>
                {% include "risar/stats/diagram_risk_rates.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/desktop/index_overseer3.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/org_birth_care.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}