{% extends 'risar/base/base.html' %}

{% block title %}> Рабочий стол{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол {% if user_profiles_mng.has_ui_obstetrician() %}акушера-гинеколога{% endif %}</h1>
</section>
<section class="content">
    <div ng-controller="IndexObstetricianCtrl" class="ng-cloak">
        {{ quick_search.one_long_row() }}
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('.html_search') }}">Расширенный поиск</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% include "risar/stats/patient_list.html" %}
                <div class ="row">
                    <div class="col-md-6">
                        {% include "risar/stats/schedule_day.html" %}
                    </div>
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Срочная госпитализация</h3>
                                <span class="badge label-danger">[[ need_hospitalization.length ]]</span>
                                <div class="box-tools pull-right">
                        {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                        {#                <li><a href="#">«</a></li>#}
                        {#                <li><a href="#">1</a></li>#}
                        {#                <li><a href="#">2</a></li>#}
                        {#                <li><a href="#">3</a></li>#}
                        {#                <li><a href="#">»</a></li>#}
                        {#            </ul>#}
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Риск</th>
                                        <th>ФИО</th>
                                        <th>Срок</th>
                                    </tr>
                                    <tr ng-repeat="row in need_hospitalization | filter:query.search_str">
                                        <td><span class="label"
                                                  ng-class="{'label-default': row.risk_rate.code == 'undefined',
                                                             'label-success': row.risk_rate.code == 'low',
                                                             'label-warning': row.risk_rate.code == 'medium',
                                                             'label-danger': row.risk_rate.code == 'high'}">[[ row.risk_rate.name ]]</span></td>
                                        <td><a ng-href="{{ url_for('.html_pregnancy_chart') }}?event_id=[[ row.id ]]">[[
                                            row.client.full_name ]]</a></td>
                                        <td>[[ row.pregnancy_week ]]<i class="fa fa-question" ng-if="!row.pregnancy_week"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% include "risar/stats/urgent_errands.html" %}
                    </div>
                </div>
                {% include "risar/stats/diagram_pregnancy_week.html" %}
            </div>
            <div class="col-md-3">
                {% include "risar/stats/cards_overview.html" %}
                {% include "risar/stats/controlled_events.html" %}
                {% include "risar/stats/doctor_cfrs.html" %}
                {% include "risar/stats/diagram_risk_rates.html" %}
            </div>
        </div>
        {% if user_profiles_mng.has_ui_admin() %}
        <div class="row">
            <div class="col-md-offset-9 col-md-3">
                {% include "risar/stats/active_users.html" %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/desktop/index_obstetrician.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/risk_rate.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/urgent_errands.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/card_fill_rates.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/cards_overview.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/preg_week_distribution.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/controlled_events.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/errands/modal_errand.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/active_users.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/stats/schedule_day.js', v=app_version) }}"></script>
{% endblock %}





