<div class="row">
    <div class="col-md-9">
        {% include "risar/desktop/patient_list.html" %}
        <div class ="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Срочная госпитализация</h3>
                        <span class="badge label-danger">[[ need_hospitalization.length ]]</span>
                        <div class="box-tools pull-right">
                {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                {#                <li><a href="#">«</a></li>#}
                {#                <li><a href="#">1</a></li>#}
                {#                <li><a href="#">2</a></li>#}
                {#                <li><a href="#">3</a></li>#}
                {#                <li><a href="#">»</a></li>#}
                {#            </ul>#}
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th></th>
                                <th>Риск</th>
                                <th>ФИО</th>
                                <th>Срок беременности</th>
                            </tr>
                            <tr ng-repeat="row in need_hospitalization | filter:query">
                                <td></td>
                                <td><span class="label"
                                          ng-class="{'label-default': row.risk_rate.id == 0,
                                                     'label-success': row.risk_rate.id == 1,
                                                     'label-warning': row.risk_rate.id == 2,
                                                     'label-danger': row.risk_rate.id == 3}">[[ row.risk_rate.name ]]</span></td>
                                <td><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ row.id ]]">[[
                                    row.client.full_name ]]</a></td>
                                <td>[[ row.pregnancy_week ]]<i class="fa fa-question" ng-if="!row.pregnancy_week"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Поручения</h3>
                        <span class="badge label-danger">5</span>
                        <div class="box-tools pull-right">
                {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                {#                <li><a href="#">«</a></li>#}
                {#                <li><a href="#">1</a></li>#}
                {#                <li><a href="#">2</a></li>#}
                {#                <li><a href="#">3</a></li>#}
                {#                <li><a href="#">»</a></li>#}
                {#            </ul>#}
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Номер</th>
                                <th>Риск</th>
                                <th>ФИО</th>
                                <th>Срок беременности</th>
                            </tr>
                            <tr>
                                <td>12/2015</td>
                                <td><span class="label label-danger">высокий</span></td>
                                <td>Подшивалова Баира Петровна</td>
                                <td><span class="label label-warning">Ожидает выполнения</span></td>
                            </tr>
                            <tr>
                                <td>56/2015</td>
                                <td><span class="label label-danger">высокий</span></td>
                                <td>Ксантос Альбина Сергеевна</td>
                                <td><span class="label label-danger">Просрочено</span></td>
                            </tr>
                            <tr>
                                <td>33/2015</td>
                                <td><span class="label label-danger">высокий</span></td>
                                <td>Полякова Наталья Сергеевна</td>
                                <td><span class="label label-warning">Ожидает выполнения</span></td>
                            </tr>
                            <tr>
                                <td>78/2015</td>
                                <td><span class="label label-warning">средний</span></td>
                                <td>Неверова Анна Эдуардовна</td>
                                <td><span class="label label-danger">Просрочено</span></td>
                            </tr>
                            <tr>
                                <td>56/2015</td>
                                <td><span class="label label-warning">средний</span></td>
                                <td>Полякова Наталья Сергеевна</td>
                                <td><span class="label label-danger">Просрочено</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Статистика по пациенткам:</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table>
                    <tr>
                        <td>Всего</td>
                        <td><span class="badge label-info pull-right">23</span></td>
                    </tr>
                    <tr>
                        <td>Не закрыты карты пациенток (срок более 45 недель)</td>
                        <td><span class="badge label-danger pull-right">7</span></td>
                    </tr>
                    <tr>
                        <td>Пропущено плановое посещение (2 месяца)</td>
                        <td><span class="badge label-danger pull-right">3</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Ведение карт</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p>Заполненные карты <span class="badge label-danger pull-right">12</span></p>
                <p>Незаполненные разделы <span class="badge label-danger pull-right">6</span></p>
                <p>Анамнез <span class="badge label-danger pull-right">0</span></p>
                <p>Плановый осмотр <span class="badge label-danger pull-right">2</span></p>
                <p>ЛПУ для родоразрешения <span class="badge label-danger pull-right">1</span></p>
                <p>Результаты мероприятий <span class="badge label-danger pull-right">1</span></p>
                <p>Эпикриз <span class="badge label-danger pull-right">2</span></p>
            </div>
        </div>

        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">График по степеням риска</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <nvd3-pie-chart
                    id="noid"
                    data="slices"
                    width="360"
                    height="370"
                    margin="{left:0,top:0,bottom:0,right:40}"
                    x="slices_x"
                    y="slices_y"
                    color="slices_c"
                    nodata="Нет данных"
                    showlegend="true"
                    showlabels="true"
                    labeltype="value"
                    donut="true"
                    donut-ratio="0.33"
                    ><svg></svg>
                </nvd3-pie-chart>
            </div>
            <div class="box-footer no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Cоматическая <span class="pull-right text-red"> 12%</span></a></li>
                    <li><a href="#">Акушерско-гинекологическая <span class="pull-right text-green"> 48%</span></a></li>
                    <li><a href="#">Сочетанная <span class="pull-right text-yellow"> 40%</span></a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>