{% extends 'accounting/base.html' %}

{% block title %}> Расчет пациентов{% endblock %}

{% block main %}
    <div ng-controller="CashBookCtrl">
        <legend><h2>Расчет пациентов</h2></legend>
        <div ui-alert-list="alerts"></div>
        <wm-search-event event-id="event.id" query="query"
             on-select="set_event(selected_event)"></wm-search-event>
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/cashbook.js', v=app_version) }}"></script>
{% endblock %}
