{% extends 'tfoms/base.html' %}

{% block title %}> {{ module_name }} > Загрузка реестров{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='js/jquery_file_upload/css/jquery.fileupload-ui.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery-ui/css/cupertino/jquery-ui-1.10.2.custom.min.css') }}" rel="stylesheet">
{#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/flick/jquery-ui.css" />#}
{% endblock %}

{% block content %}

    {% include 'tfoms/_nav_menu.html' %}
    <form class="form-horizontal" id="upload_form" enctype="multipart/form-data">
        <legend>Загрузка реестров, полученных из ТФОМС</legend>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Обратите внимание!</strong> К загрузке принимаем только XML
        </div>
        <div id="upload_result" class="hidden"></div>
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Выбрать файл</span>
            <input type="file" id="fileupload" name="upload_file">
        </span>
        <button type="button" class="btn btn-primary" id="upload_submit"><i class="icon-upload icon-white"></i> Загрузить данные</button>
        <div id="selected_file"></div>
    </form>
<div class="loader"></div>
{% endblock %}
{% block modules_js %}
{{ super() }}

<script src="{{ url_for('.static', filename='js/jquery_file_upload/js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery_file_upload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery_file_upload/js/jquery.fileupload.js') }}"></script>
<script type="text/javascript">
$(function () {
    $(document).on({
        ajaxStart: function() {
            $('body').addClass("loading");
        },
        ajaxStop: function() {
            $('body').removeClass("loading");
        }
    });
    $('#fileupload').fileupload({
        //Can be modified for multiple file uploads
        url: "{{ url_for('.ajax_upload') }}",
        dataType: "html",
        add: function (e, data) {
            $('#selected_file').html(data.files[0].name);
            data.context = $('#upload_submit').click(function () {
{#                data.context = $('<p/>').text('Загружается...').replaceAll($(this));#}
                data.submit();
            });
        },
        done: function (e, result) {
            if (result.result){
                show_msg(result.result);
            }
        }
    });
});

function show_msg(text){
    $('#upload_result').html(text).removeClass('hidden');
}
</script>
{% endblock %}