{% extends 'tfoms/base.html' %}

{% block title %}> {{ module_name }} > Настройка шаблонов{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
  <style>
	  .tags ul { list-style-type: none; margin: 0px; padding: 0; margin-bottom: 0px;}
	  .tags li { margin: 0px; padding: 0;}
	  .ui-state-highlight { background-color: #CCCCCC; height: 1.5em; line-height: 1.2em; border: dashed 1px gray;}
	  .sortable ul, .unused ul, .necessary ul{ margin:0px 0px 0px 25px; padding: 8px 0px 0px 0px;}
      .children { border-left:1px dotted;}
      #root { padding: 0;}
      .alert {margin-top:20px; margin-bottom: 0px;}
  </style>
{% endblock %}

{% block content %}

    {% include 'tfoms/_nav_menu.html' %}

        <legend>Настройка шаблонов реестров для выгрузки в ТФОМС</legend>

        {% include 'tfoms/settings_templates/_sub_menu.html' %}

        <div class="row-fluid">
          <div class="span4">
              <ul class="nav nav-list nav-stacked" id="exists">
                   <li><strong>Созданные шаблоны <span class="pull-right">Выгружать</span></strong></li>
                   <li class="divider"></li>
                       {%- for template in templates -%}
                            {% set id = template.id %}
                            {%- if id == current_id -%}
                                <li class="active">
                                    <span class="pull-right">
                                        {%- if template.is_active -%}
                                            <input class="is_active" type="radio" name="is_active" value="{{ id }}" checked/>
                                        {%- else -%}
                                            <input title="Выбрать для выгрузки данных по шаблону" class="is_active" type="radio" name="is_active" value="{{ id }}" />
                                        {%- endif -%}
                                    </span>
                                    <a href="{{ url_for('.settings_template', template_type='policlinic', id=id) }}">{{template.name}}</a>
                                </li>
                            {%- else -%}
                                <li>
                                    <span class="pull-right">
                                        {%- if template.is_active -%}
                                            <input class="is_active" type="radio" name="is_active" value="{{ id }}" checked/>
                                        {%- else -%}
                                            <input title="Выбрать для выгрузки данных по шаблону" class="is_active" type="radio" name="is_active" value="{{ id }}"  />
                                        {%- endif -%}
                                    </span>
                                    <a href="{{ url_for('.settings_template', template_type='policlinic', id=id) }}">{{template.name}}</a>
                                </li>
                            {%- endif -%}
                       {%- endfor -%}
                   <li class="divider"></li>
                   <li>
                        <span>
                            <a href="{{ url_for('.add_new_template', template_type='hospital', action="add_new") }}" class="btn btn-primary" title="Добавить новый шаблон">
                                <i class="icon-plus icon-white"></i>Создать
                            </a>
                        </span>
                   </li>
                </ul>

          </div>
          <div class="span8">
              <form id="main_form" class="form-horizontal" method=post>
                    <legend>Параметры шаблона:</legend>

                    <div class="control-group">
                        <label class="control-label">Название шаблона:</label>
                        <div class="controls">
                            {{ form.hidden_tag() }}
                            {{ form.name(class='input-xlarge', placeholder="Введите наименование шаблона", maxlength=30) }}
                            {% if form.name.errors %}
                                <ul class="errors" style="color:red">
                                {% for error in form.name.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="alert alert-error hidden">
                              <strong>Внимание!</strong> <span id="error_text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Архивировать файл:</label>
                        <div class="controls">
                            {{ form.archive }}
                        </div>
                    </div>


                  <p class="lead"><small>Состав и порядок размещения данных в шаблоне:</small></p>
                  <div class="row-fluid col-wrap tags">
                  <div class="span7 well col" id="used">
                      <legend >Попадают в реестр</legend>
                            <ul id="root" class="sortable">
                                {%- for tag in tag_tree -%}
                                    </li>
                                    <li class="children">
                                        <i class="tree"></i>{{tag.value.tag.code}} <small class="text-info">{{tag.value.tag.name}}</small>
                                        <input type="hidden" name="tag[{{tag.value.id}},{{ tag.value.tag.id }}]" value="{{tag.value.parent_id}},{{tag.value.ordernum}}">
                                {%- endfor -%}
                            </li>
                          </ul>
                  </div>
                        <div class="span5 well col" id="unused">
                          <legend>Не используются</legend>
                          <ul id="root" class="unused col">
                          {%- for tag in unused_tags -%}
                              <li class="children">
                                <i class="tree"></i>{{ tag.tag.code }} <small class="text-info">{{ tag.tag.name }}</small>
                                <input type="hidden" id="hid_{{tag.id}}" name="unusedtag[None,{{ tag.tag_id }}]" value="None,1">
                              </li>
                          {%- endfor -%}
                          </ul>

                        </div>
                  </div>
                    <div class="row-fluid col-wrap">
                        <!-- add a second row of wells or rounded corner divs immeadiately underneath-->
                        <div class="span7 col-base well"></div>
                        <div class="span5 col-base well"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            {% if current_id %}
                                <a id="confirm-delete" class="btn btn-danger btn-large" href="#" data-id={{ current_id }}>Удалить шаблон</a>
                            {% endif %}
                        </div>
                        <div class="span6 pull-right">
                            {% if current_id %}
                            <button id="Save_as_new" value="Save_as_new" type="submit" class="btn btn-large">Сохранить как новый</button>
                            {% endif %}
                            <button id="Save" value="Save" type="submit" class="pull-right btn btn-success btn-large">Сохранить</button>
                            <input id="btn" type="hidden" name="btn" value="Save">
                        </div>
                    </div>
        </form>
          </div>
        </div>
        <!-- Modal -->
        <div id="modal-from-dom" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Удаление шаблона</h3>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить шаблон?</p>
                <p id="debug-url"></p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="$('#modal-from-dom').modal('hide');" class="btn btn-secondary">Нет</a>
                <a href="{{ url_for('.delete_template', template_type='hospital', action='delete_template', id=current_id)}}" class="btn btn-danger">Да</a>
            </div>
        </div>

        <div id="modal-from-dom1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Сохранение изменений в шаблоне</h3>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите изменить шаблон?</p>
                <p id="debug-url"></p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="$('#modal-from-dom1').modal('hide');" class="btn btn-secondary">Нет</a>
                <a id="confirm-save" href="javascript:void(0);" onclick="$('#modal-from-dom1').modal('hide');" class="btn btn-success">Да</a>
            </div>
        </div>
{% endblock %}
{% block modules_js %}
{{ super() }}
  <script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
  <script>

  $(function() {
      var templates = {{ templates_names|tojson|safe }};

      var number_of_checked = $("input[name=is_active]:checked").length;
      if (number_of_checked===2){
            $("input[name=is_active]:not(:checked)").attr({
                              'disabled': 'disabled'
                        }).removeAttr('title');
      }

      function show_error(text){
            $('#error_text').text(text);
            $(".alert").removeClass('hidden');
      }

      $('#Save_as_new').click(function(){
          $('#btn').val($(this).val());
          $('#main_form').submit(function(){
              var current_name = $("input[name=name]").val();
              if (current_name === ""){
                  show_error('Необходимо указать наименование шаблона!');
                  $('html, body').animate({scrollTop:0}, 'slow');
                  return false;
              }
              else if (templates.indexOf(current_name) != -1){
                  show_error('Наименования шаблонов должны быть уникальны!');
                  $('html, body').animate({scrollTop:0}, 'slow');
                  return false;
              }
              return true;
          });
      });

      $('#Save').click(function(){
          $('#main_form').submit(function(){
              if({{ current_id }}){
                  var form = $(this);
                  $('#modal-from-dom1').modal('show');
                  $('#confirm-save').click(function(){
                      form.unbind('submit');
                      form.submit();
                  });
                  return false;
              }
              else{
                  var current_name = $("input[name=name]").val();
                  if (current_name === ""){
                      show_error('Необходимо указать наименование шаблона!');
                      $('html, body').animate({scrollTop:0}, 'slow');
                      return false;
                  }
                  else if (templates.indexOf(current_name) != -1){
                      show_error('Наименования шаблонов должны быть уникальны!');
                      $('html, body').animate({scrollTop:0}, 'slow');
                      return false;
                  }
                  return true;
              }

          });
      });

      function distinguish_used_unused_tags(event, ui) {
            var item = ui.item;
            var isused = item.closest('div').attr('id');
            var descendants = item.find('input');

            if(isused === 'used'){
                descendants.each(function(index, el){
                    var descendant = $(this);
                    var new_name = descendant.attr('name').replace(/unused/,"");
                    new_name = new_name.replace(/removed/,"");
                    descendant.attr('name', new_name);
                });
            }
            else{
                descendants.each(function(index, el){
                    var descendant = $(this);
                    var old_name = descendant.attr('name');
                    descendant.attr('name', 'removed'+old_name);
                });
            }
      }

      function find_parent_ordernum(event, ui) {
            var item = ui.item;
            var isused = item.closest('div').attr('id');
            //var item_parent_input = ui.item.children('input');
            //var descendants = item.find('input');
            var siblings = ui.item.parent().children();
            var parent_input = item.parent().parent().children('input');
            var number_of_children = parent_input.length;

            var parent_id = 'None';
            if(number_of_children>0){
                var name_parent = parent_input.attr('name');
                var re = /tag\[(\d+),\d+\]/i;
                var re1 = /tag\[None,(\d+)\]/i;
                parent_id = name_parent.match(re);
                if (parent_id){
                    parent_id = parent_id[1];
                }
                else{
                    parent_id = name_parent.match(re1);
                    if (parent_id){
                        parent_id = 't'+parent_id[1];
                    }
                    else{
                       parent_id = 'None';
                    }
                }
            }

            if (isused === 'used'){
                siblings.each(function(index, el){
                    item = $(this).children('input');
                    var ordernum_value = index+1;
                    item.val(parent_id+','+ordernum_value);
                });

            }
      }

        $("input[name=is_active]:radio").change(
                function(){
                    var item = $(this);
                    if ($(this).is(':checked')){
                        $("input[name=is_active]:not(:checked)").attr('title', "Выбрать для выгрузки данных по шаблону");
                        $(this).removeAttr('title');
                        $.ajax({
                                url : '{{ url_for('.activate', template_type='patients') }}',
                                type : 'POST',
                                data: {activate:item.val()}
                        });
                    }
                    else{
                        $.ajax({
                                url : '{{ url_for('.activate', template_type='patients') }}',
                                type : 'POST',
                                data: {deactivate:item.val()}
                        });
                    }
                }
        );

     $( "#root, #necessary" ).sortable({
        connectWith: ['.necessary'],
        opacity: 0.6,
        cursor: "move",
        placeholder: "ui-state-highlight"

     });

     $( ".unused" ).sortable({
        connectWith: ['ul.sortable', 'ul.unused'],
        opacity: 0.6,
        cursor: "move",
        placeholder: "ui-state-highlight",

        stop:function(event, ui) {
        distinguish_used_unused_tags(event, ui);
        find_parent_ordernum(event, ui);
        }

     });

    $( ".sortable" ).sortable({
        connectWith: ['.sortable', 'ul.unused'],
        opacity: 0.6,
        cursor: "move",
        placeholder: "ui-state-highlight",

        stop:function(event, ui) {
        distinguish_used_unused_tags(event, ui);
        find_parent_ordernum(event, ui);
        }
    });
    $( "ul, li" ).disableSelection();
    //$("#sortable, #sortable2").css('minHeight',"0px");
    $('#confirm-delete').on('click', function(e) {
        e.preventDefault();
        var id = $(this).data('id');
        $('#modal-from-dom').modal('show');
    });

  });
  </script>
{% endblock %}