{% macro action_list(model, action_type_group) %}
    <table class="table table-condensed table-hover table-clickable">
        <thead>
        <tr>
            <th>Тип действия</th>
            <th>Состояние</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Исполнитель</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in {{ model }} | action_group_filter:'{{ action_type_group }}'" ng-class="{'success': action.status.code == 'finished'}">
            <td ng-click="open_action(action.id)">[[ action.name ]]</td>
            <td ng-click="open_action(action.id)">[[action.status.name]]</td>
            <td ng-click="open_action(action.id)">[[ action.begDate | asDate ]]</td>
            <td ng-click="open_action(action.id)">[[ action.endDate | asDateTime ]]</td>
            <td ng-click="open_action(action.id)">[[ action.person_text ]]</td>
            <td>
                <button type="button" class="btn btn-sm btn-danger" title="Удалить" ng-show="action.status.code != 'finished'"
                        ng-click="open_delete_action_modal(action)"><span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <button type="button" class="btn btn-primary" ng-click="open_action_tree('{{ action_type_group }}')"
                        ng-if="current_role_maybe('doctor', 'clinicDoctor', 'admin')">Создать</button>
            </td>
        </tr>
        </tbody>
    </table>

{% endmacro %}