{% macro action_list(model) %}
    <table class="table table-condensed table-hover table-clickable">
        <thead>
        <tr>
            <th>Тип действия</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Исполнитель</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in {{ model }}" ng-click="open_action(action.id)">
            <td>[[ action.name ]]</td>
            <td>[[ action.begDate | asDate ]]</td>
            <td>[[ action.endDate | asDateTime ]]</td>
            <td>[[ action.person_text ]]</td>
        </tr>
        </tbody>
    </table>
{% endmacro %}