{% import "_macros.html" as macros %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-group list-no-border">
            <li class="list-group-item">Организация:&nbsp; [[ event_info.organisation.short_name ]]</li>
            <li class="list-group-item"><div>Лечащий врач:&nbsp;{{ macros.ui_select_rb('vrbPerson', 'event_info.exec_person',
                'event_edit_list.indexOf("event_info.exec_person") != -1') }}</div></li>
            <li class="list-group-item">Договор:&nbsp; [[ event_info.contract.number ]]</li>
            <li class="list-group-item">Дата начала:&nbsp; [[ event_info.set_date | asDate]]</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-no-border">
            <li class="list-group-item">Тип обращения:&nbsp; [[ event_info.event_type.request_type.name ]]</li>
            <li class="list-group-item"><div>Источник финансирования:&nbsp; [[ event_info.event_type.finance.name ]]</div></li>
            <li class="list-group-item">Тип события:&nbsp; [[ event_info.event_type.name ]]</li>
            <li class="list-group-item">Дата выполнения:&nbsp; <div>{{ macros.edit_date('event_info.exec_date',
                'event_edit_list.indexOf("event_info.exec_date") != -1') }}</div></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Порядок обращения</div>
            <ul class="list-group list-no-border">
                <li class="list-group-item">
                    <div>Порядок:&nbsp;{{ macros.ui_select_rb('rbOrder', 'event_info.order',
                        'event_edit_list.indexOf("event_info.order") != -1') }}</div>
                </li>
                <li class="list-group-item">
                    <div>Первичность:&nbsp;{{ macros.ui_select_rb('rbPrimary', 'event_info.is_primary',
                        'event_edit_list.indexOf("event_info.is_primary") != -1') }}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Результат обращения</div>
            <ul class="list-group list-no-border">
                <li class="list-group-item">
                    <div>Результат:&nbsp;{{ macros.ui_select_rb('rbResult', 'event_info.result',
                        'event_edit_list.indexOf("event_info.result") != -1') }}</div>
                </li>
                <li class="list-group-item">
                    <div>Исход:&nbsp;{{ macros.ui_select_rb('rbAcheResult', 'event_info.acheResult',
                        'event_edit_list.indexOf("event_info.acheResult") != -1') }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-hide="diag_edit[0]._first">
    <div class="col-md-12 marginal"><button class="btn btn-primary" ng-click="diag_edit_new()">Новый диагноз</button></div>
</div>
<div class="row" ng-repeat="diagnose in diagnoses">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a ng-if="!diag_edit[$index]" ng-click="diag_edit_start($index)"
                   class="btn btn-default glyphicon glyphicon-edit"></a>
                <a ng-if="diag_edit[$index]" ng-click="diag_edit_save($index)"
                   class="btn btn-success glyphicon glyphicon-ok" ng-disabled="diag_edit_save_disabled($index)"></a>
                <a ng-if="diag_edit[$index]" ng-click="diag_edit_stop($index)"
                   class="btn btn-danger glyphicon glyphicon-remove"></a>
                Диагноз ([[ diagnose.diagnosis_type.name ]])
            </div>
            <div class="panel-body">
                <form class="form form-inline">
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Тип диагноза</label>
                            {{ macros.ui_select_tmp('diagnose', 'diagnosis_type', 'rbDiagnosisType', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Врач</label>
                            {{ macros.ui_select_tmp('diagnose', 'person', 'Person', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-2">
                            <label>МКБ</label>
                            {{ macros.ui_select_tmp_noa('diagnose', 'mkb', 'rbMKB', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-2">
                            <label>доп. МКБ</label>
                            {{ macros.ui_select_tmp_noa('diagnose', 'mkb_ex', 'rbMKB', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Характер</label>
                            {{ macros.ui_select_tmp('diagnose', 'character', 'rbDiseaseCharacter', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Фаза</label>
                            {{ macros.ui_select_tmp('diagnose', 'phase', 'rbDiseasePhases', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Стадия</label>
                            {{ macros.ui_select_tmp('diagnose', 'stage', 'rbDiseaseStage', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Диспансерное наблюдение</label>
                            {{ macros.ui_select_tmp('diagnose', 'dispanser', 'rbDispanser', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Травма</label>
                            {{ macros.ui_select_tmp('diagnose', 'trauma_type', 'rbTraumaType', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Группа здоровья</label>
                            {{ macros.ui_select_tmp('diagnose', 'health_group', 'rbHealthGroup', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="notes">Примечания</label>
                            <div class="form-control-static" ng-hide="diag_edit[$index]">[[ diagnose.notes ]]</div>
                            <textarea id="notes" class="form-control" ng-model="diag_edit[$index].notes" ng-show="diag_edit[$index]"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-left">
        <div class="dropup">
            <button class="btn btn-lg dropdown-toggle" type="button" id="print_dropdownMenu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-print"></span> Печать <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="print_dropdownMenu">
                <li role="presentation" ng-repeat="template in PrintTemplates">
                    <a role="menuitem" tabindex="-1" href="" class="print_template"
                       ng-click="print_template(template.id)">[[ template.name ]]</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button ng-click="cancel_editing();" class="btn btn-danger btn-lg">Назад</button>
        <button ng-click="save_event();" class="btn btn-success btn-lg">Сохранить</button>
    </div>
</div>