{% extends "schedule/base.html" %}

{% block modules_css %}
    {{ super() }}
    <style>
        .minheight .list-group-item {
            min-height: 81px;
        }
    </style>
{% endblock %}

{% import "_macros.html" as macros %}
{% block main %}
    <div ng-controller="EventCreateCtrl">
        <legend xmlns="http://www.w3.org/1999/html">Создание обращения, пациент
            <a href="{{ url_for('patients.patient') }}?client_id=[[event_info.client_id]]">
                [[ event_info.client.fullName ]]</a></legend>
        <div class="col-md-6" style="">
            <ul class="list-group minheight">
                <li class="list-group-item">
                    <label for="">Организация</label>
                    <div>[[ event_info.organisation.short_name ]]</div>
                </li>
                <li class="list-group-item">
                    <label for="">Лечащий врач</label>
                    <ui-select ng-model="event_info.exec_person"
                               theme="select2">
                        <match placeholder="Лечащий врач">[[$select.selected.name]]</match>
                        <choices repeat="p in Person.objects | filter: $select.search ">
                            <div ng-bind-html="p.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Договор</label>
                    <ui-select ng-model="event_info.contract"
                               theme="select2">
                        <match placeholder="Договор">[[$select.selected.number]] [[$select.selected.date]]
                                                     [[$select.selected.resolution]]</match>
                        <choices repeat="c in Contract.objects
                                         | contract_filter:event_info
                                         | filter: $select.search ">
                            <div ng-bind-html="(c.number+' '+c.date+' '+c.resolution) | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                </li>
                <li class="list-group-item">
                    <label for="">Дата начала</label>
                    <input type="text" class="form-control" datepicker_popup="dd.MM.yyyy" autocomplete="off"
                        ng_model="event_info.set_date">
                </li>
                <li class="list-group-item">
                    <label for="">Дата выполнения</label>
                    <input type="text" class="form-control" datepicker_popup="dd.MM.yyyy" autocomplete="off"
                        ng_model="event_info.exec_date">
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group minheight">
                <li class="list-group-item">
                    <label for="">Тип обращения</label>
                    <ui-select ng-model="request_type.selected"
                               theme="select2">
                        <match placeholder="Тип обращения">[[$select.selected.name]]</match>
                        <choices repeat="rt in rbRequestType.objects
                                         | filter: rbRequestType.objects && rbRequestType.get_by_code('policlinic')
                                         | filter: $select.search ">
                            <div ng-bind-html="rt.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Источник финансирования</label>
                    <ui-select ng-model="finance.selected"
                               theme="select2">
                        <match placeholder="Источник финансирования">[[$select.selected.name]]</match>
                        <choices repeat="f in rbFinance.objects
                                         | event_type_filter: rbFinance.objects && rbEventType.get_finances_by_rt(request_type.selected.id)
                                         | filter: $select.search ">
                            <div ng-bind-html="f.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Тип события</label>
                    <ui-select ng-model="event_info.event_type"
                               theme="select2">
                        <match placeholder="Тип события">[[$select.selected.name]]</match>
                        <choices repeat='et in rbEventType.objects
                                         | event_type_filter: rbEventType.objects && rbEventType.get_filtered_by_rtf(request_type.selected.id, finance.selected.id)
                                         | filter: $select.search '>
                            <div ng-bind-html="et.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Подразделение</label>
                    <ui-select ng-model="event_info.org_structure"
                               theme="select2">
                        <match placeholder="Подразделение">[[$select.selected.name]]</match>
                        <choices repeat="os in OrgStructure.objects | filter: $select.search ">
                            <div ng-bind-html="os.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Первичность</label>
                    <ui-select ng-model="event_info.is_primary"
                               theme="select2">
                        <match placeholder="Первичность">[[$select.selected.name]]</match>
                        <choices repeat="rbp in rbPrimary.objects | filter: $select.search ">
                            <div ng-bind-html="rbp.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
                <li class="list-group-item">
                    <label for="">Порядок</label>
                    <ui-select ng-model="event_info.order"
                               theme="select2">
                        <match placeholder="Порядок">[[$select.selected.name]]</match>
                        <choices repeat="rbo in rbOrder.objects | filter: $select.search ">
                            <div ng-bind-html="rbo.name | highlight: $select.search"></div>
                        </choices>
                    </ui-select>
                </li>
            </ul>
        </div>

{#        <div>#}
{#            <p>debug:</p>#}
{#            <p>[[event_info | json]]</p>#}
{#            <p>[[request_type.selected | json]]</p>#}
{#            <p>[[finance.selected | json]]</p>#}
{#        </div>#}
        <br />
        <div class="pull-right">
            <button ng-click="cancel_editing();" class="btn btn-lg btn-danger">Назад</button>
            <button ng-click="create_event();" class="btn btn-lg btn-success">Создать</button>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    <script>
    WebMis20.controller('EventCreateCtrl', ['$scope', '$http', 'RefBookService', 'EventType','$window',
                        function ($scope, $http, RefBookService, EventType, $window) {
        $scope.aux = aux;
        $scope.event_info = null;
        $scope.client_id = aux.getQueryParams(location.search).client_id;
        $scope.Organisation = RefBookService.get('Organisation');
        $scope.Person = RefBookService.get('vrbPersonWithSpeciality');
        $scope.Contract = RefBookService.get('Contract');
        $scope.rbRequestType = RefBookService.get('rbRequestType');
        $scope.rbFinance = RefBookService.get('rbFinance');
        $scope.rbEventType = new EventType();
        $scope.OrgStructure = RefBookService.get('OrgStructure');

        $scope.rbOrder = {{ Enum.get_class_by_name('EventOrder').rb() | tojson}};
        $scope.rbPrimary = {{ Enum.get_class_by_name('EventPrimary').rb() | tojson}};

        $scope.editing_list = [];
        $scope.start_edit = function(element) {
            $scope.editing_list.push(element);
        };

        $scope.stop_edit = function(element) {
            $scope.editing_list.splice($scope.editing_list.indexOf(element), 1);
        };

        $scope.create_event = function() {
            $http.post('{{ url_for('schedule.api_event_save') }}', $scope.event_info).success(function (data) {
                var event_id = data['result'];
                window.open('{{ url_for('schedule.html_event_info') }}?event_id=' + event_id, '_self');
            });
        };

        $scope.request_type = {};
        $scope.finance = {};

        $scope.$watch('request_type.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.finance.selected = $scope.finance_init || $scope.rbEventType.get_finances_by_rt(new_val.id)[0];
                $scope.finance_init = undefined;
            }
        });
        $scope.$watch('finance.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.event_info.event_type = $scope.event_type_init || $scope.rbEventType.get_filtered_by_rtf(
                    $scope.request_type.selected.id, new_val.id)[0];
                    $scope.event_type_init = undefined;
            }
        });

        $scope.load_data = function () {
            $http.get('{{ url_for('schedule.api_event_new_get') }}', {
                params: {
                    client_id: $scope.client_id
                }
            }).success(function (data) {
                $scope.event_info = data.result;

                $scope.request_type_init = angular.extend({}, $scope.event_info.event_type.request_type);
                $scope.finance_init = angular.extend({}, $scope.event_info.event_type.finance);
                $scope.event_type_init = angular.extend({}, $scope.event_info.event_type);

                $scope.request_type.selected = $scope.request_type_init;
                $scope.finance.selected = $scope.finance_init;
            })
        };

        $scope.load_data();

    }])
    </script>
{% endblock %}
