<div class="box box-warning" ng-controller="CurrentCardsOverviewCtrl">
    <div class="box-header with-border">
        <h3 class="box-title">Статистика по пациенткам</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-condensed no-border">
            <tr>
                <td>Всего открытых карт</td>
                <td>
                    <a ng-href="[[getExtendedSearchUrl('all')]]">
                        <span class="badge label-info pull-right">[[stats_data.events_all]]</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Родившие с незакрытыми картами (более 42 дней)</td>
                <td>
                    <a ng-href="[[getExtendedSearchUrl('not_closed42')]]">
                        <span class="badge pull-right" ng-class="{'label-info': stats_data.events_not_closed_42 === 0,
                            'label-danger': stats_data.events_not_closed_42 !== 0}">[[stats_data.events_not_closed_42]]</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Пропущено плановое посещение (2 месяца)</td>
                <td>
                    <a href="[[getExtendedSearchUrl('missed_inspection')]]">
                        <span class="badge pull-right" ng-class="{'label-info': stats_data.events_2_months === 0,
                            'label-danger': stats_data.events_2_months !== 0}">[[stats_data.events_2_months]]</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Карты с неопределенными степенями риска</td>
                <td>
                    <a href="[[getExtendedSearchUrl('undefined_prenatal_risks')]]">
                        <span class="badge pull-right" ng-class="{'label-info': stats_data.events_undefined_risk === 0,
                            'label-danger': stats_data.events_undefined_risk !== 0}">[[stats_data.events_undefined_risk]]</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>