<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Худшие показатели по ведению карт</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <nvd3-multi-bar-horizontal-chart
            id="chart_fill_assessment"
            data="chart_fill_assessment"
            width="400"
            height="200"
            nodata="Нет данных"
            showXAxis="true"
            margin="{left:100,top:0,bottom:0,right:0}"
            showlabels="true"
            labeltype="value"
            showValues="true"
            ><svg></svg>
        </nvd3-multi-bar-horizontal-chart>
    </div>
    <div class="box-footer text-center">
        <a href="#" class="uppercase">Подробнее</a>
    </div>
</div>