{#<div class="box box-success">#}
{#    <div class="box-header with-border"><h3 class="box-title">Коэффициент материнской смертности в [[ curYear ]] г.: <b>[[maternal_death_coeff]]</b></h3></div>#}
{#    <div class="box-body">#}
{#    </div>#}
{#</div>#}
{% import 'risar/stats/_diag_macros.html' as diag_macros with context %}
<div class="nav-tabs-custom" ng-controller="MaternalDeathStatCtrl">
    <ul class="nav nav-tabs pull-right ui-sortable-handle">
        <li><a href="#maternal_by_region" data-toggle="tab"><b>В регионе</b></a></li>
        <li class="active"><a href="#maternal_current_year" data-toggle="tab"><b>Период</b></a></li>
        <li class="pull-left header">
            Коэффициент материнской смертности в [[ curYear ]] г.: <b>[[maternal_death_coeff]]</b>
        </li>
    </ul>
    <div class="tab-content no-padding">

        <div class="chart tab-pane active" id="maternal_current_year" style="position: relative;">
            {{  diag_macros.date_range_selector() }}
            <nvd3-line-chart
                    data="maternal_death"
                    id="maternal_death"
                    width="1000"
                    height="300"
                    xAxisTickFormat="xAxisTickFormat"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="false"
                    interactive="true"
{#                    xAxisTickValues="x_values"#}
                    showLegend="true"
                    nodata="Нет данных"
                    ><svg></svg>
            </nvd3-line-chart>
        </div>
        <div class="chart tab-pane" id="maternal_by_region" style="position: relative;">
            <nvd3-line-chart
                    data="prev_years_maternal_death"
                    id="prev_years_maternal_death"
                    width="1000"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    xAxisTickFormat="xAxisTickFormatYears"
                    tooltips="true"
                    showLegend="true"
                    nodata="Нет данных"
                    ><svg></svg>
            </nvd3-line-chart>
        </div>
    </div>
</div>