<div class="box box-success">
    <div class="box-header with-border"><h3 class="box-title">Коэффициент материнской смертности в [[ curYear ]] г.: <b>[[maternal_death_coeff]]</b></h3></div>
    <div class="box-body">
        <nvd3-line-chart
                data="maternal_death"
                id="maternal_death"
                width="1000"
                height="150"
                xAxisTickFormat="xAxisTickFormat"
                showXAxis="true"
                showYAxis="true"
                tooltips="true"
                interactive="true"
{#                margin="{left:30,top:20,bottom:20,right:20}"#}
                xAxisTickValues="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                tooltipcontent="toolTipContentFunction_maternal_death()"
                showLegend="true"
                ><svg></svg>
        </nvd3-line-chart>
    </div>
</div>