<div class="box box-success">
    <div class="box-header with-border"><h3 class="box-title">Коэффициент перинатальной смертности в  [[ curYear ]] г.: <b>[[infants_death_coeff]] &#8240;</b></h3></div>
    <div class="box-body">
        <nvd3-line-chart
                data="infants_death"
                id="infants_death"
                width="1000"
                height="300"
                xAxisTickFormat="xAxisTickFormat"
                showXAxis="true"
                showYAxis="true"
                tooltips="true"
{#                interactive="true"#}
{#                margin="{left:30,top:20,bottom:20,right:20}"#}
                xAxisTickValues="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                showLegend="true"
                ><svg></svg>
        </nvd3-line-chart>
    </div>
</div>