{#<div class="box box-success">#}
{#    <div class="box-header with-border"><h3 class="box-title">Коэффициент перинатальной смертности в  [[ curYear ]] г.: <b>[[infants_death_coeff]] &#8240;</b></h3></div>#}
{#    <div class="box-body">#}
{##}
{#    </div>#}
{#</div>#}
{% import 'risar/stats/_diag_macros.html' as diag_macros with context %}
<div class="nav-tabs-custom" ng-controller="PerinatalDeathStatCtrl" ng-cloak>
    <ul class="nav nav-tabs pull-right ui-sortable-handle">
        <li><a href="#by_region" data-toggle="tab"><b>В регионе</b></a></li>
        <li class="active"><a href="#current_year" data-toggle="tab"><b>Период</b></a></li>
        <li class="pull-left header">
            Коэффициент перинатальной смертности в  [[ curYear ]] г.: <b>[[infants_death_coeff]] &#8240;</b>
        </li>
    </ul>
    <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="current_year" style="position: relative;">
            {{  diag_macros.date_range_selector() }}
            <nvd3-line-chart
                    data="infants_death"
                    id="infants_death"
                    width="1000"
                    height="300"
                    xAxisTickFormat="xAxisTickFormat"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="false"
                    interactive="true"
{#                    useInteractiveGuideline="true"#}
    {#                margin="{left:30,top:20,bottom:20,right:20}"#}
                    showLegend="true"
                    nodata="Нет данных"
                    ><svg></svg>
            </nvd3-line-chart>
        </div>
        <div class="chart tab-pane" id="by_region" style="position: relative;">
            <nvd3-line-chart
                    data="infants_prev_years"
                    id="infants_prev_years"
                    width="1000"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    xAxisTickFormat="xAxisTickFormatYears"
                    tooltips="true"
                    showLegend="true"
                    nodata="Нет данных"
                    ><svg></svg>
            </nvd3-line-chart>
        </div>
        <div class="row">
                <div class="col-md-offset-1 col-md-9" ng-if="alive_children_cards || dead_children_cards">
                    <span class="header">Выбранные карты:</span> <span class="col-md-offset-3">&nbsp;<i class="fa fa-remove text-danger" ng-click="closeChosenCards()"></i></span>
                    <div class="row">
                        <div class="col-md-6" style="max-height: 250px!important; overflow-y: scroll!important;">
                            <span ng-if="alive_children_cards" style="color:#339933;">Живые</span>
                            <ul class="list-unstyled">
                                <li ng-repeat="card in alive_children_cards">
                                    <a ng-href="{{ url_for('.html_pregnancy_chart') }}?event_id=[[ card.event_id ]]">[[card.external_id]] [[card.patient_fio]]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6" style="max-height: 250px!important; overflow-y: scroll!important;">
                            <span ng-if="dead_children_cards" style="color:#FF6633;">Умершие</span>
                            <ul class="list-unstyled">
                                <li ng-repeat="card in dead_children_cards">
                                    <a ng-href="{{ url_for('.html_pregnancy_chart') }}?event_id=[[ card.event_id ]]">[[card.external_id]] [[card.patient_fio]]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>