<div class="box box-default" ng-controller="OrgBirthCareViewCtrl">
    <div class="box-header with-border">
        <h3 class="box-title">Уровни оказания перинатальной помощи</h3>
        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <ul class="products-list product-list-in-box">
            <li ng-repeat="obcl in obcl_items" class="item">
                <div class="product-img" ng-style="{width: 50, height: 50, background: obcl.color}">
                </div>
                <div class="product-info">
                    <span class="product-title">[[ obcl.name ]] уровень <span class="label label-primary pull-right">[[ obcl.org_count ]]</span></span>
                    <span class="product-description normalwrap">[[ obcl.description ]]</span>
                    <div class="product-description normalwrap">
                        <span class="nowrap">Всего: <span class="rmargin10 text-black" style="font-size: larger; font-weight: bold;" title="Всего пациенток, планово установленных на родоразрешение">
                            [[obcl.patient_by_risk_count.all]]</span></span>
                        <span class="nowrap">Высокая: <span class="text-danger rmargin10" style="font-size: larger; font-weight: bold" title="[[getRRToolTipText(obcl.perinatal_risk_rate)]]">
                            [[obcl.patient_by_risk_count.high]]</span></span>
                        <span class="nowrap">Средняя: <span class="text-warning rmargin10" style="font-size: larger; font-weight: bold" title="[[getRRToolTipText(obcl.perinatal_risk_rate)]]">
                            [[obcl.patient_by_risk_count.medium]]</span></span>
                        <span class="nowrap">Низкая: <span class="text-success rmargin10" style="font-size: larger; font-weight: bold" title="[[getRRToolTipText(obcl.perinatal_risk_rate)]]">
                            [[obcl.patient_by_risk_count.low]]</span></span>
                        <span class="nowrap">Неопределенная: <span class="rmargin10 text-black" style="font-size: larger; font-weight: bold" title="[[getRRToolTipText(obcl.perinatal_risk_rate)]]">
                            [[obcl.patient_by_risk_count.undefined]]</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box-footer text-center">
        <a href="{{ url_for('.html_stats_org_birth_care') }}" class="uppercase">Подробнее</a>
    </div>
</div>