<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Изменения по картам</h3>
        <span class="badge label-info" style="margin-right: 5px;">[[ pager_recently_modified_charts.record_count ]]</span>
        <div class="pull-left">
            <pagination class="pagination pagination-sm no-margin" ng-model="pager_recently_modified_charts.current_page" total-items="pager_recently_modified_charts.record_count"
                        items-per-page="itemsPerPage" style="vertical-align: middle;" ng-show="pager_recently_modified_charts.pages > 1"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        max-size="pager_recently_modified_charts.max_pages" ng-change="onRecentlyModifiedPageChanged()">
            </pagination>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>

    <div class="box-body no-padding">
        <table class="table">
            <tbody>
            <tr>
                <th>ФИО</th>
                <th>Риск</th>
                <th>Срок</th>
                <th>Дата редактирования</th>
            </tr>
            <tr ng-repeat="row in recently_modified_charts">
                <td><a ng-href="{{ url_for('.html_pregnancy_chart') }}?event_id=[[ row.id ]]">[[
                    row.client.full_name ]]</a></td>
                <td><span class="label"
                          ng-class="{'label-default': row.risk_rate.code == 'undefined',
                                     'label-success': row.risk_rate.code == 'low',
                                     'label-warning': row.risk_rate.code == 'medium',
                                     'label-danger': row.risk_rate.code == 'high'}">[[ row.risk_rate.name ]]</span></td>
                <td>[[ row.pregnancy_week ]]<i class="fa fa-question" ng-if="!row.pregnancy_week"></i></td>
                <td ng-bind="row.modify_date | asDate"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>