<ng-form name="addressForm" toc-element="Адреса">
    <h4>Адрес регистрации и проживания</h4>
    <ng-form name="_regaddress" toc-element="Регистрации">
        <div ng-repeat="reg_addr in client.reg_addresses | flt_not_deleted">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Адрес регистрации</h3>
                    <div class="box-tools pull-right">
                        <button type="button" ng-show="reg_addr.id" class="btn btn-box-tool" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                        <button type="button" class="btn btn-box-tool" title="Удалить"
                                ng-click="clientServices.delete_address(client, 0, reg_addr)">
                            <span class="glyphicon glyphicon-trash text-danger"></span></button>
                    </div>
                </div>
                <div class="box-body">
                    <ng-form name="regAddressForm">
                        <wm-kladr-address prefix='reg'
                            address-model="reg_addr"
                            edit-mode="reg_addr.id ? edit.activated : true">
                        </wm-kladr-address>
                    </ng-form>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-lg btn-link btn-block"
                            ng-click="clientServices.add_new_address(client, 0)"><i class="ion ion-plus-round fa-fw"></i>Добавить адрес регистрации</button>
                </div>
            </div>
{#            <div>[[reg_addr | json]]</div>#}
        </div>
    </ng-form>
    <ng-form name="_liveaddress" toc-element="Проживания">
        <div ng-repeat="live_addr in client.live_addresses | flt_not_deleted">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Адрес проживания</h3>
                    <div class="box-tools pull-right">
                        <button ng-show="live_addr.id" type="button" class="btn btn-box-tool" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                        <button type="button" class="btn btn-box-tool" title="Удалить"
                                ng-click="clientServices.delete_address(client, 1, live_addr)">
                            <span class="glyphicon glyphicon-trash text-danger"></span></button>
                    </div>
                </div>
                <div class="box-body">
                    <ng-form name="locAddressForm">
                        <wm-kladr-address prefix='loc'
                            address-model="live_addr"
                            edit-mode="(live_addr.synced ? live_addr.live_id : live_addr.id) ? edit.activated : true">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="[[prefix]]_copy_addr" name="copy_addr"
                                           ng-model="live_addr.synced"
                                           ng-change="clientServices.sync_addresses(client, live_addr, live_addr.synced)"
                                           ng-disabled="(live_addr.synced ? live_addr.live_id : live_addr.id) ? !edit.activated : false"/>
                                    Совпадает с адресом регистрации
                                </label>
                            </div>
                        </wm-kladr-address>
                    </ng-form>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-lg btn-link btn-block"
                        ng-click="clientServices.add_new_address(client, 1)"><i class="ion ion-plus-round fa-fw"></i>Добавить адрес проживания</button>
                </div>
            </div>
{#            <div>[[live_addr | json]]</div>#}
        </div>
    </ng-form>
</ng-form>