<ng-form name="_vmp_coupons_form" toc-element="Талоны ВМП">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Талоны ВМП</h3>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>№ талона</th>
                <th>Диагноз</th>
                <th>Код ВМП</th>
                <th>Дата планируемой госпитализации</th>
                <th colspan="2">История болезни</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="coupon in client.info.vmp_coupons">
                <td>[[ coupon.number ]]</td>
                <td>[[ coupon.mkb ]]</td>
                <td>[[ coupon.code ]]</td>
                <td>[[ coupon.date | asDate ]]</td>
                <td>[[ coupon.event ]]</td>
                <td>
                    <button class="btn btn-primary" ng-click="clientServices.editVmpCoupon(client, coupon)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-primary" ng-click="clientServices.removeVmpCoupon(client, coupon)" ng-if="! coupon.event"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td colspan="6"><a ng-click="clientServices.addVmpCoupon(client)">+ Добавить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-form>