<legend name="_docHistory" toc-element="История документов">История изменений документов</legend>
<div class="row" ng-if="client.document_history.length">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Серия</th>
                    <th>Номер</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in client.document_history">
                    <td>[[doc.hasOwnProperty('doc_type') ? doc.doc_type.name : doc.policy_type.name]]</td>
                    <td>[[doc.serial]]</td>
                    <td>[[doc.number]]</td>
                    <td>[[doc.beg_date|asDate]]</td>
                    <td>[[doc.end_date|asDate]]</td>
{#                    <td>#}
{#                        <a class="btn btn-sm btn-default" href="" title="Удалить документ"#}
{#                           ng-click="delete_record('documentHistory', document)" ng-show="editing">#}
{#                            <span class="glyphicon glyphicon-trash"></span>#}
{#                        </a>#}
{#                    </td>#}
                </tr>
            </tbody>
        </table>
    </div>
</div>