<table class="table table-condensed table-hover table-clickable novmargin">
    <thead>
    <tr>
        <th>Номер АК</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Тип события</th>
        <th>Лечащий врач</th>
        <th>Результат</th>
        {# <th>Тип обращения</th> #}
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in client.events" {# ng-class="{'bg-danger': !event.execDate}" #}
        ng-click="open_event(event.id)" style="cursor: pointer">
        <td>[[ event.externalId ]]</td>
        <td>[[ event.setDate | asDate ]]</td>
        <td>[[ event.execDate | asDate ]]</td>
        <td>[[ event.event_type.name ]]</td>
        <td>[[ event.person.name ]]</td>
        <td>[[ event.result.name ]]</td>
        {# <td>[[ event.requestType.name ]]</td>#}
    </tr>
    </tbody>
</table>