<ng-form name="_idDocForm" toc-element="Документы">
    <div ng-repeat="doc in client.id_docs | flt_not_deleted">
        <ng-form name="idDocForm">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Документ удостоверяющий личность</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" title="Редактировать"
                            ng-click="edit.activated=true" ng-show="doc.id"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                        <button type="button" class="btn btn-box-tool" title="Удалить"
                            ng-click="clientServices.delete_document(client, doc)"><span class="text-danger glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
                <div class="box-body">
                    <wm-document id-postfix="c[[$index]]"
                        group-code="1"
                        model-document="doc"
                        required="true"
                        edit-mode="doc.id ? edit.activated : true">
                    </wm-document>
                    <div ng-if="doc.file_attach">
                        <h5>Копия документа</h5>
                        <wm-client-file-attach attach-type="document"
                            model-attach="doc.file_attach"
                            model-doc="doc"
                            on-add="add_new_file(documentInfo, policyInfo)"
                            on-open="openFile(cfa_id, idx)">
                        </wm-client-file-attach>
                        <button type="button" class="btn-link" ng-click="printFilesAttach([doc.file_attach])" title="Печать копии">
                            <span class="glyphicon glyphicon-print"></span>
                        </button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</ng-form>