<legend>Связи с внешними системами</legend>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" ng-hide="editing_is_active() || !client.client_info['identifications'].length">
            <thead>
                <tr>
                    <th>Внешняя учетная система</th>
                    <th>Идентификатор</th>
                    <th>Дата подтверждения</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="identification in  client.client_info['identifications']">
                    <td>[[identification.accountingSystem_name]]</td>
                    <td>[[identification.identifier]]</td>
                    <td>[[identification.checkDate]]</td>
                </tr>
            </tbody>
        </table>
        <div id="client_ident_subform" ng-show="editing_is_active()">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Внешняя учетная система</th>
                    <th>Идентификатор</th>
                    <th>Дата подтверждения</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="identification in  client.client_info['identifications']">
                        <td class="col-md-4" ng-hide="identification.deleted">
                            {{ form.identification_accountingSystem(class="form-control", autocomplete="off",
                               ng_model="identification.accountingSystem_code") }}</td>
                        <td class="col-md-3" ng-hide="identification.deleted">
                            {{ form.identification_identifier(class="form-control", autocomplete="off",
                               ng_model="identification.identifier") }}</td>
                        <td class="col-md-2" ng-hide="identification.deleted">
                            {{ form.identification_checkDate(class="form-control", autocomplete="off",
                               datepicker_popup="dd.MM.yyyy", ng_model="identification.checkDate") }}</td>
                        <td class="col-md-1" ng-hide="identification.deleted">
                            <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                               ng-click="delete_record('identifications', identification)" >
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" ng-click="client.add_identification()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
            </button>
        </div>
    </div>
</div>