<div class="marginal">
    <ng-form name="_policies" toc-element="Полисы">
    <legend>Медицинские полисы</legend>
    <h4>Полис ОМС</h4>
    <div ng-repeat="cpol in client.compulsory_policies | flt_not_deleted">
        <ng-form name="cpolForm" toc-element toc-dynamic="cpol.insurer.short_name">
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <wm-policy p-type="0" id-postfix="c[[$index]]"
                            model-policy="cpol"
                            edit-mode="cpol.id ? edit.activated : true">
                        </wm-policy>
{#                        <div ng-if="cpol.file_attach">#}
{#                            <h5 class="attach-file-copy-heading">Копия документа</h5>#}
{#                            <wm-client-file-attach attach-type="policy"#}
{#                                model-attach="cpol.file_attach"#}
{#                                model-doc="cpol"#}
{#                                on-add="add_new_file(documentInfo, policyInfo)"#}
{#                                on-open="openFile(cfa_id, idx)">#}
{#                            </wm-client-file-attach>#}
{#                        </div>#}
                    </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row" ng-show="cpol.id">
                        <button type="button" class="btn btn-primary marginal" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-danger marginal" title="Удалить"
                                ng-click="clientServices.delete_cpolicy(client, cpol)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
                ng-click="clientServices.add_new_cpolicy(client)">Добавить новый</button>
    </div>

    <hr>

    <h4>Полисы ДМС</h4>
    <div ng-repeat="vpol in client.voluntary_policies | flt_not_deleted">
        <ng-form name="vpolForm" toc-element toc-dynamic="vpol.insurer.short_name">
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <wm-policy p-type="1" id-postfix="v[[$index]]"
                            model-policy="vpol"
                            edit-mode="vpol.id ? edit.activated : true">
                        </wm-policy>
{#                        <div ng-if="vpol.file_attach">#}
{#                            <h5 class="attach-file-copy-heading">Копия документа</h5>#}
{#                            <wm-client-file-attach attach-type="policy"#}
{#                                model-attach="vpol.file_attach"#}
{#                                model-doc="vpol"#}
{#                                on-add="add_new_file(documentInfo, policyInfo)"#}
{#                                on-open="openFile(cfa_id, idx)">#}
{#                            </wm-client-file-attach>#}
{#                        </div>#}
                    </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row" ng-show="vpol.id">
                        <button type="button" class="btn btn-primary marginal" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-danger marginal" title="Удалить"
                                ng-click="clientServices.delete_vpolicy(client, vpol)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
                ng-click="clientServices.add_new_vpolicy(client)">Добавить новый</button>
    </div>
    </ng-form>
</div>

