<ng-form name="_socStatuses" toc-element="Соц. статус">
    <h4>Социальные статусы</h4>
    <ng-form name="_invalidity" toc-element="Инвалидность">
        <div ng-repeat="socstat in client.invalidities | flt_not_deleted">
            <ng-form name="socStatInvalidityForm">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Инвалидность</h3>
                        <div class="box-tools pull-right">
                            <button ng-show="socstat.id" type="button" class="btn btn-box-tool" title="Редактировать"
                                    ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                            <button type="button" class="btn btn-box-tool" title="Удалить"
                                    ng-click="clientServices.delete_invalidity(client, socstat)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <wm-soc-status ss-class="2" id-postfix="i[[$index]]"
                            model-soc-status="socstat"
                            edit-mode="socstat.id ? edit.activated : true">
                        </wm-soc-status>
                        <h5>Документ</h5>
                        <wm-document id-postfix="c[[$index]]"
                            group-code="7"
                            model-document="socstat.self_document"
                            edit-mode="socstat.self_document.id ? edit.activated : true">
                        </wm-document>
                        <div ng-if="socstat.self_document.file_attach">
                            <h5>Копия документа</h5>
                            <wm-client-file-attach attach-type="document"
                                model-attach="socstat.self_document.file_attach"
                                model-doc="socstat.self_document"
                                on-add="add_new_file(documentInfo, policyInfo)"
                                on-open="openFile(cfa_id, idx)">
                            </wm-client-file-attach>
                            <button type="button" class="btn-link" ng-click="printFilesAttach([socstat.self_document.file_attach])" title="Печать копии">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="panel marginal">
            <button type="button" class="btn btn-link btn-lg btn-block" ng-click="clientServices.add_new_invalidity(client)"><i class="ion ion-plus-round fa-fw"></i>Добавить инвалидность</button>
        </div>
    </ng-form>

    <ng-form name="_works" toc-element="Занятость">
        <div ng-repeat="socstat in client.works | flt_not_deleted">
            <ng-form name="socStatWorkForm">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Занятость</h3>
                        <div class="box-tools pull-right">
                            <button ng-show="socstat.id" type="button" class="btn btn-box-tool" title="Редактировать"
                                    ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                            <button type="button" class="btn btn-box-tool" title="Удалить"
                                    ng-click="clientServices.delete_work(client, socstat)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <wm-soc-status ss-class="3" id-postfix="w[[$index]]"
                            model-soc-status="socstat"
                            edit-mode="socstat.id ? edit.activated : true">
                        </wm-soc-status>
                        <div class="row" ng-if="socstat.ss_type.code == '004' || socstat.ss_type.code == '003'">
                            <div class=" col-md-4">
                                <label for="company" class="control-label">[[ socstat.ss_type.code == '004'? 'Организация' : 'Школа']]</label>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Место работы"
                                       ng-disabled="socstat.id ? !edit.activated : false"
                                       id="company" name="company" ng-model="socstat.work.organisation"/>
                            </div>
                            <div class=" col-md-3">
                                <label for="post" class="control-label">[[ socstat.ss_type.code == '004'? 'Должность' : 'Класс']]</label>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Должность"
                                       ng-disabled="socstat.id ? !edit.activated : false"
                                       id="post" name="post" ng-model="socstat.work.post"/>
                            </div>
                            <div class=" col-md-4">
                                <label for="note" class="control-label">Примечание</label>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Примечание"
                                       ng-disabled="socstat.id ? !edit.activated : false"
                                       id="note" name="note" ng-model="socstat.note"/>
                            </div>
                        </div>
                        <h4>Документ
                            <small>
                                <button type="button" class="btn btn-link" title="Заполнить документ"
                                    ng-click="clientServices.add_soc_status_doc(socstat)"
                                    ng-if="btnAddSsDocVisible(socstat)">
                                    <span class="glyphicon glyphicon-pencil"></span> заполнить документ
                                </button>
                                <button type="button" class="btn btn-link text-danger" title="Очистить данные документа"
                                    ng-click="clientServices.clear_soc_status_doc(socstat, ssWorkDocForm)"
                                    ng-if="btnClearSsDocVisible(socstat)">
                                    <span class="glyphicon glyphicon-eraser"></span> очистить данные документа
                                </button>
                            </small>
                        </h4>
                        <ng-form name="ssWorkDocForm">
                        <wm-document id-postfix="c[[$index]]"
                            group-code="4"
                            model-document="socstat.self_document"
                            edit-mode="socstat.self_document.id ? edit.activated : socstat.self_document.id !== undefined">
                        </wm-document>
                        </ng-form>
                        <div ng-if="socstat.self_document.file_attach">
                            <h5 class="attach-file-copy-heading">Копия документа</h5>
                            <wm-client-file-attach attach-type="document"
                                model-attach="socstat.self_document.file_attach"
                                model-doc="socstat.self_document"
                                on-add="add_new_file(documentInfo, policyInfo)"
                                on-open="openFile(cfa_id, idx)">
                            </wm-client-file-attach>
                            <button type="button" class="btn-link" ng-click="printFilesAttach([socstat.self_document.file_attach])"
                                    title="Печать копии">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="panel marginal">
            <button type="button" class="btn btn-lg btn-link btn-block"
                    ng-click="clientServices.add_new_work(client)"><i class="ion ion-plus-round fa-fw"></i>Добавить занятость</button>
        </div>
    </ng-form>

    <ng-form name="_nationalities" toc-element="Гражданство">
        <div ng-repeat="socstat in client.nationalities | flt_not_deleted">
            <ng-form name="socStatNationalityForm">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Гражданство</h3>
                        <div class="box-tools pull-right">
                            <button ng-show="socstat.id" type="button" class="btn btn-box-tool" title="Редактировать"
                                    ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil text-primary"></span></button>
                            <button type="button" class="btn btn-box-tool" title="Удалить"
                                    ng-click="clientServices.delete_nationality(client, socstat)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <wm-soc-status ss-class="4" id-postfix="n[[$index]]"
                            model-soc-status="socstat"
                            edit-mode="socstat.id ? edit.activated : true">
                        </wm-soc-status>
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="panel marginal">
            <button type="button" class="btn btn-link btn-lg btn-block"
                    ng-click="clientServices.add_new_nationality(client)"><i class="ion ion-plus-round fa-fw"></i>Добавить гражданство</button>
        </div>
    </ng-form>
</ng-form>