{% extends 'hippo_base.html' %}

{%- block content %}
    {% block main %}{% endblock %}
{% endblock -%}

{% block modules_css %}
{{ super() }}
<link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/print.css') }}" media="print" rel="stylesheet">
{% endblock %}

{% block modules_js -%}
{{ super() }}
<script src="{{ url_for('patients.static', filename='js/client_common.js', v=app_version) }}"></script>
{%- endblock %}
