{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ClientCtrl" class="ng-cloak">
        <section class="content-header">
            <div class="wm-page-header-button-box">
                <a class="btn btn-sm btn-primary" href="{{ url_for('schedule.appointment') }}?client_id={{ request.args['client_id'] }}"
                   ng-if="client_id != 'new'">
                    Записать на приём</a>
                <a class="btn btn-sm btn-primary" href="{{ url_for('event.request_type_kind_choose') }}?event_id=new&client_id={{ request.args['client_id'] }}"
                   ng-if="client_id != 'new'">
                    Создать обращение</a>
                <ui-print-button ps="ps" class="btn-sm" resolve="print_context_resolve()" ng-if="!client.is_new()"></ui-print-button>
            </div>
            <h1>Пациент: [[ client.info.full_name ]]</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-9">
                    <div ui-alert-list="alerts"></div>
                    <div class="marginal">
                        <ng-form name="clientForm" id="clientForm" role="form" novalidate toc-element toc-name="tocClientForm" form-safe-close>
                            {% include "patients/_main_info.html" %}
                            {% include "patients/_id_doc.html" %}
                            {% include "patients/_address.html" %}
                            {% include "patients/_policy.html" %}
                            {% include "patients/_characteristics.html" %}
                            {% include "patients/_soc_status.html" %}
                            {% include "patients/_contacts.html" %}
                            {% include "patients/_client_vmp_coupons.html" %}
                            {% include "patients/_attached_files.html" %}
                            {% include "patients/_doc_history.html" %}

        {#                    {% include "patients/identifiers.html" %}#}
        {#                    <legend>Debug</legend>#}
        {#                    <pre>[[client | json]]</pre>#}
                        </ng-form>
                    </div>
                </div>
                <div class="col-md-3 affix-holder">
                    <div class="toc-affix box" ng-class="{'box-danger': clientForm.$invalid, 'box-success': !clientForm.$invalid}" bs-affix>
                        <div class="box-body">
                            <toc-affix toc-name="tocClientForm">
                            <hr>
                                <button ng-click="save_client()" class="btn btn-lg btn-success"
                                        tooltip="[[clientForm.$invalid ? 'Заполните все обязательные поля': '']]">Сохранить</button>
                                <button ng-click="cancel_editing()" class="btn btn-lg btn-default">Отмена</button>
                            </toc-affix>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/client.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/directives/client-directives.js', v=nemesis_version) }}"></script>
    <script src="{{ url_for('static', filename='js/directives/kladr-directives.js', v=nemesis_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/client/client-services.js', v=nemesis_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/file-editor.js', v=nemesis_version) }}"></script>
{% endblock %}
