{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ClientSearch" class="ng-cloak">
        <legend xmlns="http://www.w3.org/1999/html"><h2>Обслуживание пациентов</h2></legend>
        <wm-search-client client-id="client.client_id" query="query" allow-register
            on-select="set_patient_id(selected_client)"></wm-search-client>
    </div>

{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script type="text/ng-template" id="modal-createEvent.html">{% include "patients/_modal_create_event.html" %}</script>
    <script type="text/ng-template" id="modal-client.html">{% include "patients/_modal_client.html" %}</script>
    <script type="text/ng-template" id="modal-client-cut.html">{% include "patients/_modal_client_cut.html" %}</script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/servicing.js', v=app_version) }}"></script>
{% endblock %}
