{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{% import 'risar/_inspection_macros.html' as imacros with context %}
{% set flat_code = template_data.flatcode %}
 {% set right_word =  dict((('postpartal_nursing', 'послеродовому'),
                                                    ('prepartal_nursing', 'дородовому'),
                                                    ('prepartal_nursing_repeat', 'дородовому'))).get(flat_code) %}
{% set title = "Сведения по %s патронажу"|format(right_word) %}
{% block title %}> {{title}}{% endblock %}
{% set flat_code = template_data.flatcode %}

{% block main %}
<div ng-controller="PartalNursingListCtrl" ng-cloak>

    <section class="content-header" ng-controller="RisarHeaderCtrl">

        {{ rimacros.page_title_ext_n(title) }}
        {{ rimacros.navigation('[[ header.event.id ]]') }}
    </section>
    <section class="content">
        <div class="box box-primary">
        <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <td width="10%" nowrap><b>Данные патронажа<b></td>
                    <th width="10%" nowrap ng-repeat="nursing in nursing_list">
                        <a ng-href="[[path_to_read.format(nursing.flatcode)]]?event_id=[[ header.event.id ]]&pp_nursing_id=[[ nursing.id ]]">[[ nursing.date | asDate ]]</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
{#                                <li ng-class="{disabled: !ps_fi.is_available()}"><a href="#" ng-click="open_print_window(ps_fi, checkup.id)" >Печать</a></li>#}
                                <li ng-class="{disabled: nursing.end_date}"><a ng-href="[[path_to_edit.format(nursing.flatcode)]]?event_id=[[ header.event.id ]]&pp_nursing_id=[[ nursing.id ]]">Изменить</a></li>
{#                                <li>{{ imacros.checkup_ticket_25_print_link() }}</li>#}
                            </ul>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%- if flat_code =='postpartal_nursing'  -%}
                    <tr>
                        <th>Жалобы</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.complaints"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Масса тела,г</th>
                        <td ng-repeat="nursing in nursing_list">[[ nursing.weight ]]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Рост, см</th>
                        <td ng-repeat="nursing in nursing_list">[[ nursing.height ]]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Окружность головы, см</th>
                        <td ng-repeat="nursing in nursing_list">[[ nursing.head_circumference ]]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Окружность груди, см</th>
                        <td ng-repeat="nursing in nursing_list">[[ nursing.chest_circumference ]]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Заключение</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.conclusion"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Рекомендации</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.recommendations"></span></td>
                        <td></td>
                    </tr>

                {%- elif flat_code in ['prepartal_nursing_repeat', 'prepartal_nursing', 'prepartal_all']  -%}
                     <tr>
                        <th>Срок беременности</th>
                        <td ng-repeat="nursing in nursing_list">[[ nursing.gestational_age ]]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Прогноз гипогалактии</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.hypogalactia"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Прогноз риска ребёнка</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.child_risk"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Рекомендации</th>
                        <td ng-repeat="nursing in nursing_list"><span ng-bind-html="nursing.recommendations"></span></td>
                        <td></td>
                    </tr>
                {%- endif -%}

            </tbody>
        </table>
        </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=app_version) }}"></script>
    <script>
        WebMis20.value('jinjaVariables', angular.fromJson('{{template_data|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/common.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/partal_nursing.js', v=app_version) }}"></script>
{% endblock %}