<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="./bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="./bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="./bootstrap/ico/favicon.png">
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="#"><i class="icon-home icon-white"></i></a>
              </li>
              <li class="">
                <a href="#">Справочники</a>
              </li>
              <li class="">
                <a href="#">Логирование</a>
              </li>
              <li class="active">
                <a href="#">ТРФУ</a>
              </li>
              <li class="">
                <a href="#">Ещё модуль</a>
              </li>
              <li class="">
                <a href="#">Ещё модуль</a>
              </li>
              <li class="">
                <a href="#">Ещё модуль</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="application_menu">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="index.html">Главная</a></li>
                <li><a href="download.html">Выгрузка</a></li>
                <li class="active"><a href="upload.html">Загрузка</a></li>
                <li><a href="reports.html">Отчёты</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Настройка <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                      <li><a href="settings_template.html">Шаблоны</a></li>
                      <li><a href="settings.html">Общие настройки</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

        <form class="form-horizontal">
            <legend>Загрузка из ТФОМС</legend>
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Обратите внимание!</strong> К загрузке принимаем только XML.
            </div>
            <div class="control-group">
                <label class="control-label">Файл для загрузки</label>
                <div class="controls">
                    <input type="file" name="upload_file">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Загрузить данные</button>
                </div>
            </div>
        </form>

      <hr>

      <div class="footer">
        <p>&copy; Корус Консалтинг ИТ 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-ui/js/jquery-1.9.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
  </body>
</html>