{% extends 'hospitalizations/base.html' %}

{% block title %}&gt; {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="CurrentHospsCtrl" class="ng-cloak">
    <section class="content-header">
        {#<div class="wm-page-header-button-box">
            <ui-print-button ps="ps_bm" resolve="ps_resolve()"></ui-print-button>
        </div>#}
        <h1>Текущие госпитализации</h1>
    </section>
    <section class="content">
        <div class="row marginal">
            <div class="col-md-3">
                <label for="cur_dt">Дата и время</label>
                <p id="cur_dt" class="form-control-static">
                    с <span class="label label-default" style="font-weight: bold; font-size: larger">
                        [[ date_range.start | asDateTime ]]</span> 
                    по <span class="label label-default" style="font-weight: bold; font-size: larger">
                        [[ date_range.end | asDateTime ]]</span>
                </p>
            </div>
            <div class="col-md-4">
                <label for="filter-org-struct">Отделение</label>
                <wm-custom-dropdown id="filter-org-struct" ng-disabled="filter.barCode">
                    <wm-org-structure-tree ng-model="filter.org_struct"
                        nodes-selectable="true"></wm-org-structure-tree>
                </wm-custom-dropdown>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Госпитализации</h3>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="1%">№</th>
                        <th width="7%">Дата и время</th>
                        <th width="7%">№ ИБ</th>
                        <th width="20%">ФИО</th>
                        <th width="10%">Дата рожд.</th>
                        <th width="15%">Отделение</th>
                        <th width="15%">Лечащий врач</th>
                        <th width="15%">Койка</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hosp in hosp_list">
                        <td>[[ $index + 1 ]] <a ng-href="[['{{ url_for('event.html_event_info') }}' + '?event_id=' + hosp.id]]">-^</a></td>
                        <td>
                            [[ hosp.move_date | asDateTime ]]
                        </td>
                        <td>[[ hosp.external_id ]]</td>
                        <td>
                            [[ hosp.client.full_name ]]
                        </td>
                        <td>[[ hosp.client.birth_date | asDate ]] ([[ hosp.client.age ]])</td>
                        <td>[[ hosp.org_struct_name ]]</td>
                        <td>[[ hosp.exec_person.short_name ]]</td>
                        <td>
                            <a href="javascript:void(0);" ng-click="createFirstMoving(hosp)"
                                ng-if="firstMovingMissing(hosp)">Положить на койку (нов.)</a>
                            <a href="javascript:void(0);" ng-click="editMoving(hosp)"
                                ng-if="!firstMovingMissing(hosp) && !isHospBedSelected(hosp)">Положить на койку</a>
                            <span ng-if="isHospBedSelected(hosp)">[[ hosp.hosp_bed_name ]]</span>
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"
                                    ng-click="viewEventInfo(hosp)">Просмотр</button>
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-if="isHospBedSelected(hosp)">
                                        <a href="javascript:void(0);" ng-click="makeMovingTransfer(hosp)">
                                            Перевести в отделение</a></li>
                                    <li ng-if="!isHospBedSelected(hosp)" class="disabled">
                                        <a href="javascript:void(0);">Перевести в отделение</a></li>
                                    <li ng-if="!movingClosed(hosp) && isHospBedSelected(hosp)">
                                        <a href="javascript:void(0);" ng-click="makeMovingTransfer(hosp, true)">
                                            Закрыть движение</a></li>
                                    <li ng-if="movingClosed(hosp) || !isHospBedSelected(hosp)" class="disabled">
                                        <a href="javascript:void(0);">Закрыть движение</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <pagination ng-model="pager.current_page" total-items="pager.pages" items-per-page="1"
                    max-size="pager.max_pages" ng-change="onPageChanged()" ng-show="pager.pages > 1" boundary-links="true"
                    class="pagination pagination-sm no-margin">
                </pagination>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/current_hosps.js', v=app_version) }}"></script>
{% endblock %}
