<div class="box box-primary" ng-if="mode == 0">
    <div class="box-header with-border">
        <h3 class="box-title">Inbox</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search Mail"/>
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                <tr ng-repeat="message in messages">
                    <td width="1%"><input type="checkbox"/></td>
                    <td width="1%" class="mailbox-star">
                        <a href="#"><i class="fa fa-star text-yellow" ng-class="{'fa-star-o': message.read}"></i></a>
                    </td>
                    <td width="1%" class="mailbox-name text-nowrap"><a href="#" ng-click="view_mail(message)">[[ message.sender.name ]]</a></td>
                    <td class="mailbox-subject"><b ng-click="view_mail(message)">[[ message.subject ]]</b></td>
                    <td width="1%" class="mailbox-attachment"><i class="fa fa-paperclip hidden"></i></td>
                    <td width="1%" class="mailbox-date text-nowrap">5 mins ago</td>
                </tr>
                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
    </div>
</div>
<!-- /. box -->