{% extends 'useraccount/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="IndexCtrl" ng-cloak>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Почтовый ящик
                <small ng-if="messages_unread > 0">Непрочитанных сообщений: [[ messages_unread ]] из [[ messages_inbox_count ]]</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Почтовый ящик</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" ng-click="compose_mail()" ng-if="mode != 2" class="btn btn-primary btn-block margin-bottom">Написать</a>
                    <a href="#" ng-click="send_mail(message)" ng-if="mode == 2"
                       class="btn btn-success btn-block margin-bottom"
                       ng-disabled="! (message.to && message.subject && message.text)">
                        Отправить
                    </a>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Папки</h3>

                            <div class="box-tools">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-class="{active: current_folder == 'inbox'}">
                                    <a href="#" ng-click="change_folder('inbox')">
                                        <i class="fa fa-inbox"></i>
                                        Входящие
                                        <span class="label label-primary pull-right" ng-if="messages_unread" ng-bind="messages_unread"></span>
                                    </a>
                                </li>
                                <li ng-class="{active: current_folder == 'star'}">
                                    <a href="#" ng-click="change_folder('star')"><i class="fa fa-star text-yellow"></i> Помеченные</a>
                                </li>
                                <li ng-class="{active: current_folder == 'sent'}">
                                    <a href="#" ng-click="change_folder('sent')"><i class="fa fa-envelope-o"></i> Отправленные</a>
                                </li>
                                <li ng-class="{active: current_folder == 'system'}">
                                    <a href="#" ng-click="change_folder('system')"><i class="fa fa-gear"></i> Системные</a>
                                </li>
                                <li ng-class="{active: current_folder == 'trash'}">
                                    <a href="#" ng-click="change_folder('trash')"><i class="fa fa-trash-o"></i> Корзина</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
{#                    <div class="box box-solid">#}
{#                        <div class="box-header with-border">#}
{#                            <h3 class="box-title">Метки</h3>#}
{##}
{#                            <div class="box-tools">#}
{#                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="box-body no-padding">#}
{#                            <ul class="nav nav-pills nav-stacked">#}
{#                                <li><a href="#"><i class="fa fa-circle-o text-red"></i> Важные</a></li>#}
{#                                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>#}
{#                                <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- /.box-body -->#}
{#                    </div>#}
{#                    <!-- /.box -->#}
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    {% include 'useraccount/_list_mail.html' %}
                    {% include 'useraccount/_view_mail.html' %}
                    {% include 'useraccount/_compose_mail.html' %}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section><!-- /.content -->
    </div>

{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=app_version) }}"></script>
{% endblock %}
