<table class="table table-condensed" ng-hide="editing">
    <thead>
    <tr>
        <th>Внешняя учетная система</th>
        <th>Идентификатор</th>
        <th>Дата подтверждения</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="identification in  clientDataItems['identifications']">
        <td>[[identification.accountingSystem_name]]</td>
        <td>[[identification.identifier]]</td>
        <td>[[identification.checkDate]]</td>
    </tr>
    </tbody>
</table>
<form class="form-horizontal" role="form">
    <table class="table table-condensed" ng-show="editing">
        <thead>
        <tr>
            <th>Внешняя учетная система</th>
            <th>Идентификатор</th>
            <th>Дата подтверждения</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="identification in  clientDataItems['identifications']">
            <td class="col-md-4">{{ form.identification_accountingSystem(class="form-control", autocomplete="off", ng_model="identification.accountingSystem_code") }}</td>
            <td class="col-md-3">{{ form.identification_identifier(class="form-control", autocomplete="off", ng_model="identification.identifier") }}</td>
            <td class="col-md-2">{{ form.identification_checkDate(class="form-control", autocomplete="off", datepicker_popup="dd.MM.yyyy", ng_model="identification.checkDate") }}</td>
        </tr>
        </tbody>
    </table>
</form>
<div class="col-sm-offset-2 col-md-10" ng-show="editing">
    <button ng-click="save_client_info()" class="btn btn-success">Сохранить</button>
</div>