<table class="table table-condensed" ng-if="clientDataItems['socStatuses']" ng-hide="editing">
    <thead>
    <tr>
        <th>Класс</th>
        <th>Тип</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="status in clientDataItems['socStatuses']">
        <td>[[status.className]]</td>
        <td>[[status.typeName]]</td>
        <td>[[status.begDate]]</td>
        <td>[[status.endDate]]</td>
    </tr>
    </tbody>
</table>
<form name="client_form_tab2" class="form-horizontal" role="form" ng-show="editing">
    <table class="table table-condensed" ng-if="clientDataItems['socStatuses']">
        <thead>
        <tr>
            <th>Класс</th>
            <th>Тип</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="status in clientDataItems['socStatuses']">
            <td class="col-md-4">{{ form.soc_status_class(class="form-control", autocomplete="off", ng_model="status.classCode") }}</td>
            <td class="col-md-4">{{ form.soc_status_type(class="form-control", autocomplete="off", ng_model="status.typeCode") }}</td>
            <td class="col-md-2">{{ form.soc_status_begDate(class="form-control", autocomplete="off", datepicker_popup="dd.MM.yyyy", ng_model="status.begDate") }}</td>
            <td class="col-md-2">{{ form.soc_status_endDate(class="form-control", autocomplete="off", datepicker_popup="dd.MM.yyyy", ng_model="status.endDate") }}</td>
        </tr>
        </tbody>
    </table>
</form>
<div class="col-sm-offset-2 col-md-10" ng-show="editing">
    <button ng-click="save_client_info()" class="btn btn-success">Сохранить</button>
</div>