{% extends 'base.html' %}

{% block title %}> {{ module_name }} > Настройки{% endblock %}

{% block modules_css %}
    <link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {{ macro_module_menu.make_module_menu(menu_struct) }}

        <form class="form-horizontal" method="post">
            {{ form.hidden_tag() }}
            <legend>Настройки</legend>

            {% for field in form %}
                {% if field.type != "CSRFTokenField" %}
                    <div class="form-group">
                        <label class="control-label col-md-3">{{ field.description|safe }}</label>
                        <div class="col-md-4">
                            {{ field(value=field.value, placeholder="Введите "+field.description, required="required",
                            title="Необходимо заполнить это поле!", class="form-control") }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="col-md-offset-3 col-md-4">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}