{% import "_macros.html" as macros %}

<div ng-controller="EventDiagnosesCtrl" ng-if="!formstate.is_diagnostic()">
<ng-form name="eventDiagnosesForm" toc-element="Диагнозы">
<legend>Диагнозы</legend>
<div class="row" ng-hide="diag_edit[0]._first">
    <div class="col-md-12 marginal"><button class="btn btn-primary" ng-click="diag_edit_new()">Новый диагноз</button></div>
</div>
<div class="row" ng-repeat="diagnose in diagnoses">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a ng-if="!diag_edit[$index]" ng-click="diag_edit_start($index)"
                   class="btn btn-default glyphicon glyphicon-edit"></a>
                <a ng-if="diag_edit[$index]" ng-click="diag_edit_save($index)"
                   class="btn btn-success glyphicon glyphicon-ok" ng-disabled="diag_edit_save_disabled($index)"></a>
                <a ng-if="diag_edit[$index]" ng-click="diag_edit_stop($index)"
                   class="btn btn-danger glyphicon glyphicon-remove"></a>
                Диагноз ([[ diagnose.diagnosis_type.name ]])
            </div>
            <div class="panel-body">
                <form class="form form-inline">
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Тип диагноза</label>
                            {{ macros.ui_select_tmp('diagnose', 'diagnosis_type', 'rbDiagnosisType', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Врач</label>
                            {{ macros.ui_select_tmp('diagnose', 'person', 'Person', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-2">
                            <label>МКБ</label>
                            {{ macros.ui_select_tmp_noa('diagnose', 'mkb', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-2">
                            <label>доп. МКБ</label>
                            {{ macros.ui_select_tmp_noa('diagnose', 'mkb_ex', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Характер</label>
                            {{ macros.ui_select_tmp('diagnose', 'character', 'rbDiseaseCharacter', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Фаза</label>
                            {{ macros.ui_select_tmp('diagnose', 'phase', 'rbDiseasePhases', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Стадия</label>
                            {{ macros.ui_select_tmp('diagnose', 'stage', 'rbDiseaseStage', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label>Диспансерное наблюдение</label>
                            {{ macros.ui_select_tmp('diagnose', 'dispanser', 'rbDispanser', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Травма</label>
                            {{ macros.ui_select_tmp('diagnose', 'trauma_type', 'rbTraumaType', 'diag_edit[$index]') }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Группа здоровья</label>
                            {{ macros.ui_select_tmp('diagnose', 'health_group', 'rbHealthGroup', 'diag_edit[$index]') }}
                        </div>
                    </fieldset>
                    <fieldset class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="notes">Примечания</label>
                            <div class="form-control-static" ng-hide="diag_edit[$index]">[[ diagnose.notes ]]</div>
                            <textarea id="notes" class="form-control" ng-model="diag_edit[$index].notes" ng-show="diag_edit[$index]"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</ng-form>
</div>