<script>
WebMis20.controller('EventMainInfoCtrl', [
    '$scope', '$http', 'RefBookService', 'EventType', '$window', '$timeout', 'Settings', '$modal', '$filter',
    function ($scope, $http, RefBookService, EventType, $window, $timeout, Settings, $modal, $filter) {

        $scope.Organisation = RefBookService.get('Organisation');
        $scope.Person = RefBookService.get('vrbPersonWithSpeciality');
        $scope.Contract = RefBookService.get('Contract');
        $scope.rbRequestType = RefBookService.get('rbRequestType');
        $scope.rbFinance = RefBookService.get('rbFinance');
        $scope.rbEventType = new EventType();
        $scope.OrgStructure = RefBookService.get('OrgStructure');
        $scope.rbDocumentType = RefBookService.get('rbDocumentType');
        $scope.rbOrder = {{ Enum.get_class_by_name('EventOrder').rb() | tojson}};
        $scope.rbPrimary = {{ Enum.get_class_by_name('EventPrimary').rb() | tojson}};
        $scope.rbResult = RefBookService.get('rbResult');
        $scope.rbAcheResult = RefBookService.get('rbAcheResult');

        var event_created = !$scope.event.is_new();
        $scope.formcnf = {
            request_type: {
                disabled: event_created
            },
            finance: {
                disabled: event_created
            },
            contract: {
                disabled: event_created
            },
            event_type: {
                disabled: event_created
            },
            exec_person: {
                disabled: event_created || {% if form_role in ('admin', 'receptionist') %}false{% else %}true{% endif %}
            },
            org_structure: {
                disabled: event_created
            },
            primacy: {
                disabled: event_created
            },
            order: {
                disabled: event_created
            },
            set_date: {
                disabled: event_created
            },
            exec_date: {
                disabled: $scope.event.closed()
            },
            result: {
                disabled: $scope.event.closed(),
                show: {% if form_role in ('admin', 'doctor') %}true{% else %}false{% endif %}
            },
            ache_result: {
                disabled: !$scope.event.closed(),
                show: {% if form_role in ('admin', 'doctor') %}true{% else %}false{% endif %}
            }
        };

        $scope.finance_is_oms = function(){return $scope._finance.code == '2'};
        $scope.finance_is_dms = function(){return $scope._finance.code == '3'};

        $scope.request_type = {};
        $scope.finance = {};
        $scope.dms = {};
        $scope.contracts = [];
        $scope.policy_errors = [];

        $scope.$on('event_loaded', function() {
            if ($scope.event.is_new()) $scope.event.info.set_date = new Date($scope.event.info.set_date);

            $scope.request_type_init = angular.extend({}, $scope.event.info.event_type.request_type);
            $scope.finance_init = angular.extend({}, $scope.event.info.event_type.finance);
            $scope.event_type_init = angular.extend({}, $scope.event.info.event_type);

            $scope.request_type.selected = $scope.request_type_init;
            $scope.finance.selected = $scope.finance_init;
            $scope.$on('rb_load_success_Contract', function (){
                $scope.contracts = $filter('contract_filter')($scope.Contract.objects, $scope.event.info);
            });
        });
        $scope.$watch('request_type.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.finance.selected = $scope.finance_init || $scope.rbEventType.get_finances_by_rt(new_val.id)[0];
                $scope.finance_init = undefined;
            }
        });

        $scope.$watch('finance.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.event.info.event_type = $scope.event_type_init || $scope.rbEventType.get_filtered_by_rtf($scope.request_type.selected.id, new_val.id)[0];
                $scope.event_type_init = undefined;
            }
        });

        $scope.$watch('dms.selected', function(new_val, old_val) {
            if (new_val && new_val != old_val) {
                if (!$scope.check_dms_contract_dependency(new_val, $scope.event.info.contract)) {
                    $scope.event.info.contract = undefined;
                    var _break = false;
                    angular.forEach($scope.contracts, function (contract, key) {
                        if (!_break && $scope.check_dms_contract_dependency(new_val, contract)) {
                            $scope.event.info.contract = contract;
                            _break = true;
                        }
                    });
                }
                if (!$scope.check_dms(new_val)){
                    $scope.show_policy_errors();
                }else if (!$scope.event.info.contract){
                    $scope.add_policy_error('Не заведено договора, соответствующего выбранному полису ДМС');
                    $scope.show_policy_errors();
                }
            }
        });

        $scope.$watch('event.info.event_type', function(new_val, old_val) {
            if (new_val != old_val) {
                $scope.contracts = $filter('contract_filter')($scope.Contract.objects, $scope.event.info);
            }
        });

        $scope.$on('form_state_change', function(event, arg) {
            $scope._finance = arg['finance'];
            $scope._contract = arg['contract'];
            $scope.process_policies($scope._finance, $scope._contract);
{#            $scope.contracts = $filter('contract_filter')($scope.Contract.objects, $scope.event.info);#}
        });

        $scope.process_policies = function (_finance, _contract) {
            if(!$scope.check_policy()) {
                $scope.show_policy_errors();
                $scope.finance.selected = $scope.rbFinance.get_by_code(4);
            } else {
                if($scope.finance_is_dms() && _contract){
                    var _break = false;
                    $scope.dms.selected = undefined;
                    angular.forEach($scope.event.info.client.voluntary_policies, function (policy, key) {
                        if (!_break && $scope.check_dms_contract_dependency(policy, _contract)){
                            $scope.dms.selected = policy;
                            _break = true;
                        }
                    });
                    if (!$scope.dms.selected){
                        $scope.add_policy_error('У пациента нет полиса ДМС, связанного с выбранным договором');
                        $scope.show_policy_errors();
                    }
                }
            }
        };

        $scope.check_policy = function (){
            if ($scope.finance_is_oms()){
                return $scope.check_oms();
            } else if($scope.finance_is_dms()){
                return $scope.check_dms();
            }
            return true;
        };

        $scope.check_oms = function(){
            var policy = $scope.event.info.client.compulsory_policy;
            if (!policy){
                $scope.add_policy_error('У пациента не указан полис ОМС');
            } else {
                if (!policy.beg_date || moment(policy.beg_date).isAfter($scope.event.info.set_date)) {
                    $scope.add_policy_error('Дата начала действия полиса не установлена или превышает дату создания обращения');
                }
                if (!policy.end_date || moment($scope.event.info.set_date).isAfter(policy.end_date)) {
                    $scope.add_policy_error('Не установлена дата окончания действия полиса или дата создания обращения превышает её');
                }
            }
            return $scope.no_policy_errors();
        };

        $scope.check_dms = function (policy) {
            if (policy != undefined){
                if (!policy.beg_date || moment(policy.beg_date).isAfter($scope.event.info.set_date)) {
{#                    $scope.add_policy_error('Дата начала действия полиса не установлена или превышает дату создания обращения');#}
                    return false;
                }
                if (!policy.end_date || moment($scope.event.info.set_date).isAfter(policy.end_date)) {
{#                    $scope.add_policy_error('Не установлена дата окончания действия полиса или дата создания обращения превышает её');#}
                    return false;
                }
            } else {
                var policies = $scope.event.info.client.voluntary_policies;
                if (policies.length == 0){
                    $scope.add_policy_error('У пациента не указан действующий полис ДМС');
                } else{
                    var has_valid_dms = false;
                    angular.forEach(policies, function (value) {
                        if (!has_valid_dms && $scope.check_dms(value)){
                            $scope.clear_policy_errors();
                            has_valid_dms = true;
                        }
                    });
                    if (!has_valid_dms){
                        $scope.add_policy_error('У пациента нет ни одного валидного полиса ДМС');
                        $scope.dms.selected = undefined;
                    }
                }
            }
            return $scope.no_policy_errors();
        };

        $scope.check_dms_contract_dependency = function(_policy, _contract){
            return _policy.insurer.id == _contract.payer.id;
        };

        $scope.exec_person_changed = function () {
            $scope.event.info.org_structure = $scope.event.info.exec_person.org_structure;
        };

        $scope.clear_policy_errors = function () {
          $scope.policy_errors = [];
        };

        $scope.add_policy_error = function (msg) {
            if ($scope.policy_errors.indexOf(msg) == -1) {
                $scope.policy_errors.push(msg);
            }
        };

        $scope.no_policy_errors = function () {
          return $scope.policy_errors.length == 0;
        };

        $scope.show_policy_errors = function () {
          $scope.modal_policy_error($scope.policy_errors);
          $scope.clear_policy_errors();
        };

        $scope.modal_policy_error = function(policy_errors) {
            var modalInstance = $modal.open({
                templateUrl: 'modal-policy-invalid.html',
                resolve: {
                    policy_errors: function(){
                        return policy_errors;
                    },
                    policy_type: function () {
                        return $scope.finance.selected.name;
                    }
                },
                controller: PolicyInvalidModalCtrl
            });
        };
}]);
PolicyInvalidModalCtrl = function ($scope, $modalInstance, policy_errors, policy_type) {
    $scope.policy_errors = policy_errors;
    $scope.policy_type = policy_type;
    $scope.cancel = function() {
        $modalInstance.dismiss('cancel');
    };
};
</script>