<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Имеются незакрытые действия</h4>
</div>
<div class="modal-body">
    <ul class="list-unstyled">
        <li ng-repeat="action in unclosed_actions">[[action.name]]</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">Ок</button>
    <button type="button" class="btn btn-default" ng-click="accept()">Игнорировать</button>
</div>