<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Очистить введенные данные оп плательщике?</h4>
</div>
<div class="modal-body">
    Введенные данные о плательщике [[from_tab === 0 ? "Физ.лицо" : "Юр. лицо"]] будут очищены. Продолжить?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="accept()">Да</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
</div>