<script type="text/ng-template" id="modal-relatives.html">{% include "event/_modal_relatives.html" %}</script>
<script type="text/ng-template" id="modal-switch-payer.html">{% include "event/_modal_switch_payer_tab.html" %}</script>
<script>
WebMis20.controller('EventPaymentCtrl', ['$scope', 'RefBookService', 'Settings', '$http', '$modal',
    function($scope, RefBookService, Settings, $http, $modal) {
        $scope.rbDocumentType = RefBookService.get('rbDocumentType');
        $scope.Organisation = RefBookService.get('Organisation');

        var event_created = !$scope.event.is_new();
        $scope.payer_is_person = function() {
            var lc = $scope.event.payment && $scope.event.payment.local_contract || null;
            return lc !== null && !!(lc.first_name || lc.last_name || lc.patr_name || lc.birth_date || lc.doc_type ||
                    lc.serial_left || lc.serial_right || lc.number || lc.reg_address);
        };
        $scope.payer_is_org = function() {
            var lc = $scope.event.payment && $scope.event.payment.local_contract || null;
            return lc !== null && lc.payer_org;
        };
        $scope.person_tab_active = function() { return !event_created || $scope.payer_is_person(); };
        $scope.org_tab_active = function() { return event_created && $scope.payer_is_org(); };
        $scope.integration1CODVD_enabled = function() {
            return $scope.Settings.get_string('Event.Payment.1CODVD') == '1';
        };

        $scope.formcnf = {
            tab_payer_person: {
                disabled: event_created && $scope.payer_is_org,
                active: $scope.person_tab_active()
            },
            tab_payer_org: {
                disabled: event_created && $scope.payer_is_person,
                active: $scope.org_tab_active()
            },
            payer_field: {
                disabled: event_created
            },
            contract_field: {
                disabled: event_created || $scope.integration1CODVD_enabled()
            }
        };

        $scope.$on('event_loaded', function() {
            $scope.formcnf.tab_payer_person.active = $scope.person_tab_active();
            $scope.formcnf.tab_payer_org.active = $scope.org_tab_active();
            $scope.formcnf.contract_field.disabled = event_created || $scope.integration1CODVD_enabled();
        });

        $scope.switch_tab = function(from_tab) {
            if ($scope.switch_in_process) {
                $scope.switch_in_process = false;
                return;
            }
            var lc = $scope.event.payment && $scope.event.payment.local_contract || null;
            if (lc &&
                    (
                        (from_tab === 0 && $scope.payer_is_person()) ||
                        (from_tab === 1 && $scope.payer_is_org())
                    )
                ) {
                var modalInstance = $modal.open({
                    templateUrl: 'modal-switch-payer.html',
                    controller: SwitchPayerModalCtrl,
                    resolve: {
                        from_tab: function() {
                            return from_tab;
                        }
                    }
                });

                modalInstance.result.then(function () {
                    if (from_tab === 0) {
                        lc.first_name = null;
                        lc.last_name = null;
                        lc.patr_name = null;
                        lc.birth_date = null;
                        lc.doc_type = null;
                        lc.serial_left = null;
                        lc.serial_right = null;
                        lc.number = null;
                        lc.reg_address = null;
                    } else {
                        lc.payer_org = null
                    }
                }, function () {
                    if (from_tab === 0) {
                        $scope.switch_in_process = true;
                        $scope.formcnf.tab_payer_person.active = true;
                    } else {
                        $scope.switch_in_process = true;
                        $scope.formcnf.tab_payer_org.active = true;
                    }
                });
            }
        };

        $scope.get_payer = function(source, client_id) {
            $http.get('{{ url_for('.api_new_event_payment_info_get') }}', {
                params: {
                    event_type_id: $scope.event.info.event_type.id,
                    client_id: client_id,
                    source: source
                }
            }).success(function(data) {
                $scope.event.payment = data.result;
            }).error(function() {
                alert('error in getting data from server');
            });
        };

        $scope.open_relatives_modal = function() {
            var modalInstance = $modal.open({
                templateUrl: 'modal-relatives.html',
                controller: RelativesModalCtrl,
                scope: $scope
            });

            modalInstance.result.then(function (selected_client_id) {
                if (selected_client_id) {
                    $scope.get_payer('client', selected_client_id);
                }
            });
        };

}]);

RelativesModalCtrl = function ($scope, $modalInstance) {
    $scope.initialize = function() {
        var relatives_direct = $scope.event.info.client.direct_relations.map(function(rel) {
            return {
                name: rel.other_text,
                rel_type: rel.relativeType.rightName,
                rel_id: rel.other_id
            };
        });
        var relatives_reverse = $scope.event.info.client.reversed_relations.map(function(rel) {
            return {
                name: rel.other_text,
                rel_type: rel.relativeType.leftName,
                rel_id: rel.other_id
            };
        });
        $scope.relatives = relatives_direct.concat(relatives_reverse);
        $scope.selected = {
            client_id: null
        };
    };
    $scope.accept = function() {
        $modalInstance.close($scope.selected.client_id);
    };
    $scope.cancel = function() {
        $modalInstance.dismiss('cancel');
    };

    $scope.initialize();
};

SwitchPayerModalCtrl = function ($scope, $modalInstance, from_tab) {
    $scope.from_tab = from_tab;
    $scope.accept = function() {
        $modalInstance.close();
    };
    $scope.cancel = function() {
        $modalInstance.dismiss('cancel');
    };
};
</script>