<div ng-controller="EventPaymentCtrl" ng-show="formstate.is_paid() || formstate.is_dms() || formstate.is_oms()">
<ng-form name="payerForm" toc-element="Плательщик">
<legend xmlns="http://www.w3.org/1999/html">Плательщик</legend>
<tabset justified="false" class="marginal">
    <tab id="tab_payer_person" disabled="payer_tabs.person.disabled"
         active="payer_tabs.person.active" deselect="switch_tab(0)">
        <tab-heading>Физ. лицо
            <span class="glyphicon glyphicon-th-list lmargin20 text-info"
                  ng-show="payer_tabs.person.active && contract_is_shared()"
                  tooltip="[[get_shared_contract_warning()]]"></span>
        </tab-heading>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="form-group col-md-4"
                         ng-class="{'has-error': payerForm.lastname.$invalid && editing.submit_attempt}">
                        <label for="lastname">Фамилия</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Фамилия"
                               id="lastname" name="lastname" ng-model="event.payment.local_contract.last_name"
                               ng-disabled="payer_info_disabled()" ng-required="payer_person_required()"/>
                    </div>
                    <div class="form-group col-md-4"
                         ng-class="{'has-error': payerForm.firstname.$invalid && editing.submit_attempt}">
                        <label for="firstname">Имя</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Имя"
                               id="firstname" name="firstname" ng-model="event.payment.local_contract.first_name"
                               ng-disabled="payer_info_disabled()" ng-required="payer_person_required()"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="patronymic">Отчество</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Отчество"
                               id="patronymic" name="patronymic" ng-model="event.payment.local_contract.patr_name"
                               ng-disabled="payer_info_disabled()"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4"
                         ng-class="{'has-error': payerForm.birthdate.$invalid && editing.submit_attempt}">
                        <label for="birthdate" class="control-label">Дата рождения</label>
                        <wm-date id="birthdate" ng-model="event.payment.local_contract.birth_date"
                                 ng-disabled="payer_info_disabled()">
                        </wm-date>
                    </div>
                    <div class="form-group col-md-4"
                         ng-class="{'has-error': payerForm.doc_type.$invalid && editing.submit_attempt}">
                        <label for="doc_type">Документ</label>
                        <ui-select class="form-control" id="doc_type" name="doc_type" theme="select2" autocomplete="off"
                                   ng-model="event.payment.local_contract.doc_type" ng-disabled="payer_info_disabled()"
                                   ng-required="payer_person_required() || payerForm.doc_number.$viewValue || payerForm.doc_serial_left.$viewValue || payerForm.doc_serial_right.$viewValue">
                            <ui-select-match placeholder="Тип документа">[[$select.selected.name]]</ui-select-match>
                            <ui-select-choices repeat="dt in rbDocumentType.objects | filter: $select.search">
                                <div ng-bind-html="dt.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="doc_serial">Серия</label>
                        <div class="row">{# TODO: add serial regexp validators from doctype #}
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="doc_serial_left" name="doc_serial_left"
                                       autocomplete="off"
                                       ng-model="event.payment.local_contract.serial_left" ng-disabled="payer_info_disabled()"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="doc_serial_right" name="doc_serial_right"
                                       autocomplete="off"
                                       ng-model="event.payment.local_contract.serial_right" ng-disabled="payer_info_disabled()"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2"
                         ng-class="{'has-error': payerForm.doc_number.$invalid && editing.submit_attempt}">
                        <label for="doc_number">Номер</label>{# TODO: add number regexp validators from doctype. Conflicts in disabled. #}
                        <input type="text" class="form-control" id="doc_number" name="doc_number"
                               autocomplete="off" placeholder="номер" ng-pattern="/^\d+$/"
                               ng-model="event.payment.local_contract.number" ng-disabled="payer_info_disabled()"
                               ng-required="payer_person_required()"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="reg_address">Адрес</label>
                        <input type="text" class="form-control" id="reg_address" name="reg_address" autocomplete="off"
                               placeholder="Адрес регистрации" ng-model="event.payment.local_contract.reg_address"
                               ng-disabled="payer_info_disabled()"/>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="marginal">
                    <label>Заполнить из:</label>
                    <button type="button" class="btn btn-info btn-block" ng-disabled="import_payer_btn_disabled()"
                            ng-click="import_payer_info('self')">карты пациента</button>
                    <button type="button" class="btn btn-info btn-block" ng-disabled="import_payer_btn_disabled()"
                            ng-click="import_payer_info('parent')">карты родственника</button>
                    <button type="button" class="btn btn-info btn-block" ng-disabled="import_payer_btn_disabled()"
                            ng-click="import_payer_info('prev')">предыдущего</button>
                </div>
                <div>
                    <label>&nbsp;</label><br>
                    <button type="button" class="btn btn-danger pull-right" title="Удалить"
                            ng-click="clear_payer_lc()" ng-disabled="btn_delete_lc_disabled()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>

    </tab>

    <tab id="tab_payer_org" disabled="payer_tabs.org.disabled"
         active="payer_tabs.org.active" deselect="switch_tab(1)">
        <tab-heading>Юр. лицо
            <span class="glyphicon glyphicon-th-list lmargin20 text-info"
                  ng-show="payer_tabs.org.active && contract_is_shared()"
                  tooltip="[[get_shared_contract_warning()]]"></span>
        </tab-heading>
        <div class="row">
            <div class="col-md-6"
                 ng-class="{'has-error': payerForm.payer_org.$invalid && editing.submit_attempt}">
                <label for="payer_org">Организация</label>
                <ui-select id="payer_org" name="payer_org" theme="select2" autocomplete="off"
                           ng-required="payer_org_required()"
                           ng-model="event.payment.local_contract.payer_org" ng-disabled="payer_info_disabled()">
                    <ui-select-match placeholder="Организация">[[$select.selected.short_name]]</ui-select-match>
                    <ui-select-choices repeat="org in Organisation.objects | filter: $select.search">
                        <div ng-bind-html="org.short_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-offset-4 col-md-2">
                <label>&nbsp;</label><br>
                <button type="button" class="btn btn-danger pull-right" title="Удалить"
                        ng-click="clear_payer_lc()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </tab>
</tabset>

<legend xmlns="http://www.w3.org/1999/html">Договор между пациентом и ЛПУ
    <span class="text-warning" ng-if="integration1CODVD_enabled()"> (Заключается при оплате в кассе)</span>
</legend>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"
                ng-class="{'has-error': payerForm.date_contract.$invalid && editing.submit_attempt}">
                <label for="date_contract">Дата заключения</label>
                <wm-date id="date_contract" name="date_contract" ng-disabled="contract_info_disabled() && !con_info.editing"
                         ng-model="event.payment.local_contract.date_contract"
                         ng-required="contract_info_required()">
                </wm-date>
            </div>
            <div class="col-md-4">
                <label for="number_contract">Номер договора</label>
                <input type="text" class="form-control" id="number_contract" name="number_contract" autocomplete="off"
                       ng-disabled="contract_info_disabled() && !con_info.editing" ng-model="event.payment.local_contract.number_contract"/>
            </div>
            <div class="col-md-6">
                <label>&nbsp;</label><br>
                <button type="button" class="btn btn-default pull-right" ng-show="btn_edit_contract_info_visible()"
                        ng-click="con_info.editing = true"><span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>
</div>
</ng-form>
</div>