<div ng-controller="EventServicesCtrl">
<ng-form name="eventServicesForm" role="form"toc-element="Услуги" toc-name="tocEventForm">
    <legend id="services">Услуги</legend>
    <div class="panel panel-default">
    <div class="panel-body">
        <ng-form name="sr_services">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" id="service_search" name="service_search" class="form-control"
                           autocomplete="off" placeholder="Введите код или наименование услуги"
                           ng-change="search_processed=false" ng-model="query" wm-slow-change="perform_search(query)"
                           ng-disabled="search_disabled()">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="query_clear()" title="Очистить поле"
                            ng-disabled="search_disabled()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div ng-show="query && search_processed && !found_services.length" class="alert alert-danger">
                Нет услуг, удовлетворяющих запросу <strong>"[[query]]"</strong>
            </div>
            <div ng-show="found_services" class="panel panel-default">
                <table class="table table-condensed table-striped table-hover table-clickable table-bordered">
                    <thead>
                        <tr>
                            <th>Код</th>
                            <th>Услуга</th>
                            <th>Тип действия</th>
                            <th class="text-right nowrap" ng-show="formstate.is_paid()">Цена (руб.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in found_services" ng-click="eventServices.add_service(event, service)">
                            <td ng-bind="service.at_code"></td> {# == ct_code #}
                            <td ng-bind="service.service_name"></td>
                            <td ng-bind="service.at_name"></td>
                            <td ng-bind="service.price" class="text-right" ng-show="formstate.is_paid()"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-form>

        <div id="selected_services" ng-show="event.services.length">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Выбранные услуги</strong></div>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr wm-event-service-list-header></tr>
                    </thead>
                    <tbody>
                        <tr wm-event-service-group model="service" event="event" idx="$index"
                            expanded="expanded" ng-class="get_class(service)"
                            ng-repeat-start="service in event.services">
                        </tr>
                        <tr wm-event-service-record ng-show="expanded" action="act" service="service" event="event" idx="$index"
                            ng-repeat="act in service.actions" ng-repeat-end>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <blockquote class="novmargin blockquote-reverse" ng-show="formstate.is_paid() && event.services.length">
            <div class="row">
            <div class="col-md-12">
                <span class="text-muted">Итого к оплате: </span>
                <span class="text-primary" ng-bind="event.payment.payments.total_out"></span><span class="text-primary"> руб.</span>
                <span class="text-muted"> Оплачено: </span>
                <span class="text-success" ng-bind="event.payment.payments.total_in"></span><span class="text-success"> руб.</span>
                <span class="text-muted"> Долг: </span>
                <span class="text-danger" ng-bind="event.payment.payments.diff"></span><span class="text-danger"> руб.</span>
            </div>
            </div>
        </blockquote>
    </div>
    </div>
</ng-form>
<div>
{#    <pre>[[event.services | json]]</pre>#}
{#    <pre>[[event.payment | json]]</pre>#}
</div>
</div>