<script>
WebMis20.controller('EventServicesCtrl', ['$scope', '$http',
    function($scope, $http) {
        $scope.query = "";
        $scope.found_services = null;
        $scope.full_sum = 0;

        $scope.perform_search = function(val) {
            if (!val) {
                $scope.found_services = null;
            } else {
                $http.get(
                    '{{ url_for('.api_search_services') }}', {
                        params: {
                            q: val,
                            client_id: $scope.event.info.client_id,
                            event_type_id: $scope.event.info.event_type.id,
                            contract_id: $scope.event.info.contract ? $scope.event.info.contract.id : null,
                            person_id: $scope.event.info.exec_person ? $scope.event.info.exec_person.id : null
                        }
                    }
                ).success(function (data) {
                    $scope.found_services = data.result;
                });
            }
        };

        $scope.query_clear = function() {
            $scope.found_services = null;
            $scope.query = '';
        };

        $scope.add_service = function(service) {
            if (!aux.inArray($scope.event.services, service)){
                service.amount = 1;
                service.sum = service.price * service.amount;
                $scope.event.services.push(service);
            }
        };

        $scope.remove_service = function(index) {
            $scope.event.services.splice(index, 1);
        };

        $scope.$watch('event.services', function(new_val, old_val) {
            if (new_val) {
                $scope.full_sum = new_val.map(function(service) {
                    return service.price * service.amount;
                }).reduce(function(prev_val, cur_val) {
                    return prev_val + cur_val;
                }, 0);
            }
        }, true);


}]);
</script>