{% extends "event/base.html" %}

{% import "schedule/client_event/action_list.html" as action_list %}

{% block main %}
    <div ng-controller="EventInfoCtrl" class="ng-cloak">
        {% include "_breadcrumbs.html" %}
        <legend xmlns="http://www.w3.org/1999/html" wm-page-header>
            <div class="pull-right text-right col-md-1"><button type="button" ng-click="save_event();" ng-hide="event.is_new();" class="btn btn-success" title="Сохранить"><span class="glyphicon glyphicon-ok"></span></button></div>
            <h2>[[event.is_new() ? 'Создание обращения' : 'Обращение № ' + event.info.external_id]], пациент
                <a href="{{ url_for('patients.patient') }}?client_id=[[event.info.client_id]]">[[ event.info.client.info.full_name ]]</a>
            </h2>
        </legend>

        <div ui-alert-list="alerts"></div>
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-9">
                    <dl class="dl-horizontal novmargin">
                        <dt>Контактный телефон:</dt><dd>[[event.info.client.phones]]&nbsp;</dd>
                        <dt>Адрес регистрации:</dt><dd>[[event.info.client.reg_address ? event.info.client.reg_address.text_summary : '']]&nbsp;</dd>
                        <dt>Адрес проживания:</dt><dd>[[event.info.client.live_address ? event.info.client.live_address.text_summary : '']]&nbsp;</dd>
                        <dt>Документ:</dt><dd>[[event.info.client.id_document ? event.info.client.id_document.doc_text : '']]&nbsp;</dd>
                        <dt>Медицинский полис:</dt><dd ng-repeat="policy_text in policies">[[policy_text]]&nbsp;</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal novmargin pull-right">
                        <dt>Код пациента:</dt><dd>[[event.info.client.info.id]]&nbsp;</dd>
                        <dt>Дата рождения:</dt><dd>[[event.info.client.info.birth_date|asDate]]&nbsp;</dd>
                        <dt>Возраст:</dt><dd>[[event.info.client.info.age]]&nbsp;</dd>
                        <dt>Пол:</dt><dd>[[event.info.client.info.sex.name]]&nbsp;</dd>
                    </dl>
                </div>
            </div>
        </div>
        <ng-form name="event_form" form-safe-close>
        {# В зависимости от ролей и прав разный лейаут #}
        {% if form_role == 'admin' %}
            <tabset class="marginal">
                <tab><tab-heading>Основная Информация</tab-heading>
                    {% include "event/_main_info.html" %}
                    {% if not event_new %}
                        {% include "event/_diagnoses.html" %}
                    {% endif %}
                    {% include "event/_services.html" %}
                    {% include "event/_payment.html" %}
                </tab>
                {% if not event_new %}
                <tab><tab-heading>Медицинские документы</tab-heading>
                    {{ action_list.action_list('event.info.med_doc_actions', 0) }}
                </tab>
                <tab><tab-heading>Диагностика и лаб.исследования</tab-heading>
                    {{ action_list.action_list('event.info.diag_actions', 1) }}
                </tab>
                <tab><tab-heading>Лечение</tab-heading>
                    {{ action_list.action_list('event.info.cure_actions', 2) }}
                </tab>
                {% endif %}
            </tabset>

        {% elif form_role == 'doctor' %}
            <tabset>
                <tab><tab-heading>Основная Информация</tab-heading>
                    {% include "event/_main_info.html" %}
                    {% include "event/_diagnoses.html" %}
                </tab>
                <tab><tab-heading>Медицинские документы</tab-heading>
                    {{ action_list.action_list('event.info.med_doc_actions', 0) }}
                </tab>
                <tab><tab-heading>Диагностика и лаб.исследования</tab-heading>
                    {{ action_list.action_list('event.info.diag_actions', 1) }}
                </tab>
                <tab><tab-heading>Лечение</tab-heading>
                    {{ action_list.action_list('event.info.cure_actions', 2) }}
                </tab>
            </tabset>
        {% elif form_role == 'receptionist' %}
                {% include "event/_main_info.html" %}
                {% include "event/_services.html" %}
                {% include "event/_payment.html" %}
        {% endif %}
        </ng-form>
        <div class="row">
            <div class="col-md-6 text-left">
                <ui-print-button ps="ps" resolve="ps_resolve()" ng-if="!event.is_new()"></ui-print-button>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" ng-click="save_event();" class="btn btn-lg btn-success"
                        ng-bind="event.is_new() ? 'Создать' : 'Сохранить'">Создать</button>
                {% if form_role == 'doctor' %}
                <button type="button" ng-click="close_event();" class="btn btn-lg btn-info"
                        tooltip="[[event.is_closed ? 'Обращение уже закрыто': '']]">Закрыть обращение</button>
                {% endif %}
                <button type="button" ng-click="cancel_editing();" class="btn btn-lg btn-danger">Закрыть</button>
            </div>
        </div>
{#        <div>#}
{#            <p>debug:</p>#}
{#            <pre>[[event | json]]</pre>#}
{#        </div>#}
    </div>
    <script type="text/ng-template" id="modal-unclosed-actions.html">{% include "event/_modal_unclosed_actions.html" %}</script>
{% endblock %}

{% block modules_js %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/event.js') }}"></script>
<script type="text/ng-template" id="modal-relatives.html">{% include "event/_modal_relatives.html" %}</script>
<script type="text/ng-template" id="modal-switch-payer.html">{% include "event/_modal_switch_payer_tab.html" %}</script>

{% endblock %}