{% extends "event/base.html" %}

{% import "schedule/client_event/action_list.html" as action_list %}

{% block main %}
    <div ng-controller="EventInfoCtrl" class="ng-cloak">
        {% include "_breadcrumbs.html" %}
        <legend xmlns="http://www.w3.org/1999/html">
            <div class="pull-right text-right col-md-4">
                <ui-print-button ps="ps" resolve="ps_resolve()" ng-if="!event.is_new()"></ui-print-button>
                <button type="button" ng-click="save_event();" ng-hide="event.is_new();" class="btn btn-success" title="Сохранить"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
            <h2>[[event.is_new() ? 'Создание обращения' : 'Обращение № ' + event.info.external_id]], пациент
                <a href="{{ url_for('patients.patient') }}?client_id=[[event.info.client_id]]">[[ event.info.client.info.full_name ]]</a>
            </h2>
        </legend>
        <div class="row">
            <div class="col-md-2 affix-holder">
                <div class="toc-affix" bs-affix>
                    <toc-affix toc-name="tocEventForm">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" ng-click="save_event();" class="btn btn-block btn-success"
                            ng-bind="event.is_new() ? 'Создать' : 'Сохранить'">Создать</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" ng-click="cancel_editing();" class="btn btn-block btn-default">Отмена</button>
                        </div>
                    </div>
                    {% if current_user.role_in('admin', 'doctor', 'clinicDoctor') %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <button type="button" ng-click="close_event();" ng-show="!event.is_closed" class="btn btn-block btn-info"
                                    tooltip="[[event.is_closed ? 'Обращение уже закрыто': '']]">Закрыть обращение</button>
                        </div>
                    </div>
                    {% elif current_user.role_in('rRegistartor', 'clinicRegistrator') %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <button ng-show="!event.is_closed && formstate.is_diagnostic()" type="button" ng-click="close_event();" class="btn btn-block btn-info"
                                tooltip="[[event.is_closed ? 'Обращение уже закрыто': '']]">Закрыть обращение</button>
                        </div>
                    </div>
                    {%- endif %}
                    {% if user_utils.can_delete_event(event) %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <button type="button" ng-click="open_delete_event_modal();" class="btn btn-block btn-danger">Удалить обращение</button>
                        </div>
                    </div>
                    {% endif %}
                    </toc-affix>
                </div>
            </div>
            <div class="col-md-10">
                <div ui-alert-list="alerts"></div>
                <div class="marginal">
                    <ng-form name="eventForm" id="eventForm" role="form" novalidate
                             toc-element toc-name="tocEventForm" form-safe-close>
                        {% include "event/_patient_info.html" %}
                        {% include "event/_main_info.html" %}
                        {% if current_user.role_in('admin', 'doctor', 'clinicDoctor') %}
                            {% include "event/_diagnoses.html" %}
                        {% endif %}
                        {% if current_user.role_in('admin', 'rRegistartor', 'clinicRegistrator') %}
                            {% include "event/_services.html" %}
                            {% include "event/_payment.html" %}
                        {% endif %}
                        {% if current_user.role_in('admin', 'doctor', 'clinicDoctor') %}
                            <div class="marginal" ng-if="!formstate.is_diagnostic() && !event.is_new()">
                                <ng-form name="eventMedDocActionsForm" toc-element="Медицинские документы">
                                    <legend>Медицинские документы</legend>
                                    {{ action_list.action_list('event.info.actions', 'medical_documents') }}
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!event.is_new()">
                                <ng-form name="eventDiagActionsForm" toc-element="Диагностика">
                                    <legend>Диагностика</legend>
                                    {{ action_list.action_list('event.info.actions', 'diagnostics') }}
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!event.is_new()">
                                <ng-form name="eventLabActionsForm" toc-element="Лаб.исследования">
                                    <legend>Лаб.исследования</legend>
                                    {{ action_list.action_list('event.info.actions', 'lab') }}
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!formstate.is_diagnostic() && !event.is_new()">
                                <ng-form name="eventCureActionsForm" toc-element="Лечение">
                                    <legend>Лечение</legend>
                                    {{ action_list.action_list('event.info.actions', 'treatments') }}
                                </ng-form>
                            </div>
                        {% endif %}
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/event.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/directives.js', v=version) }}"></script>
    <script type="text/ng-template" id="modal-prev-event-contract.html">{% include "event/_modal_prev_event_contracts.html" %}</script>
    <script type="text/ng-template" id="modal-relatives.html">{% include "event/_modal_relatives.html" %}</script>
    <script type="text/ng-template" id="modal-switch-payer.html">{% include "event/_modal_switch_payer_tab.html" %}</script>
    <script type="text/ng-template" id="modal-unclosed-actions.html">{% include "event/_modal_unclosed_actions.html" %}</script>
    <script type="text/ng-template" id="modal-delete-record.html">{% include "event/_modal_delete_record.html" %}</script>
{% endblock %}