{% extends "event/base.html" %}
{% block main %}
    <div class="row" ng-controller="EventListCtrl">
        <div class="col-md-3">
            <!-- Filter -->
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Фильтр
                    </div>
                    <div class="panel-body">
                        <label for="filter-id">Идентификатор обращения</label>
                        <input class="form-control" id="filter-id" type="text" ng-model="flt.external_id" placeholder="Идентификатор">

                        <label for="filter-beg-date">Начато</label>
                        <wm-date id="filter-beg-date" ng-model="flt.beg_date"></wm-date>

                        <label class="checkbox">
                            <input type="checkbox" ng-model="flt.unfinished" ng-change="on_unfinished_changed()">Только незавершённые
                        </label>

                        <label for="filter-end-date">Завершено</label>
                        <wm-date id="filter-end-date" ng-model="flt.end_date" ng-disabled="flt.unfinished"></wm-date>

                        <label for="filter-client">Пациент</label>
                        <ui-select id="filter-client" ng-model="flt.client" theme="select2">
                            <ui-select-match placeholder="ФИО пациента">[[ $select.selected.full_name ]]</ui-select-match>
                            <ui-select-choices repeat="client in clients" refresh="get_clients($select.search)">
                                <div>
                                    <small>[[ client.id ]]</small>
                                    <span ng-bind-html="client.full_name | highlight: $select.search"></span>
                                </div>
                                <div>
                                    <small>[[ client.birth_date | asDate ]], [[ client.sex.name ]]</small>
                                </div>
                            </ui-select-choices>
                        </ui-select>

                        <label for="filter-finance">Тип финансирования</label>
                        <rb-select id="filter-finance" ng-model="flt.finance_type" placeholder="Тип финансирования" ref-book="rbFinance"></rb-select>

                        <label for="filter-request">Тип обращения</label>
                        <rb-select id="filter-request" ng-model="flt.request_type" placeholder="Тип обращения" ref-book="rbRequestType"></rb-select>

                        <label for="filter-speciality">Специальность врача</label>
                        <rb-select id="filter-speciality" ng-model="flt.speciality" placeholder="Специальность врача" ref-book="rbSpeciality"></rb-select>

                        <label for="filter-exec-person">Лечащий врач</label>
                        <wm-person-select id="filter-exec-person" ng-model="flt.exec_person" placeholder="Лечащий врач"></wm-person-select>

                        <label for="filter-result">Результат</label>
                        <rb-select id="filter-result" ng-model="flt.result" placeholder="Результат" ref-book="rbResult"
                            custom-name="rbResultFormatter"></rb-select>
                    </div>
                    <div class="panel-footer panel-default">
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="get_data(1)">Получить данные</button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="diurnal()">Незакрытые сегодня</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="clear()">Сбросить</button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="clear_all()">Сбросить и очистить результаты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Main -->
            <table class="table table-condensed table-hover">
                <thead wm-sortable-header>
                <tr>
                    <th wm-sortable-column="external_id" on-change-order="sort_by_column(params)">№ обращения</th>
                    <th wm-sortable-column="type_name" on-change-order="sort_by_column(params)">Тип</th>
                    <th wm-sortable-column="beg_date" on-change-order="sort_by_column(params)">Начато</th>
                    <th wm-sortable-column="end_date" on-change-order="sort_by_column(params)">Закончено</th>
                    <th wm-sortable-column="client_full_name" on-change-order="sort_by_column(params)">Пациент</th>
                    <th wm-sortable-column="person_short_name" on-change-order="sort_by_column(params)">Врач</th>
                    <th wm-sortable-column="result_text" on-change-order="sort_by_column(params)">Результат</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in results" ng-click="open_event(event.id)">
                    <td>[[ event.external_id ]]</td>
                    <td>[[ event.type_name ]]</td>
                    <td>[[ event.beg_date | asDate ]]</td>
                    <td>[[ event.end_date | asDate ]]</td>
                    <td>[[ event.client_full_name ]]</td>
                    <td>[[ event.person_short_name ]]</td>
                    <td>[[ event.result_text ]]</td>
                </tr>
                </tbody>
            </table>
            <div class="center-block">
                <pagination page="page" ng-model="page" total-items="pages" items-per-page="1" max-size="max_size" ng-change="get_data(page)" ng-show="pages > 1" boundary-links="true"></pagination>
            </div>
        </div>
{#    <pre>[[ flt | json ]]</pre>#}
    </div>
{% endblock %}
{% block modules_js %}
    <script src="{{ url_for('.static', filename='js/events.js', v=version) }}"></script>
{% endblock %}