{% extends "event/base.html" %}

{% block main %}
    <div ng-controller="EventInfoCtrl" class="ng-cloak">
        {% include "_breadcrumbs.html" %}
        <legend>
            <div class="pull-right text-right col-md-1">
                <ui-print-button ps="ps" resolve="ps_resolve()" ng-if="!event.is_new()"></ui-print-button>
                <button type="button" ng-click="save_event();" ng-hide="event.is_new()" class="btn btn-success" title="Сохранить"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
            <h2>[[event.is_new() ? 'Создание обращения' : 'Обращение № ' + event.info.external_id]], пациент
                <a href="{{ url_for('patients.patient') }}?client_id=[[event.info.client_id]]">[[ event.info.client.info.full_name ]]</a>
            </h2>
        </legend>
        <div class="row">
            <div class="col-md-2 affix-holder">
                <div class="toc-affix" bs-affix>
                    <toc-affix toc-name="tocEventForm">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" ng-click="save_event()" class="btn btn-block btn-success"
                            ng-bind="event.is_new() ? 'Создать' : 'Сохранить'">Создать</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" ng-click="cancel_editing()" class="btn btn-block btn-default">Отмена</button>
                        </div>
                    </div>
                    {% if user_utils.can_close_event(event) %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <button type="button" ng-click="close_event()" class="btn btn-block btn-info">Закрыть обращение</button>
                        </div>
                    </div>
                    {%- endif %}
                    {% if event.is_closed %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <h3><span class="label label-danger">Обращение закрыто</span></h3>
                        </div>
                    </div>
                    {%- endif %}
                    {% if user_utils.can_delete_event(event) %}
                    <div class="row vmargin10">
                        <div class="col-md-12">
                            <button type="button" ng-click="delete_event()" class="btn btn-block btn-danger"
                                    ng-if="btn_delete_event_visible()">Удалить обращение</button>
                        </div>
                    </div>
                    {% endif %}
                    </toc-affix>
                </div>
            </div>
            <div class="col-md-10">
                <div ui-alert-list="alerts"></div>
                <div class="marginal">
                    <ng-form name="eventForm" id="eventForm" role="form" novalidate
                             toc-element toc-name="tocEventForm" form-safe-close>
                        <wm-client-info client="event.info.client"></wm-client-info>
                        {% include "event/_main_info.html" %}
                        {% if current_user.role_in('admin', 'doctor', 'clinicDoctor') %}
                            {% include "event/_diagnoses.html" %}
                        {% endif %}
                        {% if current_user.role_in('admin', 'rRegistartor', 'clinicRegistrator') %}
                            {% include "event/_services.html" %}
                            {% include "event/_payment.html" %}
                        {% endif %}
                        {% if current_user.role_in('admin', 'doctor', 'clinicDoctor') %}
                            <div class="marginal" ng-if="!formstate.is_diagnostic() && !event.is_new()">
                                <ng-form name="eventMedDocActionsForm" toc-element="Медицинские документы">
                                    <legend>Медицинские документы</legend>
                                    <wm-action-list actions="event.info.actions" event="event"
                                            action-type-group="medical_documents"></wm-action-list>
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!event.is_new()">
                                <ng-form name="eventDiagActionsForm" toc-element="Диагностика">
                                    <legend>Диагностика</legend>
                                    <wm-action-list actions="event.info.actions" event="event"
                                            action-type-group="diagnostics"></wm-action-list>
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!event.is_new()">
                                <ng-form name="eventLabActionsForm" toc-element="Лаб.исследования">
                                    <legend>Лаб.исследования</legend>
                                    <wm-action-list actions="event.info.actions" event="event"
                                            action-type-group="lab"></wm-action-list>
                                </ng-form>
                            </div>
                            <div class="marginal" ng-if="!formstate.is_diagnostic() && !event.is_new()">
                                <ng-form name="eventCureActionsForm" toc-element="Лечение">
                                    <legend>Лечение</legend>
                                    <wm-action-list actions="event.info.actions" event="event"
                                            action-type-group="treatments"></wm-action-list>
                                </ng-form>
                            </div>
                        {% endif %}
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/event.js', v=version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/directives.js', v=version) }}"></script>
    <script src="{{ url_for('static', filename='js/directives/event-directives.js', v=version) }}"></script>
    <script type="text/ng-template" id="modal-prev-event-contract.html">{% include "event/_modal_prev_event_contracts.html" %}</script>
    <script type="text/ng-template" id="modal-relatives.html">{% include "event/_modal_relatives.html" %}</script>
    <script type="text/ng-template" id="modal-switch-payer.html">{% include "event/_modal_switch_payer_tab.html" %}</script>
{% endblock %}