{% import "_macros.html" as macros %}
<div class="row">
    <div class="col-md-6">
        <ul class="list-group list-no-border">
            <li class="list-group-item">Организация:&nbsp; [[ event_info.organisation.short_name ]]</li>
            <li class="list-group-item"><div>Лечащий врач:&nbsp;{{ macros.ui_select_rb('vrbPerson', 'event_info.exec_person',
                'event_edit_list.indexOf("event_info.exec_person") != -1') }}</div></li>
            <li class="list-group-item">Договор:&nbsp; [[ event_info.contract.number ]]</li>
            <li class="list-group-item">Дата начала:&nbsp; [[ event_info.set_date | asDate]]</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-no-border">
            <li class="list-group-item">Тип обращения:&nbsp; [[ event_info.event_type.request_type.name ]]</li>
            <li class="list-group-item"><div>Источник финансирования:&nbsp; [[ event_info.event_type.finance.name ]]</div></li>
            <li class="list-group-item">Тип события:&nbsp; [[ event_info.event_type.name ]]</li>
            <li class="list-group-item">Дата выполнения:&nbsp; <div>{{ macros.edit_date('event_info.exec_date',
                'event_edit_list.indexOf("event_info.exec_date") != -1') }}</div></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Порядок обращения</div>
            <ul class="list-group list-no-border">
                <li class="list-group-item">
                    <div>Порядок:&nbsp;{{ macros.ui_select_rb('rbOrder', 'event_info.order',
                        'event_edit_list.indexOf("event_info.order") != -1') }}</div>
                </li>
                <li class="list-group-item">
                    <div>Первичность:&nbsp;{{ macros.ui_select_rb('rbPrimary', 'event_info.is_primary',
                        'event_edit_list.indexOf("event_info.is_primary") != -1') }}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Результат обращения</div>
            <ul class="list-group list-no-border">
                <li class="list-group-item">
                    <div>Результат:&nbsp;{{ macros.ui_select_rb('rbResult', 'event_info.result',
                        'event_edit_list.indexOf("event_info.result") != -1') }}</div>
                </li>
                <li class="list-group-item">
                    <div>Исход:&nbsp;{{ macros.ui_select_rb('rbAcheResult', 'event_info.acheResult',
                        'event_edit_list.indexOf("event_info.acheResult") != -1') }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left">
        <div class="dropup">
            <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="print_dropdownMenu"
                    data-toggle="dropdown" ng-disabled="!ps.templates">
                <span class="glyphicon glyphicon-print"></span> Печать <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu" role="menu" aria-labelledby="print_dropdownMenu">
                <li role="presentation" ng-repeat="template in ps.templates">
                    <a role="menuitem" tabindex="-1" href="" class="print_template"
                       ng-click="ps.print_template(template.id)" ng-bind="template.name"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button ng-click="cancel_editing();" class="btn btn-danger btn-lg">Назад</button>
        <button ng-click="save_event();" class="btn btn-success btn-lg">Сохранить</button>
    </div>
</div>