{% extends "event/base.html" %}

{% block modules_css %}
    {{ super() }}
    <style>
        .minheight .list-group-item {
            min-height: 81px;
        }
    </style>
{% endblock %}

{% import "_macros.html" as macros %}
{% block main %}
    <div ng-controller="EventCreateCtrl">
        <legend xmlns="http://www.w3.org/1999/html">Создание обращения, пациент
            <a href="{{ url_for('patients.patient') }}?client_id=[[event_info.client_id]]">
                [[ event_info.client.fullName ]]</a></legend>
        <div class="container-fluid">
            <div class="row">
                  <h4>  <strong>Организация</strong> [[ event_info.organisation.short_name ]] </h4>
            </div>
            <blockquote>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Тип обращения</label>
                        <ui-select ng-model="request_type.selected"
                                   theme="select2">
                            <match placeholder="Тип обращения">[[$select.selected.name]]</match>
                            <choices repeat="rt in rbRequestType.objects
                                             | filter: rbRequestType.objects && rbRequestType.get_by_code('policlinic')
                                             | filter: $select.search ">
                                <div ng-bind-html="rt.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Источник финансирования</label>
                        <ui-select ng-model="finance.selected"
                                   theme="select2">
                            <match placeholder="Источник финансирования">[[$select.selected.name]]</match>
                            <choices repeat="f in rbFinance.objects
                                             | event_type_filter: rbFinance.objects && rbEventType.get_finances_by_rt(request_type.selected.id)
                                             | filter: $select.search ">
                                <div ng-bind-html="f.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                    <ng-form name="contractForm">
                        <div class="col-md-4"
                             ng-class="{'has-error': contractForm.contract.$invalid && submit_attempt}">
                            <label for="contract">Договор</label>
                            <ui-select ng-model="event_info.contract"
                                       theme="select2" id="contract" name="contract" ng-required="true">
                                <match placeholder="Договор">[[$select.selected.number]] [[$select.selected.date]]
                                                             [[$select.selected.resolution]]</match>
                                <choices repeat="c in Contract.objects
                                                 | contract_filter:event_info
                                                 | filter: $select.search">
                                    <div ng-bind-html="(c.number+' '+c.date+' '+c.resolution) | highlight: $select.search"></div>
                                </choices>
                            </ui-select>
                        </div>
                    </ng-form>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Тип события</label>
                        <ui-select ng-model="event_info.event_type"
                                   theme="select2">
                            <match placeholder="Тип события">[[$select.selected.name]]</match>
                            <choices repeat='et in rbEventType.objects
                                             | event_type_filter: rbEventType.objects && rbEventType.get_filtered_by_rtf(request_type.selected.id, finance.selected.id)
                                             | filter: $select.search '>
                                <div ng-bind-html="et.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                </div>
            </blockquote>
            <blockquote>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Лечащий врач</label>
                        <ui-select ng-model="event_info.exec_person"
                                   theme="select2">
                            <match placeholder="Лечащий врач">[[$select.selected.name]]</match>
                            <choices repeat="p in Person.objects | filter: $select.search ">
                                <div ng-bind-html="p.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Подразделение</label>
                        <ui-select ng-model="event_info.org_structure"
                                   theme="select2">
                            <match placeholder="Подразделение">[[$select.selected.name]]</match>
                            <choices repeat="os in OrgStructure.objects | filter: $select.search ">
                                <div ng-bind-html="os.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                </div>
            </blockquote>
            <blockquote>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Первичность</label>
                        <ui-select ng-model="event_info.is_primary"
                                   theme="select2">
                            <match placeholder="Первичность">[[$select.selected.name]]</match>
                            <choices repeat="rbp in rbPrimary.objects | filter: $select.search ">
                                <div ng-bind-html="rbp.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Порядок</label>
                        <ui-select ng-model="event_info.order"
                                   theme="select2">
                            <match placeholder="Порядок">[[$select.selected.name]]</match>
                            <choices repeat="rbo in rbOrder.objects | filter: $select.search ">
                                <div ng-bind-html="rbo.name | highlight: $select.search"></div>
                            </choices>
                        </ui-select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <ng-form name="setDateForm">
                        <div class="col-md-3"
                             ng-class="{'has-error': setDateForm.event_setDate.$invalid && submit_attempt}">
                            <label for="event_setDate">Дата начала</label>
                            <wm-date id="event_setDate" name="event_setDate"
                                     ng-model="event_info.set_date"
                                     ng-required="true">
                            </wm-date>
                        </div>
                    </ng-form>
                    <div class="col-md-2">
                        <label for="event_setDate">Время начала</label>
                        <wm-time id="event_setTime" name="event_setTime"
                                 ng-model="event_info.set_date"
                                 ng-required="true">
                        </wm-time>
                    </div>
                    <div class="col-md-3">
                        <label for="event_execDate">Дата выполнения</label>
                        <wm-date id="event_execDate" name="event_execDate"
                                 ng-model="event_info.exec_date">
                        </wm-date>
                    </div>
                    <div class="col-md-3">
                        <label for="event_setDate">Время выполнения</label>
                        <wm-time id="event_execTime" name="event_execTime"
                                 ng-model="event_info.exec_date">
                        </wm-time>
                    </div>
                </div>
            </blockquote>
{#        <div>#}
{#            <p>debug:</p>#}
{#            <p>[[event_info | json]]</p>#}
{#            <p>[[request_type.selected | json]]</p>#}
{#            <p>[[finance.selected | json]]</p>#}
{#        </div>#}
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button ng-click="cancel_editing();" class="btn btn-lg btn-danger">Назад</button>
                        <button ng-click="create_event();" class="btn btn-lg btn-success">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    <script>
    WebMis20.controller('EventCreateCtrl', ['$scope', '$http', 'RefBookService', 'EventType','$window',
                        function ($scope, $http, RefBookService, EventType, $window) {
        $scope.aux = aux;
        $scope.submit_attempt = false;
        $scope.event_info = null;
        $scope.client_id = aux.getQueryParams(location.search).client_id;
        $scope.Organisation = RefBookService.get('Organisation');
        $scope.Person = RefBookService.get('vrbPersonWithSpeciality');
        $scope.Contract = RefBookService.get('Contract');
        $scope.rbRequestType = RefBookService.get('rbRequestType');
        $scope.rbFinance = RefBookService.get('rbFinance');
        $scope.rbEventType = new EventType();
        $scope.OrgStructure = RefBookService.get('OrgStructure');

        $scope.rbOrder = {{ Enum.get_class_by_name('EventOrder').rb() | tojson}};
        $scope.rbPrimary = {{ Enum.get_class_by_name('EventPrimary').rb() | tojson}};

        $scope.editing_list = [];
        $scope.start_edit = function(element) {
            $scope.editing_list.push(element);
        };

        $scope.stop_edit = function(element) {
            $scope.editing_list.splice($scope.editing_list.indexOf(element), 1);
        };

        $scope.create_event = function() {
            $scope.submit_attempt = true;
            if ($scope.contractForm.$invalid || $scope.setDateForm.$invalid){
                return false;
            }
            $http.post('{{ url_for('.api_event_save') }}', $scope.event_info).success(function (data) {
                var event_id = data['result'];
                window.open('{{ url_for('.html_event_info') }}?event_id=' + event_id, '_self');
            });
        };

        $scope.request_type = {};
        $scope.finance = {};

        $scope.$watch('request_type.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.finance.selected = $scope.finance_init || $scope.rbEventType.get_finances_by_rt(new_val.id)[0];
                $scope.finance_init = undefined;
            }
        });
        $scope.$watch('finance.selected', function(new_val, old_val) {
            if (new_val) {
                $scope.event_info.event_type = $scope.event_type_init || $scope.rbEventType.get_filtered_by_rtf(
                    $scope.request_type.selected.id, new_val.id)[0];
                    $scope.event_type_init = undefined;
            }
        });

        $scope.load_data = function () {
            $http.get('{{ url_for('.api_event_new_get') }}', {
                params: {
                    client_id: $scope.client_id
                }
            }).success(function (data) {
                $scope.event_info = data.result;
                $scope.event_info.set_date = new Date();

                $scope.request_type_init = angular.extend({}, $scope.event_info.event_type.request_type);
                $scope.finance_init = angular.extend({}, $scope.event_info.event_type.finance);
                $scope.event_type_init = angular.extend({}, $scope.event_info.event_type);

                $scope.request_type.selected = $scope.request_type_init;
                $scope.finance.selected = $scope.finance_init;
            })
        };

        $scope.load_data();

    }])
    </script>
{% endblock %}
