{% extends 'logging/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block modules_css %}
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui/css/cupertino/jquery-ui-1.10.2.custom.min.css') }}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {{ macro_module_menu.make_module_menu(menu_struct) }}

        {% set msg = '' %}
        {% if form_data %}
            {% set msg = '(отфильтрован по параметрам)' %}
        {% endif %}
        <legend>Просмотр журнала
            <small>{{ msg }}</small>
        </legend>

        <form class="form-inline" id="filter" method="POST" action="{{ url_for('.index') }}">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <select name="owner" class="form-control">
                    <option value="">- все подсистемы -</option>
                    {% if owners %}
                        {% for owner in owners %}
                            <option value="{{ owner|safe }}"{% if form_data.get('owner') == owner|string %}
                                    selected="selected"{% endif %}>
                                {%- if owner is mapping -%}
                                    {% for k, v in owner.iteritems() %}
                                        {{ k }}: {{ v }}{%- if not loop.last -%} | {%- endif -%}
                                    {% endfor %}
                                {%- else -%}
                                    {{ owner }}
                                {%- endif -%}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <select name="level" class="form-control">
                    <option value="">- все типы -</option>
                    {% if levels %}
                        {% for level in levels %}
                            <option value="{{ level }}"{% if form_data.get('level') == level %}
                                    selected="selected"{% endif %}>{{ level }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <label for="from">Даты с:</label>
                <input type="text" id="from" name="start" class="form-control" value="{{ form_data|attr('start') }}"/>
            </div>

            <div class="form-group">
                <label for="to">по</label>
                <input type="text" id="to" name="end" class="form-control" value="{{ form_data|attr('end') }}"/>
            </div>

            <button type="submit" class="btn btn-primary">Выбрать</button>
        </form>

        <br />{# FIXME #}
        {% if data %}
            <table class="table table-bordered table-condensed" id="result_table">
                <thead>
                <tr>
                    <th>Подсистема</th>
                    <th>Уровень</th>
                    <th>Дата</th>
                    <th>Сообщение</th>
                    <th>Теги</th>
                </tr>
                <tr>
                    <th colspan="5">{% include 'logging/_filter_results_form.html' %}</th>
                </tr>
                {% if num_pages %}
                    <tr>
                        <td colspan="5">
                            <div class="pagination pagination-centered nomargin">
                                {{ macros.pagination('.index', page=page, num_pages=num_pages) }}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for item in data %}
                    {% set class='' %}
                    {% if item.level in ['crirical', 'error'] %}
                        {% set class='error' %}
                    {% elif item.level in ['warning'] %}
                        {% set class='warning' %}
                    {% elif item.level in ['notice', 'info'] %}
                        {% set class='info' %}
                    {% endif %}
                    <tr class="{{ class }}">
                        <td>
                            {%- if item.owner is mapping -%}
                                {% for k, v in item.owner.iteritems() %}
                                    <nobr><b>{{ k }}:</b> {{ v }}</nobr>
                                    {%- if not loop.last -%}
                                        <br>
                                    {%- endif -%}
                                {% endfor %}
                            {%- else -%}
                                {{ item.owner }}
                            {%- endif -%}
                        </td>
                        <td>{{ item['level'] }}</td>
                        <td>{% if item['datetimestamp'] %}
                            {{ item['datetimestamp']|strptime|datetimeformat('%d.%m.%y %H:%M:%S') }}{% endif %}</td>
                        <td>{{ item['data']|nl2br }}</td>
                        <td>{{ item['tags']|join(', ') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if num_pages %}
                <div class="pagination pagination-centered">
                    {{ macros.pagination('.index', page=page, num_pages=num_pages) }}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                По указанным параметрам логов не обнаружено
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui/js/i18n/jquery.ui.datepicker-ru.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $("#from").datepicker({
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            {% if form_data.get('start') %}
                $('#from').datepicker("setDate", '{{ form_data.get('start') }}');
            {% endif %}
            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });
            {% if form_data.get('end') %}
                $('#to').datepicker("setDate", '{{ form_data.get('end') }}');
            {% endif %}
        });
    </script>
    <div class="loader"></div>
{% endblock %}