.progress {
    margin-bottom: 0;
}

/*table.table-personal-data > tbody > tr > th {*/
    /*text-align: right;*/
/*}*/

h2 { /* Fix me if you don't like me */
    margin-top: 0;
}

.gender-icon-padding {
    padding-right: 10px;
}

.gender-icon-female {
    color: hotpink;
}

.gender-icon-male {
    color: royalblue;
}

div.das-form > .row {
    min-height: 34px;
    padding-bottom: 10px;
}

.custom-4-digit-shit {
    width: 4em;
}

.small-left-margin {
    margin-left: 20px;
}

.achievements {
    font-size: 24px;
}