<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Шаблоны действий</h4>
</div>
<div class="modal-body" style="max-height: 500px; overflow-y: auto;">
    <div class="ui-treeview">
        <ul>
            <li sf-treepeat="node in children of tree">
                <div class="tree-label"
                     ng-class="{'collapsed': !sas.selected(node.id) && node.is_node,
                                'expanded': sas.selected(node.id) && node.is_node,
                                'leaf': !node.is_node}">&nbsp;</div>
                <span ng-class="{active: node.id === model.parent.id}">
                    <a ng-click="$close(node.aid)" ng-if="!node.is_node" class="leaf" ng-bind="node.name"></a>
                    <a ng-click="sas.toggle(node.id)" ng-if="node.is_node" class="node" ng-bind="node.name"></a>
                </span>
                <ul ng-if="node.is_node && sas.selected(node.id)"><li sf-treecurse></li></ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отмена</button>
</div>