<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Шаблоны действий</h4>
</div>
<div class="modal-body" style="max-height: 500px; overflow-y: auto;">
    <div class="ui-treeview">
        <ul>
            <li sf-treepeat="node in children of tree">
                <div class="tree-label"
                     ng-class="{'expanded': sas.selected(node.id) && node.is_node,
                                'leaf': !node.is_node}">&nbsp;</div>
                        <span ng-class="{active: node.id === model.parent.id}">
                            {#- Тут магия: нода - не нода, не нода - нода, потому что при сохранении ноды кликабельны и выбирабельны, а листы - нет -#}
                            <a ng-if="!node.is_node" class="node" ng-bind="node.name"></a>
                            <a  ng-if="node.is_node" ng-click="select(node)" class="leaf" ng-bind="node.name"></a>
                        </span>
                        {# <a  ng-if="node.is_node" ng-click="new_node(node)">[ + ]</a>#}
                <input class="form-control" type="text" ng-model="model.name" placeholder="Название" ng-if="node.id === model.parent.id">
                <ul ng-if="node.is_node"><li sf-treecurse></li></ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save_new(model)">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отмена</button>
</div>