{% extends "actions/base.html" %}
{% import "_macros.html" as macros %}
{% block main %}
<div ng-controller="ActionEditorCtrl" class="ng-cloak">
<div class="alert alert-warning text-center" style="font-size: larger" ng-if="isActionLockedByOtherPerson()">
    Данные заблокированы пользователем <b>[[ locker_person.description ]]</b>
</div>
<div alert-notify></div>
<section class="content-header">
    <div class="wm-page-header-button-box">
        <wm-subscription-btn oid="hitsl.action.[[ action.id ]]"></wm-subscription-btn>
        <ui-print-button ps="ps" resolve="ps_resolve()" before-print="save_action(true)"></ui-print-button>
        <button class="btn btn-success" title="Сохранить" ng-click="save_action()" ng-if="!action.readonly">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
    <h1>[[ action.action_type.name ]] -
        <a href="{{ url_for('patients.patient') }}?client_id=[[action.client.id]]">[[ action.client.full_name ]] [[ action.client.birth_date |asDate ]] ([[ action.client.age]])</a>
        <a class="lmargin20" href="{{ url_for('event.html_event_info') }}?event_id=[[action.event_id]]">[[event.info.external_id]]</a>
    </h1>
</section>
<section class="content">
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-body">
                    {% include "actions/_action_head_editable.html" %}
                    {% include "actions/_action_head_viewable.html" %}
                </div>
            </div>
            <div class="box box-info" ng-if="action.action_type.diagnosis_types">
                <div class="box-header with-border">
                    <h3 class="box-title">Диагноз</h3>
                </div>
                <div class="box-body">
                    <wm-diagnosis-new ng-model="action.diagnoses" can-edit="!action.end_date" default-set-date="action.beg_date"
                                      diag-types="action.action_type.diagnosis_types" can-add-new="true"></wm-diagnosis-new>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-body">
                    <wm-action-layout action="action"></wm-action-layout>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
        <div class="pull-left">
            <button class="btn btn-lg btn-default" ng-click="template_save()">Сохранить шаблон</button>
            <button class="btn btn-lg btn-default" ng-click="template_load()" ng-if="!action.readonly">Загрузить шаблон</button>
            <button class="btn btn-lg btn-default" ng-click="template_prev()" ng-if="!action.readonly">Загрузить из предыдущего</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-lg btn-success" ng-click="save_action()" ng-if="!action.readonly">Сохранить</button>
            <button class="btn btn-lg btn-danger" ng-click="cancel()">Закрыть</button>
        </div>
</div>
</section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/action_editor.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/action-layout.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=nemesis_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/ezekiel.js', v=nemesis_version) }}"></script>
    <script src="{{ url_for('accounting.static', filename='js/accounting.js', v=app_version) }}"></script>
    <script type="text/ng-template" id="_action_template_load_model.html">{% include "actions/_action_template_load_modal.html" %}</script>
    <script type="text/ng-template" id="_action_template_save_model.html">{% include "actions/_action_template_save_modal.html" %}</script>
{% endblock %}