{% extends 'schedule/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>График работы</h1>
</section>
<section class="content">
    <div ng-controller="ScheduleCtrl" class="ng-cloak">
        <div class="row marginal">
            <div class="col-md-2">
                <select class="form-control" name="year" ng-model="year"
                        ng-options="y for y in years" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="month" ng-model="month"
                        ng-options="item.value as item.name for item in aux.months" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-8">
                <person-tree popupable="true" person-id="person_id"></person-tree>
            </div>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-justified" ng-model="reception_type" ng-if="person">
                <li ng-class="{active: (rt.code == reception_type)}" ng-repeat="rt in reception_types.objects"
                    ng-click="changeReceptionType(rt.code)"><a>[[ rt.name ]]</a>
                </li>
            </ul>
            <div class="tab-content marginal" ng-if="person">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li ng-class="{active: ($index == page)}" ng-repeat="p in pages">
                                <a ng-click="setDatePage($index)">
                                    [[ p | asShortDate ]] - [[ aux.moment(p).add(6, 'd') | asShortDate ]]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4><span ng-if="grouped[reception_type].max_tickets == 0" class="no-schedule-label">Нет расписания</span>
                            <span class="pull-right btn-group"><button class="btn btn-xs bg-olive">ОМС</button><button class="btn btn-xs bg-teal">ВМП</button><button class="btn btn-xs bg-purple">Платно</button><button class="btn btn-xs btn-success">Любой</button></span>
                            [[ person.name ]]
                            <small>, [[ person.speciality.name ]]</small>
                        </h4>
                        <table class="table table-condensed person-schedule">
                            <thead ng-if="grouped[reception_type].max_tickets > 0">
                            <tr>
                                <th ng-repeat="day in grouped[reception_type].schedule"
                                    ng-bind="day.date | asMomentFormat:'DD.MM.YYYY, dd'"></th>
                            </tr>
                            </thead>
                            <tbody ng-if="grouped[reception_type].max_tickets > 0">
                            <tr ng-repeat="row in aux.range(grouped[reception_type].max_tickets)">
                                <td ng-repeat="day in grouped[reception_type].schedule">
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn-group">[[day.tickets[row].finance.code]]
                                            <button ui-schedule-ticket="day.tickets[row]" day="day" show-name="true"
                                                    ng-click="appointment_toggle(day.tickets[row])"
                                                    ng-class="{'bg-olive': (day.tickets[row].finance == '2' && !ticket_user_info_available(day.tickets[row])), 'bg-purple': (day.tickets[row].finance == '4' && !ticket_user_info_available(day.tickets[row])), 'bg-teal': (day.tickets[row].finance == '6' && !ticket_user_info_available(day.tickets[row]))}"></button>
                                        </div>
                                        <div class="btn-group" ng-if="ticket_user_info_available(day.tickets[row])">
                                            <button type="button" class="btn btn-primary" title="Посмотреть информацию о пациенте"
                                                    ng-click="view_patient_info(day.tickets[row])"
                                                    ng-class="{'bg-olive': (day.tickets[row].finance == '2'), 'bg-purple': (day.tickets[row].finance == '4'), 'bg-teal': (day.tickets[row].finance == '6')}">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="person" class="panel">
            <div class="btn-group dropup">
                <ui-print-button ps="ps" resolve="get_ps_resolve()" class="btn-lg"
                    lazy-load-context="scheduleQueue"></ui-print-button>
                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="openPrintDialog('today')">За сегодня</a></li>
                    <li><a ng-click="openPrintDialog('week')">За неделю</a></li>
                    <li><a ng-click="openPrintDialog('month')">За месяц</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=app_version) }}"></script>
{% endblock %}
