{% extends 'schedule/base.html' %}
{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ScheduleMonthCtrl" class="ng-cloak">
        <legend xmlns="http://www.w3.org/1999/html"><h2>График врача <span ng-if="person" class="bg-success">[[ person.name ]]<small>, [[ person.speciality.name ]]</small></span></h2></legend>
        <div class="row marginal">
            <div class="col-md-2">
                <select class="form-control" name="year" ng-model="year" ng-disabled="editing"
                        ng-options="y for y in years" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="month" ng-model="month" ng-disabled="editing"
                        ng-options="item.value as item.name for item in aux.months" ng-change="monthChanged()"></select>
            </div>
            <div class="col-md-8">
                <person-tree popupable="true" person-id="person_id"></person-tree>
            </div>
        </div>
        <div ng-show="person">
            <div class="well well-sm">
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="start_editing()" ng-if="!editing">Редактировать</button>
                    <button class="btn btn-success" ng-click="finish_editing()" ng-if="editing">Сохранить</button>
                    <button class="btn btn-danger" ng-click="cancel_editing()" ng-if="editing">Отменить</button>
                </div>
                <button class="btn btn-warning" ng-click="fill_selection()" ng-if="editing" ng-disabled="selected_days.length == 0">Заполнить</button>
                <div ng-if="editing" class="btn-group">
                    <button class="btn btn-primary disabled"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-primary" ng-click="select.odd()">Нечет дни</button>
                    <button class="btn btn-primary" ng-click="select.invert()">Инверсия</button>
                    <button class="btn btn-primary" ng-click="select.all()">Все</button>
                    <button class="btn btn-primary" ng-click="select.none()">Снять</button>
                </div>
                <label ng-show="editing" for="weekendCheckBox"><input type="checkbox" id="weekendCheckBox" ng-model="weekends_selectable"> Выбирать выходные</label>

                <div class="btn-group pull-right" dropdown ng-if="editing">
                    <button type="button" class="btn btn-info" ng-click="copy_schedule_from_previous_month()">Копировать из предыдущего</button>
                    <button type="button" class="btn btn-info dropdown-toggle">
                        <span class="caret"></span><span class="sr-only">Выбрать месяц</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="m in prevMonthsInfo">
                            <a href="javascript:;" ng-bind="m.name" ng-click="copy_schedule_from_previous_month(m.date)"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed person-schedule">
                        <caption>[[ person.name ]]<small>, [[ person.speciality.name ]]</small></caption>
                        <thead>
                        <tr>
                            <th class="text-center" ng-if="editing">&raquo;</th>
                            <th class="text-center" ng-repeat="weekday in weekdays" ng-bind="weekday"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="week in week_data">
                            <td ng-if="editing" class="text-center">
                                <button class="btn btn-default" type="button" ng-click="select.week(week)">&raquo;</button>
                            </td>
                            <td ng-repeat="day in week">
                                <div class="panel small person-schedule-day"
                                     ng-if="!day.not_exists"
                                     ng-class="get_day_class(day, $index)"
                                     ng-click="select.day(day)">
                                    <div class="panel-heading">[[ day.date | asDate ]]
                                        <i class="pull-right glyphicon glyphicon-edit day-selectable" ng-if="day.busy" ng-click="free_up_day(day)"></i>
                                    </div>
                                    <ul class="panel-body list-group" ng-switch="person_schedule_day_switch(day)">
                                        <li class="list-group-item list-group-item-danger" ng-if="day.busy">Есть записи</li>
                                        <li class="list-group-item list-group-item-info" ng-if="quotas_by_week[$parent.$parent.$index][$index]['day_quotas']">
                                            <span class="glyphicon glyphicon-list-alt" title="На этот день задано квотирование по времени"></span>
                                        </li>

                                        <li class="list-group-item list-group-item-info" ng-repeat="sched in day.scheds">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <p class="interval-title" ng-bind-html="getRecTypeText(sched.reception_type.code, true)"></p>
                                                    <p><span class="glyphicon glyphicon-time"></span>
                                                        <nobr>&nbsp;[[ (day.date + 'T' + sched.begTime) | asTime ]] - [[ (day.date + 'T' + sched.endTime) | asTime ]]</nobr></p>
                                                    <p ng-if="sched.reception_type.code !== 'home'"><span class="glyphicon glyphicon-tag"></span>
                                                        <nobr>&nbsp;Кабинет:&nbsp;[[ sched.office.code ]]</nobr></p>
                                                </div>
                                                <div class="col-md-5 text-right text-muted">
                                                    <p><nobr>План:&nbsp;[[ sched.planned ]]</nobr></p>
                                                    <p><nobr>Сверх плана:&nbsp;[[ sched.extra ]]</nobr></p>
                                                    <p><nobr>Вне очереди:&nbsp;[[ sched.CITO ]]</nobr></p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-group-item" ng-switch-when="empty">Не&nbsp;заполнено</li>

                                        <li class="list-group-item list-group-item-danger" ng-switch-when="absent">Причина отсутствия:<br/>[[ day.roa.name ]]</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{#    <pre>Schedules: [[schedules | json]]</pre>#}
    </div>
{% endblock %}
{% block modules_js %}
    {{ super() }}
    <script type="text/ng-template" id="modal-DaysSetup.html">{% include "schedule/_daysetup.html" %}</script>
    <script type="text/ng-template" id="modal-DayFree.html">{% include "schedule/_day_free.html" %}</script>
    <script src="{{ url_for('.static', filename='js/schedule_month.js', v=app_version) }}"></script>
{% endblock %}
