<div class="modal-header">
    <h3 class="modal-title">Сведения об аллергиях и непереносимостях</h3>
</div>
<div class="modal-body">
    <div class="das-form">
    <ng-form name="algForm">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-3"></th>
                    <th class="col-md-9"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-right">Тип <span class="text-danger">*</span></th>
                    <td ng-if="!model.id"><div class="col-md-4" >
                        <rb-select ref-book="IntoleranceType" ng-model="model.type" autofocus="autofocus" ng-required="true" />
                    </div></td>
                    <td ng-if="model.id"><div class="col-md-12" ng-bind="model.type.name"></div></td>
                </tr>
                <tr>
                    <th class="text-right">Наименование <span class="text-danger">*</span></th>
                    <td>
                        <div class="col-md-8"><input class="form-control" type="text" ng-model="model.name" ng-required="true" /></div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Степень </th>
                    <td>
                        <div class="col-md-8"><rb-select ref-book="AllergyPower" ng-model="model.power" /></div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Примечания</th>
                    <td>
                        <div class="col-md-8"><input class="form-control" type="text" ng-model="model.note" /></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-form>
    </div>
</div>
<div class="modal-footer">
    <input type="checkbox" ng-model="restart" id="another"><label for="another"> Создать ещё </label>
    <button class="btn btn-success" ng-click="$close([model, restart])" ng-disabled="!algForm.$valid">Сохранить</button>
    <button class="btn btn-default" ng-click="$dismiss()">Отменить</button>
</div>