<div class="modal-header">
    <h3 class="modal-title">Переливания крови</h3>
</div>
<div class="modal-body">
    <div class="das-form">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-3"></th>
                    <th class="col-md-9"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-right">Дата</th>
                    <td><div class="col-lg-3 col-md-3 col-xs-3">
                        <wm-date name="date" ng-model="model.date" min-date="minDate"
                            max-date="maxDate" style="width: 250px"></wm-date>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Вид</th>
                    <td><div class="col-md-10"><rb-select ref-book="rbRisarBloodTransfusionType" ng-model="model.type" autofocus="true"/></div></td>
                </tr>
                <tr>
                    <th class="text-right">Группа крови донора</th>
                    <td><div class="col-lg-3 col-md-3 col-xs-3"><rb-select ref-book="rbBloodType" ng-model="model.blood_type" /></div></td>
                </tr>
                <tr>
                    <th class="text-right">Реакция</th>
                    <td><div class="col-md-10"><input class="form-control" type="text" ng-model="model.reaction" /></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <input type="checkbox" ng-model="restart" id="another"><label for="another"> Создать ещё </label>
    <button class="btn btn-success" ng-click="$close([model, restart])">Сохранить</button>
    <button class="btn btn-default" ng-click="$dismiss()">Отменить</button>
</div>