<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3 class="modal-title">Сведение о беременности</h3>
</div>
<div class="modal-body">
    <div class="das-form">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-3"></th>
                    <th class="col-md-9"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-right">Год беременности <span class="text-danger">*</span></th>
                    <td>
                        <div class="col-md-2">
                        <input class="form-control validatable" type="text" ng-model="model.year" ui-mask="9999"
                               validator-regexp="'^[12]\\d{3}$'" auto-focus>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Исход беременности <span class="text-danger">*</span></th>
                    <td>
                        <div class="col-md-7">
                        <rb-select ref-book="rbRisarPregnancyResult" ng-model="model.pregnancyResult"
                                   ng-change="result_change(model)" ng-required="true" class="validatable"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Срок беременности <span>&nbsp;</span></th>
                    <td>
                        <div class="col-md-2">
                            <input class="form-control" type="number" ng-model="model.pregnancy_week">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Патологии беременности <span>&nbsp;</span></th>
                    <td>
                        <div class="col-md-12">
                            <wm-mkb-multiple ng-model="model.pregnancy_pathology"></wm-mkb-multiple>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Патологии родов/абортов <span>&nbsp;</span></th>
                    <td>
                        <div class="col-md-12">
                            <wm-mkb-multiple ng-model="model.delivery_pathology"></wm-mkb-multiple>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Осложнения после родов/абортов <span>&nbsp;</span></th>
                    <td>
                        <div class="col-md-12">
                            <wm-mkb-multiple ng-model="model.after_birth_complications"></wm-mkb-multiple>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Пособия, операции <span>&nbsp;</span></th>
                    <td>
                        <div class="col-md-12">
                            <rb-select multiple="true" ref-book="rbRisarMaternityAid" ng-model="model.maternity_aid"></rb-select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Преэклампсия <span>&nbsp;</span></th>
                    <td>
                    <div class="col-md-8"><input type="checkbox" class="checkbox" ng-model="model.preeclampsia"></div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">Особенности <span>&nbsp;</span></th>
                    <td>
                    <div class="col-md-10">
                        <wysiwyg ng-model="model.note"/>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="['delivery', 'premature_birth_28-37', 'premature_birth_22-27', 'postmature_birth'].has(model.pregnancyResult.code)">
            <h4>Информация о детях</h4>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary text-left marginal" ng-click="add_child(model)"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
                    <ul class="nav nav-pills nav-stacked  marginal" id="childrenTabs">
                        <li ng-class="{'active': $index==0}" ng-repeat="child in model.newborn_inspections">
                            <a href="#child[[$index+1]]" data-toggle="pill">
                                Ребенок [[$index+1]]<button class="text-red close btn btn-small btn-default closeBtn"
                                                            ng-click="delete_child($index)" type="button"
                                                            tooltip="Удалить">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div ng-class="{'active': $index==0}" class="tab-pane" id="child[[$index+1]]"
                             ng-repeat="child in model.newborn_inspections">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-8"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-right">Живой <span>&nbsp;</span></th>
                                        <td>
                                                <div class="radio-inline">
                                                    <label>
                                                        <input type="radio" name="optionsAlive_[[$index]]"
                                                               ng-model="child.alive" data-ng-value="true"
                                                               ng-click="child.death_reason=''; child.died_at=null">
                                                        Да
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label>
                                                        <input type="radio" name="optionsAlive_[[$index]]"
                                                               ng-model="child.alive" data-ng-value="false">
                                                        Нет
                                                    </label>
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Масса при рождении, г <span>&nbsp;</span></th>
                                        <td>
                                            <div class="row">
                                            <div class="col-md-4 col-lg-3">
                                                <input type="number" ng-model="child.weight" valid-number
                                                       class="form-control" name="__weight_[[$index]]">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Аномалии развития <span>&nbsp;</span></th>
                                        <td>
                                            <div class="row">
                                            <div class="col-md-4 col-lg-3">
                                                <input ng-model="child.abnormal_development" class="checkbox" type="checkbox">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Неврологические нарушения <span>&nbsp;</span></th>
                                        <td>
                                            <div class="row">
                                            <div class="col-md-4 col-lg-3">
                                                <input ng-model="child.neurological_disorders" class="checkbox" type="checkbox">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="! child.alive">
                                        <th class="text-right">Умер в срок <span class="text-danger">*</span></th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <rb-select ref-book="rbRisarDiedAt" ng-model="child.died_at" class="validatable"
                                                               name="died_at_[[$index]]" ng-required="true"/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="! child.alive">
                                        <th class="text-right">Причина смерти <span>&nbsp;</span></th>
                                        <td>
                                            <div class="row">
                                            <div class="col-md-8">
                                                <input ng-model="child.death_reason" class="form-control"
                                                       name="death_reason_[[$index]]">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input type="checkbox" ng-model="restart" id="another"><label for="another"> Создать ещё </label>
    <button class="btn btn-success" ng-click="$close([model, restart])" ng-disabled="form_is_invalid()">Сохранить</button>
    <button class="btn btn-default" ng-click="$dismiss()">Отменить</button>
</div>