<ng-form name="addressForm" toc-element="Адреса">
<legend>Адрес регистрации</legend>
<div ng-repeat="reg_addr in client.reg_addresses | filter: flt_not_deleted()">
    <div class="row">
        <div class="col-md-10">
            <wm-kladr-address>
                <ng-form name="regAddressForm">
                    <wm-kladr-base-layout prefix='reg'
                        locality-model="reg_addr.address.locality"
                        locality-type-model="reg_addr.locality_type"
                        street-model="reg_addr.address.street"
                        house-model="reg_addr.address.house_number"
                        corpus-model="reg_addr.address.corpus_number"
                        flat-model="reg_addr.address.flat_number"
                        free-input-model="reg_addr.free_input"
                        address-model="reg_addr"
                        copy-from-model="null"
                    </wm-kladr-base-layout>
                </ng-form>
            </wm-kladr-address>
        </div>
        <div class="col-md-1">
            <div class="row" ng-show="reg_addr.id">
                <button type="button" class="btn btn-primary btn-block marginal"
                        ng-click="edit.activated=true">Редактировать</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-danger btn-block marginal"
                        ng-click="delete_address('reg_addresses', reg_addr)">Удалить</button>
            </div>
        </div>
    </div>
    <div>[[reg_addr | json]]</div>
</div>
<div>
    <button type="button" class="btn btn-primary marginal"
            ng-click="add_new_address('reg_addresses', 0)">Добавить новый</button>
</div>

<legend>Адрес проживания</legend>
<div ng-repeat="live_addr in client.live_addresses | filter: flt_not_deleted()">
    <div class="row">
        <div class="col-md-10">
            <wm-kladr-address>
                <ng-form name="locAddressForm">
                    <wm-kladr-base-layout prefix='loc'
                        locality-model="live_addr.address.locality"
                        locality-type-model="live_addr.locality_type"
                        street-model="live_addr.address.street"
                        house-model="live_addr.address.house_number"
                        corpus-model="live_addr.address.corpus_number"
                        flat-model="live_addr.address.flat_number"
                        free-input-model="live_addr.free_input"
                        address-model="live_addr"
                        copy-from-model="get_actual_reg_address()"
                    </wm-kladr-base-layout>
                </ng-form>
            </wm-kladr-address>
        </div>
        <div class="col-md-1">
            <div class="row" ng-show="live_addr.id">
                <button type="button" class="btn btn-primary btn-block marginal"
                        ng-click="edit.activated=true">Редактировать</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-danger btn-block marginal"
                        ng-click="delete_address('live_addresses', live_addr)">Удалить</button>
            </div>
        </div>
    </div>
    <div>[[live_addr | json]]</div>
</div>
<div>
    <button type="button" class="btn btn-primary marginal"
            ng-click="add_new_address('live_addresses', 1)">Добавить новый</button>
</div>
</ng-form>