<table class="table table-condensed novmargin">
    <thead>
    <tr>
        <th>Отметка</th>
        <th>Дата и время приёма</th>
        <th>Кабинет</th>
        <th>Специалист</th>
        <th>Записал</th>
        <th>Примечания</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in client.appointments">
        <td>[[ record.mark ]]</td>
        <td>[[ record.begDateTime | asDateTime ]]</td>
        <td>[[ record.office.code ]]</td>
        <td>[[ record.person ]]</td>
        <td>[[ record.createPerson.name ]]</td>
        <td>[[ record.note ]]</td>
        <td width="1%">
            <button ng-click="new_event(client_id, record.id)" class="btn btn-sm btn-success" title="Создать обращение"
                    ng-if="current_user.current_role_maybe('admin', 'rRegistartor', 'clinicRegistrator')">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
        <td width="1%">
            <ui-print-button ps="ps_home" class="btn-sm" resolve="ps_home_resolve(record.id)" ng-if="record.receptionType.code == 'home'"></ui-print-button>
            <ui-print-button ps="ps_amb" class="btn-sm" resolve="ps_amb_resolve(record.id)" ng-if="record.receptionType.code == 'amb'"></ui-print-button>
        </td>
    </tr>
    </tbody>
</table>