<div class="marginal">
<ng-form name="contactsForm" toc-element="Связи и контакты">
    <legend>Контактная информация и родственники</legend>
    <h4>Связи с другими пациентами</h4>
    <ng-form name="_relations" toc-element="Связи" ng-model="client.relations">
        <div ng-repeat="relation in client.relations | filter: flt_not_deleted()">
            <div class="row">
                <div class="col-md-11">
                    <alert type="danger" ng-if="!client.info.sex">Для добавления родственной связи укажите пол пациента</alert>
                    <ng-form name="contactForm">
                        <wm-client-relation id-postfix="[[$index]]"
                            model-relation="relation"
                            model-client="client.info"
                            edit-mode="contact.id ? edit.activated : true">
                        </wm-client-relation>
                    </ng-form>
                </div>
                <div class="col-md-1">
                    <div class="row" ng-show="contact.id">
                        <button type="button" class="btn btn-primary marginal" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-danger marginal" title="Удалить"
                                ng-click="client.delete_record('relations', relation)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" ng-click="client.add_relation()" class="btn btn-primary">
            Добавить связь
        </button>
    </ng-form>

    <hr>

    <h4>Контакты пациента</h4>
    <ng-form name="_contacts" toc-element="Контакты">
        <div ng-repeat="contact in client.contacts | filter: flt_not_deleted()">
            <div class="row">
                <div class="col-md-11">
                    <ng-form name="contactForm">
                        <wm-client-contact id-postfix="[[$index]]"
                            model-contact="contact"
                            edit-mode="contact.id ? edit.activated : true">
                        </wm-client-contact>
                    </ng-form>
                </div>
                <div class="col-md-1">
                    <div class="row" ng-show="contact.id">
                        <button type="button" class="btn btn-primary marginal" title="Редактировать"
                                ng-click="edit.activated=true"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-danger marginal" title="Удалить"
                                ng-click="client.delete_record('contacts', contact)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" ng-click="client.add_contact()" class="btn btn-primary">
            Добавить контакт
        </button>
    </ng-form>
</ng-form>
</div>