<div class="panel panel-default">
    <div class="panel-heading panel-title">Документ</div>
    <div class="panel-body">
        <ng-form name="docForm">
            <div class="row">
                {# TODO: есть проблема с начальным значением селекта - оно всегда валидно, плюс непонятно как добавить выбор пустого значения #}
                <div class="form-group col-md-4">
                    <label for="doc_type">Тип</label>
                    <ui-select class="form-control" id="doc_type" name="doc_type"
                               ng-model="client.id_doc.doc_type"
                               theme="select2" autocomplete="off">
                        <ui-select-match placeholder="Тип документа">[[$select.selected.name]]</ui-select-match>
                        <ui-select-choices repeat="dt in rbDocumentType.objects | filter: $select.search">
                            <div ng-bind-html="dt.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-2"
                     ng-class="{'has-error': docForm.doc_serial.$invalid && docForm.doc_serial.$dirty}">
                    <label for="doc_serial" class="control-label">Серия</label>
                    <input type="text" class="form-control" id="doc_serial" name="doc_serial"
                           autocomplete="off" placeholder="серия"
                           ng-model="client.id_doc.serial"
                           validator-regexp="client.id_doc.doc_type.validators.serial"/>
                </div>
                <div class="form-group col-md-2"
                     ng-class="{'has-error': docForm.doc_type.$viewValue && docForm.doc_number.$invalid}">
                    <label for="doc_number" class="control-label">Номер</label>
                    <input type="text" class="form-control" id="doc_number" name="doc_number"
                           autocomplete="off" placeholder="номер"
                           ng-model="client.id_doc.number"
                           ng-required="docForm.doc_type.$viewValue"
                           validator-regexp="client.id_doc.doc_type.validators.number"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2"
                     ng-class="{'has-error': docForm.doc_type.$viewValue && docForm.doc_begDate.$invalid}">
                    <label for="doc_begDate" class="control-label">Дата выдачи</label>
                    <wm-date id="doc_begDate" name="doc_begDate"
                             ng-model="client.id_doc.beg_date"
                             ng-required="docForm.doc_type.$viewValue">
                    </wm-date>
                </div>
                <div class="form-group col-md-2"
                     ng-class="{'has-error': docForm.doc_endDate.$invalid }">
                    <label for="doc_endDate" class="control-label">Действителен до</label>
                    {# TODO: неправильная установка даты, если в модели сейчас null #}
                    <wm-date id="doc_endDate" name="doc_endDate"
                             ng-model="client.id_doc.end_date">
                             {# TODO: валидация для необязательной даты - только для введенного#}
                    </wm-date>
                </div>
                <div class="form-group col-md-4"
                     ng-class="{'has-error': docForm.doc_type.$viewValue && docForm.ufms.$invalid}">
                    <label for="ufms" class="control-label">Выдан</label>
                    <select class="form-control" id="ufms" name="ufms"
                            ng-model="client.id_doc.origin"
                            ng-options="org.name as org.name for org in rbUFMS.objects"
                            ng-required="docForm.doc_type.$viewValue">
                    </select>
                    {# TODO: manual-input#}
                </div>
            </div>
        </ng-form>
    </div>
</div>