<div ng-hide="editing_is_active()">
    <div class="panel panel-default" ng-if="client.client_info.regAddress">
        <div class="panel-body">
            <legend>Адрес регистрации</legend>
            <h4>[[client.client_info.regAddress.text_summary]]</h4>
        </div>
    </div>
    <div class="panel panel-default" ng-if="client.client_info.liveAddress">
        <div class="panel-body">
            <legend>Адрес проживания</legend>
            <h4>[[client.client_info.liveAddress.text_summary]]</h4>
        </div>
    </div>
</div>

<div id="addresses_tab" ng-show="editing_is_active()">
    <legend>Адрес регистрации</legend>
    <wm-kladr-address>
        <ng-form name="regAddressForm">
        <wm-kladr-base-layout prefix='reg'
            locality-model="client.client_info.regAddress.address.locality"
            locality-type-model="client.client_info.regAddress.locality_type"
            street-model="client.client_info.regAddress.address.street"
            house-model="client.client_info.regAddress.address.house_number"
            corpus-model="client.client_info.regAddress.address.corpus_number"
            flat-model="client.client_info.regAddress.address.flat_number"
            free-input-model="client.client_info.regAddress.free_input">
        </wm-kladr-base-layout>
        </ng-form>
    </wm-kladr-address>
{#    <div>[[client.client_info.regAddress | json]]</div>#}

    <legend>Адрес проживания</legend>
    <wm-kladr-address>
        <ng-form name="locAddressForm">
        <wm-kladr-base-layout prefix='loc'
            locality-model="client.client_info.liveAddress.address.locality"
            locality-type-model="client.client_info.liveAddress.locality_type"
            street-model="client.client_info.liveAddress.address.street"
            house-model="client.client_info.liveAddress.address.house_number"
            corpus-model="client.client_info.liveAddress.address.corpus_number"
            flat-model="client.client_info.liveAddress.address.flat_number"
            free-input-model="client.client_info.liveAddress.free_input">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="copy_addr" name="copy_addr"
                           ng-model="client.client_info.liveAddress.same_as_reg"
                           ng-click="copy_address(scos, client.client_info.regAddress)"/> {# ищи меня в скоупе patient_info :( #}
                    Совпадает с адресом регистрации
                </label>
            </div>
        </wm-kladr-base-layout>
        </ng-form>
    </wm-kladr-address>
{#    <div>[[client.client_info.liveAddress | json]]</div>#}
</div>
