<table class="table table-condensed">
    <thead>
    <tr>
        <th>Отметка</th>
        <th>Дата и время приёма</th>
        <th>Кабинет</th>
        <th>Специалист</th>
        <th>Записал</th>
        <th>Примечания</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in client.appointments">
        <td>[[ record.mark ]]</td>
        <td>[[ record.begDateTime | asDateTime ]]</td>
        <td>[[ record.office.code ]]</td>
        <td>[[ record.person ]]</td>
        <td>[[ record.createPerson.name ]]</td>
        <td>[[ record.note ]]</td>
        <td width="1%">
            <a ng-href="{{ url_for('event.new_event') }}?client_id=[[ client_id ]]&ticket_id=[[ record.id ]]" target="_blank" class="btn btn-success" title="Создать обращение"><span class="glyphicon glyphicon-plus"></span></a>
        </td>
        <td width="1%">
            <div class="dropdown">
                <button class="btn btn-default" type="button" data-target="print_dropdownMenu2"
                        data-toggle="dropdown" ng-if="record.receptionType.code == 'amb'" ng-disabled="!ps_amb.templates" title="Печать">
                    <span class="glyphicon glyphicon-print"></span>
                    <span class="caret"></span>
                </button>
                <button class="btn btn-default" type="button" data-target="print_dropdownMenu2"
                        data-toggle="dropdown" ng-if="record.receptionType.code == 'home'" ng-disabled="!ps_home.templates" title="Печать">
                    <span class="glyphicon glyphicon-print"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" id="print_dropdownMenu2">
                    <li role="presentation" ng-repeat="template in ps_amb.templates"
                        ng-if="record.receptionType.code == 'amb'">
                        <a role="menuitem" tabindex="-1" href="" class="print_template"
                           ng-click="ps_amb.print_template(template.id, record.id)" ng-bind="template.name">
                        </a>
                    </li>
                    <li role="presentation" ng-repeat="template in ps_home.templates"
                        ng-if="record.receptionType.code == 'home'">
                        <a role="menuitem" tabindex="-1" href="" class="print_template"
                           ng-click="ps_home.print_template(template.id, record.id)" ng-bind="template.name">
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>