<a name="_contacts" toc-element="Контакты"></a>
<legend>Контактная информация и родственники</legend>

<div class="row" ng-repeat="relation in client.relations">
    <div class="col-md-4">
        <wm-relation-type-rb ng-model="relation.type" client="client.info" relative="relation.relative" direct="relation.direct"></wm-relation-type-rb>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary" ng-model="relation.direct" btn-checkbox>
            [[ (relation.direct) ? '→' : '←' ]]
        </button>
    </div>
    <div class="col-md-7">
        [[ relation.relative.full_name ]]
        <wm-clients-short ng-model="relation.relative"></wm-clients-short>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" ng-click="client.add_relation('reversed_relations')" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" ng-hide="!client.info['contacts'].length">
            <caption>Контакты</caption>
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Номер</th>
                    <th>Примечение</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in  client.info['contacts']">
                    <td>[[contact.contactType_name]]</td>
                    <td>[[contact.contact]]</td>
                    <td>[[contact.notes]]</td>
                </tr>
            </tbody>
        </table>
        <div id="client_contacts_subform">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Тип</th>
                    <th>Номер</th>
                    <th>Примечение</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in  client.info['contacts']">
                        <td class="col-md-4" ng-hide="contact.deleted">{{ form.contact_contactType(class="form-control",
                            autocomplete="off", ng_model="contact.contactType_code") }}</td>
                        <td class="col-md-3" ng-hide="contact.deleted">{{ form.contact_contact(class="form-control",
                            autocomplete="off", ng_model="contact.contact") }}</td>
                        <td class="col-md-2" ng-hide="contact.deleted">{{ form.contact_notes(class="form-control",
                            autocomplete="off", ng_model="contact.notes") }}</td>
                        <td class="col-md-1" ng-hide="contact.deleted">
                            <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                               ng-click="delete_record('contacts', contact)" >
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" ng-click="client.add_contact()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
            </button>
        </div>
    </div>
</div>