<a name="_contacts" toc-element="Контакты"></a>
<legend>Контактная информация и родственники</legend>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" ng-hide="editing_is_active() || !client.client_info['direct_relations'].length">
            <thead>
                <tr>
                    <th>Прямая связь</th>
                    <th>Связан с пациентом</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="relation in client.client_info['direct_relations']">
                    <td>[[relation.relativeType_name]]</td>
                    <td>[[relation.other_text]]</td>
                </tr>
            </tbody>
        </table>

        <div id="client_dirrel_subform" ng-show="editing_is_active()">
            <table class="table table-condensed" >
                <thead>
                    <tr>
                        <th>Прямая связь</th>
                        <th>Связан с пациентом</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="relation in client.client_info['direct_relations']">
                        <td class="col-md-4" ng-hide="relation.deleted">
                            <ui-select ng-model="relation.relativeType"
                                    theme="select2">
                                <ui-select-match placeholder="Тип связи">[[$select.selected.leftName]] -> [[$select.selected.rightName]]</ui-select-match>
                                <ui-select-choices repeat="rt in rbRelationType.objects| filter:directRelationFilter | filter: $select.search">
                                    <div ng-bind-html="(rt.leftName + ' -> ' + rt.rightName) | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="col-md-3" ng-hide="relation.deleted">
                            {{ form.direct_relation_other(class="form-control", autocomplete="off",
                               ng_model="relation.other_id") }}</td>
                        <td class="col-md-1" ng-hide="relation.deleted">
                            <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                               ng-click="delete_record('direct_relations', relation)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" ng-click="client.add_relation('direct_relations')" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" ng-hide="editing_is_active() || !client.client_info['reversed_relations'].length">
            <thead>
                <tr>
                    <th>Обратная связь</th>
                    <th>Связан с пациентом</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="relation in client.client_info['reversed_relations']">
                    <td>[[relation.relativeType_name]]</td>
                    <td>[[relation.other_text]]</td>
                </tr>
            </tbody>
        </table>
        <div id="client_revrel_subform" ng-show="editing_is_active()">
            <table class="table table-condensed" >
                <thead>
                    <tr>
                        <th>Обратная связь</th>
                        <th>Связан с пациентом</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="relation in  client.client_info['reversed_relations']">
                        <td class="col-md-4" ng-hide="relation.deleted">
                            <ui-select ng-model="relation['relativeType']"
                                    theme="select2">
                                <ui-select-match placeholder="Тип связи">[[$select.selected.rightName]] -> [[$select.selected.leftName]]</ui-select-match>
                                <ui-select-choices repeat="rt in rbRelationType.objects| filter:reversedRelationFilter | filter: $select.search">
                                    <div ng-bind-html="(rt.rightName + ' -> ' + rt.leftName) | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="col-md-3" ng-hide="relation.deleted">
                            {{ form.reversed_relation_other(class="form-control", autocomplete="off",
                               ng_model="relation.other_id") }}</td>
                        <td class="col-md-1" ng-hide="relation.deleted">
                            <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                               ng-click="delete_record('reversed_relations', relation)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" ng-click="client.add_relation('reversed_relations')" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed" ng-hide="editing_is_active() || !client.client_info['contacts'].length">
            <caption>Контакты</caption>
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Номер</th>
                    <th>Примечение</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in  client.client_info['contacts']">
                    <td>[[contact.contactType_name]]</td>
                    <td>[[contact.contact]]</td>
                    <td>[[contact.notes]]</td>
                </tr>
            </tbody>
        </table>
        <div id="client_contacts_subform" ng-show="editing_is_active()">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Тип</th>
                    <th>Номер</th>
                    <th>Примечение</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in  client.client_info['contacts']">
                        <td class="col-md-4" ng-hide="contact.deleted">{{ form.contact_contactType(class="form-control",
                            autocomplete="off", ng_model="contact.contactType_code") }}</td>
                        <td class="col-md-3" ng-hide="contact.deleted">{{ form.contact_contact(class="form-control",
                            autocomplete="off", ng_model="contact.contact") }}</td>
                        <td class="col-md-2" ng-hide="contact.deleted">{{ form.contact_notes(class="form-control",
                            autocomplete="off", ng_model="contact.notes") }}</td>
                        <td class="col-md-1" ng-hide="contact.deleted">
                            <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                               ng-click="delete_record('contacts', contact)" >
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" ng-click="client.add_contact()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
            </button>
        </div>
    </div>
</div>