<dl class="dl-horizontal" ng-hide="editing">
    <dt ng-repeat-start="key in clientMainInfoCodeOrder" ng-if="client.client_info[key]">[[ clientInfoCode2Name[key] ]]</dt>
    <dd ng-repeat-end>[[ aux.format(client.client_info, key) ]]</dd>
</dl>
<form name="client_form" role="form" ng-show="editing" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-3"
                     ng-class="{'has-error': client_form.lastname.$invalid && client_form.lastname.$dirty}">
                    <label for="lastname">Фамилия <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Фамилия"
                           id="lastname" name="lastname" ng-model="client.client_info.lastName" ng-required="true"/>
                </div>
                <div class="form-group col-md-3"
                     ng-class="{'has-error': client_form.firstname.$invalid && client_form.firstname.$dirty}">
                    <label for="lastname">Имя <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Имя"
                            id="firstname" name="firstname" ng-model="client.client_info.firstName" ng-required="true"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="patronymic">Отчество</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Отчество"
                           id="patronymic" name="patronymic" ng-model="client.client_info.patrName"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3"
                     ng-class="{'has-error': client_form.birthdate.$invalid && client_form.birthdate.$dirty}">
                    <label for="birthdate">Дата рождения <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="birthdate" name="birthdate"
                               ng-model="client.client_info.birthDate" is-open="datepicker_popup.opened"
                               datepicker_popup="dd.MM.yyyy" ng-required="true" manual-date/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open_datepicker_popup()">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-1"
                     ng-class="{'has-error': client_form.gender.$invalid && client_form.gender.$dirty}">
                    <label for="gender">Пол <span class="text-danger">*</span></label>
                    <select class="form-control" id="gender" name="gender"
                            ng-model="client.client_info.sex" ng-options="item as item.name for item in rbGender.objects"
                            ng-required="true" enum-validator>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3"
                     ng-class="{'has-error': client_form.snils.$invalid && client_form.snils.$dirty}">
                    <label for="snils">СНИЛС</label>
                    <input type="text" class="form-control" id="snils" name="snils" ui-mask="999-999-999 99"
                           ng-model="client.client_info.SNILS" placeholder="___-___-___ __"
                           ng-pattern="/\d{3}-\d{3}-\d{3} \d\d/"/>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Документ</div>
        <div class="panel-body">
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-4">
                    {{ form.document_type.label(class="control-label") }}
                    <div>
                        {{ form.document_type(class="form-control", autocomplete="off",
                        ng_model="client.client_info['document']['typeCode']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.document_serial.label(class="control-label") }}
                    <div>
                        {{ form.document_serial(class="form-control", autocomplete="off", placeholder="серия",
                        ng_model="client.client_info['document']['serial']") }}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    {{ form.document_number.label(class="control-label") }}
                    <div>
                        {{ form.document_number(class="form-control", autocomplete="off", placeholder="номер",
                        ng_model="client.client_info['document']['number']") }}
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-2">
                    {{ form.document_begDate.label(class="control-label") }}
                    <div>
                        {{ form.document_begDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['document']['begDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.document_endDate.label(class="control-label") }}
                    <div>
                        {{ form.document_endDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['document']['endDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.ufms.label(class="control-label") }}
                    <div>
                        {{ form.ufms(class="form-control", autocomplete="off",
                        ng_model="client.client_info['document']['origin']") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Полис ОМС</div>
        <div class="panel-body">
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-4">
                    {{ form.compulsory_policy_type.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_type(class="form-control", autocomplete="off",
                        ng_model="client.client_info['compulsoryPolicy']['typeCode']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.compulsory_policy_serial.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_serial(class="form-control", autocomplete="off",
                        placeholder="серия", ng_model="client.client_info['compulsoryPolicy']['serial']") }}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    {{ form.compulsory_policy_number.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_number(class="form-control", autocomplete="off",
                        placeholder="номер", ng_model="client.client_info['compulsoryPolicy']['number']") }}
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-2">
                    {{ form.compulsory_policy_begDate.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_begDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['compulsoryPolicy']['begDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.compulsory_policy_endDate.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_endDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['compulsoryPolicy']['endDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.compulsory_policy_org.label(class="control-label") }}
                    <div>
                        {{ form.compulsory_policy_org(class="form-control", autocomplete="off",
                        ng_model="client.client_info['compulsoryPolicy']['insurer_id']") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Полис ДМС</div>
        <div class="panel-body">
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-4">
                    {{ form.voluntary_policy_type.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_type(class="form-control", autocomplete="off",
                        ng_model="client.client_info['voluntaryPolicy']['typeCode']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.compulsory_policy_serial.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_serial(class="form-control", autocomplete="off",
                        placeholder="серия", ng_model="client.client_info['voluntaryPolicy']['serial']") }}
                    </div>
                </div>
                <div class="form-group col-md-2">
                    {{ form.voluntary_policy_number.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_number(class="form-control", autocomplete="off",
                        placeholder="номер", ng_model="client.client_info['voluntaryPolicy']['number']") }}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-2">
                    {{ form.voluntary_policy_begDate.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_begDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['voluntaryPolicy']['begDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-2" style="margin-right: -5px; margin-left: -5px;">
                    {{ form.voluntary_policy_endDate.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_endDate(class="form-control", datepicker_popup="dd.MM.yyyy",
                        autocomplete="off", ng_model="client.client_info['voluntaryPolicy']['endDate']") }}
                    </div>
                </div>
                <div class="form-group col-md-4">
                    {{ form.voluntary_policy_org.label(class="control-label") }}
                    <div>
                        {{ form.voluntary_policy_org(class="form-control", autocomplete="off",
                        ng_model="client.client_info['voluntaryPolicy']['insurer_id']") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-4">
                    {{ form.notes.label(class="control-label") }}
                    <div>
                        {{ form.notes(class="form-control", autocomplete="off",
                        ng_model="client.client_info['notes']") }}
                    </div>
                </div>
            </div>
         </div>
    </div>
</form>


