{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block modules_css %}
    <style>
    </style>
{%  endblock %}

{% block main %}
    <div ng-controller="ClientCtrl" class="ng-cloak">
        {% include "_breadcrumbs.html" %}
        <script type="text/ng-template" id="modal-deleteRecord.html">{% include "patients/_modal_delete_record.html" %}</script>
        <legend xmlns="http://www.w3.org/1999/html" wm-page-header><h2>Пациент: [[ client.client_info.nameText ]]</h2></legend>
        <div class="marginal">
            <button class="btn btn-default" onclick="history.back()">Назад к результатам поиска</button>
            <a class="btn btn-success" href="{{ url_for('schedule.appointment') }}?client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Записать на приём</a>
            <a class="btn btn-primary" href="{{ url_for('event.new_event') }}?event_id=new&client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Создать обращение</a>
            <ui-print-button ps="ps" resolve="print_context_resolve()" ng-if="client_id != 'new'"></ui-print-button>
{#            <span class="dropdown">#}
{#                <button class="btn dropdown-toggle" type="button" id="print_dropdownMenu"#}
{#                        ng-disabled="!ps.templates" data-toggle="dropdown">#}
{#                    <span class="glyphicon glyphicon-print"></span>#}
{#                    <span class="caret"></span>#}
{#                </button>#}
{#                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="print_dropdownMenu">#}
{#                    <li role="presentation" ng-repeat="template in ps.templates">#}
{#                        <a role="menuitem" tabindex="-1" href="" class="print_template"#}
{#                           ng-click="ps.print_template(template.id)" ng-bind="template.name">#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </span>#}
        </div>
        <div ui-alert-list="alerts"></div>
        <div class="marginal">
        <tabset>
            <tab>
                <tab-heading>
                    Информация о пациенте
                    <a ng-click="start_editing();" class="btn btn-sm btn-default glyphicon glyphicon-pencil" href="" title="Редактировать"></a>
                </tab-heading>
                <form name="client_form" role="form" novalidate ng-submit="save_client(client_form)" >
                    <tabset justified="false" class="marginal">
                        <tab heading="Основная информация">{% include "patients/main_info.html" %}</tab>
                        <tab heading="Адреса">{% include "patients/address_info.html" %}</tab>
                        <tab heading="Соц. статус">{% include "patients/soc_status.html" %}</tab>
                        <tab heading="Особенности">{% include "patients/characteristics.html" %}</tab>
                        <tab heading="Идентификаторы">{% include "patients/identifiers.html" %}</tab>
                        <tab heading="Связи и контакты">{% include "patients/contacts.html" %}</tab>
                        <tab heading="История документов">{% include "patients/documents.html" %}</tab>
{#                        <tab heading="Debug"><pre>[[client.client_info | json]]</pre></tab>#}
                    </tabset>
                    <div class="row" ng-show="editing_is_active()"> {# wtf... FIXME: layout #}
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-click="cancel_editing()" class="btn btn-lg btn-danger">Отменить</button>
                                <button type="submit" class="btn btn-lg btn-success"
                                        tooltip="[[client_form.$invalid ? 'Заполните все обязательные поля': '']]">Сохранить</button>
                            </div>
                        </div>
                        <span ng-show="submitted">Errors!</span>
                    </div>
                </form>
            </tab>
            <tab heading="Предварительные записи">{% include "patients/appointments.html" %}</tab>
            <tab heading="Обращения">{% include "patients/event_list.html" %}</tab>
        </tabset>
        </div>
    </div>
    <script type="text/ng-template" id="modal-print-dialog.html">{% include "_modal-print-dialog.html" %}</script>

{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        DeleteRecordModalCtrl = function ($scope, $modalInstance) {
            $scope.accept = function () {
                $modalInstance.close();
            };
            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        };

        WebMis20.controller('ClientCtrl',
                ['$scope', '$http', '$modal', 'Client', 'PrintingService', 'RefBookService', '$window',
                function ($scope, $http, $modal, Client, PrintingService, RefBookService, $window) {
            $scope.records = [];
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.rbGender = {{ Enum.get_class_by_name('Gender').rb() | tojson }};
            $scope.rbDocumentType = RefBookService.get('rbDocumentType');
            $scope.rbUFMS = RefBookService.get('rbUFMS');
            $scope.rbPolicyType = RefBookService.get('rbPolicyType');
            $scope.rbOrganisation = RefBookService.get('Organisation');
            $scope.rbRelationType = RefBookService.get('rbRelationType');

            $scope.client_id = $scope.params.client_id;
            $scope.client = new Client($scope.client_id);
            $scope.ps = new PrintingService('registry');
            $scope.print_context_resolve = function () {
                return {
                    client_id: $scope.client_id
                }
            };
            $scope.ps.set_context('token');

            $scope.ps_amb = new PrintingService('preliminary_records');
            $scope.ps_amb_resolve = function (client_ticket_id) {
                return {
                    client_id: $scope.client_id,
                    ticket_id: client_ticket_id
                }
            }
            $scope.ps_home = new PrintingService('preliminary_records');
            $ps_home_resolve = function (client_ticket_id) {
                return {
                    client_id: $scope.client_id,
                    ticket_id: client_ticket_id
                }
            }
            $scope.ps_amb.set_context('orderAmb');
            $scope.ps_home.set_context('orderHome');

            $scope.alerts = [];
            $scope.editing = {
                active: false,
                submit_attempt: false
            };

            $scope.filter_cpolicy = function(elem, type) {
                return ['cmiOld', 'cmiTmp', 'cmiCommonPaper', 'cmiCommonElectron',
                    'cmiUEC', 'cmiFnkcIndustrial', 'cmiFnkcLocal'].indexOf(elem.code) != -1;
            };

            $scope.filter_vpolicy = function(elem, type) {
                return elem.code === 'vmi';
            };

            $scope.directRelationFilter = function (relationType) {
                return (relationType.leftSex == 0 || relationType.leftSex == $scope.client.client_info.sex.id);
            };

            $scope.reversedRelationFilter = function (relationType) {
                return (relationType.rightSex == 0 || relationType.rightSex == $scope.client.client_info.sex.id);
            };

            $scope.start_editing = function() {
                $scope.editing.active = true;
            };

            $scope.cancel_editing = function() {
                if ($scope.client_id == 'new') {
                    $window.history.back();
                } else {
                    $scope.editing.active = false;
                    $scope.client.reload();
                }
            };

            $scope.editing_is_active = function() {
                return $scope.editing.active;
            };
            $scope.editing_is_activex = function() {
                return $scope.editing.active;
            };

            $scope.save_client = function(form) {
                $scope.editing.submit_attempt = true;
                if (form.$invalid) {
                    return false;
                }
                $scope.client.save()
                .then(function(new_client_id) {
                    if ($scope.client_id == 'new') {
                        window.open('{{ url_for('patients.patient') }}?client_id=' + new_client_id, '_self');
                    } else {
                        $scope.client.reload();
                        $scope.editing.active = false;
                    }
                }, function(reason) {
                    alert(reason);
                });
            };

            $scope.delete_record = function(entity, record) {
                var modalInstance = $modal.open({
                    templateUrl: 'modal-deleteRecord.html',
                    controller: DeleteRecordModalCtrl
                });

                modalInstance.result.then(function () {
                    $scope.client.delete_record(entity, record);
                });
            };

            $scope.open_event = function(event) {
                window.open('{{ url_for('event.html_event_info') }}?event_id=' + event.id, '_self')
            };

            $scope.$on('printing_error', function (event, error) {
                $scope.alerts.push(error);
            });

            if ($scope.client_id == 'new') {
                $scope.start_editing();
            }

            $scope.copy_address = function(state, addr_from) {
                // fixme: как бы эту штуку связать с директивами, как изначально задумывалось...
                if (!state) {
                    $scope.client.client_info.liveAddress = angular.copy(addr_from);
                    $scope.client.client_info.liveAddress.same_as_reg = true;
                } else {
                    $scope.client.client_info.liveAddress = {};
                    $scope.client.client_info.liveAddress.same_as_reg = false;
                }

            }
        }]);
    </script>
{% endblock %}
