{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ClientCtrl" class="ng-cloak">
        {% include "_breadcrumbs.html" %}

        <legend xmlns="http://www.w3.org/1999/html" wm-page-header><h2>Пациент: [[ client.info.full_name ]]</h2></legend>
        <div class="marginal">
            <button class="btn btn-default" onclick="history.back()">Назад к результатам поиска</button>
            <a class="btn btn-success" href="{{ url_for('schedule.appointment') }}?client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Записать на приём</a>
            <a class="btn btn-primary" href="{{ url_for('event.new_event') }}?event_id=new&client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Создать обращение</a>
            <ui-print-button ps="ps" resolve="print_context_resolve()" ng-if="!client.is_new()"></ui-print-button>
        </div>

        <div class="col-md-2 affix-holder">
            <div class="toc-affix" bs-affix>
                <toc-affix toc-name="tocClientForm"></toc-affix>
            </div>
        </div>
        <div class="col-md-10">
            <div ui-alert-list="alerts"></div>
            <div class="marginal">
                <form name="clientForm" role="form" novalidate ng-submit="save_client(clientForm)" toc-element toc-name="tocClientForm">
                    {% include "patients/main_info.html" %}
                    {% include "patients/_id_doc.html" %}
                    {% include "patients/_address.html" %}
                    {% include "patients/_policy.html" %}
                    {% include "patients/_notes.html" %}
                    {% include "patients/characteristics.html" %}
                    {% include "patients/contacts.html" %}
                    {% include "patients/soc_status.html" %}
{#                    {% include "patients/identifiers.html" %}#}
                    {% include "patients/documents.html" %}

                    <legend>Debug</legend>
                    <pre>[[client | json]]</pre>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-click="cancel_editing()" class="btn btn-lg btn-danger">Отменить</button>
                                <button type="submit" class="btn btn-lg btn-success"
                                        tooltip="[[clientForm.$invalid ? 'Заполните все обязательные поля': '']]">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/controllers/client/client-info-ctrl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives/client/client-directives.js') }}"></script>

    <script type="text/ng-template" id="modal-deleteRecord.html">{% include "patients/_modal_delete_record.html" %}</script>
    <script type="text/ng-template" id="modal-print-dialog.html">{% include "_modal-print-dialog.html" %}</script>

    <script type="text/javascript">
        DeleteRecordModalCtrl = function ($scope, $modalInstance) {
            $scope.accept = function () {
                $modalInstance.close();
            };
            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        };
    </script>
{% endblock %}
