{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="ClientCtrl" class="ng-cloak">
        <script type="text/ng-template" id="modal-deleteRecord.html">{% include "patients/_modal_delete_record.html" %}</script>
        <legend xmlns="http://www.w3.org/1999/html">Пациент [[ client.client_info.nameText ]]</legend>
        <div class="marginal">
            <button class="btn btn-default" onclick="history.back()">Назад к результатам поиска</button>
            <a class="btn btn-success" href="{{ url_for('schedule.appointment') }}?client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Записать на приём</a>
            <a class="btn btn-primary" href="{{ url_for('schedule.new_event') }}?client_id={{ request.args['client_id'] }}"
               ng-if="client_id != 'new'">
                Создать обращение</a>
        </div>
        <div class="marginal">
            <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice(index, 1)">[[ alert.text ]] [ [[alert.code]] ]</alert>
        </div>
        <div class="marginal">
        <tabset>
            <tab>
                <tab-heading>
                    Информация о пациенте
                    <a ng-click="start_editing();" class="btn btn-sm btn-default glyphicon glyphicon-pencil" href="" title="Редактировать"></a>
                </tab-heading>
                <tabset justified="false">
                    <tab heading="Основная информация">{% include "patients/main_info.html" %}</tab>
                    <tab heading="Соц. статус">{% include "patients/soc_status.html" %}</tab>
                    <tab heading="Особенности">{% include "patients/characteristics.html" %}</tab>
                    <tab heading="Идентификаторы">{% include "patients/identifiers.html" %}</tab>
                    <tab heading="Связи и контакты">{% include "patients/contacts.html" %}</tab>
                    <tab heading="История документов">{% include "patients/documents.html" %}</tab>
                    <tab heading="Debug">[[client.client_info | json]]</tab>
                </tabset>
            </tab>
            <tab heading="Предварительные записи">{% include "patients/appointments.html" %}</tab>
            <tab heading="Обращения">{% include "patients/event_list.html" %}</tab>
        </tabset>
        </div>
        <div class="pull-right" ng-show="editing">
            <button ng-click="cancel_editing()" class="btn btn-lg btn-danger">Отменить</button>
            <button ng-click="save_client()" class="btn btn-lg btn-success">Сохранить</button>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script type="text/javascript">
        DeleteRecordModalCtrl = function ($scope, $modalInstance) {
            $scope.accept = function () {
                $modalInstance.close();
            };
            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        };

        WebMis20.controller('ClientCtrl', ['$scope', '$http', '$modal', 'Client', '$timeout', 'RefBookService',
                function ($scope, $http, $modal, Client, $timeout, RefBookService) {
            $scope.records = [];
            $scope.aux = aux;
            $scope.params = aux.getQueryParams(document.location.search);
            $scope.rbGender = {{ Enum.get_class_by_name('Gender').rb() | tojson }};
            $scope.rbDocumentType = RefBookService.get('rbDocumentType');
            $scope.client_id = $scope.params.client_id;
            $scope.client = new Client($scope.client_id);

            $scope.$on('client_loaded', function() {
                // ref objects?...
                $scope.client.client_info.sex = $scope.rbGender.objects.filter(
                    function(element) {
                        return element.id === $scope.client.client_info.sex.id;
                    })[0];
            });

            $scope.clientInfoCode2Name = {
                'id': 'Код пациента',
                'birthDate': 'Дата рождения',
                'regAddress': 'Адрес регистрации',
                'liveAddress': 'Адрес проживания',
                'SNILS': 'СНИЛС',
                'nameText': 'ФИО',
                'sex': 'Пол',
                'documentText': 'Документ',
                'contact': 'Контакты',
                'voluntaryPolicyText': 'Полис ДМС',
                'compulsoryPolicyText': 'Полис ОМС',
                'notes': 'Примечания'
            };
            $scope.clientMainInfoCodeOrder = ['id', 'nameText', 'birthDate', 'sex', 'regAddress', 'liveAddress',
                'documentText', 'compulsoryPolicyText', 'voluntaryPolicyText', 'SNILS', 'contact', 'notes'];

            $scope.alerts = [];

            $scope.start_editing = function() {
                $scope.editing = true;
            };

            $scope.cancel_editing = function() {
                $scope.editing = false;
                $scope.client.reload();
            };

            $scope.save_client = function() {
                $scope.client.save()
                .then(function(new_client_id) {
                    if ($scope.client_id == 'new') {
                        window.open('{{ url_for('patients.patient') }}?client_id=' + new_client_id, '_self');
                    } else {
                        $scope.client.reload();
                        $scope.editing = false;
                    }
                }, function(reason) {
                    alert(reason);
                });
            };

            $scope.delete_record = function(entity, record) {
                var modalInstance = $modal.open({
                    templateUrl: 'modal-deleteRecord.html',
                    controller: DeleteRecordModalCtrl
                });

                modalInstance.result.then(function () {
                    $scope.client.delete_record(entity, record);
                });
            };
            $scope.datepicker_popup = {};
            $scope.open_datepicker_popup = function() {
                $timeout(function() {
                    $scope.datepicker_popup['opened'] = true;
                });

            };

            $scope.open_event = function(event) {
                window.open('{{ url_for('schedule.html_event_info') }}?event_id=' + event.id, '_self')
            };

            $scope.$on('printing_error', function (event, error) {
                $scope.alerts.push(error);
            });

            if ($scope.client_id == 'new') {
                $scope.start_editing();
                // TODO: btnCancel href back
            }
        }]);
    </script>
{% endblock %}
