{% extends 'patients/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <legend xmlns="http://www.w3.org/1999/html"><h2>Обслуживание пациентов</h2></legend>
    <div ng-controller="ClientSearch" class="ng-cloak">
        <form class="form-horizontal marginal" role="form">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input id="search" class="form-control" type="text" ng-model="query" autocomplete="off"
                       ng-change="clear_results()" wm-slow-change="perform_search()"
                       placeholder="Поиск пациента по коду, ФИО, полису или документу, удостоверяющему личность">
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="query_clear()"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </form>
        <div ui-alert-list="alerts"></div>
        <div class="panel panel-default" ng-class="{'panel-danger': results.length === 0, 'panel-success': results.length > 0}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <span ng-if="results.length > 0" class="lead">Результаты поиска</span>
                        <span ng-if="results.length === 0 && query">Пациент не найден в базе данных</span>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button ng-click="open_client('new')" class="btn btn-primary btn-lg"
                                ng-show="!results.length">Зарегистрировать пациента
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-clickable table-hover" ng-if="results.length > 0">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Пол</th>
                    <th>Документ</th>
                    <th>СНИЛС</th>
                    <th>Полис ОМС</th>
                    <th>Полис ДМС</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results" style="cursor: pointer" ng-click="set_patient_id(result.info.id)"
                        ng-class="{'bg-info text-info': result.info.id === client_id}">
                    <td ng-bind="result.info.full_name"></td>
                    <td ng-bind="result.info.birth_date | asDate"></td>
                    <td ng-bind="result.info.sex.name"></td>
                    <td ng-bind="result.id_document.doc_text"></td>
                    <td><nobr>[[ clientService.formatSnils(result.info.snils) ]]</nobr></td>
                    <td ng-bind="result.compulsory_policy.policy_text"></td>
                    <td><div ng-repeat="policy in result.voluntary_policies">[[ policy.policy_text ]]</div></td>
                </tr>
                </tbody>
            </table>
        </div>
        {#        <pre>[[schedule|json]]</pre><pre>[[client | json]]</pre>#}
    </div>

{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script type="text/ng-template" id="modal-createEvent.html">{% include "patients/_modal_create_event.html" %}</script>
    <script type="text/ng-template" id="modal-client.html">{% include "patients/_modal_client.html" %}</script>
    <script type="text/ng-template" id="modal-print-dialog.html">{% include "_modal-print-dialog.html" %}</script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/servicing.js', v=version) }}">

    </script>
{% endblock %}
