<table class="table table-condensed" ng-if="client.client_info['socStatuses']" ng-hide="editing_is_active()">
    <thead>
    <tr>
        <th>Класс</th>
        <th>Тип</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="status in client.client_info['socStatuses']">
        <td>[[status.className]]</td>
        <td>[[status.typeName]]</td>
        <td>[[status.begDate]]</td>
        <td>[[status.endDate]]</td>
    </tr>
    </tbody>
</table>

<div id="soc_status_subform" ng-show="editing_is_active()">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Класс</th>
            <th>Тип</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="status in client.client_info.socStatuses">
                <td class="col-md-4" ng-hide="status.deleted">
                    {{ form.soc_status_class(class="form-control", autocomplete="off", ng_model="status.classCode") }}
                </td>
                <td class="col-md-4" ng-hide="status.deleted">
                    {{ form.soc_status_type(class="form-control", autocomplete="off", ng_model="status.typeCode") }}
                </td>
                <td class="col-md-2" ng-hide="status.deleted">
                    {{ form.soc_status_begDate(class="form-control", autocomplete="off", datepicker_popup="dd.MM.yyyy",
                    ng_model="status.begDate") }}
                </td>
                <td class="col-md-2" ng-hide="status.deleted">
                    {{ form.soc_status_endDate(class="form-control", autocomplete="off", datepicker_popup="dd.MM.yyyy",
                    ng_model="status.endDate") }}
                </td>
                <td class="col-md-1" ng-hide="status.deleted">
                    <a class="btn btn-sm btn-default" href="" title="Удалить текущую строку"
                       ng-click="delete_record('socStatuses', status)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-click="client.add_soc_status()" class="btn btn-primary btn-sm pull-right">
        <span class="glyphicon glyphicon-plus" title="Добавить новую запись"></span>Добавить
    </button>
</div>