<h4>Инвалидность</h4>
<div ng-repeat="socstat in client.invalidities | filter: flt_not_deleted()">
    <ng-form name="socStatInvalidityForm">
        dirty:[[socStatInvalidityForm.$dirty]], valid:[[socStatInvalidityForm.$valid]]
        <div class="row">
            <div class="col-md-8">
                <wm-soc-status ss-class="2" id-postfix="i[[$index]]"
                    model-type="socstat.ss_type"
                    model-beg-date="socstat.beg_date"
                    model-end-date="socstat.end_date"
                    edit-mode="socstat.id ? edit.activated : true">
                </wm-soc-status>
            </div>
            <div class="col-md-1">
                <div class="row" ng-show="socstat.id">
                    <button type="button" class="btn btn-primary btn-block marginal"
                            ng-click="edit.activated=true">Редактировать</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-danger btn-block marginal"
                            ng-click="delete_record('invalidities', socstat)">Удалить</button>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<div>
    <button type="button" class="btn btn-primary marginal"
            ng-click="client.add_soc_status('invalidities', 2)">Добавить инвалидность</button>
</div>
<h4>Занятость</h4>
<div ng-repeat="socstat in client.works | filter: flt_not_deleted()">
    <ng-form name="socStatWorkForm">
        dirty:[[socStatWorkForm.$dirty]], valid:[[socStatWorkForm.$valid]]
        <div class="row">
            <div class="col-md-8">
                <wm-soc-status ss-class="3" id-postfix="w[[$index]]"
                    model-type="socstat.ss_type"
                    model-beg-date="socstat.beg_date"
                    model-end-date="socstat.end_date"
                    edit-mode="socstat.id ? edit.activated : true">
                </wm-soc-status>
            </div>
            <div class="col-md-1">
                <div class="row" ng-show="socstat.id">
                    <button type="button" class="btn btn-primary btn-block marginal"
                            ng-click="edit.activated=true">Редактировать</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-danger btn-block marginal"
                            ng-click="delete_record('works', socstat)">Удалить</button>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<div>
    <button type="button" class="btn btn-primary marginal"
            ng-click="client.add_soc_status('works', 3)">Добавить занятость</button>
</div>
<h4>Гражданство</h4>
<div ng-repeat="socstat in client.nationalities | filter: flt_not_deleted()">
    <ng-form name="socStatNationalityForm">
        dirty:[[socStatNationalityForm.$dirty]], valid:[[socStatNationalityForm.$valid]]
        <div class="row">
            <div class="col-md-8">
                <wm-soc-status ss-class="4" id-postfix="n[[$index]]"
                    model-type="socstat.ss_type"
                    model-beg-date="socstat.beg_date"
                    model-end-date="socstat.end_date"
                    edit-mode="socstat.id ? edit.activated : true">
                </wm-soc-status>
            </div>
            <div class="col-md-1">
                <div class="row" ng-show="socstat.id">
                    <button type="button" class="btn btn-primary btn-block marginal"
                            ng-click="edit.activated=true">Редактировать</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-danger btn-block marginal"
                            ng-click="delete_record('nationalities', socstat)">Удалить</button>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<div>
    <button type="button" class="btn btn-primary marginal"
            ng-click="client.add_soc_status('nationalities', 4)">Добавить гражданство</button>
</div>
