{% extends 'tfoms/base.html' %}

{% block title %}> {{ module_name }} > Формирование реестров{% endblock %}

{% block modules_css %}
<link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery-ui/css/cupertino/jquery-ui-1.10.2.custom.min.css') }}" rel="stylesheet">
{#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/flick/jquery-ui.css" />#}
{% endblock %}

{% block content %}

    {% include 'tfoms/_nav_menu.html' %}
        <legend>Формирование реестров, предназначенных для выгрузки в ТФОМС</legend>
        <ul class="nav nav-tabs">
            <li{% if request.path == url_for('.download', template_type='xml') or request.path == url_for('.download') %} class="active"{% endif %}><a href="{{ url_for('.download', template_type='xml') }}" id="download_xml">Выгрузка сведений в формате XML</a></li>
{#            <li{% if request.path == url_for('.download', template_type='dbf') %} class="active"{% endif %}><a href="{{ url_for('.download', template_type='dbf') }}" id="download_dbf">Выгрузка  сведений в формате DBF</a></li>#}
        </ul>
        <form method="post" action="{{ url_for('.download_result') }}" class="form-horizontal" id="download_form">
            <legend>Укажите параметры выгрузки</legend>
            <div id="check_form" class="alert alert-error hidden">
              <strong>Внимание!</strong> <span id="error_text"></span>
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                  <div>{{ message|safe }}</div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <div class="row">
                <div class="span5">
                    <input type="hidden" name="primary" id="primary" value="{% if form_data.get('primary') is not none %}{{ form_data.get('primary') }}{% else %}1{% endif %}">
                    <div class="row">
                        <div class="span6">
                            <div class="control-group" id="download_contract">
                                <label class="control-label">Постановление (основание договора):</label>
                                <div class="controls">
                                    <select id="contract_id" name="contract_id" class="span3" required>
                                        <option value="">- выберите контракт для выгрузки -</option>
                                        {%- for contract in contracts -%}
                                        <option value="{{ contract.id }}"{% if form_data.get('contract_id') and form_data.get('contract_id')==contract.id %} selected{% endif %}>{{ contract.resolution }}</option>
                                        {%- endfor -%}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group" id="download_dates">
                                <label class="control-label">Отчетный период:</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on">с</span>
                                        <input type="text" id="from" name="start" required class="input-small" value="{% if form_data.get('start') %}{{ form_data.get('start')|datetimeformat('%d.%m.%Y') }}{% endif %}" />
                                    </div>
                                    <div class="input-prepend">
                                        <span class="add-on">по</span>
                                        <input type="text" id="to" name="end" required class="input-small" value="{% if form_data.get('end') %}{{ form_data.get('end')|datetimeformat('%d.%m.%Y') }}{% endif %}" />
                                    </div>
                                </div>
                            </div>
                            <div class="control-group" id="download_templates">
                                <label class="control-label">Формировать:</label>
                                <div class="controls">
                                    {% for template in templates %}
                                        <label class="checkbox"><input type="checkbox" class="templates" {% if not form_data.get('templates') or template.id in form_data.get('templates') %}checked="checked"{% endif %} name="templates[]" value="{{ template.id }}">{{ template.name }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if departments %}
                <div class="span6 well well-small">
                    <legend><small>Выберите подразделения</small></legend>
                    <div class="row">
                    <div class="span6">
                        <label class="checkbox">
                            <input type="checkbox" id="all_departments" name="departments[]" value="0" {% if not form_data.get('departments') or 0 in form_data.get('departments') %}checked="checked"{% endif %}> <strong>Включить в выгрузку все подразделения</strong>
                        </label>
                    </div>
                    {% set dep_type=0 %}
                    {% set step=0 %}
                    {% set dep_types = ['амбулатория', 'дневной стационар', 'скорая', 'мобильная станция', 'приемное отделение стационара', 'круглосуточный стационар'] %}
                    {% for department in departments|sort(attribute='type') %}
                        {%- if loop.first -%}
                        <div class="span3">
                            <ul class="unstyled">
                                <li class="nav-header">{{ dep_types[department.type] }}</li>
                        {%- elif dep_type != department.type -%}
                            </ul>
                        {% if step%2 %}
                        </div>
                        <div class="span3">
                        {% endif %}
                            <ul class="unstyled">
                                <li class="nav-header">{{ dep_types[department.type] }}</li>
                        {% set step = step + 1 %}
                        {%- endif -%}
                            <li>
                              <label class="checkbox">
                                <input type="checkbox" class="departments" name="departments[]" value="{{ department.id }}" {% if form_data.get('departments') and department.id in form_data.get('departments') %}checked="checked"{% endif %}> {{ department.name }}
                              </label>
                            </li>
                        {%- if loop.last -%}
                            </ul>
                        </div>
                        {%- endif -%}
                        {%- set dep_type=department.type -%}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        <hr>
            <div>
                <button type="submit" class="btn btn-primary btn-large"{% if not mo_level %} disabled{% endif %}>Сформировать выгрузку</button>
            </div>
        </form>
<div id="download_result" class="hide">
    <legend>Скачивание файлов</legend>
    <div id="result"></div>
</div>
<div class="loader"></div>
{% endblock %}
{% block modules_js %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui/js/i18n/jquery.ui.datepicker-ru.js') }}"></script>
<script type="text/javascript">
function show_error(text){
    $('#error_text').text(text);
    $(".alert").addClass('hidden');
    $("#check_form").removeClass('hidden');
}
$(document).ready(function(){
    var $chb_departments = $('input.departments');
    function toggle_departments(all_el){
        if (all_el.is(':checked')){
            $chb_departments.each(function(){
                this.checked = true;
            });
            $chb_departments.attr('disabled', true);
        } else {
            $chb_departments.each(function(){
                this.checked = false;
            });
            $chb_departments.attr('disabled', false);
        }
    }
    var $all_deparments = $('#all_departments');
    if ($all_deparments.is(':checked')){
        $chb_departments.each(function(){
            this.checked = true;
        });
        $chb_departments.attr('disabled', true);
    }
    $all_deparments.change(function(){
        toggle_departments($(this));
    });
    $chb_departments.click(function(){
        if($(this).is(':disabled')){
            toggle_departments($all_deparments);
            this.checked = true;
            $(this).attr('checked', true);
        }
    });
    $('#upload_tbl_tooltip').tooltip();
    $('#download_result').hide();
    $(document).on({
        ajaxStart: function() {
            $('body').addClass("loading");
        },
        ajaxStop: function() {
            $('body').removeClass("loading");
        }
    });
    $('#download_form').submit(function(){
        var $this = $(this);
        var templates = [];
        $('#download_templates').find('input:checkbox').each(function(){
            if ($(this).is(':checked')){
                templates.push($(this).val());
            }
        });
        if (!templates.length){
            show_error('Не выбран ни один шаблон для выгрузки');
            return false;
        }
        var $contract_id = $('#contract_id');
        if(!$contract_id.val()){
            show_error('Не выбрано постановление (основание договора)');
            return false;
        }
        if(!$('input.departments:checked').length){
            show_error('Не выбрано ни одно подразделение ЛПУ');
            return false;
        }
        $this.hide();
        $('#download_result').show();
        $('#result').html('Подождите, идёт генерация файлов...');
        $('body').addClass("loading");
        return true;
    });
});
$(function() {
    $( "#from" ).datepicker({
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
});
</script>
{% endblock %}