{% macro ticket_25_read(link_to_edit) %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Талон посещения</h3>
        <a class="print_link pull-right" ng-if="canEditCheckup()"
           href="{{ link_to_edit }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#ticket_25">
            <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
    </div>
    <div class="box-body">
    <!-- START TICKET 25 -->

    <div class="row">
            <div class="col-sm-6 col-md-6  text-right">Дата открытия талона:</div>
            <div class="col-sm-6 col-md-6">[[checkup.ticket_25.beg_date|asDate]]</div>
    </div>
    <div class="row">
            <div class="col-sm-6 col-md-6  text-right">Дата закрытия талона:</div>
            <div class="col-sm-6 col-md-6">[[checkup.ticket_25.end_date|asDate]]</div>
    </div>
    {% if 'medical_care' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('medical_care')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.medical_care.name"></span></div>
    </div>
    {% endif %}
    {% if 'visit_place' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('visit_place')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.visit_place.name"></span></div>
    </div>
    {% endif %}
    {% if 'visit_type' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('visit_type')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.visit_type.name"></span></div>
    </div>
    {% endif %}
    {% if 'visit_reason' in ticket_25_descriptor %}
     <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('visit_reason')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.visit_reason.name"></span></div>
    </div>
    {% endif %}
    {% if 'finished_treatment' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('finished_treatment')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.finished_treatment.name"></span></div>
    </div>
    {% endif %}
    {% if 'initial_treatment' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('initial_treatment')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.initial_treatment.name"></span></div>
    </div>
    {% endif %}
    {% if 'treatment_result' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('treatment_result')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.treatment_result.name"></span></div>
    </div>
    {% endif %}
    {% if 'payment' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('payment')]]:</div>
            <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.payment.name"></span></div>
    </div>
    {% endif %}
    {% if 'urgent' in ticket_25_descriptor %}
    <div class="row">
        <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('urgent')]]:</div>
        <div class="col-sm-6 col-md-6">[[checkup.ticket_25.urgent ? 'да': 'нет']]</div>
    </div>
    {% endif %}
    {% if 'prof_med_help' in ticket_25_descriptor %}
    <div class="row">
        <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('prof_med_help')]]:</div>
        <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.prof_med_help.name"></span></div>
    </div>
    {% endif %}
    {% if 'condit_med_help' in ticket_25_descriptor %}
    <div class="row">
        <div class="col-sm-6 col-md-6 text-right">[[ticket25Descriptor.getName('condit_med_help')]]:</div>
        <div class="col-sm-6 col-md-6"><span ng-bind="checkup.ticket_25.condit_med_help.name"></span></div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6 col-md-6 text-right">&nbsp;<br></div>
        <div class="col-sm-6 col-md-6"></div>
    </div>
    {% if 'services' in ticket_25_descriptor %}
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right"><b>[[ticket25Descriptor.getName('services')]]</b></div>
            <div class="col-sm-6 col-md-6"></div>
    </div>
    <div class="row">
         <table class="table table-condensed">
            <thead>
              <tr>
                <th>Название</th>
                <th>Код</th>
                <th>Врач</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="$row in checkup.ticket_25.services">
                <td ng-bind="$row.service.name"></td>
                <td ng-bind="$row.service.code"></td>
                <td ng-bind="$row.person.full_name"></td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}
    {% if 'operations' in ticket_25_descriptor %}
    <br/>
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right"><b>[[ticket25Descriptor.getName('operations')]]</b></div>
            <div class="col-sm-6 col-md-6"></div>
    </div>
    <div class="row">
         <table class="table table-condensed">
            <thead>
              <tr>
                <th>Название</th>
                <th>Код</th>
                <th>Анестезия</th>
                <th>Аппаратура</th>
                <th>Врач</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="$row in checkup.ticket_25.operations">
                <td ng-bind="$row.service.name"></td>
                <td ng-bind="$row.service.code"></td>
                <td ng-bind="$row.anesthetization.name"></td>
                <td ng-bind="$row.equipment.name"></td>
                <td ng-bind="$row.person.full_name"></td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}
    {% if 'manipulations' in ticket_25_descriptor %}
    <br/>
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right"><b>[[ticket25Descriptor.getName('manipulations')]]</b></div>
            <div class="col-sm-6 col-md-6"></div>
    </div>
    <div class="row">
         <table class="table table-condensed">
            <thead>
              <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Врач</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="$row in checkup.ticket_25.manipulations">
                <td ng-bind="$row.service.name"></td>
                <td ng-bind="$row.amount"></td>
                <td ng-bind="$row.person.full_name"></td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}
    {% if 'temp_disability' in ticket_25_descriptor %}
    <br/>
    <div class="row">
            <div class="col-sm-6 col-md-6 text-right"><b>[[ticket25Descriptor.getName('temp_disability')]]</b></div>
            <div class="col-sm-6 col-md-6"></div>
    </div>
    <div class="row">
         <table class="table table-condensed">
            <thead>
              <tr>
                  <!--Временное решение! RIMIS-1791-->
                <!--<th>Тип</th>-->
                <th>Вид</th>
                <th>Повод выдачи</th>
                <th>Кому</th>
                <th>Дата выдачи</th>
                <th>Дата закрытия</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="$row in checkup.ticket_25.temp_disability">
                <td ng-bind="$row.type.name"></td>
                <td ng-bind="$row.reason.name"></td>
                <td ng-bind="$row.client"></td>
                <td ng-bind="$row.beg_date|asDate"></td>
                <td ng-bind="$row.end_date|asDate"></td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}
    <!-- END TICKET25 -->
    </div>
</div>


{% endmacro %}