
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <th class="text-right col-md-4">Даты открытия и закрытия талона</th>
                    <td class="col-md-8">
                        <div class="row">
                            <div class="col-md-6"><wm-date ng-model="checkup.ticket_25.beg_date" ng-disabled="true"
                                min-date="checkup.beg_date"></wm-date></div>
                            <div class="col-md-6"><wm-date ng-model="checkup.ticket_25.end_date" ng-disabled="true"
                                min-date="checkup.beg_date"></wm-date></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Оказываемая медицинская помощь</th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbRisarMedicalCare"
                                   ng-model="checkup.ticket_25.medical_care" limit-to="50"/></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Место обращения (посещения)</th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbRisarVisitPlace"
                                   ng-model="checkup.ticket_25.visit_place" limit-to="50"/></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Обращение (цель)</th>
                    <td class="col-md-8">
                        <div refbook-radio ref-book="rbRisarTreatmentReason" ng-model="checkup.ticket_25.visit_reason">[[ item.name ]]</div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Посещение</th>
                    <td class="col-md-8">
                        <ui-select ng-model="checkup.ticket_25.visit_type" theme="select2">
                            <ui-select-choices repeat="item in checkup.ticket_25.visit_reason.types | filter: $select.search track by item._id">
                                <div style="text-align: justify" ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                            <ui-select-match>[[ $select.selected.name ]]</ui-select-match>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Случай закончен</th>
                    <td class="col-md-8">
                        <div refbook-radio ref-book="rbRisarFinishedTreatment" ng-model="checkup.ticket_25.finished_treatment">[[ item.name ]]</div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Обращение</th>
                    <td class="col-md-8">
                        <div refbook-radio ref-book="rbRisarInitialTreatment" ng-model="checkup.ticket_25.initial_treatment">[[ item.name ]]</div>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Результат обращения</th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbResult" ng-model="checkup.ticket_25.treatment_result" limit-to="50"></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Оплата за счет</th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbFinance" ng-model="checkup.ticket_25.payment" limit-to="50"></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Неотложная</th>
                    <td class="col-md-8">
                        <input style="transform: scale(1.3)" !important; type="checkbox" ng-model="checkup.ticket_25.urgent" >
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Профиль медицинской помощи</th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbProfMedHelp" ng-model="checkup.ticket_25.prof_med_help" limit-to="50"></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Условия оказания медицинской помощи </th>
                    <td class="col-md-8">
                        <rb-select ref-book="rbConditionMedHelp" ng-model="checkup.ticket_25.condit_med_help" limit-to="50"></rb-select>
                    </td>
                </tr>
                <tr>
                    <th class="text-right col-md-4">Медицинские услуги</th>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <table class="table table-condensed" inplace-table ng-model="checkup.ticket_25.services"
                               style="table-layout: fixed;">
                            <thead>
                            <tr>
                                <th width="45%">Название</th>
                                <th width="10%">Количество</th>
                                <th width="35%">Врач</th>
                                <th width="10%">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="$row in $table.$model">
                                <td class="col-md-4">
                                    <span ng-if="!$table.$edited($index)">[[ $row.service.code ]] - [[ $row.service.name ]]</span>
                                    <span ng-if="$table.$edited($index)">
                                        {% if specifics_mng.uses_regional_services() %}
                                        <ui-select ext-select-ref-book-search="rbService_regional" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% else %}
                                        <ui-select ext-select-ref-book-search="SST365" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% endif %}
                                    </span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.amount"></span>
                                    <span ng-if="$table.$edited($index)">
                                        <input valid-number maxlength="3" class="form-control" ng-model="$table.$tmp.amount" /></span>
                                </td>

                                <td class="col-md-4">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.person.full_name"></span>
                                    <span ng-if="$table.$edited($index)"><wm-person-select ng-model="$table.$tmp.person" /></span>
                                </td>

                                <td class="col-md-2"><inplace-table-buttons class="pull-right" /></td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td colspan="3" class="text-right">
                                    <button class="btn btn-primary" ng-disabled="$table.$edited()" ng-click="$table.$add()">
                                        <i class="fa fa-plus"></i> Добавить
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <th class="text-right col-md-4">Операции</th>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed" inplace-table ng-model="checkup.ticket_25.operations"
                               style="table-layout: fixed;">
                            <thead>
                            <tr>
                                <th width="35%">Название</th>
                                <th width="15%">Анестезия</th>
                                <th width="15%">Аппаратура</th>
                                <th width="25%">Врач</th>
                                <th width="10%">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="$row in $table.$model">
                                <td class="col-md-4">
                                    <span ng-if="!$table.$edited($index)">[[ $row.service.code ]] - [[ $row.service.name ]]</span>
                                    <span ng-if="$table.$edited($index)">
                                        {% if specifics_mng.uses_regional_services() %}
                                        <ui-select ext-select-ref-book-search="rbService_regional" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% else %}
                                        <ui-select ext-select-ref-book-search="SST365" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% endif %}
                                    </span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.anesthetization.name"></span>
                                    <span ng-if="$table.$edited($index)"><rb-select ng-model="$table.$tmp.anesthetization"
                                                                                    ref-book="rbRisarOperationAnesthetization"
                                                                                    with-title="true"
                                                                                    limit-to="50"/></span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.equipment.name"></span>
                                    <span ng-if="$table.$edited($index)"><rb-select ng-model="$table.$tmp.equipment"
                                                                                    ref-book="rbRisarOperationEquipment"
                                                                                    with-title="true"
                                                                                    limit-to="50"/></span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.person.full_name"></span>
                                    <span ng-if="$table.$edited($index)"><wm-person-select ng-model="$table.$tmp.person" /></span>
                                </td>

                                <td class="col-md-2"><inplace-table-buttons class="pull-right"></inplace-table-buttons></td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <button class="btn btn-primary" ng-disabled="$table.$edited()" ng-click="$table.$add()">
                                        <i class="fa fa-plus"></i> Добавить
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <th class="text-right col-md-4">Манипуляции и исследования</th>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed" inplace-table ng-model="checkup.ticket_25.manipulations"
                               style="table-layout: fixed;">
                            <thead>
                            <tr>
                                <th width="45%">Название</th>
                                <th width="10%">Количество</th>
                                <th width="35%">Врач</th>
                                <th width="10%">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="$row in $table.$model">
                                <td class="col-md-4">
                                    <span ng-if="!$table.$edited($index)">[[ $row.service.code ]] - [[ $row.service.name ]]</span>
                                    <span ng-if="$table.$edited($index)">
                                        {% if specifics_mng.uses_regional_services() %}
                                        <ui-select ext-select-ref-book-search="rbService_regional" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% else %}
                                        <ui-select ext-select-ref-book-search="SST365" ng-model="$table.$tmp.service"
                                            theme="select2"></ui-select>
                                        {% endif %}
                                    </span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.amount"></span>
                                    <span ng-if="$table.$edited($index)">
                                        <input valid-number maxlength="3" class="form-control" ng-model="$table.$tmp.amount" /></span>
                                </td>

                                <td class="col-md-4">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.person.full_name"></span>
                                    <span ng-if="$table.$edited($index)"><wm-person-select ng-model="$table.$tmp.person" /></span>
                                </td>

                                <td class="col-md-2"><inplace-table-buttons class="pull-right" /></td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-right">
                                    <button class="btn btn-primary" ng-disabled="$table.$edited()" ng-click="$table.$add()">
                                        <i class="fa fa-plus"></i> Добавить
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <th class="text-right col-md-4">Документы временной нетрудоспособности</th>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed" inplace-table ng-model="checkup.ticket_25.temp_disability"
                               style="table-layout: fixed;">
                            <thead>
                            <tr>
                                <th width="10%">Тип</th>
                                <th width="10%">Повод</th>
                                <th width="25%">Кому</th>
                                <th width="15%">Дата выдачи</th>
                                <th width="15%">Даты продления</th>
                                <th width="15%">Дата закрытия</th>
                                <th width="10%">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="$row in $table.$model">
                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.type.name"></span>
                                    <span ng-if="$table.$edited($index)"><rb-select ng-model="$table.$tmp.type"
                                                                                    ref-book="rbRisarSickLeaveType"
                                                                                    with-title="true"
                                                                                    limit-to="50"/></span>
                                </td>

                                <td class="col-md-2">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.reason.name"></span>
                                    <span ng-if="$table.$edited($index)"><rb-select ng-model="$table.$tmp.reason"
                                                                                    ref-book="rbRisarSickLeaveReason"
                                                                                    with-title="true"
                                                                                    limit-to="50"/></span>
                                </td>

                                <td class="col-md-3">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.client"></span>
                                    <span ng-if="$table.$edited($index)"><input ng-disabled="$table.$tmp.reason.code != '2'" class="form-control" ng-model="$table.$tmp.client" /></span>
                                </td>

                                <td class="col-md-1">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.beg_date | asDate"></span>
                                    <span ng-if="$table.$edited($index)"><wm-date ng-model="$table.$tmp.beg_date" min-date="checkup.beg_date"/></span>
                                </td>

                                <td class="col-md-1">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.prolong_dates | applyFilter:'asDate' | join:', '"></span>
                                    <span ng-if="$table.$edited($index)"><wm-date ng-disabled="true" ng-model="$table.$tmp.prolong_dates" /></span>
                                </td>

                                <td class="col-md-1">
                                    <span ng-if="!$table.$edited($index)" ng-bind="$row.end_date | asDate"></span>
                                    <span ng-if="$table.$edited($index)"><wm-date ng-model="$table.$tmp.end_date" min-date="checkup.beg_date"/></span>
                                </td>

                                <td class="col-md-2"><inplace-table-buttons class="pull-right"></inplace-table-buttons></td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td colspan="7" class="text-right">
                                    <button class="btn btn-primary" ng-disabled="$table.$edited()" ng-click="$table.$add()">
                                        <i class="fa fa-plus"></i> Добавить
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>