{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="AnamnesisMotherEditCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Ввод данных о матери') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
            <ng-form name="anamnesisMotherForm" id="anamnesisMotherForm" role="form" novalidate>
            <div class="box-body">
            <table class="table table-condensed title-right">
                <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-8"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('education')"></th>
                    <td><rb-select ng-model="anamnesis_mother.education" ref-book="rbRisarEducation" autofocus="autofocus"
                                   ng-required="MotherAnamnesisDescriptor.getMandatory('education')"
                                   ng-disabled="MotherAnamnesisDescriptor.getReadOnly('education')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('work_group')"></th>
                    <td><rb-select ng-model="anamnesis_mother.work_group" ref-book="rbRisarWork_Group"
                                   ng-required="MotherAnamnesisDescriptor.getMandatory('work_group')"
                                   ng-disabled="MotherAnamnesisDescriptor.getReadOnly('work_group')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('professional_properties')"></th>
                    <td><rb-select ng-model="anamnesis_mother.professional_properties" ref-book="rbRisarProfessional_Properties"
                                   ng-required="MotherAnamnesisDescriptor.getMandatory('professional_properties')"
                                   ng-disabled="MotherAnamnesisDescriptor.getReadOnly('professional_properties')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('marital_status')"></th>
                    <td><rb-select ng-model="anamnesis_mother.marital_status" ref-book="rbRisarMarital_Status"
                                   ng-required="MotherAnamnesisDescriptor.getMandatory('marital_status')"
                                   ng-disabled="MotherAnamnesisDescriptor.getReadOnly('marital_status')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('family_income')"></th>
                    <td><rb-select ng-model="anamnesis_mother.family_income" ref-book="rbRisarFamily_Income"
                                   ng-required="MotherAnamnesisDescriptor.getMandatory('family_income')"
                                   ng-disabled="MotherAnamnesisDescriptor.getReadOnly('family_income')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Группа крови и резус-фактор <span>&nbsp;</span></th>
                    <td><div class="row"><div class="col-md-4"><rb-select ng-model="anamnesis_mother.blood_type" ref-book="rbBloodType"></rb-select></div></div></td>
                </tr>
                <tr>
                    <th class="text-right">Дата последней менструации <span>&nbsp;</span></th>
                    <td><wm-date ng-model="anamnesis_mother.menstruation_last_date"
                            max-date="menstruation_max_date" min-date="menstruation_min_date" style="width: 250px"></wm-date></td>
                </tr>
                <tr>
                    <th class="text-right">Менструации <span>&nbsp;</span></th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('menstruation_start_age')"></td>
                    <td><div class="row"><div class="col-md-4">
                        <input ng-model="anamnesis_mother.menstruation_start_age" class="form-control"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('menstruation_start_age')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('menstruation_start_age')"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('menstruation_duration')"></td>
                    <td><div class="row"><div class="col-md-4">
                        <input ng-model="anamnesis_mother.menstruation_duration" class="form-control"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('menstruation_duration')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('menstruation_duration')"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('menstruation_period')"></td>
                    <td><div class="row"><div class="col-md-4">
                        <input ng-model="anamnesis_mother.menstruation_period" class="form-control"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('menstruation_period')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('menstruation_period')"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('menstruation_disorders')"></td>
                    <td><input ng-model="anamnesis_mother.menstruation_disorders" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('menstruation_disorders')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('menstruation_disorders')"></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('sex_life_start_age')"></th>
                    <td><div class="row"><div class="col-md-4">
                        <input ng-model="anamnesis_mother.sex_life_start_age" class="form-control" valid-number maxlength="3" type="text" valid-number
                               ng-required="MotherAnamnesisDescriptor.getMandatory('sex_life_start_age')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('sex_life_start_age')"></div></div></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('contraception')"></th>
                    <td><rb-select multiple="true" ref-book="rbContraception" ng-model="anamnesis_mother.contraception" class="form-control"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('contraception')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('contraception')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('fertilization_type')"></th>
                    <td><rb-select ref-book="rbRisarFertilizationMethod" ng-model="anamnesis_mother.fertilization_type" class="form-control"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('fertilization_type')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('fertilization_type')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('intrauterine')"></th>
                    <td><input ng-model="anamnesis_mother.intrauterine" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('intrauterine')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('intrauterine')"></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('multifetation')"></th>
                    <td><input ng-model="anamnesis_mother.multifetation" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('multifetation')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('multifetation')"></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('infertility')"></th>
                    <td><input ng-model="anamnesis_mother.infertility" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('infertility')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('infertility')"></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('infertility_type')"></td>
                    <td><rb-select ref-book="rbRisarInfertility_Type" ng-model="anamnesis_mother.infertility_type"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('infertility_period')"></td>
                    <td><input ng-model="anamnesis_mother.infertility_period" class="form-control" valid-number maxlength="3" type="text" valid-number ng-disabled="!anamnesis_mother.infertility"></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('infertility_treatment')"></td>
                    <td><rb-select multiple="true" ref-book="rbRisarInfertilityTreatment" ng-model="anamnesis_mother.infertility_treatment"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('infertility_cause')"></td>
                    <td><rb-select multiple="true" ref-book="rbRisarInfertilityEtiology" ng-model="anamnesis_mother.infertility_cause"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('finished_diseases')"></th>
                    <td><wm-mkb-multiple ng-model="anamnesis_mother.finished_diseases"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('finished_diseases')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('finished_diseases')"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('finished_diseases_text')"></th>
                    <td><wysiwyg ng-model="anamnesis_mother.finished_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('hereditary')"></th>
                    <td><rb-select multiple="true" ref-book="rbRisarHereditary" ng-model="anamnesis_mother.hereditary"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('hereditary')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('hereditary')"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('current_diseases')"></th>
                    <td><wm-mkb-multiple ng-model="anamnesis_mother.current_diseases"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('current_diseases')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('current_diseases')"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('current_diseases_text')"></th>
                    <td><wysiwyg ng-model="anamnesis_mother.current_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('heart_disease')"></th>
                    <td><input ng-model="anamnesis_mother.heart_disease" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('heart_disease')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('heart_disease')"></td>
                </tr>
                <tr>
                    <th class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('preeclampsia')"></th>
                    <td><input ng-model="anamnesis_mother.preeclampsia" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('preeclampsia')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('preeclampsia')"></td>
                </tr>
                <tr>
                    <th class="text-right">Вредные привычки <span>&nbsp;</span></th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('alcohol')"></td>
                    <td><input ng-model="anamnesis_mother.alcohol" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('alcohol')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('alcohol')"></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('smoking')"></td>
                    <td><input ng-model="anamnesis_mother.smoking" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('smoking')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('smoking')"></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('toxic')"></td>
                    <td><input ng-model="anamnesis_mother.toxic" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('toxic')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('toxic')"></td>
                </tr>
                <tr>
                    <td class="text-right" ng-bind-html="MotherAnamnesisDescriptor.getLabel('drugs')"></td>
                    <td><input ng-model="anamnesis_mother.drugs" class="checkbox" type="checkbox"
                               ng-required="MotherAnamnesisDescriptor.getMandatory('drugs')"
                               ng-disabled="MotherAnamnesisDescriptor.getReadOnly('drugs')"></td>
                </tr>
                </tbody>
            </table>
            </div>
            </ng-form>
            <div class="box-footer text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ event_id ]]">Перейти на форму анамнеза пациентки</a>
                <button class="btn btn-success"
                        tooltip="[[anamnesisMotherForm.$invalid && submit_attempt ? 'Заполните все обязательные поля': '']]"
                        ng-click="save()">Сохранить</button>
            </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('mother_anamnesis_descriptor', angular.fromJson('{{mother_anamnesis_descriptor|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
{% endblock %}