{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="PregnancyAnamnesisCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Анамнез пациентки') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <tabset>
            <tab heading="Сведения о матери и об отце" active="tabs.motherfather" ng-controller="MotherFatherCtrl">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6" style="padding-left: 30px; padding-right: 30px">
                                <p>
                                    Менструации с <b ng-bind-html="anamnesis.mother.menstruation_start_age | underlineNoVal:'лет'"></b>,
                                    длительность <b ng-bind-html="anamnesis.mother.menstruation_duration | underlineNoVal:'дней'"></b>,
                                    продолжительность цикла <b ng-bind-html="anamnesis.mother.menstruation_period | underlineNoVal:'дней'"></b>,
                                    нарушения: <b ng-bind-html="anamnesis.mother.menstruation_disorders | danet | underlineNoVal"></b>
                                </p>
                                <p>
                                    Дата последней менструации <b ng-bind-html="anamnesis.mother.menstruation_last_date | asDate | underlineNoVal"></b>
                                </p>
                                <p>
                                    Половая жизнь с <b ng-bind-html="anamnesis.mother.sex_life_start_age | underlineNoVal:'лет'"></b>
                                    Вид контрацепции: <b ng-bind-html="format_multiple(anamnesis.mother.contraception, 'name') | underlineNoVal"></b>
                                </p>
                                <p>Способ оплодотворения: <b ng-bind-html="anamnesis.mother.fertilization_type.name | underlineNoVal"></b></p>
                                <p>Внутриматочные вмешательства: <b>[[ anamnesis.mother.intrauterine ? 'Да' : 'Нет']]</b></p>
                                <p>Предыдущие многоплодные беременности: <b>[[ anamnesis.mother.multifetation ? 'Да' : 'Нет']]</b></p>
                                <p>Преэклампсия была у матери или сестры: <b>[[ anamnesis.mother.preeclampsia ? 'Да' : 'Нет']]</b></p>
                                <p>Семейное положение: <b ng-bind-html="anamnesis.mother.marital_status.name | underlineNoVal"></b></p>
                                <p>Доход семьи: <b ng-bind-html="anamnesis.mother.family_income.name | underlineNoVal"></b></p>
                            </div>
                            <div class="col-md-6">
                                <p>ФИО отца: <b ng-bind-html="anamnesis.father.name | underlineNoVal"></b></p>
                                <p>Возраст: <b ng-bind-html="anamnesis.father.age | underlineNoVal"></b></p>
                                <p>Телефон отца: <b ng-bind-html="anamnesis.father.phone | underlineNoVal"></b></p>
                                <p>Данные исследований отца:
                                <ul class="list-unstyled" style="padding-left: 30px;">
                                    <li>ВИЧ: <b ng-bind-html="anamnesis.father.HIV | danet | underlineNoVal"></b></li>
                                    <li>Флюорография: <b ng-bind-html="anamnesis.father.fluorography | underlineNoVal"></b></li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-2">Критерий</th>
                                <th class="col-md-5 text-center">
                                    <i class="fa fa-female gender-icon-padding gender-icon-female"></i>Мать
                                    <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis_mother_edit') }}?event_id=[[ event_id ]]"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                                </th>
                                <th class="col-md-5 text-center">
                                    <i class="fa fa-male gender-icon-padding gender-icon-male"></i>Отец
                                    <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis_father_edit') }}?event_id=[[ event_id ]]"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if 'education' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('education')"></td>
                                <td ng-bind="anamnesis.mother.education.name"></td>
                                <td ng-bind="anamnesis.father.education.name"></td>
                            </tr>
                            {% endif %}
                            {% if 'work_group' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('work_group')"></td>
                                <td ng-bind="anamnesis.mother.work_group.name"></td>
                                <td ng-bind="anamnesis.father.work_group.name"></td>
                            </tr>
                            {% endif %}
                            {% if 'professional_properties' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('professional_properties')"></td>
                                <td ng-bind="anamnesis.mother.professional_properties.name"></td>
                                <td ng-bind="anamnesis.father.professional_properties.name"></td>
                            </tr>
                            {% endif %}
                            {% if 'infertility' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('infertility')"></td>
                                <td ng-bind="anamnesis.mother.infertility | danet"></td>
                                <td ng-bind="anamnesis.father.infertility | danet"></td>
                            </tr>
                            {% endif %}
                            {% if 'infertility_type' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('infertility_type')"></span></td>
                                <td ng-bind="anamnesis.mother.infertility_type.name"></td>
                                <td ng-bind="anamnesis.father.infertility_type.name"></td>
                            </tr>
                            {% endif %}
                            {% if 'infertility_period' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('infertility_period')"></span></td>
                                <td ng-bind="anamnesis.mother.infertility_period"></td>
                                <td ng-bind="anamnesis.father.infertility_period"></td>
                            </tr>
                            {% endif %}
                            {% if 'infertility_cause' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('infertility_cause')"></span></td>
                                <td ng-bind="format_multiple(anamnesis.mother.infertility_cause, 'name')"></td>
                                <td ng-bind="format_multiple(anamnesis.father.infertility_cause, 'name')"></td>
                            </tr>
                            {% endif %}
                            {% if 'infertility_treatment' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('infertility_treatment')"></span></td>
                                <td ng-bind="format_multiple(anamnesis.mother.infertility_treatment, 'name')"></td>
                                <td ng-bind="format_multiple(anamnesis.father.infertility_treatment, 'name')"></td>
                            </tr>
                            {% endif %}
                            <tr ng-if="false">
                                <td>Группа крови и резус-фактор</td>
                                <td colspan="2" class="text-center text-danger bg-danger">[[ warnings.blood_type ]]</td>
                            </tr>
                            <tr ng-if="anamnesis.risk_groups.indexOf('07') >= 0">
                                <td>Группа риска</td>
                                <td colspan="2" class="text-center text-danger bg-danger">[[ warnings.risk_group_07 ]]</td>
                            </tr>
                            <tr>
                                <td>Тип крови и резус-фактор</td>
                                <td ng-bind="anamnesis.mother.blood_type.name"></td>
                                <td ng-bind="anamnesis.father.blood_type.name"></td>
                            </tr>
                            {% if 'finished_diseases' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('finished_diseases')"></td>
                                <td>
                                    <span ng-repeat="mkb in anamnesis.mother.finished_diseases" tooltip="[[ mkb.name ]]" class="bottom_dotted margin-right" ng-bind="mkb.code"></span>
                                    <span ng-if="anamnesis.mother.finished_diseases.length"><br></span>
                                    <span ng-bind-html="anamnesis.mother.finished_diseases_text"></span>
                                    <span ng-if="!anamnesis.mother.finished_diseases.length && !anamnesis.mother.finished_diseases_text">нет</span>
                                </td>
                                <td>
                                    <span ng-repeat="mkb in anamnesis.father.finished_diseases" tooltip="[[ mkb.name ]]" class="bottom_dotted margin-right" ng-bind="mkb.code"></span>
                                    <span ng-if="anamnesis.father.finished_diseases.length"><br></span>
                                    <span ng-bind-html="anamnesis.father.finished_diseases_text"></span>
                                    <span ng-if="!anamnesis.father.finished_diseases.length && !anamnesis.father.finished_diseases_text">нет</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% if 'current_diseases' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('current_diseases')"></td>
                                <td>
                                    <span ng-repeat="mkb in anamnesis.mother.current_diseases" tooltip="[[ mkb.name ]]" class="bottom_dotted margin-right" ng-bind="mkb.code"></span>
                                    <span ng-if="anamnesis.mother.current_diseases.length"><br></span>
                                    <span ng-bind-html="anamnesis.mother.current_diseases_text"></span>
                                    <br ng-if="anamnesis.mother.current_diseases_text"><span ng-if="anamnesis.mother.heart_disease">Пороки сердца с нарушением кровообращения</span>
                                    <span ng-if="!anamnesis.mother.current_diseases.length && !anamnesis.mother.current_diseases_text && !anamnesis.mother.heart_disease">нет</span>
                                </td>
                                <td>
                                    <span ng-repeat="mkb in anamnesis.father.current_diseases" tooltip="[[ mkb.name ]]" class="bottom_dotted margin-right" ng-bind="mkb.code"></span>
                                    <span ng-if="anamnesis.father.current_diseases.length"><br></span>
                                    <span ng-bind-html="anamnesis.father.current_diseases_text"></span>
                                    <span ng-if="!anamnesis.father.current_diseases.length && !anamnesis.father.current_diseases_text">нет</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% if 'hereditary' in mother_anamnesis_descriptor %}
                            <tr>
                                <td ng-bind-html="motherAnamnesisDescriptor.getName('hereditary')"></td>
                                <td ng-bind="format_multiple(anamnesis.mother.hereditary, 'name')"></td>
                                <td ng-bind="format_multiple(anamnesis.father.hereditary, 'name')"></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>Вредные привычки</td>
                                <td ng-bind="anamnesis.mother.bad_habits"></td>
                                <td ng-bind="anamnesis.father.bad_habits"></td>
                            </tr>
                            {% if 'alcohol' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('alcohol')"></span></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.mother.alcohol, 'fa-check text-danger': anamnesis.mother.alcohol}"></i></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.father.alcohol, 'fa-check text-danger': anamnesis.father.alcohol}"></i></td>
                            </tr>
                            {% endif %}
                            {% if 'smoking' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('smoking')"></span></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.mother.smoking, 'fa-check text-danger': anamnesis.mother.smoking}"></i></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.father.smoking, 'fa-check text-danger': anamnesis.father.smoking}"></i></td>
                            </tr>
                            {% endif %}
                            {% if 'toxic' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('toxic')"></span></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.mother.toxic, 'fa-check text-danger': anamnesis.mother.toxic}"></i></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.father.toxic, 'fa-check text-danger': anamnesis.father.toxic}"></i></td>
                            </tr>
                            {% endif %}
                            {% if 'drugs' in mother_anamnesis_descriptor %}
                            <tr>
                                <td><span class="small-left-margin" ng-bind-html="motherAnamnesisDescriptor.getName('drugs')"></span></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.mother.drugs, 'fa-check text-danger': anamnesis.mother.drugs}"></i></td>
                                <td class="text-center"><i style="font-size: 24px" class="fa" ng-class="{'fa-times text-success': !anamnesis.father.drugs, 'fa-check text-danger': anamnesis.father.drugs}"></i></td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab heading="Предыдущие беременности" active="tabs.pregnancies" ng-controller="PregnanciesCtrl">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>[[prevPregDescriptor.getName('year')]]</th>
                                    <th>[[prevPregDescriptor.getName('pregnancyResult')]]</th>
                                    <th>[[prevPregDescriptor.getName('pregnancy_week')]]</th>
                                    <th>[[prevPregDescriptor.getName('newborn_inspections')]]</th>
                                    <th>[[prevPregDescriptor.getName('note')]]</th>
                                    <th>[[prevPregDescriptor.getName('card_number')]]</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="p in anamnesis.pregnancies">
                                    <td ng-if="p.deleted" colspan="5" class="text-center">Удалено. <a ng-click="restore(p)" style="cursor: pointer">Восстановить</a>?</td>
                                    <td ng-if="!p.deleted">
                                        <span class="[[p.epic_delivery_date ? 'bottom_dotted' : '']]" tooltip="[[p.epic_delivery_date]]" tooltip-enable="p.epic_delivery_date">[[p.year]]</span>
                                    </td>
                                    <td ng-if="!p.deleted" ng-bind="p.pregnancyResult.name"></td>
                                    <td ng-if="!p.deleted" ng-bind="p.pregnancy_week"></td>
                                    <td ng-if="!p.deleted">
                                        Дети ([[p.newborn_inspections.length]]):
                                        <div ng-repeat="child_info in p.newborn_inspections">
                                            <b>ребенок [[$index+1]]</b>:
                                            <span ng-bind="format_newborn_inspection(child_info)"></span>
                                            <span ng></span>
                                        </div>
                                    </td>
                                    <td ng-if="!p.deleted" ng-bind-html="format_characteristics(p) | trustHtml"></td>
                                    <td ng-if="!p.deleted" ><a nf-if="p.external_id" ng-href="{{ url_for('.html_auto_chart') }}?event_id=[[ p.event_id ]]">[[p.external_id]]</a></td>
                                    <td ng-if="!p.deleted && !p.event_id" class="col-md-1 nowrap">
                                        <button class="btn btn-default" ng-click="edit(p)">Изменить</button>
                                        <button class="btn btn-danger" ng-click="remove(p)">Удалить</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                    <td>
                                        <a class="pseudo-btn" ng-click="add()">Добавить</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </tab>
            <tab heading="Переливания крови" active="tabs.transfusions" ng-controller="TransfusionsCtrl">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Вид</th>
                                <th>Группа крови донора</th>
                                <th>Реакция</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in anamnesis.transfusions">
                                <td ng-if="t.deleted" colspan="6" class="text-center">Удалено. <a ng-click="restore(t)" style="cursor: pointer">Восстановить</a>?</td>
                                <td ng-if="!t.deleted" ng-bind="t.date | asDate"></td>
                                <td ng-if="!t.deleted" ng-bind="t.type.name"></td>
                                <td ng-if="!t.deleted" ng-bind="t.blood_type.name"></td>
                                <td ng-if="!t.deleted" ng-bind="t.reaction"></td>
                                <td ng-if="!t.deleted" class="col-md-1 nowrap">
                                    <button class="btn btn-default" ng-click="edit(t)">Изменить</button>
                                    <button class="btn btn-danger" ng-click="remove(t)">Удалить</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                                <td>
                                    <a class="pseudo-btn" ng-click="add()">Добавить</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <tab heading="Аллергии и непереносимости" active="tabs.intolerances" ng-controller="IntolerancesCtrl">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Тип</th>
                                <th>Дата установления</th>
                                <th>Наименование</th>
                                <th>Степень</th>
                                <th>Примечания</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in anamnesis.intolerances">
                                <td ng-if="t.deleted" colspan="6" class="text-center">Удалено. <a ng-click="restore(t)" style="cursor: pointer">Восстановить</a>?</td>
                                <td ng-if="!t.deleted" ng-bind="t.type.name" class="col-md-2"></td>
                                <td ng-if="!t.deleted" ng-bind="t.date | asDate"></td>
                                <td ng-if="!t.deleted" ng-bind="t.name"></td>
                                <td ng-if="!t.deleted" ng-bind="t.power.name"></td>
                                <td ng-if="!t.deleted" ng-bind="t.note"></td>
                                <td ng-if="!t.deleted" class="col-md-1 nowrap">
                                    <button class="btn btn-default" ng-click="edit(t)">Изменить</button>
                                    <button class="btn btn-danger" ng-click="remove(t)">Удалить</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                                <td>
                                    <a class="pseudo-btn" ng-click="add()">Добавить</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
            <div class="pull-right">
                <a class="btn btn-lg" style="padding-bottom: 0;" ng-click="print_anam(event_id)">
                    <span class="glyphicon glyphicon-print"></span>
                </a>
            </div>
        </tabset>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('mother_anamnesis_descriptor', angular.fromJson('{{mother_anamnesis_descriptor|tojson|safe}}'));
        WebMis20.value('prev_preg_descriptor', angular.fromJson('{{prev_preg_descriptor|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=app_version) }}"></script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/pregnancies.html">{% include 'risar/modals/_modal_pregnancies.html' %}</script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/transfusions.html">{% include 'risar/modals/_modal_transfusions.html' %}</script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/intolerances.html">{% include 'risar/modals/_modal_intolerances.html' %}</script>
{% endblock %}