{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="AnamnesisMotherEditCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Ввод данных о матери') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
            <ng-form name="anamnesisMotherForm" id="anamnesisMotherForm" role="form" novalidate>
            <div class="box-body">
            <table class="table table-condensed title-right">
                <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-8"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-right">Образование <span>&nbsp;</span></th>
                    <td><rb-select ng-model="anamnesis_mother.education" ref-book="rbRisarEducation" autofocus="autofocus"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Общественно-профессиональная группа <span>&nbsp;</span></th>
                    <td><rb-select ng-model="anamnesis_mother.work_group" ref-book="rbRisarWork_Group"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Профессиональные вредности <span>&nbsp;</span></th>
                    <td><rb-select ng-model="anamnesis_mother.professional_properties" ref-book="rbRisarProfessional_Properties"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Семейное положение <span class="text-danger">*</span></th>
                    <td><rb-select ng-model="anamnesis_mother.marital_status" ref-book="rbRisarMarital_Status"
                                   ng-required="true"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Доход семьи <span>&nbsp;</span></th>
                    <td><rb-select ng-model="anamnesis_mother.family_income" ref-book="rbRisarFamily_Income"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Группа крови и резус-фактор <span>&nbsp;</span></th>
                    <td><div class="row"><div class="col-md-4"><rb-select ng-model="anamnesis_mother.blood_type" ref-book="rbBloodType"></rb-select></div></div></td>
                </tr>
                <tr>
                    <th class="text-right">Дата последней менструации <span>&nbsp;</span></th>
                    <td><wm-date ng-model="anamnesis_mother.menstruation_last_date" max-date="menstruation_max_date" style="width: 250px"></wm-date></td>
                </tr>
                <tr>
                    <th class="text-right">Менструации <span>&nbsp;</span></th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-right">С возраста <span>&nbsp;</span></td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="anamnesis_mother.menstruation_start_age" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right">Длительность <span>&nbsp;</span></td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="anamnesis_mother.menstruation_duration" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right">Продолжительность цикла <span>&nbsp;</span></td>
                    <td><div class="row"><div class="col-md-4"><input ng-model="anamnesis_mother.menstruation_period" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td class="text-right">Нарушения <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.menstruation_disorders" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th class="text-right">Половая жизнь с <span>&nbsp;</span></th>
                    <td><div class="row"><div class="col-md-4"><input ng-model="anamnesis_mother.sex_life_start_age" class="form-control" type="number" valid-number></div></div></td>
                </tr>
                <tr>
                    <th class="text-right">Сведения по контрацепции <span>&nbsp;</span></th>
                    <td><rb-select multiple="true" ref-book="rbContraception" ng-model="anamnesis_mother.contraception" class="form-control"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Способ оплодотворения <span>&nbsp;</span></th>
                    <td><rb-select ref-book="rbRisarFertilizationMethod" ng-model="anamnesis_mother.fertilization_type" class="form-control"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Внутриматочные вмешательства <span>&nbsp;</span></th>
                    <td><input ng-model="anamnesis_mother.intrauterine" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th class="text-right">Предыдущие многоплодные беременности <span>&nbsp;</span></th>
                    <td><input ng-model="anamnesis_mother.multifetation" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th class="text-right">Бесплодие <span>&nbsp;</span></th>
                    <td><input ng-model="anamnesis_mother.infertility" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td class="text-right">Вид <span>&nbsp;</span></td>
                    <td><rb-select ref-book="rbRisarInfertility_Type" ng-model="anamnesis_mother.infertility_type"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <td class="text-right">Длительность, лет <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.infertility_period" class="form-control" type="number" valid-number ng-disabled="!anamnesis_mother.infertility"></td>
                </tr>
                <tr>
                    <td class="text-right">Лечение <span>&nbsp;</span></td>
                    <td><rb-select multiple="true" ref-book="rbRisarInfertilityTreatment" ng-model="anamnesis_mother.infertility_treatment"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <td class="text-right">Причины <span>&nbsp;</span></td>
                    <td><rb-select multiple="true" ref-book="rbRisarInfertilityEtiology" ng-model="anamnesis_mother.infertility_cause"
                        ng-disabled="!anamnesis_mother.infertility"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Перенесенные заболевания <span>&nbsp;</span></th>
                    <td><wm-mkb-multiple ng-model="anamnesis_mother.finished_diseases"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right">Перенесенные заболевания (ввод вручную) <span>&nbsp;</span></th>
                    <td><wysiwyg ng-model="anamnesis_mother.finished_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right">Наследственность <span>&nbsp;</span></th>
                    <td><rb-select multiple="true" ref-book="rbRisarHereditary" ng-model="anamnesis_mother.hereditary"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Текущие заболевания <span>&nbsp;</span></th>
                    <td><wm-mkb-multiple ng-model="anamnesis_mother.current_diseases"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right">Текущие заболевания (ввод вручную)<span>&nbsp;</span></th>
                    <td><wysiwyg ng-model="anamnesis_mother.current_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right">Пороки сердца с нарушением кровообращения <span>&nbsp;</span></th>
                    <td><input ng-model="anamnesis_mother.heart_disease" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th class="text-right">Преэклампсия была у матери или сестры <span>&nbsp;</span></th>
                    <td><input ng-model="anamnesis_mother.preeclampsia" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <th class="text-right">Вредные привычки <span>&nbsp;</span></th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-right">Алкоголь <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.alcohol" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td class="text-right">Курение <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.smoking" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td class="text-right">Токсические вещества <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.toxic" class="checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td class="text-right">Наркотики <span>&nbsp;</span></td>
                    <td><input ng-model="anamnesis_mother.drugs" class="checkbox" type="checkbox"></td>
                </tr>
                </tbody>
            </table>
            </div>
            </ng-form>
            <div class="box-footer text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ event_id ]]">Перейти на форму анамнеза пациентки</a>
                <button class="btn btn-success"
                        tooltip="[[anamnesisMotherForm.$invalid && submit_attempt ? 'Заполните все обязательные поля': '']]"
                        ng-click="save()">Сохранить</button>
            </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
{% endblock %}