{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="AnamnesisFatherEditCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Ввод данных об отце') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
            <div class="box-body">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-8"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-right">ФИО</th>
                    <td><input ng-model="anamnesis_father.name" class="form-control" valid-regexp name-regexp autofocus></td>
                </tr>

                <tr>
                    <th class="text-right">Возраст</th>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <input ng-model="anamnesis_father.age" class="form-control" max="999" type="number" valid-number>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="text-right">Образование</th>
                    <td><rb-select ng-model="anamnesis_father.education" ref-book="rbRisarEducation"></rb-select></td>
                </tr>

                <tr>
                    <th class="text-right">Общественно-профессиональная группа</th>
                    <td><rb-select ng-model="anamnesis_father.work_group" ref-book="rbRisarWork_Group"></rb-select></td>
                </tr>

                <tr>
                    <th class="text-right">Профессиональные вредности</th>
                    <td><rb-select ng-model="anamnesis_father.professional_properties" ref-book="rbRisarProfessional_Properties"></rb-select></td>
                </tr>

                <tr>
                    <th class="text-right">Группа крови и резус-фактор</th>
                    <td><div class="row"><div class="col-md-4"><rb-select ng-model="anamnesis_father.blood_type" ref-book="rbBloodType"></rb-select></div></div></td>
                </tr>

                <tr>
                    <th class="text-right">Телефон</th>
                    <td><input ng-model="anamnesis_father.phone" class="form-control"></td>
                </tr>

                <tr>
                    <th class="text-right">ВИЧ</th>
                    <td><input ng-model="anamnesis_father.HIV" class="checkbox" type="checkbox"></td>
                </tr>

                <tr>
                    <th class="text-right">Флюорография</th>
                    <td><input ng-model="anamnesis_father.fluorography" class="form-control"></td>
                </tr>

                <tr>
                    <th class="text-right">Бесплодие</th>
                    <td><input ng-model="anamnesis_father.infertility" class="checkbox" type="checkbox"></td>
                </tr>

                <tr>
                    <td class="text-right">Вид</td>
                    <td><rb-select ref-book="rbRisarInfertility_Type" ng-model="anamnesis_father.infertility_type"
                        ng-disabled="!anamnesis_father.infertility"></rb-select></td>
                </tr>

                <tr>
                    <td class="text-right">Длительность, лет</td>
                    <td><input ng-model="anamnesis_father.infertility_period" class="form-control" max="999" type="number" valid-number ng-disabled="!anamnesis_father.infertility"></td>
                </tr>

                <tr>
                    <td class="text-right">Лечение</td>
                    <td><rb-select multiple="true" ref-book="rbRisarFatherInfertility_Treatment" ng-model="anamnesis_father.infertility_treatment"
                        ng-disabled="!anamnesis_father.infertility"></rb-select></td>
                </tr>

                <tr>
                    <td class="text-right">Причины</td>
                    <td><rb-select multiple="true" ref-book="rbRisarFatherInfertilityCauses" ng-model="anamnesis_father.infertility_cause"
                        ng-disabled="!anamnesis_father.infertility"></rb-select></td>
                </tr>
                <tr>
                    <th class="text-right">Перенесенные заболевания</th>
                    <td><wm-mkb-multiple ng-model="anamnesis_father.finished_diseases"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right">Перенесенные заболевания (ввод вручную) <span>&nbsp;</span></th>
                    <td><wysiwyg ng-model="anamnesis_father.finished_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right">Наследственность</th>
                    <td><rb-select multiple="true" ref-book="rbRisarHereditary" ng-model="anamnesis_father.hereditary"></rb-select></td>
                </tr>

                <tr>
                    <th class="text-right">Текущие заболевания</th>
                    <td><wm-mkb-multiple ng-model="anamnesis_father.current_diseases"></wm-mkb-multiple></td>
                </tr>
                <tr>
                    <th class="text-right">Текущие заболевания (ввод вручную)<span>&nbsp;</span></th>
                    <td><wysiwyg ng-model="anamnesis_father.current_diseases_text" /></td>
                </tr>
                <tr>
                    <th class="text-right">Вредные привычки</th>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td class="text-right">Алкоголь</td>
                    <td><input ng-model="anamnesis_father.alcohol" class="checkbox" type="checkbox"></td>
                </tr>

                <tr>
                    <td class="text-right">Курение</td>
                    <td><input ng-model="anamnesis_father.smoking" class="checkbox" type="checkbox"></td>
                </tr>

                <tr>
                    <td class="text-right">Токсические вещества</td>
                    <td><input ng-model="anamnesis_father.toxic" class="checkbox" type="checkbox"></td>
                </tr>

                <tr>
                    <td class="text-right">Наркотики</td>
                    <td><input ng-model="anamnesis_father.drugs" class="checkbox" type="checkbox"></td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="box-footer text-right">
                <a class="pseudo-btn" ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ event_id ]]">Перейти на форму анамнеза пациентки</a>
                <button class="btn btn-success" ng-click="save()">Сохранить</button>
            </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/anamnesis.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
{% endblock %}