{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% block main -%}{%- endblock %}
        </div>
    </div>
{% endblock %}

{% block modules_css -%}
{{- super() -}}
<link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/print.css') }}" media="print" rel="stylesheet">
{%- endblock %}

{% block modules_js -%}
{{ super() }}
<script src="{{ url_for('.config_js', v=version) }}"></script>
<script src="{{ url_for('.current_user_js', v=version) }}"></script>
<script src="{{ url_for('.static', filename='js/script.js') }}"></script>
{%- endblock %}
