{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="CardFillHistoryCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Качество ведения карты') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Заполненность разделов карты</h3>
            </div>
            <div class="box-body">
                <p ng-bind="get_summary_cfr_text()"></p>
                <ul class="list-unstyled">
                    <li><span class="rmargin10"
                        tooltip="[[ get_summary_tooltip('anamnesis') ]]"
                        ng-class="get_summary_icon('anamnesis')"></span>Анамнез</li>
                    <li><span class="rmargin10"
                        tooltip="[[ get_summary_tooltip('first_inspection') ]]"
                        ng-class="get_summary_icon('first_inspection')"></span>Первичный осмотр</li>
                    <li ng-if="summary_section_visible('repeated_inspection')"><span class="rmargin10"
                        tooltip="[[ get_summary_tooltip('repeated_inspection') ]]"
                        ng-class="get_summary_icon('repeated_inspection')"></span>Повторный осмотр</li>
                    <li><span class="rmargin10"
                        tooltip="[[ get_summary_tooltip('epicrisis') ]]"
                        ng-class="get_summary_icon('epicrisis')"></span>Эпикриз</li>
                </ul>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">План заполнения</h3>
            </div>
            <div class="box-body">
                <ul class="timeline">
                    <li class="time-label">
                        <span class="bg-gray" ng-bind="chart.start_date | asDate"></span>
                    </li>
                    <li>
                        <i class="fa fa-circle-o bg-blue"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">
                                <span>Дата постановки на учет</span>
                            </h3>
                        </div>
                    </li>

                    <li class="time-label" ng-repeat-start="item in chart.timeline">
                        <span class="bg-gray"><span ng-bind="item.display_date | asDate"></span> <span ng-bind="getPregWeekText(item)"></span></span>
                    </li>
                    <li ng-repeat-end>
                        <i ng-class="get_timeline_icon(item.fill_rate)" tooltip="[[ get_icon_tooltip(item.fill_rate) ]]"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">
                                <span ng-bind="getSectionTitle(item)"></span> <a style="font-weight: normal;"
                                    ng-href="[[getDocumentUrl(item)]]" ng-if="itemFilled(item)">(подробнее)</a>
                            </h3>
                            <div class="timeline-body">
                                <div><span ng-bind="getDocumentAuthorText(item)" ng-if="itemFilled(item)"></span></div>
                                <div><span ng-bind="getPlannedDateText(item)"></span></div>
                                <div><span ng-bind="getOverdueText(item)" ng-if="!itemWaiting(item)"></span></div>
                            </div>
{#                            <div class="timeline-footer">#}
{#                            </div>#}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/card_fill_history.js', v=app_version) }}"></script>
{% endblock %}