{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> Карта пациентки{% endblock %}

{% block main %}
<div ng-controller="ChartCtrl" ng-cloak>
    <section class="content-header">
        <div alert-notify></div>
        {{ rimacros.page_title_ext_n('Карта пациентки', 'chart') }}
        <div class="novmargin">
            <div class="btn-group">
                <a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]" class="btn btn-primary">Карта пациентки</a>
                <a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]" class="btn btn-default">Анамнез</a>
                <a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]" class="btn btn-default">Осмотры</a>
                <a ng-href="{{ url_for('.html_routing') }}?event_id=[[ chart.id ]]&emergency=1" class="btn btn-default">Маршрутизация</a>
                <a ng-href="{{ url_for('.html_epicrisis') }}?event_id=[[ chart.id ]]" class="btn btn-default">Эпикриз</a>
                <a ng-class="{disabled: !ps.is_available()}" ng-click="open_print_window()" class="btn btn-default">Печать</a>
                <a href="#" class="btn btn-default" ng-click="create_errand()">Создать поручение</a>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Дополнительно <span class="fa fa-caret-down"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a ng-href="{{ url_for('.html_event_diagnoses') }}?event_id=[[ chart.id ]]">Диагнозы случая</a></li>
                        <li><a ng-href="{{ url_for('.html_event_measure') }}?event_id=[[ chart.id ]]">Мероприятия случая</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Личные данные</h3>
                    </div>
                    <table class="table table-condensed table-personal-data">
                        <tbody>
                        <tr>
                            <td class="col-lg-2 col-md-2 text-right">Дата рождения:</td>
                            <td class="col-lg-10 col-md-10">[[ chart.client.birth_date | asDate ]] ([[ chart.client.age ]])</td>
                        </tr>
                        <tr ng-if="chart.client.snils">
                            <td class="text-right">СНИЛС:</td>
                            <td>[[ chart.client.snils ]]</td>
                        </tr>
                        <tr ng-if="chart.client.cmi_policy">
                            <td class="text-right">Полис ОМС:</td>
                            <td>Номер [[ chart.client.cmi_policy.serial ]] [[ chart.client.cmi_policy.number ]], выдан [[ chart.client.cmi_policy.insurer.short_name ]] [[ chart.client.cmi_policy.beg_date | asDate ]]</td>
                        </tr>
                        <tr ng-if="chart.anamnesis.father.phone || chart.client.phone">
                            <td class="text-right">Контактные данные:</td>
                            <td>пациентки: [[chart.client.phone.contact_text]], отца ребёнка: <span tooltip="[[chart.anamnesis.father.name]]" class="bottom_dotted">[[ chart.anamnesis.father.phone ]]</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title with-border">Анамнез (<a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]">подробнее</a>)</h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="col-lg-2 col-md-2 text-right">Беременности:</td>
                                <td class="col-lg-1 col-md-1">Предыдущие</br>
                                Многоплодные
                                </td>
                                <td class="col-lg-9 col-md-9"><a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]#pregnancies">[[chart.anamnesis.pregnancies.length]]</a></br>
                                [[chart.anamnesis.mother.multifetation ? 'да' : 'нет']]
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Заболевания:</td>
                                <td>Перенесенные</br>
                                Текущие
                                </td>
                                <td><span ng-repeat="diag in chart.anamnesis.mother.finished_diseases" tooltip="[[ diag.diagnosis.mkb.name ]]"><span class="bottom_dotted">[[diag.diagnosis.mkb.code]]</span>[[$last ? '' : ', ']]</span>[[chart.anamnesis.mother.finished_diseases ? '' : 'нет']]</br>
                                <span ng-repeat="diag in chart.anamnesis.mother.current_diseases" tooltip="[[ diag.diagnosis.mkb.name ]]"><span class="bottom_dotted">[[diag.diagnosis.mkb.code]]</span>[[$last ? '' : ', ']]</span>[[chart.anamnesis.mother.current_diseases ? '' : 'нет']]
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Вредные привычки:</td>
                                <td>[[(!chart.anamnesis.mother.alcohol && !chart.anamnesis.mother.smoking && !chart.anamnesis.mother.toxic && !chart.anamnesis.mother.drugs) ? 'нет': '' ]]
                                    <span ng-repeat="h in chart.bad_habits_mother | filter:{value: true} ">[[h.text]][[$last ? '' : ', ']]</span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Осмотры акушером-гинекологом (<a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]">подробнее</a>)</h3>
                        <div class="box-tools">
                            <a ng-href="{{ url_for('.html_inspection_edit') }}?event_id=[[ chart.id ]]"
                               title=""><span class="glyphicon glyphicon-plus"></span> Добавить осмотр</a>
                        </div>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Срок</th>
                            <th>Диагноз</th>
                            <th>Врач</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="checkup in chart.checkups">
                            <td>[[ $index + 1 ]]</td>
                            <td><a ng-href="{{ url_for('.html_inspection_read') }}?event_id=[[ chart.id ]]&checkup_id=[[ checkup.id ]]">[[ checkup.beg_date | asDate ]]</a></td>
                            <td>[[ checkup.pregnancy_week ]] ([[checkup.calculated_pregnancy_week]])</td>
                            <td><span class="bottom_dotted" tooltip="[[ checkup.diag.mkb.name ]]">[[ checkup.diag.mkb.code ]]</span></td>
                            <td>[[ checkup.person.name ]]</td>
                        </tr>
                    </table>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Эпикриз (<a ng-href="{{ url_for('.html_epicrisis') }}?event_id=[[ chart.id ]]">подробнее</a>)</h3>
                        <div class="box-tools">
                            <a ng-href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]"
                               title="">[[chart.epicrisis ? 'Изменить': 'Заполнить эпикриз']]</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <span ng-if="!chart.epicrisis">Отсутствует</span>
                        <span ng-if="chart.epicrisis" ng-bind-html="chart.epicrisis.info">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title">Особенности</h3>
                    </div>
                    <table class="table table.condensed">
                        <tbody>
                            <tr>
                                <td class="col-md-6 text-right">Группа крови:</td>
                                <td class="col-md-6">[[chart.anamnesis.mother.blood_type.name]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">ВИЧ:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_HIV && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_HIV}">[[has_desease(chart.has_diseases.has_HIV)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Сифилис:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_syphilis && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_syphilis}">[[has_desease(chart.has_diseases.has_syphilis)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Гепатит:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_hepatitis && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_hepatitis}">[[has_desease(chart.has_diseases.has_hepatitis)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Туберкулез:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_tuberculosis && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_tuberculosis}">[[has_desease(chart.has_diseases.has_tuberculosis)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Чесотка:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_scabies && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_scabies}">[[has_desease(chart.has_diseases.has_scabies)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Педикулез:</td>
                                <td class="col-md-6" ng-style="chart.has_diseases.has_pediculosis && {'font-weight': 'bold'}"
                                    ng-class="{'text-danger': chart.has_diseases.has_pediculosis}">[[has_desease(chart.has_diseases.has_pediculosis)]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-6 text-right">Аллергия:</td>
                                <td class="col-md-6">
                                    <div ng-repeat="char in chart.anamnesis.intolerances | filter: {type:{code: 'allergy'}}" class="danger text-danger">
                                    <b ng-if="['high', 'strict'].has(char.power.code)" ng-class="{'bottom_dotted': char.note}" tooltip="[[ char.note ]]">[[ char.name ]]</b>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-5 text-right">Непереносимости:</td>
                                <td class="col-md-7">
                                    <div ng-repeat="char in chart.anamnesis.intolerances | filter: {type:{code: 'medicine'}}" class="danger text-danger">
                                    <b ng-if="['high', 'strict'].has(char.power.code)" ng-class="{'bottom_dotted': char.note}" tooltip="[[ char.note ]]">[[ char.name ]]</b>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-5 text-right">Патологии:</td>
                                <td class="col-md-7">
                                    <div ng-repeat="pathg in chart.pregnancy_pathologies">
                                        <span ng-bind="pathg.name"></span>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title">ЛПУ родоразрешения</h3></div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="col-md-3 text-right">Экстренное:</td>
                            <td class="col-md-6">
                                <span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]">
                                    [[chart.client.attach_lpu.extra_lpu.org.short_name]]
                                </span>
                            </td>
                            <td class="col-md-3"><a class="btn-link" ng-href="{{ url_for('.html_routing') }}?event_id=[[ chart.id ]]&emergency=1">Изменить</a></td>
                        </tr>
                        <tr>
                            <td class="text-right">Плановое:</td>
                            <td>
                                <span tooltip="Выбрано пользователем [[chart.client.attach_lpu.extra_lpu.modifyPerson]] [[chart.client.attach_lpu.extra_lpu.begDate]]">
                                    [[chart.client.attach_lpu.plan_lpu.org.short_name]]
                                </span>
                            </td>
                            <td><a class="btn-link" ng-href="{{ url_for('.html_routing') }}?event_id=[[ chart.id ]]">Изменить</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title">Мероприятия случая (<a ng-href="{{ url_for('.html_event_measure') }}?event_id=[[ chart.id ]]">подробнее</a>)</h3></div>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="col-md-6 text-right">Лабораторные исследования:</td>
                            <td class="col-md-6">
                                <progressbar class="progress" value="chart.progress.lab.percent">
                                    [[ chart.progress.lab.complete ]]/[[ chart.progress.lab.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Функциональные исследования:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.func.percent">
                                    [[ chart.progress.func.complete ]]/[[ chart.progress.func.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Осмотры специалистами:</td>
                            <td>
                                <progressbar class="progress" value="chart.progress.checkups.percent">
                                    [[ chart.progress.checkups.complete ]]/[[ chart.progress.checkups.total ]]
                                </progressbar>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=app_version) }}"></script>
    <script type="text/ng-template" id="/WebMis20/RISAR/modal/create_errand.html">{% include 'risar/errands/_modal_create_errand.html' %}</script>
{% endblock %}