{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="ConciliumCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Консилиум пациентки') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row marginal">
                    <div class="col-md-4 text-right">Дата консилиума</div>
                    <div class="col-md-8">[[concilium.date | asDate]]</div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">ЛПУ консилиума</div>
                    <div class="col-md-8">[[concilium.hospital.full_name]]</div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Лечащий врач</div>
                    <div class="col-md-8">[[concilium.doctor.name]]</div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Состав консилиума</div>
                    <div class="col-md-8"><span ng-bind="get_members_text()"></span></div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Присутствие пациента на консилиуме</div>
                    <div class="col-md-8">[[concilium.patient_presence | danet]]</div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Основной диагноз</div>
                    <div class="col-md-8">
                        <span tooltip="[[ concilium.mkb.name ]]" class="bottom_dotted">[[concilium.mkb.code]]</span> <span
                            ng-bind="concilium.mkb.name"></span>
                    </div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Причина проведения консилиума</div>
                    <div class="col-md-8"><span ng-bind="concilium.reason"></span></div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Состояние пациента</div>
                    <div class="col-md-8"><span ng-bind="concilium.patient_condition"></span></div>
                </div>
                <div class="row marginal">
                    <div class="col-md-4 text-right">Заключение консилиума</div>
                    <div class="col-md-8"><span ng-bind="concilium.decision"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">Особое мнение участника консилиума</div>
                    <div class="col-md-8">
                        <div ng-repeat="member in concilium.members" ng-if="member.opinion" class="marginal">
                            <b>[[ member.doctor.short_name ]]:</b><br>
                            <span ng-bind="member.opinion"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/concilium.js', v=app_version) }}"></script>
{% endblock %}