{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> Эпикриз{% endblock %}

{% block main %}
<div ng-controller="EpicrisisCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Эпикриз') }}
        {{ rimacros.navigation('[[ chart.id ]]') }}
    </section>
    <section class="content">
        <tabset>
            <tab heading="Информация о родоразрешении">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                        <div class="pull-right"><a class="print_link" href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]"><span class="glyphicon glyphicon-pencil"></span> Изменить</a> </div>
                        <span ng-if="epicrisis" ng-bind-html="epicrisis.info"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Диагнозы</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_first"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <!-- TODO: Отображение диагнозов -->
                                <div class="row">
                                    <div class="col-sm-5 col-md-5  text-right">Основной диагноз:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses:'main':'final'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5  text-right">Диагнозы осложнения:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses:'complication':'final'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5  text-right">Сопутствующие диагнозы:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses:'associated':'final'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Данные случая</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_first"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Дата постановки на учёт:</div>
                                    <div class="col-sm-6 col-md-6">[[chart.set_date|asDate]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Срок беременности при постановке на учёт:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <span tooltip="Рассчитывается исходя из текущего срока беременности, даты родоразрешения и даты постановки на учёт">[[epicrisis.registration_pregnancy_week]]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Число посещений акушера-гинеколога:</div>
                                    <div class="col-sm-6 col-md-6">[[chart.num_of_inspections]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Прибавка массы, кг:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.weight_gain]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Особенности течения беременности:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="epicrisis.pregnancy_speciality"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="epicrisis.death_date || epicrisis.reason_of_death">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Смерть матери</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_second"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Дата смерти:</div>
                                    <div class="col-sm-7 col-md-7">[[epicrisis.death_date|asDate]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Время смерти:</div>
                                    <div class="col-sm-7 col-md-7">[[epicrisis.death_time|asTime]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Причина смерти:</div>
                                    <div class="col-sm-7 col-md-7  long-words">[[epicrisis.reason_of_death]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Основной патологоанатомический диагноз:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses: 'main':'pathanatomical'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-sm-5 col-md-5  text-right">Диагнозы осложнения:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses:'complication':'pathanatomical'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5  text-right">Сопутствующие диагнозы:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <div ng-repeat="diag in epicrisis.diagnoses | collapse_diagnoses:'associated':'pathanatomical'">
                                            <span tooltip="[[ diag.diagnostic.mkb.name ]]">[[diag.diagnostic.mkb.code]]</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Заключение ЛКК:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="epicrisis.control_expert_conclusion"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Осложнения при родах</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_third"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Биологическая незрелость родовых путей в 40 недель:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.immaturity ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Излитие околоплодных вод:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.delivery_waters.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Дородовое излитие вод (при отсутствии родовой деятельности более 6 ч):</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.pre_birth_delivery_waters ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Слабость родовых сил:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.weakness.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Разрыв промежностей (степень):</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.perineal_tear.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Мекониальная окраска амниотических вод:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.meconium_colouring ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Патологический прелиминарный период:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.patologicsl_preliminal_period ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Аномалии родовой деятельности:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.labor_anomalies ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Хориоамнионит:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.chorioamnionit ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Анемия после родов (Hb<110 г/л):</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.poor_blood ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Нефропатия/эклампсия в родах:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.eclampsia.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Патология пуповины:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.funiculus.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Патология плаценты:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.afterbirth.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Инфекции в родах:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[epicrisis.infections_during_birth]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Инфекции после родов:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="epicrisis.infections_after_birth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Пособия и манипуляции при родах</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_fourth"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Вскрытие околоплодного пузыря:</div>
                                    <div class="col-sm-7 col-md-7">[[epicrisis.caul  ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Ручное обследование матки:</div>
                                    <div class="col-sm-7 col-md-7">[[epicrisis.calfbed  ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Эпизио/перинеотомия:</div>
                                    <div class="col-sm-7 col-md-7 long-words">[[epicrisis.perineotomy]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Ручное выделение последа:</div>
                                    <div class="col-sm-7 col-md-7">[[epicrisis.secundines ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Другие пособия и манипуляции:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="epicrisis.other_manipulations"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Операции при родах</h3>
                                <a class="print_link pull-right"
                                   href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_fifth"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Кесарево сечение:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.caesarean_section.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Акушерские щипцы:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.obstetrical_forceps.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Вакуум-экстракция:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.vacuum_extraction ? 'да': '']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Показания к операции:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.indication.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Особенности операции:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.specialities.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Обезболивание:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.anesthetization.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Гистерэктомия:</div>
                                    <div class="col-md-6">[[epicrisis.hysterectomy.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Осложнения операции:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="diag in epicrisis.operation_complication" tooltip="[[diag.name]]">[[diag.code]]
                                    <span ng-if="epicrisis.operation_complication.length>1"><br></span></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Плодоразрушающие операции:</div>
                                    <div class="col-sm-6 col-md-6">[[epicrisis.embryotomy  ? 'да': '']]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Информация о детях">
                <div class="panel panel-default" style="border-top: none; border-radius: 0">
                    <div class="panel-body">
                    <table class="table novmargin">
                        <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Живой</th>
                                <th rowspan="2">Дата и время рождения</th>
                                <th rowspan="2">Пол</th>
                                <th rowspan="2">Масса, г</th>
                                <th rowspan="2">Длина, см</th>
                                <th rowspan="2">Степень доношенности</th>
                                <th colspan="3">Оценка по Апгар на минуту жизни</th>
                                <th rowspan="2">Особенности</th>
                                <th rowspan="2"></th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>5</th>
                                <th>10</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inspection in epicrisis.newborn_inspections" ng-if="!is_empty(inspection)">
                                <td>[[$index+1]]</td>
                                <td ng-if="inspection.deleted" colspan="10" class="text-center">
                                    Удалено. <a ng-click="newborn_inspection_restore(inspection)" style="cursor: pointer">Восстановить</a>?</td>
                                <td ng-if="!inspection.deleted">[[inspection.alive ? 'да': 'нет']]</td>
                                <td ng-if="!inspection.deleted">[[inspection.date |asDateTime ]] [[inspection.birth_time]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.sex.code == 'male' ? 'Мужской': 'Женский']]</td>
                                <td ng-if="!inspection.deleted">[[inspection.weight]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.length]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.maturity_rate.name]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.apgar_score_1]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.apgar_score_5]]</td>
                                <td ng-if="!inspection.deleted">[[inspection.apgar_score_10]]</td>
                                <td ng-if="!inspection.deleted">
                                    <div ng-if="inspection.diseases.length">Заболевания новорождённого:</div>
                                    <div ng-repeat="mkb in inspection.diseases">[[mkb.code]] - [[mkb.name]]</div>
                                    <div ng-if="!inspection.alive && inspection.death_reasons">Причина смерти:</div>
                                    <div ng-if="!inspection.alive" >[[inspection.death_reasons]]</div>
                                </td>
                                <td ng-if="!inspection.deleted" class="col-md-1 nowrap">
                                    <a class="btn btn-primary" href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_child[[$index+1]]"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                                    <a class="btn btn-danger" ng-click="newborn_inspection_delete(inspection)"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">&nbsp;</td>
                                <td>
                                    <a class="btn btn-success"
                                       href="{{ url_for('.html_epicrisis_edit') }}?event_id=[[ chart.id ]]#tab_sixth"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </tab>
        </tabset>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('props_descriptor', angular.fromJson('{{props_descriptor|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/epicrisis.js', v=app_version) }}"></script>
{% endblock %}