{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="EventDiagnosesCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title('Диагнозы случая') }}
        {{ rimacros.navigation('[[ chart.id ]]') }}
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1">МКБ</th>
                            <th class="col-md-5">Название</th>
                            <th class="col-md-3">Начало</th>
                            <th class="col-md-3">Окончание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="diag in chart.diagnoses">
                            <td style="text-align:center;">[[ diag.diagnostic.mkb.code ]]</td>
                            <td>[[ diag.diagnostic.mkb.name ]]</td>
                            <td>[[ diag.set_date | asDate ]]<br/>[[ diag.person.name ]]</td>
                            <td>[[ diag.end_date | asDate ]]<br/>[[ diag.end_date ? diag.modify_person.name : "" ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/event_diagnoses.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
{% endblock %}