{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="EventDiagnosesCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title('Диагнозы случая') }}
        <div class="novmargin">
            <div class="btn-group">
                <a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]" class="btn btn-default">Карта пациентки</a>
                <a ng-href="{{ url_for('.html_anamnesis') }}?event_id=[[ chart.id ]]" class="btn btn-default">Анамнез</a>
                <a ng-href="{{ url_for('.html_inspection') }}?event_id=[[ chart.id ]]" class="btn btn-default">Осмотры</a>
                <a ng-href="{{ url_for('.html_routing') }}?event_id=[[ chart.id ]]&emergency=1" class="btn btn-default">Маршрутизация</a>
                <a ng-href="{{ url_for('.html_epicrisis') }}?event_id=[[ chart.id ]]" class="btn btn-default">Эпикриз</a>
                <a ng-class="{disabled: !ps.is_available()}" ng-click="open_print_window()" class="btn btn-default">Печать</a>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Дополнительно <span class="fa fa-caret-down"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a ng-href="{{ url_for('.html_event_diagnoses') }}?event_id=[[ chart.id ]]">Диагнозы случая</a></li>
                        <li><a ng-href="{{ url_for('.html_event_measure') }}?event_id=[[ chart.id ]]">Мероприятия случая</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1">МКБ</th>
                            <th class="col-md-4">Название</th>
                            <th class="col-md-2">Начало</th>
                            <th class="col-md-1">Окончание</th>
                            <th class="col-md-4">Контекст</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="diag in chart.diagnoses">
                            <td style="text-align:center;">[[ diag.diagnostic.mkb.code ]]</td>
                            <td>[[ diag.diagnostic.mkb.name ]]</td>
                            <td>[[ diag.set_date | asDate ]]<br/>[[ diag.person.name ]]</td>
                            <td>[[ diag.end_date | asDate ]]<br/>[[ diag.end_date ? diag.modify_person.name : "" ]]</td>
                            <td>[[ diag.diagnostic.action.action_type.name ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/event_diagnoses.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
{% endblock %}