{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
    <div ng-controller="EventRoutingCtrl">
        <div alert-notify></div>
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index_html') }}">Рабочий стол</a></li>
            <li><a ng-href="{{ url_for('.html_chart') }}?event_id=[[ chart.id ]]">Карта пациентки</a></li>
            <li>Выбор ЛПУ для {% if 'emergency' in request.args %}экстренного{% else %}планового{% endif %} случая</li>
        </ul>
{#        <div class="row marginal">#}
{#            <div class="col-md-10">#}
{#                <ui-select ng-model="chart.lpu" theme="select2" ref-book="Organisation">#}
{#                    <ui-select-match>[[ $select.selected.short_name ]]</ui-select-match>#}
{#                    <ui-select-choices repeat="org in $refBook.objects | filter: {is_hospital: true, short_name: $select.search} | limitTo:50">#}
{#                        <div ng-bind-html="org.short_name | highlight: $select.search"></div>#}
{#                    </ui-select-choices>#}
{#                </ui-select>#}
{#            </div>#}
{#            <div class="col-md-2">#}
{#                <button ng-click="save()" class="btn btn-success btn-block">Сохранить</button>#}
{#            </div>#}
{#        </div>#}
        <div class="row small-marginal">
            <div class="col-lg-10 col-md-10">
                <h2>
                    Выбор ЛПУ для {% if 'emergency' in request.args %}экстренного{% else %}планового{% endif %} случая
                    <a ng-href="{{ url_for('patients.patient_info_full') }}?client_id=[[ header.client.id ]]">[[ header.client.full_name ]]</a>
                    ([[ header.event.external_id ]])
                </h2>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="alert-warning small-marginal">Случай беременности. На учёте в <b>[[ header.event.person.organisation.short_name ]]</b>
                    у <b>[[ header.event.person.name ]]</b>
                    с <b>[[ header.event.set_date | asDate ]]</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Диагнозы</div>
                    <div class="panel-body">
                        <div fs-checkbox items="chart.diagnoses" ng-model="selected_diagnoses">
                            <span>[[ item.code ]] - [[ item.name ]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form name="selectLpuForm" form-safe-close="getUnsavedFormText()">
                    <div class="panel panel-default">
                        <div class="panel-heading">ЛПУ
                            <a class="pull-right" ng-href="{{ url_for('.html_routing', event_id=request.args.get('event_id'), emergency=None if request.args.get('emergency') else 1)}}"
                                title="[[getOtherRoutingText()]]" ng-bind="getOtherRoutingText()"></a>
                        </div>
                        <div class="panel-body" >
                            <div class="row">
                            <div class="col-md-9">
                                <div class="small-marginal" ng-class="getCurrentLpuLabelClass()">
                                    <h3 style="margin-top: 5px">Текущее выбранное: <span style="font-weight: bold">[[ chart.lpu.short_name ]]</span></h3>
                                </div>
                                <div fs-radio="" items="orgs" ng-model="chart.lpu" ng-if="orgs.length > 0">
                                    [[ item.short_name ]]
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success pull-right" title="Сохранить" ng-click="save()">Сохранить</button>
                            </div>
                            </div>
                            <div ng-if="orgs.length === 0">
                                <h3 class="text-center">Подходящие ЛПУ не найдены.<br>
                                    <small>Уберите часть выбранных диагнозов для вывода учреждений более широкого профиля.</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/event_routing.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}