{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол куратора первого уровня</h1>
</section>
<section class="content">
    <div ng-controller="IndexOverseer1Ctrl" class="ng-cloak">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" ng-model="query" placeholder="Быстрый поиск" autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('.html_search') }}">Расширенный поиск</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% include "risar/desktop/patient_list.html" %}
                <div class ="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class ="row">
                    <div class="col-md-6">
                        {% include "risar/desktop/annual_reports.html" %}
                    </div>
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Срочные поручения</h3>
                                <span class="badge label-info">5</span>
                                <div class="box-tools pull-right">
                        {#            <ul class="pagination pagination-sm no-margin" style="vertical-align: middle;">#}
                        {#                <li><a href="#">«</a></li>#}
                        {#                <li><a href="#">1</a></li>#}
                        {#                <li><a href="#">2</a></li>#}
                        {#                <li><a href="#">3</a></li>#}
                        {#                <li><a href="#">»</a></li>#}
                        {#            </ul>#}
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Номер</th>
                                        <th>Риск</th>
                                        <th>ФИО</th>
                                        <th>Статус</th>
                                    </tr>
                                    <tr>
                                        <td>12/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Подшивалова Баира Петровна</td>
                                        <td><span class="label label-warning">Ожидает выполнения</span></td>
                                    </tr>
                                    <tr>
                                        <td>56/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Ксантос Альбина Сергеевна</td>
                                        <td><span class="label label-danger">Просрочено</span></td>
                                    </tr>
                                    <tr>
                                        <td>33/2015</td>
                                        <td><span class="label label-danger">высокий</span></td>
                                        <td>Полякова Наталья Сергеевна</td>
                                        <td><span class="label label-warning">Ожидает выполнения</span></td>
                                    </tr>
                                    <tr>
                                        <td>78/2015</td>
                                        <td><span class="label label-warning">средний</span></td>
                                        <td>Неверова Анна Эдуардовна</td>
                                        <td><span class="label label-danger">Просрочено</span></td>
                                    </tr>
                                    <tr>
                                        <td>56/2015</td>
                                        <td><span class="label label-warning">средний</span></td>
                                        <td>Полякова Наталья Сергеевна</td>
                                        <td><span class="label label-danger">Просрочено</span></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td colspan="4"><a href="#">Все поручения</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-trophy"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Совокупная оценка</span>
                        <span class="info-box-number">90%</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 20%"></div>
                        </div>
                        <span class="progress-description">
                        20% рост за последние 30 дней
                      </span>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <nvd3-multi-bar-horizontal-chart
                            id="chart_fill_assessment"
                            data="chart_fill_assessment"
                            width="400"
                            height="200"
                            nodata="Нет данных"
                            showXAxis="true"
                            margin="{left:100,top:0,bottom:0,right:0}"
                            showlabels="true"
                            labeltype="value"
                            showValues="true"
                            ><svg></svg>
                        </nvd3-multi-bar-horizontal-chart>
                    </div>
                </div>
                {% include "risar/desktop/diagram_risk_rates.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index_overseer1.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}