{% extends 'risar/base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>Рабочий стол</h1>
</section>
<section class="content">
    <div ng-controller="IndexCtrl" class="ng-cloak">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" ng-model="query" placeholder="Быстрый поиск">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('.html_search') }}">Расширенный поиск</a>
            </div>
        </div>
        {% if user_profiles_mng.has_ui_obstetrician() %}
            <div class="row">
                <div class="col-md-12">
                    {% include "risar/desktop/patient_list.html" %}
                </div>
            </div>
        {% elif user_profiles_mng.has_ui_overseer_low() %}
            <div class="row">
                <div class="col-md-8">
                    {% include "risar/desktop/patient_list.html" %}
                    {% include "risar/desktop/annual_reports.html" %}
                </div>
                <div class="col-md-4">
                    {% include "risar/desktop/diagram_risk_rates.html" %}
                </div>
            </div>
        {% elif user_profiles_mng.has_ui_overseer_high() %}
            <div class="row">
                <div class="col-md-4">
                    {% include "risar/desktop/diagram_risk_rates.html" %}
                </div>
                <div class="col-md-4">
                    {% include "risar/desktop/diagram_infants_death.html" %}
                </div>
                <div class="col-md-4">
                    {% include "risar/desktop/diagram_maternal_death.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% include "risar/desktop/annual_reports.html" %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/index.js', v=version) }}"></script>
    <script src="{{ url_for('.static', filename='js/risar.js', v=version) }}"></script>
{% endblock %}