{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{% import 'risar/_inspection_macros.html' as inspection_macros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="CheckupSecondEditCtrl" ng-cloak>
    <section class="content-header">
        {% if debug_data %}<pre>{{ debug_data.ca }}</pre>{% endif %}
        {{ rimacros.page_title_n('Ввод данных повторного осмотра') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div rc-wizard="sampleWizard" id="sampleWizard" class="wizard-container-6">
            <div class="row">
                <div class="col-sm-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Шаги</h3>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a aria-controls="common" class="active" href="#common" data-toggle="tab">
                                        <span class="badge">1</span>
                                        <span>Лист динамического наблюдения</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="somatic" href="#somatic" data-toggle="tab">
                                        <span class="badge">2</span>
                                        <span>Соматический статус</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="obstetrician" href="#obstetrician" data-toggle="tab">
                                        <span class="badge">3</span>
                                        <span>Акушерский статус</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="fetus" href="#fetus" data-toggle="tab">
                                        <span class="badge">4</span>
                                        <span>Данные плода</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="conclusion" href="#conclusion" data-toggle="tab">
                                        <span class="badge">5</span>
                                        <span>Заключение</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="ticket" href="#ticket_25" data-toggle="tab">
                                        <span class="badge">6</span>
                                        <span>Талон посещения</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="diagnostic" href="#diagnostic" data-toggle="tab">
                                        <span class="badge">7</span>
                                        <span>Диагностические мероприятия</span>
                                        <i class="fa fa-exclamation-circle text-red pull-right" style="font-size: larger"
                                            title="[[checkup.em_error]]" ng-if="checkup.em_error"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <ng-form class="tab-pane active" id="common" name="commonForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 1. Лист динамического наблюдения</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-right col-md-4">Дата осмотра <span class="text-danger">*</span></th>
                                        <td class="col-md-8">
                                            <wm-date ng-class="{'has-error': commonForm.beg_date.$invalid && commonForm.submit_attempt}" name="beg_date"
                                                     ng-model="checkup.beg_date" style="width: 250px" ng-required="true"></wm-date>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Время осмотра <span class="text-danger">*</span></th>
                                        <td><wm-time ng-class="{'has-error': commonForm.beg_time.$invalid && commonForm.submit_attempt}" name="beg_time"
                                                     ng-model="checkup.beg_date" style="width: 250px" ng-required="true"></wm-time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Масса при осмотре, кг <span class="text-danger">*</span></th>
                                        <td><div class="row"
                                                 ng-class="{'has-error': commonForm.weight.$invalid && commonForm.submit_attempt}">
                                            <div class="col-md-2">
                                                <input name="weight" ng-model="checkup.weight" class="form-control"
                                                       ng-required="true" autofocus>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">АД правая рука <span class="text-danger">*</span></th>
                                        <td><div class="row"
                                                 ng-class="{'has-error': (commonForm.ad_right_high.$invalid || commonForm.ad_right_low.$invalid)  && commonForm.submit_attempt}">
                                            <div class="col-md-4">
                                                <input name="ad_right_high" ng-model="checkup.ad_right_high"
                                                       maxlength="3" ng-required="true" class="form-control blood_presure">
                                                <span>/</span>
                                                <input name="ad_right_low" ng-model="checkup.ad_right_low"
                                                       maxlength="3" ng-required="true" class="form-control blood_presure">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">АД левая рука <span class="text-danger">*</span></th>
                                        <td><div class="row"
                                                 ng-class="{'has-error': (commonForm.ad_left_high.$invalid || commonForm.ad_left_low.$invalid) && commonForm.submit_attempt}">
                                            <div class="col-md-4">
                                                <input maxlength="3" name="ad_left_high" ng-model="checkup.ad_left_high"
                                                       class="form-control blood_presure" ng-required="true">
                                                <span>/</span>
                                                <input maxlength="3" name="ad_left_low" ng-model="checkup.ad_left_low"
                                                       class="form-control blood_presure" ng-required="true">
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Комментарии к анализам <span>&nbsp;</span></th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Мочи <span>&nbsp;</span></td>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.urine" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Крови <span>&nbsp;</span></td>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.blood" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">УЗИ <span>&nbsp;</span></td>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.us" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Другое <span>&nbsp;</span></td>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.other_analysis" /></div></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="somatic" name="somaticForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 2. Соматический статус</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-right col-md-4">Общее состояние <span class="text-danger">*</span></th>
                                        <td class="col-md-8"><div class="row" ng-class="{'has-error': somaticForm.state.$invalid && somaticForm.submit_attempt}">
                                            <div class="col-md-4">
                                                <rb-select name="state" ng-model="checkup.state" ref-book="rbRisarState" ng-required="true"></rb-select>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Жалобы <span class="text-danger">*</span></th>
                                        <td><div ng-class="{'text-danger': somaticForm.complaints.$invalid && somaticForm.submit_attempt}">
                                            <div name="complaints" refbook-checkbox ref-book="rbRisarComplaints" ng-model="checkup.complaints" ng-required="true">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Отеки <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.edema" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Кожа <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="skin" refbook-checkbox ref-book="rbRisarSkin" ng-model="checkup.skin">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Лимфоузлы <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="lymph" refbook-checkbox ng-model="checkup.lymph_nodes" ref-book="rbRisarLymph">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Молочные железы <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="breast" refbook-checkbox ng-model="checkup.breast" ref-book="rbRisarBreast">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Состояние сосков <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="nipples" refbook-checkbox ng-model="checkup.nipples" ref-book="rbRisarNipples">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Тоны сердца <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="heart_tones" refbook-checkbox ng-model="checkup.heart_tones"
                                                 ref-book="rbRisarHeart_Tones">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Органы дыхания <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="breathe" refbook-checkbox ng-model="checkup.breathe" ref-book="rbRisarBreathe">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Органы брюшной полости <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="stomach" refbook-checkbox ng-model="checkup.stomach" ref-book="rbRisarStomach">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Печень <span>&nbsp;</span></th>
                                        <td><div>
                                            <div name="liver" refbook-checkbox ng-model="checkup.liver" ref-book="rbRisarLiver">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Выделения <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-4">
                                            <rb-select ng-model="checkup.secretion" ref-book="rbRisarSecretion"></rb-select></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Физиологические отправления <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.bowel_and_bladder_habits" /></div></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="obstetrician" name="obstetricianForm"  novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 3. Акушерский статус</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-right col-md-4">Окружность живота</th>
                                        <td class="col-md-8"><div class="row"><div class="col-md-2"><input ng-model="checkup.abdominal" class="form-control"></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Высота стояния дна матки</th>
                                        <td><div class="row"><div class="col-md-2"><input ng-model="checkup.fundal_height" class="form-control"></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Состояние матки</th>
                                        <td><div class="row" ng-class="{'has-error': obstetricianForm.metra_state.$invalid && obstetricianForm.submit_attempt}">
                                            <div class="col-md-4">
                                            <rb-select name="metra_state" ng-model="checkup.metra_state" ref-book="rbRisarMetra_State"></rb-select>
                                        </div></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="fetus" name="fetusForm"  novalidate rc-submit rc-step box-wizard>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 4. Данные плода</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th class="text-right">Дата первого шевеления <span>&nbsp;</span></th>
                                            <td><div class="row"><div class="col-md-4">
                                                <wm-date ng-model="checkup.fetus_first_movement_date" style="width: 250px"></wm-date></div></div></td>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Шевеление <span>&nbsp;</span></th>
                                            <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.fetus_movement" /></div></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary text-left marginal" ng-click="add_child()"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
                                            <ul class="nav nav-pills nav-stacked  marginal" id="childrenTabs">
                                                <li ng-class="{'active': $index==0}" ng-repeat="child in checkup.fetuses | flt_not_deleted">
                                                    <a href="#fetus[[$index+1]]" data-toggle="pill">
                                                        Плод [[$index+1]]<button class="text-red close btn btn-small btn-default closeBtn"
                                                                                    ng-click="delete_child(child)" type="button"
                                                                                    tooltip="Удалить">
                                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                            </button>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="tab-content">
                                                <div ng-class="{'active': $index==0}" class="tab-pane" id="fetus[[$index+1]]"
                                                     ng-repeat="child in checkup.fetuses | flt_not_deleted">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th class="col-md-4"></th>
                                                            <th class="col-md-8"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th class="text-right">Положение <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-4">
                                                                    <rb-select ng-model="child.state.position" ref-book="rbRisarFetus_Position"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Позиция <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-4">
                                                                    <rb-select ng-model="child.state.position_2" ref-book="rbRisarFetus_Position_2"></rb-select>
                                                                </div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Вид плода <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-4"><rb-select ng-model="child.state.type" ref-book="rbRisarFetus_Type"></rb-select>
                                                                </div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Предлежание <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-4">
                                                                    <rb-select ng-model="child.state.presenting_part" ref-book="rbRisarPresenting_Part"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Задержка в развитии <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-4">
                                                                    <rb-select ng-model="child.state.delay" ref-book="rbRisarFetus_Delay"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Сердцебиение </th>
                                                                <td><div ng-class="{'text-danger': somaticForm.heartbeat.$invalid && somaticForm.submit_attempt}">
                                                                    <div name="heartbeat" refbook-checkbox ng-model="child.state.heartbeat" ref-book="rbRisarFetus_Heartbeat" ng-required="false">
                                                                        [[ item.name ]]
                                                                    </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">ЧСС, уд/мин <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-3">
                                                                    <input ng-model="child.state.heart_rate" class="form-control"></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Данные КТГ <span>&nbsp;</span></th>
                                                                <td><div class="row"><div class="col-md-3">
                                                                    <input type="checkbox" ng-model="child.state.ktg_input"
                                                                        ng-change="calcFetusFisherKtgInfo(child.state)"></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Базальный ритм <span class="text-danger">*</span></th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <rb-select ng-model="child.state.basal" ref-book="rbRisarBasal"
                                                                               ng-disabled="!child.state.ktg_input" ng-required="child.state.ktg_input"
                                                                               ng-change="calcFetusFisherKtgInfo(child.state)"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Вариабельность (амплитуда) <span class="text-danger">*</span></th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <rb-select ng-model="child.state.variability_range" ref-book="rbRisarVariabilityRange"
                                                                               ng-disabled="!child.state.ktg_input" ng-required="child.state.ktg_input"
                                                                               ng-change="calcFetusFisherKtgInfo(child.state)"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Вариабельность (частота в минуту) <span class="text-danger">*</span></th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <rb-select ng-model="child.state.frequency_per_minute" ref-book="rbRisarFrequencyPerMinute"
                                                                               ng-disabled="!child.state.ktg_input" ng-required="child.state.ktg_input"
                                                                               ng-change="calcFetusFisherKtgInfo(child.state)"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Акселерации за 30 минут <span class="text-danger">*</span></th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <rb-select ng-model="child.state.acceleration" ref-book="rbRisarAcceleration"
                                                                               ng-disabled="!child.state.ktg_input" ng-required="child.state.ktg_input"
                                                                               ng-change="calcFetusFisherKtgInfo(child.state)"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Децелерации за 30 минут <span class="text-danger">*</span></th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <rb-select ng-model="child.state.deceleration" ref-book="rbRisarDeceleration"
                                                                               ng-disabled="!child.state.ktg_input" ng-required="child.state.ktg_input"
                                                                               ng-change="calcFetusFisherKtgInfo(child.state)"></rb-select></div></div></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right">Оценка КТГ по Фишеру </th>
                                                                <td><div class="row"><div class="col-md-8">
                                                                    <input type="text" disabled class="form-control" ng-model="child.state.fisher_ktg_points">
                                                                    <span class="help-block" ng-if="child.state.fisher_ktg_rate"
                                                                          ng-bind="child.state.fisher_ktg_rate.name"></span>
                                                                    </div></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="conclusion" name="conclusionForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 5. Заключение</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-right col-md-4">Диагнозы <span>&nbsp;</span></th>
                                        <td class="col-md-8">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <wm-diagnosis-new ng-model="checkup.diagnoses" can-add-new="true" can-edit="true" diag-types="checkup.diagnosis_types"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Срок беременности <span class="text-danger">*</span></th>
                                        <td>
                                            <div class="row"
                                                 ng-class="{'has-error': ticketForm.pregnancy_week.$invalid && ticketForm.submit_attempt}">
                                                <div class="col-md-2">
                                                    <input name="pregnancy_week" ng-model="checkup.pregnancy_week"
                                                           class="form-control" type="number" min="1" max="45" valid-number ng-required="true">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Возможность сохранения беременности <span class="text-danger">*</span></th>
                                        <td>
                                        <div>
                                              <input type="radio" ng-model="checkup.pregnancy_continuation" ng-value="true" required>  Да <br/>
                                              <input type="radio" ng-model="checkup.pregnancy_continuation" ng-value="false" required> Нет <br/>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr ng-class="{'text-muted': pregContRefusalDisabled()}">
                                        <th class="text-right">Отказ от прерывания <span ng-class="{'text-muted': pregContRefusalDisabled(), 'text-danger': !pregContRefusalDisabled()}">*</span></th>
                                        <td>
                                        <div>
                                              <input type="radio" ng-model="checkup.pregnancy_continuation_refusal" ng-value="true"
                                                ng-disabled="pregContRefusalDisabled()" ng-required="pregContRefusalRequired()">  Да <br/>
                                              <input type="radio" ng-model="checkup.pregnancy_continuation_refusal" ng-value="false"
                                                ng-disabled="pregContRefusalDisabled()" ng-required="pregContRefusalRequired()"> Нет <br/>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Витаминизация <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.fortification" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Коррекция питания <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.nutrition" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Лечение <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.treatment" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Плановая дата следующей явки <span class="text-danger">*</span></th>
                                        <td><div ng-class="{'has-error': ticketForm.next_date.$invalid}">
                                            <wm-date name="next_date" ng-model="checkup.next_date" style="width: 250px" ng-required="true"></wm-date>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Примечания <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.notes" /></div></div></td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Рекомендации <span>&nbsp;</span></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.recommendations" /></div></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        {{ inspection_macros.ticket_25(6) }}
                        {{ inspection_macros.diagnostics(7) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9">
                    <div class="box-footer">
                        <div class="pull-right">
                        <a class="pseudo-btn" ng-href="{{ url_for('.html_inspection') }}?event_id=[[ header.event.id ]]">Перейти на форму осмотров пациентки</a>
                        <ui-print-button ng-show="rc.sampleWizard.currentIndex == 5" ps="ps_talon" resolve="ps_resolve()">Печать талона</ui-print-button>
                        <ui-print-button ng-show="rc.sampleWizard.currentIndex == 4" ps="ps_si"
                                         resolve="ps_resolve_inspection()" before-print="save(rc.sampleWizard.currentStep.formController)">Печать</ui-print-button>
                        <a class="btn btn-success"
                           ng-click="save(rc.sampleWizard.currentStep.formController)"
                           tooltip="[[rc.sampleWizard.currentStep.formController.$invalid && rc.sampleWizard.currentStep.formController.submit_attempt ? 'Заполните все обязательные поля': '']]"
                           ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Сохранить</a>
                        <a class="btn btn-primary"
                           ng-click="save_forward(rc.sampleWizard.currentStep.formController)"
                           tooltip="[[rc.sampleWizard.currentStep.formController.$invalid && rc.sampleWizard.currentStep.formController.submit_attempt ? 'Заполните все обязательные поля': '']]"
                           ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">
                            Сохранить и продолжить
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/checkup.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/checkup_second.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/event_measure_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/em_action_view.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_appointment.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_result.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_create_list.js', v=app_version) }}"></script>
    <script src="{{ url_for('actions.static', filename='js/action-layout.js', v=app_version) }}"></script>
    <script src="{{ url_for('actions.static', filename='js/action_editor.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/ezekiel.js', v=nemesis_version) }}"></script>
{% endblock %}