{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
 {% import 'risar/_ticket_25_read.html' as ticket with context %}

{% block title %}> Первичный осмотр{% endblock %}

{% block main %}
<div ng-controller="CheckupFirstEditCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Первичный осмотр') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <tabset>
            <tab heading="Данные женщины">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Общая информация</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_common">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Дата осмотра:</div>
                                    <div class="col-sm-9 col-md-9">[[checkup.beg_date|asDateTime]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Рост:</div>
                                    <div class="col-sm-9 col-md-9">
                                        [[checkup.height]]
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Масса при осмотре:</div>
                                    <div class="col-sm-9 col-md-9">[[checkup.weight]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Массо-ростовой коэффициент (МРК):</div>
                                    <div class="col-sm-9 col-md-9">[[checkup.hw_ratio]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Индекс массы тела:</div>
                                    <div class="col-sm-9 col-md-9 long-words">
                                        [[checkup.BMI]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Соматический статус</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_somatic">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Общее состояние:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.state.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Язык:</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.tongue" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Подкожно-жировая клетчатка:</div>
                                    <div class="col-sm-7 col-md-7 ">[[checkup.subcutaneous_fat.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Состояние вен:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.vein.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Отеки:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="checkup.edema"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">АД правая рука</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.ad_right_high]]/[[checkup.ad_right_low]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">АД левая рука</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.ad_left_high]]/[[checkup.ad_left_low]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">ССС: пульс</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.heart_rate]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Пульс</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.pulse" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Жалобы</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.complaints" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Кожа</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.skin" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Лимфоузлы</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.lymph" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Тоны сердца</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.heart_tones" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Молочные железы</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.breast" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Состояние сосков </div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.nipples" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Органы дыхания</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.breathe" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Органы брюшной полости</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.stomach" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Печень</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.liver" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Мочевыводящая система</div>
                                    <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.urinoexcretory" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Физиологические отправления</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.bowel_and_bladder_habits]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Акушерский статус</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_obstetrician">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right"><b>Ромб Михаэлиса</b></div>
                                    <div class="col-sm-6 col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Горизонтальная диагональ:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.MikHHor]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Вертикальная диагональ:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.MikhVert]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right"><b>Размеры таза</b></div>
                                    <div class="col-sm-6 col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Ds. Sp:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.DsSP]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Ds. Cr:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.DsCr]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Ds. Tr:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.DsTr]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">C. Ext:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.CExt]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">C. Diag:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.CDiag]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">C. Vera:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.CVera]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Индекс Соловьёва:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.soloviev_index]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right"><b>Форма таза</b></div>
                                    <div class="col-sm-6 col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Степень сужения таза:</div>
                                    <div class="col-sm-6 col-md-6 long-words">[[checkup.pelvis_narrowness.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Форма таза:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pelvis_form.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Окружность живота:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.abdominal]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Высота стояния дна матки:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.fundal_height]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">Состояние матки:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.metra_state.name]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Влагалищное исследование</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_vagina">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Наружные половые органы:</div>
                                    <div class="col-sm-7 col-md-7 long-words">[[checkup.externalia]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Влагалище:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.vagina.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Шейка матки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Длина шейки матки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_length.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Позиция шейки матки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_position.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Зрелость шейки матки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_maturity.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Консистенция шейки матки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_consistency.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Цервикальный канал:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervical_canal.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Тело матки:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <span ng-repeat="elem in checkup.body_of_womb" >[[elem.name]][[$last ? '' : ', ']]</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Придатки:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.appendages.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Околоматочное пространство :</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.parametrium.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Особенности:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="checkup.features"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right"><b>Взято на анализ</b></div>
                                    <div class="col-sm-7 col-md-7"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Отделяемое из влагалища:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.vagina_secretion ? 'да': 'нет']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Отделяемое из цервикального канала:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervical_canal_secretion ? 'да': 'нет']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Отделяемое из уретры:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.urethra_secretion ? 'да': 'нет']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">Мазок на онкоцитологию:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.onco_smear ? 'да': 'нет']]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Заключение</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_conclusion">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <!-- TODO: Отображение диагнозов -->
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Основной диагноз:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'main'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Сопутствующие диагнозы:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'associated'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Диагноз осложнения:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'complication'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Беременность (недель):</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_week]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Возможность сохранения беременности:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_continuation ? 'да': 'нет']]</div>
                                </div>
                                <div class="row" ng-show="!pregContRefusalDisabled()">
                                    <div class="col-sm-6 col-md-6  text-right">Отказ от прерывания:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_continuation_refusal ? 'да': 'нет']]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Изменение условий труда:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.craft.name]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Плановая дата следующей явки:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.next_date|asDate]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Примечания:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.notes"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Рекомендации:</div>
                                    <div class="col-md-6 long-words" ng-bind-html="checkup.recommendations"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- START TICKET 25 -->
                    <div class="col-md-12">
                        {{ ticket.ticket_25_read(url_for('.html_inspection_edit'))}}
                    </div>
                    <!-- END TICKET 25 -->
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Мероприятия</h3>
                                <a class="print_link pull-right" ng-if="!checkup.end_date"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_diagnostic">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="30%">Название мероприятия</th>
                                            <th>Дата начала</th>
                                            <th>Дата окончания</th>
                                            <th>Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="measure in checkup.measures" ng-class="{ 'measure-manual': !measure.data.scheme }">
                                            <td><span ng-bind="measure.data.measure.name"></span>
                                            </td>
                                            <td>[[ measure.data.beg_datetime | asDateTime ]]</td>
                                            <td>[[ measure.data.end_datetime | asDateTime ]]</td>
                                            <td>
                                                <event-measure-status status="measure.data.status"></event-measure-status>
                                                <span ng-if="emIsNotActual(em)">(Неактуально)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Данные плода">
                <div class="row">
                    <div class="col-md-6">
                        <div ng-class="{'active': $index==0}" class="tab-pane" id="fetus[[$index+1]]"
                             ng-repeat="child in checkup.fetuses | flt_not_deleted">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Плод [[$index+1]]</h3>
                                    <a class="print_link pull-right" ng-if="!checkup.end_date"
                                       href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_fetus">
                                        <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Положение:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.position.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Позиция:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.position_2.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Вид плода:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.type.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Предлежание:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.presenting_part.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Сердцебиение:</div>
                                        <div class="col-sm-6 col-md-6"><span ng-repeat="elem in child.state.heartbeat" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">ЧСС, уд/мин:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.heart_rate]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </section>
</div>

{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/checkup.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/checkup_first.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/event_measure_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/em_action_view.js', v=app_version) }}"></script>
{% endblock %}