{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> Осмотр родильницы{% endblock %}

{% block main %}
<div ng-controller="CheckupPuerperaEditCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Осмотр родильницы') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Общая информация</h3>
                        <a class="print_link pull-right" ng-if="!checkup.end_date"
                           href="{{ url_for('.html_inspection_puerpera_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_common">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-3 col-md-3  text-right">Дата осмотра:</div>
                            <div class="col-sm-9 col-md-9">[[checkup.beg_date|asDateTime]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3  text-right">Дата родов:</div>
                            <div class="col-sm-9 col-md-9">
                                [[checkup.deliveryDate|asDate]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3  text-right">Срок после родов, недель:</div>
                            <div class="col-sm-9 col-md-9">[[checkup.timeAfterDelivery]]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Данные осмотра</h3>
                        <a class="print_link pull-right" ng-if="!checkup.end_date"
                           href="{{ url_for('.html_inspection_puerpera_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_somatic">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Общее состояние:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.state.name]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">АД правая рука:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.ad_right_high]]/[[checkup.ad_right_low]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">АД левая рука:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.ad_left_high]]/[[checkup.ad_left_low]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Жалобы:</div>
                            <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.complaints" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Состояние вен:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.vein.name]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Состояние молочных желез:</div>
                            <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.breast" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Состояние сосков:</div>
                            <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.nipples" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Лактация:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.lactation.name]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Состояние матки:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.uterus.name]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Состояние послеоперационного рубца:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.scar.name]]</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Выделения:</div>
                            <div class="col-sm-7 col-md-7"><span ng-repeat="elem in checkup.secretion" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Заключение</h3>
                        <a class="print_link pull-right" ng-if="!checkup.end_date"
                           href="{{ url_for('.html_inspection_puerpera_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_conclusion">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 text-right">Рекомендации по контрацепции:</div>
                            <div class="col-sm-7 col-md-7">[[checkup.contraception.name]]</div>
                        </div>
                        <!-- TODO: Отображение диагнозов -->
                        <div class="row">
                            <div class="col-sm-5 col-md-5  text-right">Основной диагноз:</div>
                            <div class="col-sm-7 col-md-7">
                                <!--| collapse_diagnoses:'main'-->
                                <div ng-repeat="diag in checkup.diagnoses">
                                    [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5  text-right">Лечение:</div>
                            <div class="col-sm-7 col-md-7 long-words" ng-bind-html="checkup.treatment"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-md-5  text-right">Рекомендации:</div>
                            <div class="col-md-7 long-words" ng-bind-html="checkup.recomendations"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Мероприятия</h3>
                        <a class="print_link pull-right" ng-if="!checkup.end_date"
                           href="{{ url_for('.html_inspection_puerpera_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_diagnostic">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="30%">Название мероприятия</th>
                                    <th>Дата начала</th>
                                    <th>Дата окончания</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="measure in checkup.measures" ng-class="{ 'measure-manual': !measure.data.scheme }">
                                    <td><span ng-bind="measure.data.measure.name"></span>
                                    </td>
                                    <td>[[ measure.data.beg_datetime | asDateTime ]]</td>
                                    <td>[[ measure.data.end_datetime | asDateTime ]]</td>
                                    <td>
                                        <event-measure-status status="measure.data.status"></event-measure-status>
                                        <span ng-if="emIsNotActual(em)">(Неактуально)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/checkup_puerpera.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/event_measure_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/em_action_view.js', v=app_version) }}"></script>
{% endblock %}