{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{% import 'risar/_inspection_macros.html' as imacros with context %}

{% block title %}> Осмотры акушером-гинекологом беременной{% endblock %}

{% block main %}
<div ng-controller="InspectionViewCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_ext_n('Осмотры акушером-гинекологом беременной', 'inspection') }}
        {{ rimacros.navigation('[[ header.event.id ]]') }}
    </section>
    <section class="content">
        <div class="box box-primary">
        <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%" nowrap>Данные осмотра </th>
                    <th width="10%" nowrap ng-repeat="checkup in checkups">
                        <a ng-href="{{ url_for('.html_inspection_read') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]">[[ checkup.beg_date | asDate ]]</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="['risarFirstInspection', 'risarSecondInspection'].indexOf(checkup.flat_code) !== -1" ng-class="{disabled: !ps_fi.is_available()}">
                                    <a href="#" ng-click="print_checkup(checkup)" >Печать</a></li>
                                <li>{{ imacros.checkup_ticket_25_print_link() }}</li>
                                <li ng-if="checkup.flat_code != 'risarPCCheckUp'" ng-class="{disabled: !canEditCheckup($index)}">
                                    <a href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]"
                                        ng-if="canEditCheckup($index)">Изменить</a>
                                    <a href="javascript:void(0)" ng-if="!canEditCheckup($index)">Изменить</a>
                                </li>
                                <li ng-if="checkup.flat_code == 'risarPCCheckUp'" ng-class="{disabled: !canEditCheckup($index)}">
                                    <a href="{{ url_for('.html_inspection_pc_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]"
                                        ng-if="canEditCheckup($index)">Изменить</a>
                                    <a href="javascript:void(0)" ng-if="!canEditCheckup($index)">Изменить</a>
                                </li>
                                <li ng-if="canEditCheckup($index) && checkup.flat_code != 'risarPCCheckUp'" ng-class="{disabled: !canEditCheckup($index)}" >
                                    <a href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&fill_from=[[checkup.id]]">Копировать</a></li>
                            </ul>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Врач</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.person.short_name ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Срок беременности (расчётный)</th>
                    <td ng-repeat="checkup in checkups">[[ checkup.pregnancy_week ]] ([[checkup.calculated_pregnancy_week]])</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Срок по УЗИ</th>
                    <td ng-repeat="checkup in checkups">[[checkup.calculated_pregnancy_week_by_ultrason ? checkup.calculated_pregnancy_week_by_ultrason :'Нет данных УЗИ для расчета']]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Диагнозы</th>
                    <td colspan="[[ checkups.length + 1 ]]"></td>
                </tr>
                <!-- TODO: Отображение диагнозов -->
                <tr>
                    <td>основной</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'main'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>сопутствующие</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'associated'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>осложнения</td>
                    <td ng-repeat="checkup in checkups">
                        <p ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'complication'">
                            <span class="bottom_dotted" tooltip="[[ diag.diagnostic.mkb.name ]]">
                                [[ diag.diagnostic.mkb.code ]]
                            </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th>Вес при осмотре</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.weight ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Прибавка в весе</th>
                    <td ng-repeat="checkup in checkups">
                        <span tooltip="Прибавка в весе на расчётный срок [[ checkup.pregnancy_week ]] [[declOfNum(checkup.pregnancy_week, ['неделя', 'недели', 'недель'])]]">
                            [[checkup.weight-first_checkup.weight]]</span>/<span tooltip="Прибавка в весе за [[ checkup.weight_gain[1] ]] [[declOfNum(checkup.weight_gain[1], ['день', 'дня', 'дней'])]]">[[ checkup.weight_gain[0] ]]</span></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Молочные железы</th>
                    <td ng-repeat="checkup in checkups"><p ng-repeat="item in checkup.breast">[[ item | format:'{name}' ]]</p></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Соски</th>
                    <td ng-repeat="checkup in checkups"><p ng-repeat="item in checkup.nipples">[[ item | format:'{name}' ]]</p></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Отёки</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.if_edema ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>АД левая рука</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.ad_left_high ]]/[[ checkup.ad_left_low ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>АД правая рука</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.ad_right_high ]]/[[ checkup.ad_right_low ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Окружность живота</th>
                    <td ng-repeat="checkup in checkups"> [[ checkup.abdominal ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Матка</th>
                    <td colspan="[[ checkups.length + 1 ]]"></td>
                </tr>
                <tr>
                    <td>Высота дна</td>
                    <td ng-repeat="checkup in checkups"> [[ checkup.fundal_height ]]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Состояние</td>
                    <td ng-repeat="checkup in checkups"> [[ checkup.metra_state.name ]]</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/chart.js', v=app_version) }}"></script>
{% endblock %}