{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{% import 'risar/_inspection_macros.html' as inspection_macros with context %}

{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
<div ng-controller="CheckupPuerperaEditCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Ввод данных осмотра родильницы') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div rc-wizard="sampleWizard" id="CheckupPuerperaWizard" class="wizard-container-7">
            <div class="row">
                <div class="col-sm-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Шаги</h3>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a aria-controls="common" class="active" href="#common" data-toggle="tab">
                                        <span class="badge">1</span>
                                        <span>Общая информация</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="checkup" href="#checkup" data-toggle="tab">
                                        <span class="badge">2</span>
                                        <span>Данные осмотра</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="conclusion" href="#conclusion" data-toggle="tab">
                                        <span class="badge">3</span>
                                        <span>Заключение</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="ticket" href="#ticket_25" data-toggle="tab">
                                        <span class="badge">4</span>
                                        <span>Талон посещения</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-controls="diagnostic" href="#diagnostic" data-toggle="tab">
                                        <span class="badge">5</span>
                                        <span>Диагностические мероприятия</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <ng-form class="tab-pane active" id="common" name="commonForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 1. Общая информация</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th class="text-right col-md-4">Дата осмотра <span class="text-danger">*</span></th>
                                        <td class="col-md-8">
                                            <wm-date ng-class="{'has-error': commonForm.beg_date.$invalid && commonForm.submit_attempt}" name="beg_date"
                                                     ng-model="checkup.beg_date" style="width: 250px" ng-required="true"></wm-date>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Время осмотра <span class="text-danger">*</span></th>
                                        <td><wm-time ng-class="{'has-error': commonForm.beg_time.$invalid && commonForm.submit_attempt}" name="beg_time"
                                                     ng-model="checkup.beg_date" style="width: 250px" ng-required="true"></wm-time>
                                        </td>
                                    </tr>
                                    {% if 'department' in checkup_descriptor %}
                                    <tr ng-if="checkupDescriptor.exists('department')">
                                        <th class="text-right col-md-4" ng-bind-html="checkupDescriptor.getLabel('department')"></th>
                                        <td class="col-md-4">
                                            <rb-select ref-book="OrgStructure" ng-model="checkup.department" limit-to="50"
                                                ng-required="checkupDescriptor.getMandatory('department')"
                                                ng-disabled="checkupDescriptor.getReadOnly('department')"
                                                custom-filter="departmentOrgStructFilter"></rb-select>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'deliveryDate' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right col-md-4" ng-bind-html="checkupDescriptor.getLabel('deliveryDate')"></th>
                                        <td class="col-md-8">
                                            <wm-date ng-model="checkup.deliveryDate" style="width: 250px"
                                                ng-required="checkupDescriptor.getMandatory('deliveryDate')"
                                                ng-disabled="checkupDescriptor.getReadOnly('deliveryDate')"></wm-date>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'timeAfterDelivery' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('timeAfterDelivery')"></th>
                                        <td><div class="row">
                                            <div class="col-md-2">
                                                <input ng-model="checkup.timeAfterDelivery" class="form-control"
                                                    ng-required="checkupDescriptor.getMandatory('timeAfterDelivery')"
                                                    ng-disabled="checkupDescriptor.getReadOnly('timeAfterDelivery')">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="checkup" name="checkupForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 2. Данные осмотра</h3>
                            </div>
                                <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    {% if 'state' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right col-md-4" ng-bind-html="checkupDescriptor.getLabel('state')"></th>
                                        <td class="col-md-8"><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="state" ng-model="checkup.state" ref-book="rbRisarState"
                                                       ng-required="checkupDescriptor.getMandatory('state')"
                                                       ng-disabled="checkupDescriptor.getReadOnly('state')"></rb-select>
                                            </div>
                                        </div></td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th class="text-right">АД правая рука <span>&nbsp;</span></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                                <input name="ad_right_high" ng-model="checkup.ad_right_high"
                                                       maxlength="3" class="form-control blood_presure"
                                                       ng-required="checkupDescriptor.getMandatory('ad_right_high')"
                                                       ng-disabled="checkupDescriptor.getReadOnly('ad_right_high')">
                                                <span>/</span>
                                                <input name="ad_right_low" ng-model="checkup.ad_right_low"
                                                       maxlength="3" class="form-control blood_presure"
                                                       ng-required="checkupDescriptor.getMandatory('ad_right_low')"
                                                       ng-disabled="checkupDescriptor.getReadOnly('ad_right_low')">
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">АД левая рука <span>&nbsp;</span></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                                <input maxlength="3" name="ad_left_high" ng-model="checkup.ad_left_high"
                                                       class="form-control blood_presure"
                                                       ng-required="checkupDescriptor.getMandatory('ad_left_high')"
                                                       ng-disabled="checkupDescriptor.getReadOnly('ad_left_high')">
                                                <span>/</span>
                                                <input maxlength="3" name="ad_left_low" ng-model="checkup.ad_left_low"
                                                       class="form-control blood_presure"
                                                       ng-required="checkupDescriptor.getMandatory('ad_left_low')"
                                                       ng-disabled="checkupDescriptor.getReadOnly('ad_left_low')">
                                            </div>
                                        </div></td>
                                    </tr>
                                    {% if 'complaints' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('complaints')"></th>
                                        <td><div ng-class="{'text-danger': checkupForm.complaints.$invalid && checkupForm.submit_attempt}">
                                            <div name="complaints" refbook-checkbox ref-book="rbRisarComplaints_Puerpera" ng-model="checkup.complaints"
                                                 ng-disabled="checkupDescriptor.getReadOnly('complaints')"
                                                 ng-required="checkupDescriptor.getMandatory('complaints')">
                                                [[ item.name ]]
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'vein' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('vein')"></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="vein" ng-model="checkup.vein" ref-book="rbRisarVein"
                                                 ng-disabled="checkupDescriptor.getReadOnly('vein')"
                                                 ng-required="checkupDescriptor.getMandatory('vein')"></rb-select>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'breast' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('breast')"></th>
                                        <td>
                                            <div name="breast" refbook-checkbox ng-model="checkup.breast" ref-book="rbRisarBreast_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('breast')"
                                                 ng-required="checkupDescriptor.getMandatory('breast')">
                                                [[ item.name ]]
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'nipples' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('nipples')"></th>
                                        <td>
                                            <div name="nipples" refbook-checkbox ng-model="checkup.nipples" ref-book="rbRisarNipples_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('nipples')"
                                                 ng-required="checkupDescriptor.getMandatory('nipples')">
                                                [[ item.name ]]
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'lactation' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('lactation')"></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="lactation" ng-model="checkup.lactation" ref-book="rbRisarLactation_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('lactation')"
                                                 ng-required="checkupDescriptor.getMandatory('lactation')"></rb-select>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'uterus' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('uterus')"></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="uterus" ng-model="checkup.uterus" ref-book="rbRisarUterus_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('uterus')"
                                                 ng-required="checkupDescriptor.getMandatory('uterus')"></rb-select>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'scar' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('scar')"></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="scar" ng-model="checkup.scar" ref-book="rbRisarScar_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('scar')"
                                                 ng-required="checkupDescriptor.getMandatory('scar')"></rb-select>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'secretion' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('secretion')"></th>
                                        <td>
                                            <div name="secretion" refbook-checkbox ng-model="checkup.secretion" ref-book="rbRisarSecretion_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('secretion')"
                                                 ng-required="checkupDescriptor.getMandatory('secretion')">
                                                [[ item.name ]]
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        <ng-form class="tab-pane" id="conclusion" name="conclusionForm" novalidate rc-submit rc-step>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">Шаг 3. Заключение</h3>
                            </div>
                            <div class="box-body">
                            <table class="table table-condensed">
                                <tbody>
                                    {% if 'contraception' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('contraception')"></th>
                                        <td><div class="row">
                                            <div class="col-md-4">
                                            <rb-select name="contraception" ng-model="checkup.contraception" ref-book="rbRisarContraception_Puerpera"
                                                 ng-disabled="checkupDescriptor.getReadOnly('contraception')"
                                                 ng-required="checkupDescriptor.getMandatory('contraception')"></rb-select>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th class="text-right col-md-4">Диагнозы <span class="text-danger">*</span></th>
                                        <td class="col-md-8">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div ng-class="{'has-error': conclusionForm.next_date.$invalid && conclusionForm.submit_attempt}">
                                                <ng-form name="DiagForm">
                                                    <wm-diagnosis-new ng-model="checkup.diagnoses"
                                                                      can-add-new="true"
                                                                      can-edit="true"
                                                                      diag-types="checkup.diagnosis_types"
                                                                      checkup-beg-date="checkup.beg_date"/>
                                                </ng-form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% if 'treatment' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('treatment')"></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.treatment" /></div></div></td>
                                    </tr>
                                    {% endif %}
                                    {% if 'recomendations' in checkup_descriptor %}
                                    <tr>
                                        <th class="text-right" ng-bind-html="checkupDescriptor.getLabel('recomendations')"></th>
                                        <td><div class="row"><div class="col-md-12"><wysiwyg ng-model="checkup.recomendations" /></div></div></td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </ng-form>
                        {{ inspection_macros.ticket_25(4) }}
                        {{ inspection_macros.diagnostics(5, info_msg='Требуется заполнить раздел «Заключение»: Основной диагноз.') }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9">
                    <div class="box-footer">
                        <div class="pull-right">
                            <a class="pseudo-btn" ng-href="{{ url_for('.html_inspection_puerpera') }}?event_id=[[ header.event.id ]]">Перейти на форму осмотров пациентки</a>
{#                            <button ng-show="checkup.id && rc.sampleWizard.currentIndex == 3" ng-click="print_checkup_ticket()"#}
{#                                type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i> Печать талона</button>#}
                            <ui-print-button ng-show="rc.sampleWizard.currentIndex == 2" ps="ps_fi"
                                             resolve="ps_resolve_inspection()" before-print="save(rc.sampleWizard.currentStep.formController)">Печать</ui-print-button>
                            <a class="btn btn-success"
                               ng-click="save(rc.sampleWizard.currentStep.formController)"
                               tooltip="[[rc.sampleWizard.currentStep.formController.$invalid && rc.sampleWizard.currentStep.formController.submit_attempt ? 'Заполните все обязательные поля': '']]"
                               ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Сохранить</a>
                            <a class="btn btn-primary"
                               ng-click="save_forward(rc.sampleWizard.currentStep.formController)"
                               tooltip="[[rc.sampleWizard.currentStep.formController.$invalid && rc.sampleWizard.currentStep.formController.submit_attempt ? 'Заполните все обязательные поля': '']]"
                               ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">
                                Сохранить и продолжить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('checkup_descriptor', angular.fromJson('{{checkup_descriptor|tojson|safe}}'));
        WebMis20.value('ticket_25_descriptor', angular.fromJson('{{ticket_25_descriptor|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/checkup.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/checkup_puerpera.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/event/event-services.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/event_measure_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/em_action_view.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_appointment.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_result.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_create_list.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/modal_em_cancel.js', v=app_version) }}"></script>
    <script src="{{ url_for('actions.static', filename='js/action-layout.js', v=app_version) }}"></script>
    <script src="{{ url_for('actions.static', filename='js/action_editor.js', v=app_version) }}"></script>
    <script src="{{ url_for('static', filename='js/services/ezekiel.js', v=nemesis_version) }}"></script>
{% endblock %}