{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{% import 'risar/_ticket_25_read.html' as ticket with context %}

{% block title %}> Повторный осмотр{% endblock %}

{% block main %}
<div ng-controller="CheckupSecondEditCtrl" ng-cloak>
    <section class="content-header" ng-controller="RisarHeaderCtrl">
        {{ rimacros.page_title_n('Повторный осмотр') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <tabset>
            <tab heading="Данные женщины">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Лист динамического наблюдения</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_common">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Дата осмотра:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.beg_date|asDateTime]]</div>
                                </div>
                                {% if 'department' in checkup_descriptor %}
                                <div class="row" ng-if="checkupDescriptor.exists('department')">
                                    <div class="col-sm-6 col-md-6  text-right">[[ checkupDescriptor.getName('department') ]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.department.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'weight' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('weight')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.weight]]</div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">АД правая рука:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.ad_right_high]]/[[checkup.ad_right_low]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">АД левая рука:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.ad_left_high]]/[[checkup.ad_left_low]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right"><b>Комментарии к анализам</b></div>
                                    <div class="col-sm-6 col-md-6"></div>
                                </div>
                                {% if 'urine' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('urine')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.urine"></div>
                                </div>
                                {% endif %}
                                {% if 'blood' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('blood')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.blood"></div>
                                </div>
                                {% endif %}
                                {% if 'us' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('us')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.us"></div>
                                </div>
                                {% endif %}
                                {% if 'other_analysis' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('other_analysis')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.other_analysis"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Соматический статус</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_somatic">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                {% if 'state' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('state')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.state.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'complaints' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('complaints')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.complaints" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'complaints_free_input' in checkup_descriptor %}
                                    <div class="row" ng-if="checkup.complaints_free_input">
                                        <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('complaints_free_input')]]
                                        <span ng-if="checkupDescriptor.getName('complaints_free_input')">:</span>
                                        </div>
                                        <div class="col-sm-6 col-md-6"><span ng-bind-html="checkup.complaints_free_input"></span> </div>
                                    </div>
                                {% endif %}
                                {% if 'edema' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('edema')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.edema"></div>
                                </div>
                                {% endif %}
                                {% if 'skin' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('skin')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.skin" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'lymph_nodes' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('lymph_nodes')]]:</div>
                                    <div class="col-sm-6 col-md-6">
                                        {%- if 'lymph_which' in checkup_descriptor -%}
                                            <span ng-bind-html="checkup.lymph_which"></span>
                                        {%- endif -%}
                                        <span ng-repeat="elem in checkup.lymph_nodes" >[[$first && checkup.lymph_which ? ': ' : '']][[elem.name]][[$last ? '' : ', ']]</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'breast' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('breast')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.breast" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'nipples' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('nipples')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.nipples" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'breathe' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('breathe')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.breathe" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'stomach' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('stomach')]]:</div>
                                    <div class="col-sm-6 col-md-6"><span ng-repeat="elem in checkup.stomach" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                </div>
                                {% endif %}
                                {% if 'stomach_area' in checkup_descriptor %}
                                    <div class="row" ng-if="checkup.stomach_area">
                                        <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('stomach_area')]]:</div>
                                        <div class="col-sm-6 col-md-6"><span ng-bind-html="checkup.stomach_area"></span> </div>
                                    </div>
                                {% endif %}
                                {% if 'secretion' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('secretion')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.secretion.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'bowel_and_bladder_habits' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('bowel_and_bladder_habits')]]:</div>
                                    <div class="col-sm-6 col-md-6" ng-bind-html="checkup.bowel_and_bladder_habits.name"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Акушерский статус</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_obstetrician">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                {% if 'abdominal' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('abdominal')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.abdominal]]</div>
                                </div>
                                {% endif %}
                                {% if 'fundal_height' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('fundal_height')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.fundal_height]]</div>
                                </div>
                                {% endif %}
                                {% if 'metra_state' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-right">[[checkupDescriptor.getName('metra_state')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.metra_state.name]]</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Влагалищное исследование</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_vagina">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                {% if 'externalia' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('externalia')]]:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="checkup.externalia"></div>
                                </div>
                                {% endif %}
                                {% if 'vagina' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('vagina')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.vagina.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervix' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <span ng-bind="checkup.cervix| pluck:'name' | join:', '"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'cervix_free_input' in checkup_descriptor %}
                                    <div class="row" ng-if="checkup.cervix_free_input" >
                                        <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix_free_input')]]
                                            <span ng-if="checkupDescriptor.getName('cervix_free_input')">:</span>
                                        </div>
                                        <div class="col-sm-7 col-md-7"><span ng-bind-html="checkup.cervix_free_input"></span> </div>
                                    </div>
                                {% endif %}
                                {% if 'cervix_length' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix_length')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_length.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervix_position' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix_position')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_position.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervix_maturity' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix_maturity')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_maturity.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervix_consistency' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervix_consistency')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervix_consistency.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervical_canal' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervical_canal')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervical_canal.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'cervical_canal_free_input' in checkup_descriptor %}
                                    <div class="row" ng-if="checkup.cervix_free_input" >
                                        <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervical_canal_free_input')]]
                                            <span ng-if="checkupDescriptor.getName('cervical_canal_free_input')">:</span>
                                        </div>
                                        <div class="col-sm-7 col-md-7"><span ng-bind-html="checkup.cervical_canal_free_input"></span> </div>
                                    </div>
                                {% endif %}
                                {% if 'body_of_womb' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('body_of_womb')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <span ng-repeat="elem in checkup.body_of_womb" >[[elem.name]][[$last ? '' : ', ']]</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'body_of_womb_additional' in checkup_descriptor %}
                                <div class="row" ng-if="checkup.body_of_womb_additional">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('body_of_womb_additional')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                       <span ng-bind="checkup.body_of_womb_additional"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'appendages' in checkup_descriptor or 'appendages_right' in checkup_descriptor %}
                                    <div class="row" ng-if="checkup.appendages || checkup.appendages_right">
                                        <div class="col-sm-5 col-md-5 text-right"><b>Придатки</b></div>
                                        <div class="col-sm-7 col-md-7">
                                        </div>
                                    </div>
                                {% endif %}
                                {% if 'appendages' in checkup_descriptor %}
                                <div class="row" ng-if="checkup.appendages">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('appendages')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <span ng-bind="checkup.appendages| pluck:'name' | join:', '"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'appendages_increased' in checkup_descriptor %}
                                <div class="row" ng-if="checkup.appendages_increased">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('appendages_increased')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                       <span ng-bind="checkup.appendages_increased"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'appendages_right' in checkup_descriptor %}
                                <div class="row" ng-if="checkup.appendages_right">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('appendages_right')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                        <span ng-bind="checkup.appendages_right| pluck:'name' | join:', '"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'appendages_right_increased' in checkup_descriptor %}
                                <div class="row" ng-if="checkup.appendages_right_increased">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('appendages_right_increased')]]:</div>
                                    <div class="col-sm-7 col-md-7">
                                       <span ng-bind="checkup.appendages_right_increased"></span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if 'parametrium' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('parametrium')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.parametrium.name]]</div>
                                </div>
                                {% endif %}
                                {% if 'features' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('features')]]:</div>
                                    <div class="col-sm-7 col-md-7 long-words" ng-bind-html="checkup.features"></div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right"><b>Взято на анализ</b></div>
                                    <div class="col-sm-7 col-md-7"></div>
                                </div>
                                {% if 'vagina_secretion' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('vagina_secretion')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.vagina_secretion ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                                {% if 'cervical_canal_secretion' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('cervical_canal_secretion')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.cervical_canal_secretion ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                                {% if 'urethra_secretion' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('urethra_secretion')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.urethra_secretion ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                                {% if 'onco_smear' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 text-right">[[checkupDescriptor.getName('onco_smear')]]:</div>
                                    <div class="col-sm-7 col-md-7">[[checkup.onco_smear ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Заключение</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_conclusion">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <!-- TODO: Отображение диагнозов -->
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Основной диагноз:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'main'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Сопутствующие диагнозы:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'associated'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Диагноз осложнения:</div>
                                    <div class="col-sm-6 col-md-6">
                                        <div ng-repeat="diag in checkup.diagnoses | collapse_diagnoses:'complication'">
                                            [[diag.diagnostic.mkb.code]] - [[diag.diagnostic.mkb.name]]
                                        </div>
                                    </div>
                                </div>
                                {% if 'pregnancy_week' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('pregnancy_week')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_week]]</div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">Срок по последнему УЗИ:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.calculated_pregnancy_week_by_ultrason ? checkup.calculated_pregnancy_week_by_ultrason :'Нет данных УЗИ для расчета']]</div>
                                </div>
                                {% if 'pregnancy_continuation' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('pregnancy_continuation')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_continuation ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                                {% if 'pregnancy_continuation_refusal' in checkup_descriptor %}
                                <div class="row" ng-show="!pregContRefusalDisabled()">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('pregnancy_continuation_refusal')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.pregnancy_continuation_refusal ? 'да': 'нет']]</div>
                                </div>
                                {% endif %}
                                {% if 'fortification' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('fortification')]]:</div>
                                    <div class="col-md-6 long-words" ng-bind-html="checkup.fortification"></div>
                                </div>
                                {% endif %}
                                {% if 'nutrition' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('nutrition')]]:</div>
                                    <div class="col-md-6 long-words" ng-bind-html="checkup.nutrition"></div>
                                </div>
                                {% endif %}
                                {% if 'treatment' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('treatment')]]:</div>
                                    <div class="col-md-6 long-words" ng-bind-html="checkup.treatment"></div>
                                </div>
                                {% endif %}
                                {% if 'next_date' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('next_date')]]:</div>
                                    <div class="col-sm-6 col-md-6">[[checkup.next_date|asDate]]</div>
                                </div>
                                {% endif %}
                                {% if 'notes' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('notes')]]:</div>
                                    <div class="col-sm-6 col-md-6 long-words" ng-bind-html="checkup.notes"></div>
                                </div>
                                {% endif %}
                                {% if 'recommendations' in checkup_descriptor %}
                                <div class="row">
                                    <div class="col-sm-6 col-md-6  text-right">[[checkupDescriptor.getName('recommendations')]]:</div>
                                    <div class="col-md-6 long-words" ng-bind-html="checkup.recommendations"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- START TICKET 25 -->
                    <div class="col-md-12">
                        {{ ticket.ticket_25_read(url_for('.html_inspection_edit'))}}
                    </div>
                    <!-- END TICKET 25 -->
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Мероприятия</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_diagnostic">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="30%">Название мероприятия</th>
                                            <th>Дата начала</th>
                                            <th>Дата окончания</th>
                                            <th>Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="measure in checkup.measures" ng-class="{ 'measure-manual': !measure.data.scheme }">
                                            <td><span ng-bind="measure.data.measure.name"></span></td>
                                            <td>[[ measure.data.beg_datetime | asDateTime ]]</td>
                                            <td>[[ measure.data.end_datetime | asDateTime ]]</td>
                                            <td>
                                                <event-measure-status status="measure.data.status"></event-measure-status>
                                                <span ng-if="emIsNotActual(em)">(Неактуально)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Данные плода">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Общие данные</h3>
                                <a class="print_link pull-right" ng-if="canEditCheckup()"
                                   href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_fetus">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Дата первого шевеления:</div>
                                    <div class="col-sm-9 col-md-9">[[checkup.fetus_first_movement_date|asDate]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3  text-right">Шевеление:</div>
                                    <div class="col-sm-9 col-md-9">[[checkup.fetus_movement]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{'active': $index==0}" class="tab-pane" id="fetus[[$index+1]]"
                         ng-repeat="child in checkup.fetuses | flt_not_deleted" ng-controller="CheckupSecondChildCtrl">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Плод [[$index+1]]</h3>
                                    <a class="print_link pull-right" ng-if="canEditCheckup()"
                                       href="{{ url_for('.html_inspection_edit') }}?event_id=[[ header.event.id ]]&checkup_id=[[ checkup.id ]]#tab_fetus">
                                        <span class="glyphicon glyphicon-pencil"></span> Изменить</a>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Положение:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.position.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Позиция:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.position_2.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Вид плода:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.type.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Предлежание:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.presenting_part.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Задержка в развитии:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.delay.name]]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">Сердцебиение:</div>
                                        <div class="col-sm-6 col-md-6"><span ng-repeat="elem in child.state.heartbeat" >[[elem.name]][[$last ? '' : ', ']]</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 text-right">ЧСС, уд/мин:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.heart_rate]]</div>
                                    </div>
                                    <div class="row" ng-show="isPhisher || isStv">
                                        <div class="col-sm-6 col-md-6 text-right"><b>Данные КТГ</b></div>
                                        <div class="col-sm-6 col-md-6"></div>
                                    </div>
                                    <div class="row" ng-show="isPhisher">
                                        <div class="col-sm-6 col-md-6 text-right">Базальный ритм:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.basal.name]]</div>
                                    </div>
                                    <div class="row" ng-show="isPhisher">
                                        <div class="col-sm-6 col-md-6 text-right">Вариабельность (амплитуда):</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.variability_range.name]]</div>
                                    </div>
                                    <div class="row" ng-show="isPhisher">
                                        <div class="col-sm-6 col-md-6 text-right">Вариабельность (частота в минуту):</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.frequency_per_minute.name]]</div>
                                    </div>
                                    <div class="row" ng-show="isPhisher">
                                        <div class="col-sm-6 col-md-6 text-right">Акселерации за 30 минут:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.acceleration.name]]</div>
                                    </div>
                                    <div class="row" ng-show="isPhisher">
                                        <div class="col-sm-6 col-md-6 text-right">Децелерации за 30 минут:</div>
                                        <div class="col-sm-6 col-md-6">[[child.state.deceleration.name]]</div>
                                    </div>
                                    <div class="row" ng-show="isStv">
                                        <div class="col-sm-6 col-md-6 text-right">Оценка по STV:</div>
                                        <div class="col-sm-6 col-md-6"><span ng-bind="child.state.stv_evaluation"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('checkup_descriptor', angular.fromJson('{{checkup_descriptor|tojson|safe}}'));
        WebMis20.value('ticket_25_descriptor', angular.fromJson('{{ticket_25_descriptor|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/checkup.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/checkup_second.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/event_measure_info.js', v=app_version) }}"></script>
    <script src="{{ url_for('.static', filename='js/event_measure/em_action_view.js', v=app_version) }}"></script>
{% endblock %}