<div ng-if="checkup.measures.length || true">
<div class="text-right">
    <div class="btn-group">
        <button type="button" class="btn btn-danger" ng-click="removeMeasures()">Удалить мероприятия</button>
        <button type="button" class="btn btn-default" ng-click="generateMeasures()">Сформировать мероприятия</button>
        <button type="button" class="btn btn-default"><span class="fa fa-print"></span>Печать всех</button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th width="30%">Название мероприятия</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Статус</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="measure in checkup.measures">
            <td>[[ $index + 1 ]]</td>
            <td>
                <span ng-bind="measure.scheme_measure.measure.name"></span><br>
                <span class="text-muted" bind-html-compile="measure.additional_info"></span>
            </td>
            <td>[[ measure.beg_datetime | asDateTime ]]</td>
            <td>[[ measure.end_datetime | asDateTime ]]</td>
            <td>
                <event-measure-status status="measure.status"></event-measure-status>
                <span ng-if="emIsNotActual(measure)">(Неактуально)</span>
            </td>
            <td class="nowrap">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="viewEventMeasure($index)">
                        Просмотр
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem"><a href="javascript:void(0);" ng-click="makeEmDirection($index)">Редактировать направление</a></li>
                        <li role="menuitem"><a href="javascript:void(0);">Редактировать результаты</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="menuitem"><a href="javascript:void(0);" ng-click="cancelEm($index)">Отменить</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-edit"></span> Редактировать</button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-print"></span> Печать</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div ng-if="!checkup.measures.length">
    <h3 class="text-center">Не хватает данных для формирования мероприятий</h3>
    <span class="text-muted">Требуется заполнить раздел «Заключение»: Беременность (недель),
        Плановая дата следующей явки, Основной диагноз.</span>
</div>