{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros with context %}
{%- block modules_css %}
    {{ super() }}
    <style type="text/css">
       .box.box-primary {
            line-height: 1.5em;
            font-size: 110%;
        }

    </style>
{% endblock -%}
{% block title %}> {{ module_name }}{% endblock %}

{% block main %}
{% set flat_code = template_data.flatcode %}
{% macro gen_edit_template_for_any_partal_nursing(properties_list) %}
    {% set prev_prefix = '' %}
    {% for prop in properties_list %}
            {% set prop_name = prop.name %}
            {% if '.'in prop.name  %}
                {# когда точка в имени, то нужно создать группу(жирный заголовок)
                {# если следующий с таким же префиксом, то ничего не рисуем#}
                {% set splitted = prop.name.split('.')  %}
                {% set prefix = splitted[0] %}
                {% set prop_name = splitted[-1] %}
                {% if prev_prefix!=prefix %}
                     <tr>
                        <th class="text-right">{{ prefix }} <span>&nbsp;</span></th>
                        <td>&nbsp;</td>
                    </tr>
                {% endif  %}
                {% set prev_prefix = prefix %}
            {% endif  %}
            {% if prop.typeName == 'Date' %}
                <tr>
                    <td class="text-right col-md-4">{{ prop_name }}</td>
                    <td class="col-md-8">
                        <wm-date name="{{ prop.code }}"
                                 ng-model="pp_nursing.{{ prop.code }}" style="width: 250px" min-date="minDate" ></wm-date>
                    </td>
                </tr>
            {% elif prop.typeName == 'String' %}
                <tr><td class="text-right">{{ prop_name }}</td>
                <td><div class="row">
                        <div class="col-md-8"><input type="text"  class="form-control" ng-model="pp_nursing.{{ prop.code }}"></div></div>
                </td>
                </tr>
            {% elif prop.typeName == 'Text' %}
                <tr>
                    <td class="text-right">{{ prop_name }} <span>&nbsp;</span></td>
                    <td><div class="row"><div class="col-md-8"><wysiwyg ng-model="pp_nursing.{{ prop.code }}" /></div></div></td>
                </tr>
            {% elif prop.typeName == 'Integer' %}
                <tr>
                    <td class="text-right">{{ prop_name }}</td>
                    <td><div class="row">
                        <div class="col-md-2">
                            <input name="{{ prop.code }}" ng-model="pp_nursing.{{ prop.code }}" class="form-control" valid-number
                                   maxlength="3" >
                        </div>
                        </div>
                    </td>
                </tr>
            {% elif prop.typeName == 'Double' %}
                <tr>
                    <td class="text-right">{{ prop_name }}</td>
                    <td><div class="row">
                        <div class="col-md-2">
                            <input name="{{ prop.code }}" ng-model="pp_nursing.{{ prop.code }}"
                                   maxlength="6"
                                   valid-number
                                   valid-number-float="true"
                                   class="form-control" >
                        </div>
                        </div>
                    </td>
                </tr>
            {% elif prop.typeName in ['ReferenceRb', 'ExtReferenceRb'] %}
                <tr>
                    <td class="text-right">{{ prop_name }} </td>
                    <td><div class="row"><div class="col-md-8">
                        <rb-select {%if prop.isVector%}multiple{% endif %} ng-model="pp_nursing.{{ prop.code }}" ref-book="{{ prop.valueDomain }}"></rb-select></div></td>
                </tr>
            {% endif %}
    {% endfor %}
{% endmacro %}
<div ng-controller="PartalNursingEditCtrl" ng-cloak  >
    <section class="content-header" ng-controller="RisarHeaderCtrl">
         {%- set right_word =  dict((('postpartal_nursing', 'послеродового'),
                                                    ('prepartal_nursing', 'дородового'),
                                                    ('prepartal_nursing_repeat', 'дородового'))).get(flat_code) -%}
        {{ rimacros.page_title_n('Ввод данных '+right_word+' патронажа') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content">
                        <form class="tab-pane active" id="common" name="commonForm" novalidate>
                            <div class="box box-primary box-wizard">
                            <div class="box-header">
                                <h3 class="box-title">&nbsp;</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-condensed">
                                    <tbody>
                                        {{ gen_edit_template_for_any_partal_nursing(template_data.properties_list)}}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="box-footer">
                        <div class="col-md-offset-5 col-sm-offset-5">
                            {% set right_word =  dict((('postpartal_nursing', 'послеродовых'),
                                                    ('prepartal_nursing', 'дородовых'),
                                                    ('prepartal_nursing_repeat', 'дородовых'))).get(flat_code) %}
                            <a class="pseudo-btn" ng-href="{{ url_for('.html_partal_nursing', flatcode=template_data.flatcode) }}?event_id=[[ header.event.id ]]">Перейти на форму {{ right_word }} патронажей</a>
                        <a class="btn btn-success" ng-click="save()"
                           tooltip="[[$invalid ? 'Заполните все обязательные поля': '']]">Сохранить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script>
        WebMis20.value('jinjaVariables', angular.fromJson('{{template_data|tojson|safe}}'));
    </script>
    <script src="{{ url_for('.static', filename='js/partal_nursing.js', v=app_version) }}"></script>
{% endblock %}