{% extends 'risar/base/base.html' %}
{% import 'risar/_macros.html' as rimacros %}

{% block title %}> {{ module_name }}{% endblock %}
{% macro print_button() %}
    <div class="pull-right">
        <a class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-print"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header" style="background-color: #e3e3e3">Формат</li>
            <li><a ng-href="#" ng-click="printRadz('pdf')">PDF</a></li>
            {#<li><a ng-q="#" ng-click="printRadz('docx')">Word</a></li>#}
            <li><a ng-href="#" ng-click="printRadz('xlsx')">Excel</a></li>
            <li><a ng-href="#" ng-click="printRadz('odt')">Open Office</a></li>
        </ul>
    </div>
{% endmacro %}
{% block main %}
<div ng-controller="RadzinskyRisksCtrl" ng-cloak>
    <section class="content-header">
        {{ rimacros.page_title_n('Шкала рисков Радзинского') }}
        {{ rimacros.navigation('[[ event_id ]]') }}
    </section>
    <section class="content">
        <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="javascript:void(0);" class="list-group-item"
                    ng-class="{'active': isStageSelected()}" ng-click="selectStage()">
                    <span class="badge">[[ risks.general_info.final_sum_points ]]</span>
                    Итоговые результаты
                </a>
                <a href="javascript:void(0);" class="list-group-item" ng-repeat="stage in rbRadzStage.objects"
                    ng-class="{'active': isStageSelected(stage)}" ng-click="selectStage(stage)">
                    <span class="badge">[[ risks.stage_points[stage.code].sum ]]</span>
                    [[ stage.name ]]
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box box-solid" ng-show="isStageSelected()" ng-class="getRiskRateHeaderClass()">
                <div class="box-header with-border">
                    <h3 class="box-title"><span ng-bind="risks.general_info.risk_rate.name"></span> степень риска</h3>
                </div>
                <div class="box-body">
                    <div class="row marginal">
                        <div class="col-sm-6 col-md-5 text-right">Сумма баллов анамнестических факторов:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.anamnestic_points"></span>
                            {{print_button()}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 text-right">Сумма баллов факторов до 32 недель:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.before32week_points"></span>
                        </div>
                    </div>
                    <div class="row marginal">
                        <div class="col-sm-6 col-md-5 text-right">Общая сумма баллов факторов до 32 недель:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.before32week_totalpoints"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 text-right">Сумма баллов факторов после 33 недель:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.after33week_points"></span>
                        </div>
                    </div>
                    <div class="row marginal">
                        <div class="col-sm-6 col-md-5 text-right">Общая сумма баллов факторов после 33 недель:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.after33week_totalpoints"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 text-right">Сумма баллов интранатальных факторов:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.intranatal_points"></span>
                        </div>
                    </div>
                    <div class="row marginal">
                        <div class="col-sm-6 col-md-5 text-right">Общая сумма баллов с учётом интранатальных факторов:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.intranatal_totalpoints"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 text-right">Интранатальный прирост:</div>
                        <div class="col-sm-6 col-md-7">
                            <span class="text-bold" ng-bind="risks.general_info.intranatal_growth"></span><b ng-if="risks.general_info.intranatal_growth">%</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-solid" ng-repeat="stage in rbRadzStage.objects" ng-show="isStageSelected(stage)">
                <div class="box-header with-border">
                    <h3 class="box-title">Сумма баллов [[ risks.stage_points[stage.code].sum ]]</h3>
                    {{print_button()}}
                </div>
                <div class="box-body novpadding">
                    <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Факторы</th>
                            <th width="10%" class="text-right">Баллы</th>
                        </tr>
                        <tr ng-repeat-start="(group_code, factors) in risks.stage_factors[stage.code]"
                            class="text-center">
                            <td ng-bind="rbRadzRiskFactorGroup.get_by_code(group_code).name" colspan="2"></td>
                        </tr>
                        <tr ng-repeat="factor in factors" ng-repeat-end
                            ng-class="{'bg-info': factor.triggered}">
                            <td ng-bind="factor.name"></td>
                            <td ng-bind="factor.points" class="text-right"></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/radzinsky_risks.js', v=app_version) }}"></script>
{% endblock %}