{% extends 'risar/base/base.html' %}

{% block title %}> Расширенный поиск карты пациента{% endblock %}

{% block main %}
<div ng-controller="EventSearchCtrl" ng-cloak>
    <section class="content-header">
        <h1>Расширенный поиск карты пациента</h1>
    </section>
    <section class="content">
        <div class="row">
            <form class="col-md-4">
            <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Фильтры</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>Территория</label>
                    <ui-select multiple ng-model="query.areas" theme="select2" ng-change="refresh_curators()"
                               class="form-control" autofocus>
                        <ui-select-match placeholder="Выберите территорию">[[ $item.name ]]</ui-select-match>
                        <ui-select-choices group-by="group_areas" repeat="area in areas | filter: {name: $select.search} | limitTo:50">
                            <div ng-bind-html="area.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Куратор</label>
                    <ui-select multiple ng-model="query.curators" theme="select2" ng-change="refresh_organisations()" class="form-control"
                            ng-disabled="!canChangeCurator()">
                        <ui-select-match placeholder="Выберите кураторов">[[ $item.lastName + ' ' + $item.firstName + ', ' + $item.name ]]</ui-select-match>
                        <ui-select-choices repeat="curator in curators_filtered | filter: $select.search | limitTo:50">
                            <div ng-bind-html="curator.lastName + ' ' + curator.firstName + ', ' + curator.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>ЛПУ</label>
                    <ui-select multiple ng-model="query.orgs" theme="select2" ng-change="refresh_doctors()" class="form-control">
                        <ui-select-match placeholder="Выберите ЛПУ">[[ $item.short_name ]]</ui-select-match>
                        <ui-select-choices repeat="org in organisations | filter: {short_name: $select.search} | limitTo:50">
                            <div ng-bind-html="org.short_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Врач</label>
                    <ui-select ng-model="query.person" theme="select2" class="form-control" ng-disabled="!canChangeDoctor()">
                        <ui-select-match>[[ $select.selected.name ]]</ui-select-match>
                        <ui-select-choices repeat="doc in doctors | filter: {full_name: $select.search} | limitTo:50">
                            <div ng-bind-html="doc.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>ФИО пациентки</label>
                    <input class="form-control" ng-model="query.fio">
                </div>
                <div class="form-group">
                    <label></label>
                    <div fs-checkbox items="request_types" ng-model="query.request_types" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                <div class="form-group" ng-if="isPregnancy">
                    <label>Способ оплодотворения</label>
                    <rb-select ng-model="query.fertilization_type" ref-book="rbRisarFertilizationMethod" allow-clear="true"></rb-select>
                </div>
                <div class="form-group">
                    <label>Социальный статус</label>
                    <rb-select ng-model="query.client_workgroup" ref-book="rbRisarWork_Group" allow-clear="true"></rb-select>
                </div>
                <div class="form-group">
                    <label>Возраст</label>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="age_min">От</span>
                            <input type="number" ng-model="query.age_min" class="form-control" min="1" max="90">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="age_max">До</span>
                            <input type="number" ng-model="query.age_max" class="form-control" min="5" max="100">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Статус карт</label>
                    <div fs-radio="" items="closed_items" ng-model="query.closed" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                {% if user_profiles_mng.has_ui_overseers() or user_profiles_mng.has_ui_obstetrician() %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="query.controlled_events">Пациентки на контроле
                    </label>
                </div>
                {% endif %}
                <div class="form-group">
                    <label>Степень риска по приказу 572</label>
{#                    ng-disabled="!filterForPregCardsAvailable()"#}
                    <div fs-checkbox="" items="risks_rb.objects" ng-model="query.risk" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                {% if specifics_mng.has_regional_risks() %}
                <div class="form-group">
                    <label>Степень риска по региональной шкале</label>
{#                    ng-disabled="!filterForPregCardsAvailable()"#}
                    <div fs-checkbox="" items="regional_risks_rb.objects" ng-model="query.regional_risk_rate" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label>Степень риска по шкале Радзинского</label>
{#                    ng-disabled="!filterForPregCardsAvailable()"#}
                    <div fs-checkbox="" items="radz_risks_rb.objects" ng-model="query.radz_risk_rate" class="nopadding">
                        [[ item.name_masc ]]
                    </div>
                </div>
                <div class="form-group">
                    <label>Группа риска</label>
                    <rb-select multiple="true" ref-book="rbRisarRiskGroup" ng-model="query.risk_groups"
                        ng-disabled="!filterForPregCardsAvailable()"></rb-select>
                </div>
                <div class="form-group">
                    <label>Неделя беременности</label>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="preg_week_min">От</span>
                            <input type="number" ng-model="query.preg_week_min" class="form-control" min="1" max="50"
                                ng-disabled="!filterForPregCardsAvailable()">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="preg_week_max">До</span>
                            <input type="number" ng-model="query.preg_week_max" class="form-control" min="1" max="50"
                                ng-disabled="!filterForPregCardsAvailable()">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Дата родов</label>
                    <div class="row">
                        <div class="col-md-6">
                            <wm-date ng-model="query.bdate_from" ng-disabled="!filterForPregCardsAvailable()"></wm-date>
                        </div>
                        <div class="col-md-6">
                            <wm-date ng-model="query.bdate_to" ng-disabled="!filterForPregCardsAvailable()"
                                min-date="query.bdate_from"></wm-date>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Дата осмотра</label>
                    <div class="row">
                        <div class="col-md-6">
                            <wm-date ng-model="query.checkup_date_from" ng-disabled="!filterForPregCardsAvailable()"></wm-date>
                        </div>
                        <div class="col-md-6">
                            <wm-date ng-model="query.checkup_date_to" ng-disabled="!filterForPregCardsAvailable()"
                                min-date="query.checkup_date_from"></wm-date>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Последний осмотр, дней назад</label>
                            <input type="number" ng-model="query.latest_inspection_gt" class="form-control" valid-number min="1" max="500"
                                ng-disabled="!filterForPregCardsAvailable()">
                        </div>
                        <div class="col-md-6">
                            <label>Прошло дней от родоразрешения</label>
                            <input type="number" ng-model="query.epicrisis_delivery_date_gt" class="form-control" valid-number min="1" max="500"
                                ng-disabled="!filterForPregCardsAvailable()">
                        </div>
                    </div>
                </div>
                 <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="query.missed_last_checkup">Пропущен последний осмотр
                    </label>
                </div>
                <div class="form-group">
                    <label>Код МКБ</label>
                    <wm-mkb-multiple ng-model="query.mkbs"></wm-mkb-multiple>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="query.closed_diags">Только закрытые диагнозы
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="query.overdue">Просроченные мероприятия
                    </label>
                </div>
                <div class="form-group">
                    <label>Тип мероприятия</label>
                    <ui-select ng-model="query.measure_type" theme="select2" class="form-control" ng-disabled="isMeasureTypeDisabled()">
                        <ui-select-match>[[ $select.selected.name ]]</ui-select-match>
                        <ui-select-choices repeat="measure in rbMeasureType.objects">
                            <div ng-bind-html="measure.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Заполненность карты</label>
                    <div fs-radio="" items="card_fill_rate" ng-model="query.card_fill" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                <div class="form-group">
                    <label>Разделы карты</label>
                    <ui-select ng-model="query.card_section" theme="select2" class="form-control" ng-disabled="isCardSectionDisabled()">
                        <ui-select-match>[[ $select.selected.name ]]</ui-select-match>
                        <ui-select-choices repeat="section in card_sections">
                            <div ng-bind-html="section.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Патология</label>
                    <div fs-checkbox="" items="pathology_rb.objects" ng-model="query.pathology" class="nopadding">
                        [[ item.name ]]
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="reset_filters()">Очистить фильтры</button>
                </div>
            </div>
            </div>
            </form>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Результаты поиска карт пациенток: <b>[[pager.record_count]]</b></h3>
                        <div class="box-tools">
                            <div class="btn-group">
                                <a class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-print"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header" style="background-color: #e3e3e3">Формат</li>
                                    <li><a ng-href="#" ng-click="print_search('pdf')">PDF</a></li>
                                    <li><a ng-href="#" ng-click="print_search('docx')">Word</a></li>
                                    <li><a ng-href="#" ng-click="print_search('xlsx')">Excel</a></li>
                                    <li><a ng-href="#" ng-click="print_search('odt')">Open Office</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                {% if user_profiles_mng.has_ui_overseers() or user_profiles_mng.has_ui_obstetrician() %}
                                <th></th>
                                {% endif %}
                                <th>Риск</th>
                                <th>№ карты</th>
                                <th>ФИО</th>
                                <th>Врач</th>
                                {% if user_profiles_mng.has_ui_overseers23()  %}
                                <th>ЛПУ</th>
                                {% endif %}
                                <th>Срок</th>
                                <th>Соц. статус</th>
                                <th>Последнее<br>изменение</th>
                                <th>Куратор</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in results">
                                {% if user_profiles_mng.has_ui_overseers() or user_profiles_mng.has_ui_obstetrician() %}
                                <td>
                                    <wm-btn-control-event event-id="row.event_id" is-controlled="row.is_controlled"
                                        ></wm-btn-control-event>
                                </td>
                                {% endif %}
                                <td ng-switch="row.request_type.code" class="text-center">
                                    <span risk-rate-icon="row.risk" ng-switch-when="pregnancy"></span>
                                    <span ng-switch-default class="fa fa-minus text-gray"></span>
                                </td>
                                <td>[[ row.external_id ]]</td>
                                <td><a ng-href="{{ url_for('.html_auto_chart') }}?event_id=[[ row.event_id ]]">[[ row.name ]]</a> [[row.literal_age]]</td>
                                <td>[[ row.exec_person_name ]]</td>
                                {%- if user_profiles_mng.has_ui_overseers23()  -%} <td >[[ row.org_name ]]</td>{%- endif -%}
                                <td ng-switch="row.request_type.code" class="text-center">
                                    <span ng-switch-when="pregnancy" ng-bind="row.week"></span>
                                    <span ng-switch-default class="fa fa-minus text-gray"></span>
                                </td>
                                <td>[[ row.client_workgroup ]]</td>
                                <td>[[ row.mdate | asDate ]]</td>
                                <td>[[ row.curators ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <pagination ng-model="pager.current_page" total-items="pager.pages" items-per-page="1"
                            max-size="pager.max_pages" ng-change="onPageChanged()" ng-show="pager.pages > 1" boundary-links="true">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block modules_js %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/search.js', v=app_version) }}"></script>
{% endblock %}