{% extends 'caesar_base.html' %}

{% block title %}> {{ module_name }}{% endblock %}

{% block modules_css %}
    <link href="{{ url_for('.static', filename='css/style.css') }}" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {{ macro_module_menu.make_module_menu(menu_struct) }}
    </div>

    <div class="jumbotron">
        <h1>Подсистема Справочников</h1>
        <p class="lead"></p>
    </div>
    <br/>
    <hr>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Загрузка Тарифов</h2>
                <p>Полученные из ТФОМС данные по тарифам загружаются в БД ЛПУ.</p>
                <p><a class="btn btn-default" href="{{ url_for('.tariff_upload') }}">Загрузить тарифы &raquo;</a></p>
            </div>
            {% if current_user.role == 'admin' %}
                <div class="col-md-4">
                    <h2>Настройки</h2>
                    <p>Настройки подсистемы справочников.</p>
                    <p><a class="btn btn-default" href="{{ url_for('.settings') }}">Перейти &raquo;</a></p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}